Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

test(pds-box): verify computed styles for per-side borders
  libs/core/src/components/pds-box/test/pds-box.e2e.ts
Labels: package: core

docs(pds-chip): correct the default wrapping behavior for a long label
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
Labels: package: core

refactor(pds-box): simplify per-side border rules and tests
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/test/pds-box.e2e.ts
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

docs(pds-box): remove redundant per-side borders story
  libs/core/src/components/pds-box/stories/pds-box.stories.js
Labels: package: core

docs(pds-chip): keep the truncation example inline so MDX does not wrap it in a paragraph
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
Labels: package: core

ci: publish from a dedicated step and tolerate npm propagation
  .github/workflows/schedule-release.yml
Labels: none

feat(pds-chip): add maxWidth prop to auto-truncate the slotted label (#808)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

ci: pass release inputs to nx through the environment
  .github/workflows/schedule-release.yml
Labels: none

refactor(pds-combobox): render internal chips with size instead of large
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

refactor(pds-chip)!: remove deprecated large prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/figma/components/pds-chip.figma.ts
Labels: package: core

feat(pds-box): support per-side border control (#811)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-box/test/pds-box.e2e.ts
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

refactor(pds-chip)!: remove deprecated large prop (#812)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/figma/components/pds-chip.figma.ts
Labels: package: core

ci: publish to npm with trusted publishing (OIDC) (#807)
  .github/workflows/actions/setup-node-with-pinned-npm/action.yml
  .github/workflows/schedule-release.yml
  VERSIONING.md
Labels: none

chore(release): release 4.0.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

feat(pds-skeleton): add theme-aware loading placeholder component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-skeleton/docs/pds-skeleton.mdx
  libs/core/src/components/pds-skeleton/pds-skeleton.scss
  libs/core/src/components/pds-skeleton/pds-skeleton.tsx
  libs/core/src/components/pds-skeleton/readme.md
  libs/core/src/components/pds-skeleton/stories/pds-skeleton.stories.js
  libs/core/src/components/pds-skeleton/test/pds-skeleton.e2e.ts
  libs/core/src/components/pds-skeleton/test/pds-skeleton.spec.tsx
  libs/core/src/stories/resources/component-status.docs.mdx
  libs/core/src/stories/resources/component-status.json
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(pds-divider): add label prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/components/pds-divider/pds-divider.tsx
  libs/core/src/components/pds-divider/readme.md
Labels: package: core

test(pds-divider): cover label prop and label part
  libs/core/src/components/pds-divider/test/pds-divider.e2e.ts
  libs/core/src/components/pds-divider/test/pds-divider.spec.tsx
Labels: package: core

docs(pds-divider): add with label story and docs
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-divider/stories/pds-divider.stories.js
Labels: package: core

fix(pds-divider): hide visible label from assistive tech and ignore whitespace-only labels
  libs/core/src/components/pds-divider/pds-divider.tsx
Labels: package: core

test(pds-divider): cover whitespace label and single label announcement
  libs/core/src/components/pds-divider/test/pds-divider.e2e.ts
  libs/core/src/components/pds-divider/test/pds-divider.spec.tsx
Labels: package: core

feat(pds-divider): add label prop (#814)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/components/pds-divider/pds-divider.tsx
  libs/core/src/components/pds-divider/readme.md
  libs/core/src/components/pds-divider/stories/pds-divider.stories.js
  libs/core/src/components/pds-divider/test/pds-divider.e2e.ts
  libs/core/src/components/pds-divider/test/pds-divider.spec.tsx
Labels: package: core

chore: bump @pine-ds/icons to 10.4.3 and @kajabi-ui/styles to 1.4.2
  package-lock.json
Labels: none

chore: bump @pine-ds/icons to 10.4.3 and @kajabi-ui/styles to 1.4.2 (#815)
  package-lock.json
Labels: none

chore(release): release 4.1.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-chip): give the truncated label a tab stop only while it is clipped
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/truncation-tooltip.ts
Labels: package: core

docs(pds-box): say what the base size prop costs on a phone
  libs/core/src/components/pds-box/docs/pds-box.mdx
Labels: package: core

docs(pds-box): point at the stacking pattern instead of repeating it
  libs/core/src/components/pds-box/docs/pds-box.mdx
Labels: package: core

docs(pds-box): say what the base size prop costs on a phone (#818)
  libs/core/src/components/pds-box/docs/pds-box.mdx
Labels: package: core

ci: add Chromatic workflow and clarify release cadence (#737)
  .github/workflows/chromatic.yml
  .github/workflows/schedule-release.yml
  CONTRIBUTING.md
Labels: none

chore: update pine-visual-test-pr skill for merged Chromatic CI
  .claude/skills/pine-visual-test-pr/SKILL.md
Labels: none

fix: preserve createComponent.tsx registration guard across builds
  libs/core/scripts/react-output-target-with-patches.ts
  libs/core/stencil.config.ts
Labels: package: core

ci: fail the build when generated React bindings drift from source
  .github/workflows/actions/build-core/action.yml
Labels: none

chore: mirror vendor path resolution in react output target patcher
  libs/core/scripts/react-output-target-with-patches.ts
Labels: package: core

ci: detect untracked and deleted drift in generated react bindings
  .github/workflows/actions/build-core/action.yml
Labels: none

fix: preserve createComponent.tsx registration guard across builds (#823)
  .github/workflows/actions/build-core/action.yml
  libs/core/scripts/react-output-target-with-patches.ts
  libs/core/stencil.config.ts
Labels: package: core

chore: update pine-visual-test-pr skill for merged Chromatic CI (#821)
  .claude/skills/pine-visual-test-pr/SKILL.md
Labels: none

chore: snapshot the public API of core and react with API Extractor
  .gitignore
  libs/core/api-extractor.json
  libs/core/etc/core.api.md
  libs/core/package.json
  libs/core/scripts/prepare-api-types.mjs
  libs/react/api-extractor.json
  libs/react/etc/react.api.md
  libs/react/package.json
  nx.json
  package-lock.json
  package.json
Labels: package: core, package: react

fix: export forgotten types so the API gate can see their real shape
  libs/core/api-extractor.json
  libs/core/etc/core.api.md
  libs/core/src/index.ts
  libs/react/api-extractor.json
  libs/react/etc/react.api.md
  libs/react/src/components/PdsIcon.tsx
  libs/react/src/components/index.ts
Labels: package: core, package: react

ci: fail the build when a package public API drifts from its report
  .github/workflows/actions/api-check/action.yml
  .github/workflows/build.yml
Labels: none

ci: harden the public API check against vacuous passes and misleading failures
  .github/workflows/actions/api-check/action.yml
  .github/workflows/build.yml
  .prettierignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  libs/core/scripts/prepare-api-types.mjs
  package.json
Labels: package: core
