Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

test(pds-table): add tests for border, background, and rowDividers
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

docs(pds-table): add stories and docs for new props
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

docs(pds-table): update readme files
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/readme.md
Labels: package: core

style(pds-input): align error icon with top of multi-line error messages
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style(pds-textarea): align error icon with top of multi-line error messages
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

style(pds-select): align error icon with top of multi-line error messages
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

style(pds-radio-group): align error icon with top of multi-line error messages
  libs/core/src/components/pds-radio-group/pds-radio-group.scss
Labels: package: core

style(pds-radio): align error icon with top of multi-line error messages
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

style(form-inputs): align error icon with top of multi-line messages (#627)
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-radio-group/pds-radio-group.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

style(pds-table): adjust padding and add letter-spacing to table head cell
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
Labels: package: core

docs(pds-table): enhance documentation for head background and row dividers
  libs/core/src/components/pds-table/docs/pds-table.mdx
Labels: package: core

refactor(pds-table-head-cell): use @State for reactive class management
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
Labels: package: core

refactor(pds-table-row): use @State for reactive class management
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
Labels: package: core

docs(pds-table): add rowDividers to React example
  libs/core/src/components/pds-table/docs/pds-table.mdx
Labels: package: core

docs(pds-table): clarify component names in documentation
  libs/core/src/components/pds-table/docs/pds-table.mdx
Labels: package: core

test(pds-table-head-cell): add tests for sorting, border, and background attributes
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

chore(pds-table): remove unused story exports for table head configurations
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

refactor(pds-table): update rowDividers prop to reflect changes and clean up unused code
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table.tsx
Labels: package: core

refactor(pds-table): change lifecycle method to componentWillLoad and streamline rowDividers logic
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
Labels: package: core

fix(pds-table): set default value for rowDividers prop to false and update documentation
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
Labels: package: core

refactor(pds-table-row): enhance observer management for row sorting
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
Labels: package: core

fix(pds-table): update border property description to reflect top and bottom borders
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
Labels: package: core

test(pds-table-row): add verification for is-last-row class in row rendering
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
Labels: package: core

test(pds-table-row): update checkbox type assertion and enhance row existence checks
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
Labels: package: core

style: update values and add disable rules
  libs/core/lint-plugins/pine-color-utils.cjs
  libs/core/lint-plugins/stylelint-plugin-pine-colors.cjs
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

chore: update to ds token 1.0.5
  package-lock.json
  package.json
Labels: none

docs: update color docs
  libs/core/src/stories/tokens/color-linting.docs.mdx
Labels: package: core

docs: update color linting docs
  libs/core/src/stories/tokens/color-linting.docs.mdx
Labels: package: core

feat(pds-table): add head border, background, and row divider props (#629)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

chore: update package-lock.json to sync with package.json
  package-lock.json
Labels: none

chore(release): release 3.13.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: add ds token mapping (#624)
  libs/.stylelintrc.json
  libs/core/.eslintrc.json
  libs/core/lint-plugins/README.md
  libs/core/lint-plugins/eslint-plugin-pine-colors.cjs
  libs/core/lint-plugins/pine-color-utils.cjs
  libs/core/lint-plugins/stylelint-plugin-pine-colors.cjs
  libs/core/lint-plugins/stylelint-plugin-pine-semantic-tokens.cjs
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/stories/tokens/color-linting.docs.mdx
  package-lock.json
  package.json
Labels: package: core

style(pds-dropdown-menu-item): adjust link styles for improved clickable area
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
Labels: package: core

fix: update release-info.json to remove template typo for version
  .github/workflows/slack_payloads/release-info.json
Labels: none

fix(pds-table-head-cell): add setActiveSort method for programmatic control
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

fix(pds-table): add defaultSortColumn and defaultSortDirection props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

fix(pds-table): add default sorting documentation and story
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

fix(pds-table-head-cell): guard setActiveSort for non-sortable columns
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

fix(pds-table): guard sortTable when table body is missing
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

fix(pds-table): handle promise rejection and normalize direction in applyDefaultSort
  libs/core/src/components/pds-table/pds-table.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
