Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

style: added class to label
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
Labels: package: core

test: add class to specs
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

style(button): update primary disabled color to be grey-150
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style: add conditional label for input and select (#391)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

fix: add padding block and inline properties
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
Labels: package: core

test: add padding block and inline specs
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix: add initial prefix and suffix
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

docs: adds semantic token pages and fixes token table styling
  libs/core/.storybook/preview-body.html
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/typography.docs.mdx
  libs/core/src/stories/tokens/semantic/border.docs.mdx
  libs/core/src/stories/tokens/semantic/box-shadow.docs.mdx
  libs/core/src/stories/tokens/semantic/color.docs.mdx
  libs/core/src/stories/tokens/semantic/spacing.docs.mdx
  libs/core/src/stories/tokens/semantic/typography.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

style(button): update primary disabled color to be grey-150 (#397)
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

docs: updates table styles and improves token scale verbiage
  libs/core/src/stories/tokens/tokens.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

fix: add prepend and append
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
Labels: package: core

style: added background color
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

style: added background color
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

style: add background color to form inputs (#401)
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

style(token-studio): created new brand, includes theme and tokenset
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/bma.json
Labels: package: core

style(token-studio): test mode theming
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/brand/bma/dark.json
  libs/core/src/global/styles/tokens/brand/bma/light.json
Labels: package: core

foo
  libs/core/src/global/styles/tokens/$themes.json
Labels: package: core

foo 2 - remove set
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/brand/bma/dark.json
  libs/core/src/global/styles/tokens/brand/bma/light.json
Labels: package: core

chore(release): release 2.16.4
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

docs: adds semantic token pages and fixes token table styling
  libs/core/.storybook/preview-body.html
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/typography.docs.mdx
  libs/core/src/stories/tokens/semantic/border.docs.mdx
  libs/core/src/stories/tokens/semantic/box-shadow.docs.mdx
  libs/core/src/stories/tokens/semantic/color.docs.mdx
  libs/core/src/stories/tokens/semantic/spacing.docs.mdx
  libs/core/src/stories/tokens/semantic/typography.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

docs: updates table styles and improves token scale verbiage
  libs/core/src/stories/tokens/tokens.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

feat: adds more font size values and adds italics and truncate to docs table
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
Labels: package: core

style: readds responsive image styling
  libs/core/src/components/pds-image/pds-image.scss
Labels: package: core

fix: fixes icon alignment
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix: adds missing tokens to semantic tokens table
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/semantic/border.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

fix: adds missing border and border radius semantic tokens to table
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: doc-componenets

style: update hover and truncate styles
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

fix: add parts to button for better styling controls
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
Labels: package: core

test: udpate test with parts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

docs(button): enhance documentation with CSS parts for advanced styling options
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: package: core

fix(checkbox): wrap label in a span for conditional visibility
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
Labels: package: core

test(checkbox): update tests to wrap label text
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

fix: fixes icon alignment (#405)
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

style: re-adds responsive image styling (#404)
  libs/core/src/components/pds-image/pds-image.scss
Labels: package: core

feat: adds more font size values and adds italics and truncate to docs table (#403)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
Labels: package: core

docs: adds semantic token pages and fixes token table styling (#400)
  libs/core/.storybook/preview-body.html
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/typography.docs.mdx
  libs/core/src/stories/tokens/semantic/border.docs.mdx
  libs/core/src/stories/tokens/semantic/box-shadow.docs.mdx
  libs/core/src/stories/tokens/semantic/color.docs.mdx
  libs/core/src/stories/tokens/semantic/spacing.docs.mdx
  libs/core/src/stories/tokens/semantic/typography.docs.mdx
  libs/core/src/stories/tokens/tokens.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

docs(button): rollback CSS parts documentation
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: package: core

fix(checkbox): label-hidden prop is not hiding label text (#407)
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

fix: copy text hover and truncate adjustments (#406)
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

feat(button): update button component with href and iconOnly properties
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
