Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

test: add highlight tests
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

style: reduced repetition in chip trigger sentiment css
  libs/core/src/components/pds-combobox/pds-combobox.scss
Labels: package: core

fix(pds-combobox): add chip trigger variant (#550)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/utils/types.ts
Labels: package: core

fix(pds-tabs): correct keyboard navigation for tabs when panels have focusable items or nested tabs
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
Labels: package: core

fix(pds-combobox): update highlighted option logic when selected (#554)
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

docs(): add responsive breakpoints section to layout documentation (#553)
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

fix(pds-tabs): update keyboard navigation logic to ensure it only triggers from active tab buttons
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/test/pds-tabs.spec.tsx
Labels: package: core

test(pds-tabs): add test to ensure keyboard events from panel content do not trigger tab navigation
  libs/core/src/components/pds-tabs/test/pds-tabs.spec.tsx
Labels: package: core

fix(pds-combobox): add attachInternals and add to form docs
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

feat!: remove selected attribute in favor of value prop on combobox
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

fix: update to not overwrite value with the option label, breaks form submissions
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

fix(pds-tabs): correct keyboard navigation for tabs when panels have focusable elements (#555)
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-tabs/test/pds-tabs.spec.tsx
Labels: package: core

fix: resolve selected text bug and add name prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
Labels: package: core

chore: update dependencies and improve storybook configurations
  libs/core/.storybook/main.js
  libs/core/.storybook/preview.js
  libs/core/package.json
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  package-lock.json
Labels: package: core

test: update tests to new selected format
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-combobox): add attachInternals and add to form docs (#556)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

docs(pds-combobox): update combobox doc
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

fix: update space to select highlighted option
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

feat: add readonly type property to form components
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/form.ts
Labels: package: core

feat: add readonly type property to form components (#559)
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/form.ts
Labels: package: core

fix(pds-combobox): update docs and space key functionality (#560)
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

chore(release): release 3.8.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

docs(storybook): add version display to sidebar
  libs/core/.storybook/manager.js
Labels: package: core

fix(): update comment
  libs/core/.storybook/manager.js
Labels: package: core

fix: sync package-lock.json with package.json after merge
  package-lock.json
Labels: none

test: suppress ElementInternals console errors in unit tests
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

docs: display pine version in storybook (#561)
  libs/core/.storybook/manager.js
Labels: package: core

fix(pds-radio): add bordered variant docs and tests
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

fix: add image slot
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

chore: self review
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

style(pds-tab): remove z-index
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core

style(pds-tab): remove z-index from pill variant (#563)
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core

chore(release): release 3.8.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style(pds-progress): update progress bar styles and add gradient fill color documentation
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
  libs/core/src/components/pds-progress/pds-progress.scss
Labels: package: core

chore: add keys to array children for linter
  libs/core/src/components/pds-radio/pds-radio.tsx
Labels: package: core

docs: remove image url refs
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
Labels: package: core

style: ensure image container borders render in invalid and hover states
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

fix: make image slot detection reactive to slot changes
  libs/core/src/components/pds-radio/pds-radio.tsx
Labels: package: core

fix(pds-box): add core tokens to spacing set
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-row/pds-row.tsx
  libs/core/src/components/pds-row/readme.md
  libs/core/src/utils/types.ts
Labels: package: core

docs(pds-row): add modifiers to size prop in examples
  libs/core/src/components/pds-row/docs/pds-row.mdx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
