Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

style: updates some components with semantic tokens (#325)
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-image/pds-image.scss
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tokens.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/components/input.json
Labels: package: core

style(tokens-studio): update background container disabled token
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style(input): sync styles for readonly and disabled label and input elements
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style(textarea): sync styles for readonly and disabled label and textarea
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

style(textarea): refactor to use utils/label.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

refactor(label): moves label to a style utils
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/global/styles/utils/label.scss
Labels: package: core

style(fonts): add Greet Condensed font family
  libs/core/src/global/styles/_fonts.scss
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

test: fix failling specs for readonly components
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

style: update Font Family's to match the system installed font name
  libs/core/.storybook/preview-body.html
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/global/styles/_fonts.scss
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style: update line-heights to percentage
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

style: update references for Figma
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/components/input.json
Labels: package: core

style: token studio changes
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

style: refactor border-radius to dimension
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style: add new typography tokens for body and body-sm
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style(fonts): fix misspelling of sprig filename variable
  libs/core/src/global/styles/_fonts.scss
Labels: package: core

style: update line-height to unit-less
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

chore: fixes success typo and adds select component token
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/components/select.json
Labels: package: core

chore: fixes components with outdated tokens
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

chore: small component fixes
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

chore: fixes tests
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

fix: moved hanglePageShow function
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

fix: tooltip visibility issue on ios safari back navigation (#369)
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

feat(input): add pdsChange, pdsBlur, and pdsFocus events
  libs/core/readme.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/input-interface.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/utils/attributes.ts
  libs/core/src/utils/test/attributes.spec.ts
  libs/core/src/utils/utils.spec.ts
  libs/core/src/utils/utils.ts
Labels: package: core

feat(textarea): add pdsChange, pdsBlur, and pdsFocus events
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/components/pds-textarea/textarea-interface.ts
Labels: package: core

feat: add additional events, pdsBlur, pdsInput, pdsChange to input and textarea (#370)
  libs/core/readme.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/input-interface.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/components/pds-textarea/textarea-interface.ts
  libs/core/src/utils/attributes.ts
  libs/core/src/utils/test/attributes.spec.ts
  libs/core/src/utils/utils.spec.ts
  libs/core/src/utils/utils.ts
Labels: package: core

chore(release): release 2.15.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

feat(docTokenTale): update to handle dimension tokens
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/spacing.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

feat(docTokenTale): update to handle dimension tokens (#371)
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/spacing.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

ci: refresh the package for missing dependencies
  package-lock.json
Labels: none

chore(release): release 2.16.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style(accordion): fix misspelling for summary padding
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

style(accordion): fix misspelling for summary padding (#372)
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

style: add pointer cursor
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix: remove box min height
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style: add pointer cursor (#363)
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix: add pill variant
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/readme.md
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
Labels: package: core

style(tabs): update display and vars
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
Labels: package: core

docs: update pill demo location
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
Labels: package: core

style: update var
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core

fix: remove box min height (#373)
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core
