Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

refactor: parameter name from bumpType to nextVersionType
  .scripts/update-icon-version.js
Labels: none

ci: refactor update-icon-version script to allow nextVersionType and preId params
  .scripts/update-icon-version.js
Labels: none

ci: update process to commit and push within the workflow
  .github/workflows/release-icons.yml
  .scripts/update-icon-version.js
Labels: none

ci: update workflows to allow version and preid set via inputs
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/nightly.yml
  .github/workflows/release-icons.yml
  .scripts/update-icon-version.js
Labels: none

ci: update package.json files to adhere to --provenance guidelines
  libs/core/package.json
  libs/icons/package.json
  libs/react/package.json
Labels: package: core, package: react, package: icons

ci: change commands in Commit version bump step
  .github/workflows/release-icons.yml
Labels: none

test(checkbox): add error message test
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

feat(checkbox): add error message
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
Labels: package: core

docs(checkbox): add error message documentation
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.docs.mdx
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
Labels: package: core

docs(radio): add error message documentation
  libs/core/src/components/pds-radio/stories/pds-radio.docs.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
Labels: package: core

feat(radio): add error message
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
Labels: package: core

test(radio): add error message test
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

docs(): correct typo
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-radio/pds-radio.tsx
Labels: package: core

fix(): correct helper message styling when invalid
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

feat(pds-grid): add grid component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-grid/pds-grid-col/pds-grid-col.scss
  libs/core/src/components/pds-grid/pds-grid-col/pds-grid-col.tsx
  libs/core/src/components/pds-grid/pds-grid-col/readme.md
  libs/core/src/components/pds-grid/pds-grid.scss
  libs/core/src/components/pds-grid/pds-grid.tsx
  libs/core/src/components/pds-grid/readme.md
  libs/core/src/components/pds-grid/stories/pds-grid.docs.mdx
  libs/core/src/components/pds-grid/stories/pds-grid.stories.js
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
