Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

chore: do not deploy, package is set to use local link
  libs/core/package.json
  package-lock.json
Labels: package: core

docs: updates existing icon examples to use slots
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

style: update Divider styles (#432)
  libs/core/src/components/pds-divider/pds-divider.scss
Labels: package: core

style(fonts): add noto fonts from cdn
  libs/core/src/global/styles/_fonts.scss
Labels: package: core

style(tokens): add lang specific overrides
  libs/core/src/global/styles/tokens/index.scss
Labels: package: core

style(tokens): add noto font families
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

style(tokens): adjust body and heading fonts
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

style(): add generated styles
  libs/core/src/global/styles/tokens/_output/base/_core.scss
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
Labels: package: core

style(tokens): add brand-text token
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/index.scss
Labels: package: core

fix: prevents icons from rendering when loading is true and updates tests
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

style(tokens): correct brand label font family
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

style(tokens): correct brand label font family
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

chore: removes unnecessary part attribute from docs and tests
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

style(typography): adds Noto font family for language support (#433)
  libs/core/src/global/styles/_fonts.scss
  libs/core/src/global/styles/tokens/_output/base/_core.scss
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/index.scss
Labels: package: core

refactor: refactors code to render slots when used an prevents layout shift
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

chore: remove all things related to token-studio and tokens
  libs/core/package.json
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/.gitkeep
  libs/core/src/global/styles/tokens/_output/base/_core.scss
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/components/input.json
  libs/core/src/global/styles/tokens/components/select.json
  libs/core/src/global/styles/tokens/index.scss
  libs/core/src/global/styles/tokens/kajabi_products.json
  package-lock.json
Labels: package: core

chore: update @pine-ds/icosn to v9.2.0
  package-lock.json
Labels: none

chore: do not deploy, package is set to use local link
  libs/core/package.json
  package-lock.json
Labels: package: core

chore: update @kajabi-ui/styles package to use released version
  libs/core/catalog-info.yaml
  libs/react/catalog-info.yaml
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react

chore: updates links for stylesheets to use new package
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/components/pds-input/pds-input.tokens.scss
  libs/core/src/components/pds-select/pds-select.tokens.scss
  libs/core/src/global/styles/app.scss
Labels: package: core

chore: add license file
  LICENSE
Labels: none

docs(docTokenTable): updated component code to retrieve json from @kajabi-ui/styles
  libs/doc-components/package.json
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
  package-lock.json
Labels: package: doc-componenets

chore: update @kajabi-ui/styles package to v0.0.3
  package-lock.json
Labels: none

chore: add @kajabi-ui/styles to dependabot
  .github/dependabot.yml
Labels: none

style: remove token studio (#434)
  .github/dependabot.yml
  LICENSE
  libs/core/catalog-info.yaml
  libs/core/package.json
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/components/pds-input/pds-input.tokens.scss
  libs/core/src/components/pds-select/pds-select.tokens.scss
  libs/core/src/global/styles/app.scss
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/.gitkeep
  libs/core/src/global/styles/tokens/_output/base/_core.scss
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/components/input.json
  libs/core/src/global/styles/tokens/components/select.json
  libs/core/src/global/styles/tokens/index.scss
  libs/core/src/global/styles/tokens/kajabi_products.json
  libs/doc-components/package.json
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
  libs/react/catalog-info.yaml
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore(release): release 3.0.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: fixes icon displaying then loading is true
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

test: adds test for checking icon prop priority
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

chore(release): release 3.0.2
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

ci: add flag --yes to release with input step
  .github/workflows/schedule-release.yml
Labels: none

chore(release): release 3.0.3
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

docs: updates flow of docs to show icon slots earlier on the page
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: package: core

feature: adds flexible button slots (#430)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

docs(popover): using template literals needed to include unsafeHTML from lit
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
Labels: package: core

feat(pds-icon): add addtional props to the react version of the component
  libs/react/src/components/PdsIcon.tsx
Labels: package: react

chore: change valid branch name feature to feat
  validate-branch-name.config.js
Labels: none

docs(popover): using template literals needed to include unsafeHTML from lit (#438)
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
Labels: package: core

feat(pds-icon): add addtional props to the react version of the component
  libs/react/src/components/PdsIcon.tsx
Labels: package: react

docs: update icon page to copy icon code when clicked
  libs/core/src/components/pds-icon/stories/IconCopyComponent.jsx
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
Labels: package: core

chore: adds inheritedattribute helper util function
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
Labels: package: core
