Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

docs: add getting started
  libs/core/src/stories/getting-started.docs.mdx
Labels: package: core

docs: copy adjustments
  libs/core/src/stories/getting-started.docs.mdx
Labels: package: core

docs: copy adjustments
  libs/core/src/stories/getting-started.docs.mdx
Labels: package: core

docs: copy adjustments
  libs/core/src/stories/getting-started.docs.mdx
Labels: package: core

docs: fix broken image
  libs/core/src/stories/layout.docs.mdx
Labels: package: core

chore: move index to welcome page
  libs/core/.storybook/preview.js
Labels: package: core

docs: updates Storybook font styles to match Pine
  libs/core/.storybook/PineTheme.js
  libs/core/.storybook/manager-head.html
  libs/core/.storybook/preview-body.html
  libs/core/src/components.d.ts
  libs/core/src/components/pds-accordion/stories/pds-accordion.docs.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.mdx
  libs/core/src/components/pds-box/stories/pds-box.docs.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.docs.mdx
  libs/core/src/components/pds-divider/stories/pds-divider.docs.mdx
  libs/core/src/components/pds-image/stories/pds-image.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-link/stories/pds-link.docs.mdx
  libs/core/src/components/pds-loader/stories/pds-loader.docs.mdx
  libs/core/src/components/pds-popover/stories/pds-popover.docs.mdx
  libs/core/src/components/pds-progress/stories/pds-progress.docs.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.docs.mdx
  libs/core/src/components/pds-row/stories/pds-row.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
  libs/core/src/components/pds-switch/stories/pds-switch.docs.mdx
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
  libs/core/src/components/pds-tabs/stories/pds-tabs.docs.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/stories/pds-text.docs.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.docs.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.docs.mdx
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docCanvas/docCanvas.css
Labels: package: core, package: doc-componenets

docs: copy adjustments
  libs/core/src/stories/getting-started.docs.mdx
Labels: package: core

docs: adds how to use section to welcome (#352)
  libs/core/.storybook/preview.js
  libs/core/src/stories/welcome.docs.mdx
Labels: package: core

fix: add elementInternals
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/stories/welcome.docs.mdx
Labels: package: core

docs: copy adjustments
  libs/core/src/stories/getting-started.docs.mdx
Labels: package: core

test(radio): fix radio e2e test
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
Labels: package: core

docs: add getting started dev documentation (#353)
  libs/core/src/stories/getting-started.docs.mdx
Labels: package: core

docs: update layout documentation (#350)
  libs/core/src/components/pds-row/pds-row.scss
  libs/core/src/stories/layout.docs.mdx
Labels: package: core

docs: updates README and adds CONTRIBUTING file
  CONTRIBUTING.md
  README.md
Labels: none

chore: centers h1 on README
  README.md
Labels: none

chore: updates contribution docs link and adds missing @ for version number
  README.md
Labels: none

docs: updates Storybook font styles to match Pine (#354)
  libs/core/.storybook/PineTheme.js
  libs/core/.storybook/manager-head.html
  libs/core/.storybook/preview-body.html
  libs/core/src/components.d.ts
  libs/core/src/components/pds-accordion/stories/pds-accordion.docs.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.mdx
  libs/core/src/components/pds-box/stories/pds-box.docs.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.docs.mdx
  libs/core/src/components/pds-divider/stories/pds-divider.docs.mdx
  libs/core/src/components/pds-image/stories/pds-image.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-link/stories/pds-link.docs.mdx
  libs/core/src/components/pds-loader/stories/pds-loader.docs.mdx
  libs/core/src/components/pds-popover/stories/pds-popover.docs.mdx
  libs/core/src/components/pds-progress/stories/pds-progress.docs.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.docs.mdx
  libs/core/src/components/pds-row/stories/pds-row.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
  libs/core/src/components/pds-switch/stories/pds-switch.docs.mdx
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
  libs/core/src/components/pds-tabs/stories/pds-tabs.docs.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/stories/pds-text.docs.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.docs.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.docs.mdx
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docCanvas/docCanvas.css
Labels: package: core, package: doc-componenets

style(tokens): adds new 300 token to font size
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/components/input.json
Labels: package: core

docs(tokens): adds page for design tokens
  libs/core/assets/images/tokens/token-example1.png
  libs/core/assets/images/tokens/token-example2.png
  libs/core/assets/images/tokens/token-example3.png
  libs/core/src/stories/tokens.docs.mdx
Labels: package: core

chore: adds changed readme files
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/readme.md
Labels: package: core

chore: adds token image example alt text
  libs/core/src/stories/tokens.docs.mdx
Labels: package: core

chore: adds changed readme files (#357)
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/readme.md
Labels: package: core

style: adjusts minor styling for docs
  libs/core/.storybook/preview-body.html
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/stories/layout.docs.mdx
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docCanvas/docCanvas.css
Labels: package: core, package: doc-componenets

chore: removes unneeded markup
  libs/core/.storybook/preview-body.html
Labels: package: core

docs(tokens): adds page for design tokens (#356)
  libs/core/assets/images/tokens/token-example1.png
  libs/core/assets/images/tokens/token-example2.png
  libs/core/assets/images/tokens/token-example3.png
  libs/core/src/stories/tokens.docs.mdx
Labels: package: core

chore: updates folder structure of docs and fixes links to match
  libs/core/.storybook/preview.js
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/stories/foundations/principles.docs.mdx
  libs/core/src/stories/guides/assets.docs.mdx
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/forms.docs.mdx
  libs/core/src/stories/guides/layout.docs.mdx
  libs/core/src/stories/introduction/contributing.docs.mdx
  libs/core/src/stories/introduction/getting-started.docs.mdx
  libs/core/src/stories/introduction/welcome.docs.mdx
  libs/core/src/stories/resources/icons-mgmt.docs.mdx
  libs/core/src/stories/resources/support.docs.mdx
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/box-shadow.docs.mdx
  libs/core/src/stories/tokens/core/colors.docs.mdx
  libs/core/src/stories/tokens/core/spacing.docs.mdx
  libs/core/src/stories/tokens/core/typography.docs.mdx
  libs/core/src/stories/tokens/tokens.docs.mdx
Labels: package: core

fix(form elements): add attach internals
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/stories/forms.docs.mdx
Labels: package: core

chore: adds instructions for react usage
  README.md
Labels: none

chore: adds install step for React
  README.md
Labels: none

docs: updates README and adds CONTRIBUTING file (#355)
  CONTRIBUTING.md
  README.md
Labels: none

style: adjusts minor styling for docs (#358)
  libs/core/.storybook/preview-body.html
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/stories/layout.docs.mdx
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docCanvas/docCanvas.css
Labels: package: core, package: doc-componenets

chore: updates folder structure of docs and fixes links to match
  libs/core/.storybook/preview.js
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/stories/foundations/principles.docs.mdx
  libs/core/src/stories/guides/assets.docs.mdx
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/forms.docs.mdx
  libs/core/src/stories/guides/layout.docs.mdx
  libs/core/src/stories/introduction/contributing.docs.mdx
  libs/core/src/stories/introduction/getting-started.docs.mdx
  libs/core/src/stories/introduction/welcome.docs.mdx
  libs/core/src/stories/resources/icons-mgmt.docs.mdx
  libs/core/src/stories/resources/support.docs.mdx
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/box-shadow.docs.mdx
  libs/core/src/stories/tokens/core/colors.docs.mdx
  libs/core/src/stories/tokens/core/spacing.docs.mdx
  libs/core/src/stories/tokens/core/typography.docs.mdx
  libs/core/src/stories/tokens/tokens.docs.mdx
Labels: package: core

chore: updates contributing link on welcome page
  libs/core/src/stories/introduction/welcome.docs.mdx
Labels: package: core

chore: removes redundant docs page getting started
  libs/core/.storybook/preview.js
  libs/core/src/stories/introduction/getting-started.docs.mdx
Labels: package: core

chore: updates folder structure of docs and fixes links to match (#359)
  libs/core/.storybook/preview.js
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/stories/foundations/principles.docs.mdx
  libs/core/src/stories/getting-started.docs.mdx
  libs/core/src/stories/guides/assets.docs.mdx
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/forms.docs.mdx
  libs/core/src/stories/guides/layout.docs.mdx
  libs/core/src/stories/introduction/contributing.docs.mdx
  libs/core/src/stories/introduction/welcome.docs.mdx
  libs/core/src/stories/resources/icons-mgmt.docs.mdx
  libs/core/src/stories/resources/support.docs.mdx
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/box-shadow.docs.mdx
  libs/core/src/stories/tokens/core/colors.docs.mdx
  libs/core/src/stories/tokens/core/spacing.docs.mdx
  libs/core/src/stories/tokens/core/typography.docs.mdx
  libs/core/src/stories/tokens/tokens.docs.mdx
Labels: package: core

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/doc-components/CHANGELOG.md
  libs/doc-components/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style: create new core tokenset
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/core/core_old.json
  libs/core/src/global/styles/tokens/semantic/semantic_old.json
Labels: package: core

style: change font-weight to use numerical values in core tokenset
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/semantic/semantic_old.json
Labels: package: core

style: adds half of semantic tokens
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/base/semantic_ash.json
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
