Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

style(checkbox): resolve wrapping issue
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

fix(button): full width and loading state (#380)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-copytext/readme.md
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-loader/readme.md
Labels: package: core

style(radio): add shadow inner wrapper
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
Labels: package: core

test(radio): update tests
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

fix: adding deployment trigger and catalog-info for docs component
  .github/workflows/getdx-service-identification.yml
  .github/workflows/schedule-release.yml
  libs/doc-components/catalog-info.yaml
Labels: package: doc-componenets

fix: removing conditional
  .github/workflows/schedule-release.yml
Labels: none

fix: updating catalog-info
  libs/doc-components/catalog-info.yaml
Labels: package: doc-componenets

ci: getDX Deployments and Service identification (#386)
  .github/workflows/getdx-service-identification.yml
  .github/workflows/schedule-release.yml
  libs/doc-components/catalog-info.yaml
Labels: package: doc-componenets

style(box): update pds-padding-xs class to use corresponding dimension
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style(box): update pds-padding-xxl to use correct pine token
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style(box): update pds-box-gap-xxl to use correct pine dimension token
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

test: add specs to confirm classes for each of the sizes
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

style(box): update classes to use correct dimension tokens (#388)
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

chore(release): release 2.16.3
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style: update box min height and border radius
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style: update pill tabs styles
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
Labels: package: core

style: add label wrapper to checkbox
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
Labels: package: core

style(radio): update to use label wrapper
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
Labels: package: core

style: update to use pine var
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
Labels: package: core

style(radio): update to use var
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

test: update specs
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

test: update radio specs
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

style: update pill tabs styles (#390)
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
Labels: package: core

style(checkbox): resolve wrapping issue (#384)
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

fix(radio): add inner shadow wrapper (#385)
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

style: update box min height and border radius (#389)
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style: use gap for spacing instead margin
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

chore: add @playwright/test and @stenciljs/playwright dev dependencies
  libs/core/package.json
  package-lock.json
Labels: package: core

style: add 125 token value
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/global/styles/tokens/base/_core.scss
Labels: package: core

style: add token for 125 variant
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

style: apply var throughout pine
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-row/pds-row.scss
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

fix: add conditional wrapper around label
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

test: update tests and optional label select prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

style: add 125 token (#387)
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-row/pds-row.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

test(playwright): add configuration for playwright testing
  libs/core/.gitignore
  libs/core/playwright.config.ts
  libs/core/tsconfig.json
Labels: package: core

style(tokens): add new styles for heading caption and body monospace
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style(tokens): add new styles for heading caption and body monospace (#395)
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style: changes from token studio after exporting styles
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

style(button): adjust flex to fix layout
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

style(button): adjust flex to fix layout (#396)
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
