Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

fix(lint): pine-motion ignores var() identifiers, autofix replaces by index
  libs/core/lint-plugins/stylelint-plugin-pine-motion.cjs
Labels: package: core

test: add axe accessibility coverage to composite components
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.e2e.ts
  libs/core/src/components/pds-filters/test/pds-filters.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-table/test/pds-table.e2e.ts
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
Labels: package: core

test: address PR 754 review feedback on axe e2e specs
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
  libs/core/src/components/pds-filters/test/pds-filters.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
Labels: package: core

test: open popover and dropdown before axe scans
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
Labels: package: core

fix: wire figma paths into nx affected and lint cache inputs
  libs/core/package.json
  libs/core/scripts/check-figma-coverage.mjs
  libs/figma/package.json
  package-lock.json
Labels: package: core

test(pds-accordion): open accordion before axe scan so panel content is evaluated
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
Labels: package: core

chore(lint): add pine-motion stylelint rule banning hardcoded transition timing (#756)
  libs/.stylelintrc.json
  libs/core/lint-plugins/stylelint-plugin-pine-motion.cjs
  libs/core/src/components/pds-combobox/pds-combobox-dropdown-panel.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

docs(guides): trim Sage-to-Pine MCP note to one-line rationale
  libs/core/src/stories/guides/sage-to-pine.docs.mdx
Labels: package: core

docs(resources): add MCP patterns and Sage-to-Pine guide for pine-mcp (#761)
  libs/core/.storybook/preview-body.html
  libs/core/src/stories/_helpers/PatternCatalog.tsx
  libs/core/src/stories/_helpers/PatternPreview.tsx
  libs/core/src/stories/_helpers/index.ts
  libs/core/src/stories/guides/sage-to-pine.docs.mdx
  libs/core/src/stories/resources/mcp-patterns.docs.mdx
  libs/core/src/stories/resources/mcp-patterns.json
  libs/core/src/stories/resources/mcp.docs.mdx
Labels: package: core

chore: add figma code connect coverage guard to lint pipeline (#751)
  libs/core/package.json
  libs/core/scripts/check-component-status.mjs
  libs/core/scripts/check-figma-coverage.mjs
  libs/core/scripts/lib/components.mjs
  libs/figma/code-connect-waivers.json
  libs/figma/package.json
  package-lock.json
Labels: package: core

test(pds-filters): open filter popover before axe scan
  libs/core/src/components/pds-filters/test/pds-filters.e2e.ts
Labels: package: core

test: add axe accessibility coverage to composite components (#754)
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.e2e.ts
  libs/core/src/components/pds-filters/test/pds-filters.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-table/test/pds-table.e2e.ts
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
Labels: package: core

fix: mark decorative pds-icon usages aria-hidden to satisfy role-img-alt
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
Labels: package: core

test: drop role-img-alt suppressions after icon fix; disable harness-unreliable color-contrast
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
  libs/core/src/components/pds-filters/test/pds-filters.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
Labels: package: core

style(status-badge): add dark mode contrast overrides for status badge
  libs/core/src/stories/_helpers/StatusBadge.css
Labels: package: core

style(status-badge): add dark mode contrast overrides for status badge (#762)
  libs/core/src/stories/_helpers/StatusBadge.css
Labels: package: core

style(doc-components): scope args-table section background to .args-section
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
Labels: package: doc-componenets

chore(deps): upgrade storybook to 10.4.2 and vite to 5
  libs/core/package.json
  package-lock.json
  package.json
Labels: package: core

feat(pds-link): add turbo data attribute props for Shadow DOM compatibility
  libs/core/src/components.d.ts
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
Labels: package: core

test(pds-link): add specs for turbo data attribute props
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core

chore(pds-core): upgrade @stencil/core to 4.43.5
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-row/readme.md
  package-lock.json
Labels: package: core

test: update spec HTML expectations for Stencil 4.43 serializer (for/part)
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

test(pds-tooltip): spy on required floating-ui module instead of jest.mock factory
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

test: add error-icon aria-hidden spec and select error-state axe coverage
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
Labels: package: core

fix: hide decorative pds-icon from assistive tech + stop suppressing harness color-contrast (#757)
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/core/src/components/pds-filters/test/pds-filters.e2e.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
Labels: package: core

style(doc-components): scope args-table section background to .args-section (#763)
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
Labels: package: doc-componenets

chore(deps): sync package-lock node engines with package.json
  package-lock.json
Labels: none

chore(pds-core): upgrade @stencil/core to 4.43.5
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-row/readme.md
  package-lock.json
Labels: package: core

test: update spec HTML expectations for Stencil 4.43 serializer (for/part)
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

test(pds-tooltip): spy on required floating-ui module instead of jest.mock factory
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

chore(deps): upgrade storybook to 10.4.2 and vite to 5 (#764)
  libs/core/package.json
  package-lock.json
  package.json
Labels: package: core

chore(pds-core): upgrade @stencil/core to 4.43.5 (#766)
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-row/readme.md
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  package-lock.json
Labels: package: core

feat(pds-box): add tag prop for semantic HTML elements
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix(pds-box): address Bugbot review feedback for tag prop
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

refactor(pds-box): address gauntlet feedback for tag prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
  libs/core/src/utils/types.ts
Labels: package: core

docs(pds-box): add SemanticTag story for tag prop
  libs/core/src/components/pds-box/stories/pds-box.stories.js
Labels: package: core

docs(pds-box): expose tag prop in Storybook playground controls
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/stories/pds-box.stories.js
Labels: package: core

chore(pds-box): regenerate components.d.ts after rebase onto main
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
Labels: package: core

fix(pds-box): forward ARIA attributes to inner semantic element
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix(pds-box): keep semantic ARIA in sync across tag and attr changes
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
  libs/core/src/utils/attributes.ts
  libs/core/src/utils/test/attributes.spec.ts
Labels: package: core
