Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

docs(pds-row): update jsDocs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-row/pds-row.tsx
  libs/core/src/components/pds-row/readme.md
  libs/core/src/components/pds-row/test/pds-row.spec.tsx
Labels: package: core

docs(form elements): update jsDocs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: package: core

docs(pds-box): add main containers flex direction and fit rules
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

docs(icon): update React examples to use icon property with proper imports
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

docs(icon): remove redundant import statements from DocCanvas examples
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

docs(icon): move usage sections below Size section for better flow
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

docs(icon): Update for more detailed usage and troubleshooting guidelines (#495)
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

fix(pds-input): update select prepend and append height
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

feat: add new builder base for site builder
  docs/assets/builder-base/Accordion.tsx
  docs/assets/builder-base/Alert.tsx
  docs/assets/builder-base/Avatar.tsx
  docs/assets/builder-base/Box.tsx
  docs/assets/builder-base/Button.tsx
  docs/assets/builder-base/Checkbox.tsx
  docs/assets/builder-base/Chip.tsx
  docs/assets/builder-base/Combobox.tsx
  docs/assets/builder-base/Copytext.tsx
  docs/assets/builder-base/Divider.tsx
  docs/assets/builder-base/DropdownMenu.tsx
  docs/assets/builder-base/Icon.tsx
  docs/assets/builder-base/Image.tsx
  docs/assets/builder-base/Input.tsx
  docs/assets/builder-base/Link.tsx
  docs/assets/builder-base/Loader.tsx
  docs/assets/builder-base/Modal.tsx
  docs/assets/builder-base/ModalContent.tsx
  docs/assets/builder-base/ModalFooter.tsx
  docs/assets/builder-base/ModalHeader.tsx
  docs/assets/builder-base/Popover.tsx
  docs/assets/builder-base/Progress.tsx
  docs/assets/builder-base/Radio.tsx
  docs/assets/builder-base/Select.tsx
  docs/assets/builder-base/Switch.tsx
  docs/assets/builder-base/Table.tsx
  docs/assets/builder-base/TableBody.tsx
  docs/assets/builder-base/TableCell.tsx
  docs/assets/builder-base/TableHead.tsx
  docs/assets/builder-base/TableHeadCell.tsx
  docs/assets/builder-base/TableRow.tsx
  docs/assets/builder-base/Tabs.tsx
  docs/assets/builder-base/Text.tsx
  docs/assets/builder-base/Textarea.tsx
  docs/assets/builder-base/Toast.tsx
  docs/assets/builder-base/Tooltip.tsx
Labels: none

fix: resolve box props
  docs/assets/builder-base/Box.tsx
Labels: none

fix: add app page
  docs/assets/builder-base/app/App.tsx
Labels: none

fix(Text): resolve issue with prop always showing when default present
  docs/assets/builder-base/Text.tsx
Labels: none

fix(Toolltip): remove default values for rendering
  docs/assets/builder-base/Tooltip.tsx
Labels: none

fix(Button): add box for slots
  docs/assets/builder-base/Button.tsx
Labels: none

fix: update box and row and add layout docs
  docs/assets/builder-base/Box.tsx
  docs/assets/builder-base/Row.tsx
  docs/assets/builder-base/app/Layout.tsx
Labels: none

fix: add input docs
  docs/assets/builder-base/Input.tsx
Labels: none

fix(DSS-1487): add missing font property to checkbox and radio helper messages
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

docs(): enhance usage notes across multiple components for better clarity
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
Labels: package: core

fix(form elements): add form association and element internals
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

chore: add test exception
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

docs(forms): update form docs
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

fix(pds-input): update select prepend and append height (#496)
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

fix: add null state check
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

fix: handle FormData in formStateRestoreCallback
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

fix: fix formStateRestoreCallback to handle FormData correctly
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

docs(): enhance usage notes across multiple components for better clarity (#499)
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
Labels: package: core

fix(form elements): add form association and element internals (#500)
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

style(pds-box): update md border radius
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

fix(): add missing font property to checkbox and radio helper messages (#498)
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

style(pds-box): update md border radius (#502)
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

fix(pds-modal): adjust max height ot remove double scrollbars
  libs/core/src/components/pds-modal/pds-modal.scss
Labels: package: core

fix(pds-modal): adjust max height ot remove double scrollbars (#503)
  libs/core/src/components/pds-modal/pds-modal.scss
Labels: package: core

docs: remove kebab case prop names
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
Labels: package: core

docs: update row docs
  libs/core/src/components/pds-row/docs/pds-row.mdx
Labels: package: core

docs: remove camel case from documentation outside of react examples
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
Labels: package: core

docs: remove camel case from documentation (#504)
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
Labels: package: core

chore(release): release 3.4.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(storybook): correct boolean/number/array bindings in stories (DSS-1491)
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
Labels: package: core

fix(storybook): update bindings across additional stories (DSS-1491)
  libs/core/src/components/pds-accordion/stories/pds-accordion.stories.js
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-toast/stories/pds-toast.stories.js
Labels: package: core

fix(storybook): sweep more story bindings (switch, tooltip, table, row) (DSS-1491)
  libs/core/src/components/pds-row/stories/pds-row.stories.js
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
