Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

fix: resolve alt key not being read
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

fix: resolve issue with not being able to navigate when arrow keys after opened by click
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

fix: update post rebase
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

fix(pds-combobox): update keyboard button trigger open close functionality (#541)
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

chore: update puppeteer to fix tar-fs security vulnerability
  package-lock.json
Labels: none

style(pds-dropdown-menu-separator): update separator styles for improved appearance
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.scss
Labels: package: core

docs(pds-dropdown-menu): fix inconsistency in dropdown docs
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
Labels: package: core

docs(pds-dropdown-menu): fix inconsistency in dropdown docs
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
Labels: package: core

fix(docs): correct typos and improve consistency in docs across multiple components
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-loader/docs/pds-loader.mdx
  libs/core/src/components/pds-property/docs/pds-property.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
Labels: package: core

fix(docs): correct typos and improve consistency in docs across multiple components (#544)
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-loader/docs/pds-loader.mdx
  libs/core/src/components/pds-property/docs/pds-property.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
Labels: package: core

style(pds-dropdown-menu-separator): update separator styles for improved appearance (#543)
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.scss
Labels: package: core

chore(release): release 3.7.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: update puppeteer to fix tar-fs security vulnerability (#542)
  package-lock.json
Labels: none

chore: update dependencies and improve storybook configurations
  libs/core/.storybook/main.js
  libs/core/.storybook/preview.js
  libs/core/package.json
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  package-lock.json
Labels: package: core

fix(pds-copytext): update button padding and class name syntax in stories
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
Labels: package: core

docs(): add Pine MCP documentation for AI integration and usage
  libs/core/src/stories/resources/mcp.docs.mdx
Labels: package: core

fix(pds-copytext): update button padding and class name syntax in stories (#546)
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
Labels: package: core

docs(): add Pine MCP documentation for AI integration and usage (#547)
  libs/core/src/stories/resources/mcp.docs.mdx
Labels: package: core

feat(pds-popover): implement programmatic control and events for popover component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/popover-interface.ts
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

feat(pds-popover): add component mounted tracking to prevent memory leaks during popover animations
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/popover-interface.ts
Labels: package: core

feat(pds-popover): implement methods control and events (#548)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/popover-interface.ts
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

fix(pds-combobox): add chip variant
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix: use inner chip and mask outer button trigger
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
Labels: package: core

feat: introduce z-index values across multiple components to use tokens
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.tsx
  libs/core/src/components/pds-icon/stories/IconCopyComponent.jsx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/stories/tokens/core/z-index.docs.mdx
  libs/core/src/stories/tokens/semantic/z-index.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
  package-lock.json
Labels: package: core, package: doc-componenets

fix: update combobox stories
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix: update rule specificity
  libs/core/src/components/pds-combobox/pds-combobox.scss
Labels: package: core

style: unify z-index values across pds-table and pds-textarea components
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

style(pds-button, pds-input): enhance button and input styles
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

docs(pds-input): add stories for input with prepend and append buttons
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

chore(pds-filters): add code connect for filter and filters components
  figma.config.json
  libs/core/src/components/pds-filters/pds-filter/pds-filter.figma.ts
  libs/core/src/components/pds-filters/pds-filters.figma.ts
Labels: package: core

chore(pds-button): add code connect for filter button
  figma.config.json
  libs/core/src/components/pds-button/pds-button.figma.ts
Labels: package: core

chore(pds-filters): update popover content comments for clarity
  libs/core/src/components/pds-filters/pds-filters.figma.ts
Labels: package: core

chore(pds-filters): add code connect for filter and filters components (#552)
  figma.config.json
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-filters/pds-filter/pds-filter.figma.ts
  libs/core/src/components/pds-filters/pds-filters.figma.ts
Labels: package: core

style(pds-input): correct styles for append/prepend button height (#551)
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

feat: implements z-index values across components using new tokens (#549)
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.tsx
  libs/core/src/components/pds-icon/stories/IconCopyComponent.jsx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/stories/tokens/core/z-index.docs.mdx
  libs/core/src/stories/tokens/semantic/z-index.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
  package-lock.json
Labels: package: core, package: doc-componenets

docs(): add responsive breakpoints section to layout documentation
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

refactor: remove need for filter trigger slotted pds-chip
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
Labels: package: core

fix: remove chipvariant and hardcode value
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-combobox): update hightlighed option logic when selected
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

refactor: add shared chip variant and sentiment type
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/utils/types.ts
Labels: package: core
