Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

docs: rename form inputs and remove ids
  libs/core/src/stories/forms.docs.mdx
Labels: package: core

fix: adds autocomplete to pds-input
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

fix: adds autocomplete to pds-textarea
  libs/core/src/components.d.ts
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

docs: add autocmoplete link to input docs
  libs/core/src/components/pds-input/docs/pds-input.mdx
Labels: package: core

style(box): refactor to use new semantic tokens
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style(box): refactor to use new semantic tokens (#319)
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

fix(select): address issue with specs and slot
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

docs: add autocomplete stories
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
Labels: package: core

fix: continued work on popover api implementation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
Labels: package: core

feat(select): added autocomplete attribute, tests to select component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

docs(select): updated most of the documentation to reflect all the stories
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
Labels: package: core

chore(select): spruced up docs and refactored some open syntax errors
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

refactor(select): removed unused styles
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

fix: add autocomplete attribute to input and textarea (#321)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

fix: remove base style and add keydown functionality
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

docs(select): removed unused text from docs
  libs/core/src/components/pds-select/docs/pds-select.mdx
Labels: package: core

chore(select): added options to the storybook treatments
  libs/core/src/components/pds-select/docs/pds-select.mdx
Labels: package: core

fix(select): removed unneeded div from rendering
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

test: add e2e tests and add comment regarding tabindex and role on trigger
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
Labels: package: core

fix: add key to button
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
Labels: package: doc-componenets

docs: adds forms documentation + demo (#314)
  libs/core/src/stories/forms.docs.mdx
Labels: package: core

chore: update nx packages
  .gitignore
  .prettierignore
  .prettierrc
  lerna.json
  libs/core/package.json
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Labels: package: core

ci: new workflow for continuous deployment using nx release
  .github/workflows/actions/build-doc-components/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/setup/action.yml
  .github/workflows/schedule-release.yml
Labels: none

ci: remove workflows that are no longer necessary
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/manual-release.yml
  .github/workflows/release-packages.yml
Labels: none

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/doc-components/CHANGELOG.md
  libs/doc-components/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

test: update tests
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

style(select): fixed pine tokens with vars
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

refactor(select): reverted Host child div for the moment, fixed some styling
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

fix: adjust color token values
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

fix(select): reverted pds-select div, as styling needs to be applied
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

refactor(select): removed redundant error message from select spec
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

refactor(select): changed pds-icons to use name, rather than importing icon files
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

fix(select): switched to name from icon in the specs
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

test(select): added autocomplete tests for on, off, and name
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

fix(checkbox): add error icon and adjust styles
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-row/readme.md
Labels: package: core

fix(input): add error icon and adjust styles
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
Labels: package: core

fix(radio): add error icon and adjust styles
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

fix(switch): add error icon and adjust styles
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/readme.md
Labels: package: core

fix(textarea): add error icon and adjust styles
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: package: core

docs: update docs for consistency
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
