Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react

refactor(table): corrects row event and table docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
Labels: package: core

test(table): add test coverage for cell when scrolling
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
Labels: package: core

test(table): add additional e2e tests for table checkbox cell
  libs/core/src/components/pds-table/pds-table-checkbox-cell/test/pds-table-checkbox-cell.e2e.ts
Labels: package: core

test(table): add more tests for head cell
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

test(table): add additional e2e tests for table head cell
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.e2e.ts
Labels: package: core

fix(table): add back pdsTableRowSelected emit
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
Labels: package: core

test(table): add additional e2e tests for table row
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.e2e.ts
Labels: package: core

test(table): add additional e2e tests for table cell
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.e2e.ts
Labels: package: core

fix(table): generated file after rebase
  libs/react/src/components/proxies.ts
Labels: package: react

refactor: removes has-image CSS class to use has selector
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

Revert "refactor: removes has-image CSS class to use has selector"
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

refactor: remove CSS class in component and test files in place of using has selector
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

docs(table): adjustments to table based on review
  libs/core/src/components/pds-table/pds-table-cell/stories/pds-table-cell.stories.js
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

refactor(table): remove checkbox cell component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-checkbox-cell/pds-table-checkbox-cell.scss
  libs/core/src/components/pds-table/pds-table-checkbox-cell/pds-table-checkbox-cell.tsx
  libs/core/src/components/pds-table/pds-table-checkbox-cell/readme.md
  libs/core/src/components/pds-table/pds-table-checkbox-cell/test/pds-table-checkbox-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-checkbox-cell/test/pds-table-checkbox-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table-row/stories/pds-table-row.stories.js
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

refactor(table): rename handleSortClick to toggleSort
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
Labels: package: core

chore: add components folder to distribution
  libs/core/package.json
Labels: package: core

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react

chore: pine-ds/icons version bump [skip-ci]
  libs/core/package.json
  libs/react/package.json
Labels: package: core, package: react

fix(react): add missing exports
  libs/react/src/components/PdsIcon.tsx
  libs/react/src/components/index.ts
  libs/react/src/index.ts
Labels: package: react

fix(pds-link): icons should be imported and set via icon property
  libs/core/src/components/pds-link/pds-link.tsx
Labels: package: core

chore: version bump pine-ds/icons
  libs/core/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react

test: fix failing test due to change in the use of the icon property
  libs/core/.gitignore
  libs/core/package.json
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react

test: fix failing test due to change in the use of the icon property
  libs/core/.gitignore
  libs/core/package.json
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react

feat: create react doc-components library
  libs/doc-components/.eslintrc.cjs
  libs/doc-components/.gitignore
  libs/doc-components/package.json
  libs/doc-components/public/vite.svg
  libs/doc-components/readme.md
  libs/doc-components/src/assets/react.svg
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
  libs/doc-components/src/components/docArgsTable/index.ts
  libs/doc-components/src/components/docCanvas/docCanvas.css
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
  libs/doc-components/src/components/docCanvas/index.ts
  libs/doc-components/src/components/index.ts
  libs/doc-components/src/index.ts
  libs/doc-components/src/vite-env.d.ts
  libs/doc-components/tsconfig.json
  libs/doc-components/tsconfig.node.json
  libs/doc-components/vite.config.ts
  package-lock.json
  tsconfig.json
Labels: none

docs(chip): update docs to new format
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.docs.mdx
Labels: package: core

docs(pds-sortable): update docs.mdx to use new format and raw mdx file
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
Labels: package: core

chore: rename react folder to 'core-react'
  libs/core-react/.gitignore
  libs/core-react/CHANGELOG.md
  libs/core-react/LICENSE
  libs/core-react/README.md
  libs/core-react/catalog-info.yaml
  libs/core-react/package.json
  libs/core-react/rollup.config.mjs
  libs/core-react/src/components/PdsIcon.tsx
  libs/core-react/src/components/PdsReactProps.ts
  libs/core-react/src/components/index.ts
  libs/core-react/src/components/inner-proxies.ts
  libs/core-react/src/components/proxies.ts
  libs/core-react/src/components/react-component-lib/createComponent.tsx
  libs/core-react/src/components/react-component-lib/createOverlayComponent.tsx
  libs/core-react/src/components/react-component-lib/index.ts
  libs/core-react/src/components/react-component-lib/interfaces.ts
  libs/core-react/src/components/react-component-lib/utils/attachProps.ts
  libs/core-react/src/components/react-component-lib/utils/case.ts
  libs/core-react/src/components/react-component-lib/utils/dev.ts
  libs/core-react/src/components/react-component-lib/utils/index.tsx
  libs/core-react/src/index.ts
  libs/core-react/tsconfig.json
  package-lock.json
Labels: none

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
