Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*

feat(switch): setting props
  libs/core/src/components.d.ts
  libs/core/src/components/sage-switch/readme.md
  libs/core/src/components/sage-switch/sage-switch.tsx
  libs/core/src/components/sage-switch/stories/sage-switch.docs.stories.mdx
  libs/core/src/components/sage-switch/stories/sage-switch.stories.js
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(switch): void elements in docs examples
  libs/core/src/components/sage-switch/stories/sage-switch.docs.stories.mdx
  libs/core/src/components/sage-switch/stories/sage-switch.stories.js
Labels: package: core

refactor(switch): rename error class container
  libs/core/src/components/sage-switch/sage-switch.scss
  libs/core/src/components/sage-switch/sage-switch.tsx
  libs/core/src/components/sage-switch/stories/sage-switch.docs.stories.mdx
  libs/core/src/components/sage-switch/test/sage-switch.e2e.ts
  libs/core/src/components/sage-switch/test/sage-switch.spec.tsx
Labels: package: core

feat(switch): initial commit
  libs/core/src/components/sage-switch/sage-switch.scss
  libs/core/src/components/sage-switch/sage-switch.tsx
  libs/core/src/components/sage-switch/test/sage-switch.e2e.ts
  libs/core/src/components/sage-switch/test/sage-switch.spec.tsx
Labels: package: core

refactor(switch): fix logical prop
  libs/core/src/components/sage-switch/sage-switch.scss
Labels: package: core

fix(switch): message assignment to input
  libs/core/src/components/sage-switch/sage-switch.tsx
Labels: package: core

test(switch): updated spec suite coverage
  libs/core/src/components/sage-switch/test/sage-switch.spec.tsx
Labels: package: core

feat(switch): updated props and examples
  libs/core/src/components.d.ts
  libs/core/src/components/sage-switch/readme.md
  libs/core/src/components/sage-switch/stories/sage-switch.docs.stories.mdx
  libs/core/src/components/sage-switch/stories/sage-switch.stories.js
Labels: package: core

fix(switch): restore checked prop
  libs/core/src/components.d.ts
  libs/core/src/components/sage-switch/readme.md
  libs/core/src/components/sage-switch/sage-switch.tsx
  libs/core/src/components/sage-switch/stories/sage-switch.stories.js
Labels: package: core

refactor(switch): alpha order of properties
  libs/core/src/components/sage-switch/sage-switch.tsx
Labels: package: core

chore(tokens): adds updated box shadow tokens
  libs/core/scripts/build-tokens.ts
  libs/core/src/global/styles/tokens/_box-shadow.scss
  libs/core/tokens/tokens.json
Labels: package: core

fix(tokens): fixes issue with build function not using proper argument
  libs/core/scripts/build-tokens.ts
  libs/core/tokens/tokens.json
Labels: package: core

fix(sage-tooltip): missing changes from compilation of core icon build
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
Labels: package: core

ci: add matrix strategy for node versions we support
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/build.yml
Labels: none

chore: add engines to package.json
  package.json
Labels: none

ci: update matrix to include node version 20
  .github/workflows/build.yml
Labels: none

fix(textarea): rename props, fix test coverage, iterate logic, clean up code
  libs/core/src/components.d.ts
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.scss
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
  libs/core/src/components/sage-textarea/test/sage-textarea.e2e.ts
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
Labels: package: core

fix(textarea and input): fixes to prop names, updates to docs, ff fallback, and utils addition
  libs/core/src/components/sage-input/readme.md
  libs/core/src/components/sage-input/sage-input.scss
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.scss
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
  libs/core/src/utils/utils.ts
Labels: package: core

fix(textarea): update tests, fix/reword documentation, and new lines from self-review
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
Labels: package: core

fix(input): minor tweaks to input docs to align with textarea and prettier changes
  libs/core/src/components.d.ts
  libs/core/src/components/sage-input/readme.md
  libs/core/src/components/sage-input/sage-input.scss
  libs/core/src/components/sage-input/sage-input.tsx
  libs/core/src/components/sage-input/stories/sage-input.docs.stories.mdx
  libs/core/src/components/sage-textarea/readme.md
Labels: package: core

fix(textarea docs): change story prop from "placeholderMessage" to "placeholder-message"
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
Labels: package: core

feat(textarea): add basic build of textarea component with first pass at docs
  libs/core/src/components/sage-textarea/sage-textarea.scss
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
  libs/core/src/components/sage-textarea/test/sage-textarea.e2e.ts
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
Labels: package: core

style(tooltip): remove comments and apply tokens
  libs/core/src/components/sage-textarea/sage-textarea.scss
Labels: package: core

docs(textarea): update placeholder and id props
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
Labels: package: core

docs(tooltip): reorder props and update copy
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.tsx
Labels: package: core

fix(input): revert changes made in attempt to align files, work to be done separately
  libs/core/src/components/sage-input/sage-input.scss
  libs/core/src/components/sage-input/sage-input.tsx
Labels: package: core

refactor(textarea): update props and defaultValue
  libs/core/src/components/sage-input/readme.md
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.tsx
Labels: package: core

fix(input): revert changes made in attempt to align files, work to be done separately
  libs/core/src/components/sage-input/sage-input.tsx
Labels: package: core

refactor(tooltip): update name to equal the id
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.tsx
Labels: package: core

docs(textarea): copy update
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
Labels: package: core

style(tooltip): remove comment
  libs/core/src/components/sage-textarea/sage-textarea.scss
Labels: package: core

refactor(textarea): add aria items related to hint and error
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
Labels: package: core

docs(textarea): update placeholder value
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
Labels: package: core

test(textarea): updated test to include relatedId
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
  libs/core/src/utils/utils.spec.ts
  libs/core/src/utils/utils.ts
Labels: package: core

chore(tooltip): add auto generated files for tooltip
  libs/core/src/components.d.ts
  libs/core/src/components/sage-input/readme.md
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

refactor(textarea): reorder props in mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
Labels: package: core

style(tooltip): remove has selector code
  libs/core/src/components/sage-textarea/sage-textarea.scss
Labels: package: core

test(textarea): fixed test related to missing ids
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
Labels: package: core

test(textarea): remove extra char
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
Labels: package: core

test(textarea): updated copy and adding whitespace
  libs/core/src/components.d.ts
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/test/sage-textarea.e2e.ts
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
Labels: package: core
