Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react

docs(image): fix source example to JSX syntax
  libs/core/src/components/pds-image/docs/pds-image.mdx
Labels: package: core

docs(input): fix code samples to follow JSX syntax
  libs/core/src/components/pds-input/docs/pds-input.mdx
Labels: package: core

docs(progress): fix code samples to follow JSX syntax
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
Labels: package: core

docs(radio): fix code samples to follow JSX syntax
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
Labels: package: core

docs(sortable): fix code samples to follow JSX syntax
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
Labels: package: core

chore(doc-site): no longer need
  apps/doc-site/.gitignore
  apps/doc-site/README.md
  apps/doc-site/astro.config.mjs
  apps/doc-site/package.json
  apps/doc-site/public/favicon.svg
  apps/doc-site/src/assets/demi_wilkinson.jpg
  apps/doc-site/src/components/Card.astro
  apps/doc-site/src/components/MainContent.astro
  apps/doc-site/src/components/Sidebar.astro
  apps/doc-site/src/env.d.ts
  apps/doc-site/src/layouts/Layout.astro
  apps/doc-site/src/mdx/pds-avatar.mdx
  apps/doc-site/src/mdx/pds-button.mdx
  apps/doc-site/src/mdx/pds-checkbox.mdx
  apps/doc-site/src/mdx/pds-chip.mdx
  apps/doc-site/src/mdx/pds-copytext.mdx
  apps/doc-site/src/mdx/pds-divider.mdx
  apps/doc-site/src/mdx/pds-icon.mdx
  apps/doc-site/src/mdx/pds-image.mdx
  apps/doc-site/src/mdx/pds-input.mdx
  apps/doc-site/src/mdx/pds-link.mdx
  apps/doc-site/src/mdx/pds-progress.mdx
  apps/doc-site/src/mdx/pds-radio.mdx
  apps/doc-site/src/mdx/pds-sortable.mdx
  apps/doc-site/src/mdx/pds-switch.mdx
  apps/doc-site/src/mdx/pds-tabs.mdx
  apps/doc-site/src/mdx/pds-textarea.mdx
  apps/doc-site/src/mdx/pds-tooltip.mdx
  apps/doc-site/src/pages/index.astro
  apps/doc-site/tsconfig.json
  package-lock.json
Labels: none

fix(docArgsTable): assign key to table row
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
Labels: none

refactor(docArgsTable): parse mdx so it can be rendered as html
  libs/doc-components/package.json
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
  package-lock.json
Labels: none

chore(doc-site): change the settings for 'publishConfig' to be public
  libs/doc-components/package.json
Labels: none

chore(dependecies): update Jest to the latest version
  libs/core/package.json
  package-lock.json
Labels: package: core

chore(dependecies): update Puppeteer and Stencil to the latest versions
  libs/core/package.json
  package-lock.json
Labels: package: core

fix: update type file for missing event listeners
  libs/core/src/components.d.ts
Labels: package: core

ci: add flag --legacy-peer-deps to assist with NX missing platform dependency error
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
Labels: none

ci: update package-lock.json due to conflct in main
  package-lock.json
Labels: none

chore: update package dependencies (#124)
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  libs/core/package.json
  libs/core/src/components.d.ts
  package-lock.json
Labels: package: core

chore(core): change the settings for 'publishConfig' to be public
  libs/core/package.json
Labels: package: core

ci: typo in property name to extract the archive step
  .github/workflows/actions/download-archive/action.yml
Labels: none

docs(pds-popover): updated default props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

ci: add continuous deployment workflow
  .github/workflows/cd.yml
Labels: none

ci: release workflow
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/release-packages.yml
  .github/workflows/release.yml
Labels: none

docs(pds-popover): shorten copy in popover content
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
Labels: package: core

docs(pds-popover): shorten popver content
  libs/core/src/components/pds-popover/stories/pds-popover.docs.mdx
Labels: package: core

feat(react): add PdsIcon helper
  libs/core/package.json
  libs/core/stencil.config.ts
  libs/react/package.json
  libs/react/rollup.config.mjs
  libs/react/src/components/PdsIcon.tsx
  libs/react/src/components/PdsReactProps.ts
  libs/react/src/components/inner-proxies.ts
  libs/react/src/components/proxies.ts
  libs/react/src/index.ts
  libs/react/tsconfig.json
  package-lock.json
Labels: package: core, package: react

fix: include custom-elements in stencil.config
  libs/core/.gitignore
  libs/core/scripts/custom-elements/custom-elements.d.ts
  libs/core/scripts/custom-elements/package.json
  libs/core/scripts/tsconfig.json
  libs/core/stencil.config.ts
  libs/core/tsconfig.json
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

refactor(pds-popover): align popoverclasses with our pattern
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

test(pds-popover): update spec test to show popover
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

test(pds-popover): update e2e to not give false negative
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
Labels: package: core

docs(pds-popover): add controls and update demos
  libs/core/src/components/pds-popover/stories/pds-popover.docs.mdx
Labels: package: core

chore: add storybook-static to gitignore
  .gitignore
  libs/core/.gitignore
Labels: package: core

feat(react): add PdsIcon helper (#126)
  .gitignore
  libs/core/.gitignore
  libs/core/package.json
  libs/core/scripts/custom-elements/custom-elements.d.ts
  libs/core/scripts/custom-elements/package.json
  libs/core/scripts/tsconfig.json
  libs/core/stencil.config.ts
  libs/core/tsconfig.json
  libs/react/package.json
  libs/react/rollup.config.mjs
  libs/react/src/components/PdsIcon.tsx
  libs/react/src/components/PdsReactProps.ts
  libs/react/src/components/inner-proxies.ts
  libs/react/src/components/proxies.ts
  libs/react/src/index.ts
  libs/react/tsconfig.json
  package-lock.json
Labels: package: core, package: react

ci: create release workflow (#125)
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/download-archive/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/cd.yml
  .github/workflows/release-packages.yml
  .github/workflows/release.yml
  libs/core/package.json
Labels: package: core

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react

chore: remove bump local step [skip ci]
  .github/workflows/release.yml
Labels: none

feat(table): initial generation and basic markup
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-table/test/pds-table.e2e.ts
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

feat(table): initial scaffolding of row and cols
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-body/pds-table-body.scss
  libs/core/src/components/pds-table/pds-table-body/pds-table-body.tsx
  libs/core/src/components/pds-table/pds-table-body/readme.md
  libs/core/src/components/pds-table/pds-table-body/test/pds-table-body.e2e.ts
  libs/core/src/components/pds-table/pds-table-body/test/pds-table-body.spec.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.e2e.ts
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.e2e.ts
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
Labels: package: core

test(table): add spec test for cell
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
Labels: package: core

feat(table): add selectable table & checkbox scaffold
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-table/pds-table-checkbox-cell/pds-table-checkbox-cell.scss
  libs/core/src/components/pds-table/pds-table-checkbox-cell/pds-table-checkbox-cell.tsx
  libs/core/src/components/pds-table/pds-table-checkbox-cell/readme.md
  libs/core/src/components/pds-table/pds-table-checkbox-cell/test/pds-table-checkbox-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-checkbox-cell/test/pds-table-checkbox-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core

docs(table): added initial docs related to sorting
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

feat(table): adds compact prop and styling
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-checkbox-cell/pds-table-checkbox-cell.scss
  libs/core/src/components/pds-table/pds-table-checkbox-cell/pds-table-checkbox-cell.tsx
  libs/core/src/components/pds-table/pds-table-checkbox-cell/test/pds-table-checkbox-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

test(table): add spec tests for head cell
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
