Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

fix(checkbox): adjust disabled css
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

docs(checkbox): reword prop description
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

refactor(checkbox): update css vars based on review
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

docs(checkbox): fix message docs example
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.stories.js
Labels: package: core

refactor(checkbox): adjust naming and variable for border styles
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

fix(checkbox): fix css variable name typo
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

refactor(checkbox): remove wrapper div
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

docs(checkbox): update boolean prop descriptions
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

chore(checkbox): remove unused css
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

style(checkbox): file formatting based on review
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

docs(checkbox): update prop descriptions hat-tip @ju-Skinner
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

test(divider): add additional tests and increase coverage
  libs/core/src/components/sage-divider/test/sage-divider.e2e.ts
  libs/core/src/components/sage-divider/test/sage-divider.spec.tsx
Labels: package: core

refactor(divider): update css vars based on review
  libs/core/src/components/sage-divider/sage-divider.scss
Labels: package: core

fix(divider): separate vertical styles
  libs/core/src/components/sage-divider/sage-divider.scss
Labels: package: core

refactor(divider): styling clean up and className refactor
  libs/core/src/components/sage-divider/readme.md
  libs/core/src/components/sage-divider/sage-divider.scss
  libs/core/src/components/sage-divider/sage-divider.tsx
Labels: package: core

docs(divider): added additional documentation for clarity
  libs/core/src/components.d.ts
  libs/core/src/components/sage-divider/readme.md
  libs/core/src/components/sage-divider/sage-divider.scss
  libs/core/src/components/sage-divider/sage-divider.tsx
  libs/core/src/components/sage-divider/stories/sage-divider.docs.stories.mdx
Labels: package: core

feat(divider): initial component generation
  libs/core/src/components.d.ts
  libs/core/src/components/sage-divider/readme.md
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

fix(divider): correct a typo
  libs/core/src/components/sage-divider/stories/sage-divider.docs.stories.mdx
Labels: package: core

docs(divider): added vertical offset sentence
  libs/core/src/components/sage-divider/stories/sage-divider.docs.stories.mdx
Labels: package: core

docs(divider): add story files
  libs/core/src/components/sage-divider/stories/sage-divider.docs.stories.mdx
  libs/core/src/components/sage-divider/stories/sage-divider.stories.js
Labels: package: core

feat(divider): add divider component and styles
  libs/core/src/components/sage-divider/sage-divider.scss
  libs/core/src/components/sage-divider/sage-divider.tsx
Labels: package: core

fix(divider): refactor css each based on review
  libs/core/src/components/sage-divider/sage-divider.scss
Labels: package: core

refactor(divider): update css vars based on review
  libs/core/src/components/sage-divider/sage-divider.scss
Labels: package: core

test(divider): add initial test files
  libs/core/src/components/sage-divider/test/sage-divider.e2e.ts
  libs/core/src/components/sage-divider/test/sage-divider.spec.tsx
Labels: package: core

docs(divider): added vertical note and updated offset
  libs/core/src/components/sage-divider/stories/sage-divider.docs.stories.mdx
Labels: package: core

ci(nightly-build): improve the nightly build process
  .github/workflows/actions/figma-icon-export/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/nightly.yml
  .github/workflows/release-icons.yml
  .scripts/determine-bump-type.js
  libs/icons/package.json
Labels: package: icons

docs(icon-readme): clean up readme.md file
  libs/icons/readme.md
Labels: package: icons

docs(storybook): add usage table)
  libs/core/src/components/sage-button/stories/sage-button.docs.stories.mdx
  libs/core/src/global/styles/_docs.scss
  libs/core/src/global/styles/app.scss
Labels: package: core

chore(tooltip): added initial tooltip files and demo
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.mdx
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.ts
Labels: package: core

refactor(tooltip): add prop to detect slot content and update demos and update docs
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.mdx
  libs/core/src/utils/overlay.ts
  libs/core/src/utils/types.ts
Labels: package: core

refactor(tooltip): remove floating ui, update spec, and start positioning
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.ts
Labels: package: core

chore(tooltip): added css
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
Labels: package: core

refactor(tooltip): update focus events updated demos and tests
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/core/src/utils/overlay.ts
Labels: package: core

chore(tooltip): added unit tests
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.ts
Labels: package: core

chore(tooltip): adding hide and show methods
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
Labels: package: core

chore(tooltip): add floating-ui/dom
  libs/core/package.json
  yarn.lock
Labels: package: core

test(tooltip): removing old code
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
Labels: package: core

refactor(tooltip): working through getting test coverage numbers up
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/test/__snapshots__/sage-tooltip.spec.tsx.snap
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/core/src/utils/overlay.spec.ts
  libs/core/src/utils/overlay.ts
Labels: package: core

docs(tooltip): update to demos and docs copy
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.mdx
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.ts
Labels: package: core

refactor(tooltip): adding disabled props and working with events
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
