Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*

docs(button): update to show only one button story and example instances of instead
  libs/core/src/components/sage-button/stories/sage-button.stories.mdx
Labels: package: core

docs(button): update button story name/url
  libs/core/src/components/sage-button/stories/sage-button.stories.mdx
Labels: package: core

docs(button): update storybook to show a story for each button variant
  libs/core/src/components/sage-button/stories/sage-button.stories.mdx
Labels: package: core

chore(docs): modify the stories structure to separate code from mdx documentation
  libs/core/src/components/sage-button/stories/sage-button.stories.js
  libs/core/src/components/sage-button/stories/sage-button.stories.mdx
Labels: package: core

chore(storybook): change blob to use `docs.stories.mdx`
  libs/core/.storybook/main.js
  libs/core/src/components/sage-button/stories/sage-button.docs.stories.mdx
Labels: package: core

feat(tabs): add initial setup for tabs, states, and onclick behavior
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.scss
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.mdx
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(doc-site): setup to have doc-site recognized by nx
  nx.json
  package.json
  yarn.lock
Labels: none

chore(doc-site): initial astro install
  apps/.gitkeep
  apps/doc-site/.gitignore
  apps/doc-site/README.md
  apps/doc-site/astro.config.mjs
  apps/doc-site/package.json
  apps/doc-site/public/favicon.svg
  apps/doc-site/src/components/Card.astro
  apps/doc-site/src/env.d.ts
  apps/doc-site/src/layouts/Layout.astro
  apps/doc-site/src/pages/index.astro
  apps/doc-site/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: none

chore(input): trying to add @sage/core to the monorepo
  apps/doc-site/package.json
  apps/doc-site/src/layouts/Layout.astro
  apps/doc-site/src/pages/components/input/index.astro
  libs/core/src/components/sage-button/stories/sage-button.docs.mdx
  libs/core/src/components/sage-button/stories/sage-button.stories.js
  libs/core/src/components/sage-input/stories/sage-input.stories.mdx
Labels: package: core

chore(input): add assets and link them
  libs/core/.storybook/main.js
  libs/core/.storybook/preview-head.html
  libs/core/assets/images/input-anatomy.jpg
  libs/core/assets/styles/storybook.css
Labels: package: core

chore(input): add and sort pages
  libs/core/.storybook/preview.js
  libs/core/src/components/sage-input/stories/sage-input.stories.mdx
  libs/core/src/pages/Colors.stories.mdx
  libs/core/src/pages/Principles.stories.mdx
  libs/core/src/pages/Support.stories.mdx
  libs/core/src/pages/Typography.stories.mdx
  libs/core/src/pages/Welcome.stories.mdx
Labels: package: core

chore(storybook): add theme support and theme
  libs/core/.storybook/SageTheme.js
  libs/core/.storybook/manager.js
Labels: package: core

chore(storybook): add favicons
  libs/core/.storybook/manager-head.html
Labels: package: core

chore(storybook): added additional pages
  libs/core/.storybook/preview.js
  libs/core/assets/images/favicon-32x32.png
  libs/core/assets/images/favicon.ico
  libs/core/src/pages/Contributing.stories.mdx
  libs/core/src/pages/Support.stories.mdx
Labels: package: core

chore(storybook): change dir name to documentation
  libs/core/src/documentation/Colors.stories.mdx
  libs/core/src/documentation/Contributing.stories.mdx
  libs/core/src/documentation/Principles.stories.mdx
  libs/core/src/documentation/Support.stories.mdx
  libs/core/src/documentation/Typography.stories.mdx
  libs/core/src/documentation/Welcome.stories.mdx
  libs/core/src/pages/Colors.stories.mdx
  libs/core/src/pages/Contributing.stories.mdx
  libs/core/src/pages/Principles.stories.mdx
  libs/core/src/pages/Support.stories.mdx
  libs/core/src/pages/Typography.stories.mdx
Labels: package: core

chore(storybook): separated doc file from mdx to mdx and js
  libs/core/src/components/sage-input/stories/sage-input.stories.js
  libs/core/src/components/sage-input/stories/sage-input.stories.mdx
Labels: package: core

chore(storybook): updates per cam feedback
  libs/core/.storybook/SageTheme.js
  libs/core/assets/images/sage-logo.png
Labels: package: core

chore(storybook): add copy for contribution page
  libs/core/src/documentation/Contributing.stories.mdx
Labels: package: core

chore(storybook): added anatomy table and demo for webcomponents and react code snippets
  libs/core/src/components/sage-input/stories/sage-input.stories.mdx
Labels: package: core

feat(tabs): add tabs, tab, and tabpanel components with logic to swap tabs
  libs/core/.eslintrc.json
  libs/core/example.png
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab-panel/readme.md
  libs/core/src/components/sage-tab-panel/sage-tab-panel.scss
  libs/core/src/components/sage-tab-panel/sage-tab-panel.tsx
  libs/core/src/components/sage-tab-panel/stories/sage-tab-panel.stories.mdx
  libs/core/src/components/sage-tab-panel/test/sage-tab-panel.e2e.ts
  libs/core/src/components/sage-tab-panel/test/sage-tab-panel.spec.tsx
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.scss
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tab/stories/sage-tab.stories.mdx
  libs/core/src/components/sage-tab/test/sage-tab.e2e.ts
  libs/core/src/components/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(tabs): updates to props, addition of keyboard navigation, and general cleanup
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab-panel/readme.md
  libs/core/src/components/sage-tab-panel/sage-tab-panel.tsx
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.mdx
Labels: package: core

chore(storybook): rename documentation to stories and intro beginning work
  libs/core/assets/images/hero-background.svg
  libs/core/assets/styles/storybook.css
  libs/core/src/stories/Colors.stories.mdx
  libs/core/src/stories/Contributing.stories.mdx
  libs/core/src/stories/Intro/Intro.js
  libs/core/src/stories/Intro/Welcome.stories.mdx
  libs/core/src/stories/Intro/index.js
  libs/core/src/stories/Principles.stories.mdx
  libs/core/src/stories/Support.stories.mdx
  libs/core/src/stories/Typography.stories.mdx
Labels: package: core

chore(storybook): update webcomponents to components and update sage-link in sidebar
  libs/core/src/components/sage-button/stories/sage-button.docs.stories.mdx
  libs/core/src/components/sage-icon/sage-icon.stories.mdx
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
  libs/core/src/components/sage-input/stories/sage-input.stories.mdx
  libs/core/src/components/sage-link/stories/sage-link.stories.mdx
Labels: package: core

chore(storybook): update coming soon copy on pages
  libs/core/src/components/my-component/stories/my-component.stories.mdx
  libs/core/src/stories/Colors.stories.mdx
  libs/core/src/stories/Intro/Welcome.stories.mdx
  libs/core/src/stories/Principles.stories.mdx
  libs/core/src/stories/Support.stories.mdx
  libs/core/src/stories/Typography.stories.mdx
Labels: package: core

chore(storybook): self review, clean up css and commented code
  libs/core/.storybook/preview.js
  libs/core/assets/styles/storybook.css
  libs/core/src/stories/Contributing.stories.mdx
  libs/core/src/stories/Intro/Intro.js
Labels: package: core

fix(tests): cleanup test files
  libs/core/src/components/sage-tab-panel/readme.md
  libs/core/src/components/sage-tab-panel/test/sage-tab-panel.spec.tsx
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

chore(storybook): remove scope creep code
  libs/core/assets/images/hero-background.svg
  libs/core/assets/images/input-anatomy.jpg
  libs/core/src/components/sage-input/stories/sage-input.stories.mdx
Labels: package: core

chore(storybook): updates per review
  libs/core/.storybook/SageTheme.js
  libs/core/.storybook/preview-head.html
  libs/core/.storybook/preview.js
  libs/core/assets/styles/storybook.css
  libs/core/src/components/my-component/stories/my-component.stories.mdx
  libs/core/src/stories/Intro/Intro.js
  libs/core/src/stories/Intro/index.js
  libs/core/src/stories/Welcome.stories.mdx
Labels: package: core

chore(storybook): updates per review
  libs/core/.storybook/SageTheme.js
Labels: package: core

chore(storybook): update brand title
  libs/core/.storybook/SageTheme.js
Labels: package: core

chore(lint): fix linting errors for let statements
  libs/icons/scripts/figma-icon-export.ts
Labels: package: icons

refactor(figma-export): refactored to be more synchronous in nature
  libs/icons/package.json
  libs/icons/scripts/figma-icon-export.ts
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
  libs/icons/src/icon-data.json
  yarn.lock
Labels: package: icons

refactor(figma-export): figma-icon-export to build a changelog html file
  libs/icons/figma-icon-config.json
  libs/icons/scripts/figma_icons/changelog-template.html
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
Labels: package: icons

refactor(figma-export): cleanup tsdoc comments
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

feat(figma-export): add and commit the icon related files using SimpleGit
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

chore(storybook): removed internal copy and update brand url
  libs/core/src/stories/Contributing.stories.mdx
Labels: package: core

fix(tabs): add styles, parent logic, variant logic, and stories for each tab variant
  libs/core/.stylelintrc.json
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab-panel/readme.md
  libs/core/src/components/sage-tab-panel/sage-tab-panel.scss
  libs/core/src/components/sage-tab-panel/sage-tab-panel.tsx
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.scss
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.scss
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.mdx
Labels: package: core

fix(tabs/errors): cleanup eslint errors and warnings, add new line to eslilnt config, tab styles
  libs/core/.eslintrc.json
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab-panel/sage-tab-panel.tsx
  libs/core/src/components/sage-tab/sage-tab.scss
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.mdx
Labels: package: core

fix(tabs documentation): add documentation for tabs component
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.mdx
Labels: package: core

fix(sage-tabpanel): update naming of to to align with namingof aria role
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab-panel/test/sage-tab-panel.spec.tsx
  libs/core/src/components/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabpanel/sage-tabpanel.scss
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.stories.mdx
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.e2e.ts
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.mdx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react
