Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

docs(radio): adjust prop descriptions
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

fix(radio): fix incorrect class name
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

fix(radio): update prop values and add defaultValue
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

test(radio): add spec tests excluding events
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

feat(radio): add change event
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

test(radio): add additional tests
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

refactor(radio): add aria helpers
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

docs(radio): rephrase group explanation
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
Labels: package: core

docs(radio): add group section to stories
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
Labels: package: core

test(radio): update tests after changing to scoped
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

feat(select): create select scaffold with initial props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.css
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.docs.stories.mdx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(select): add events to files and demo
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

refactor(checkbox): change prop naming, functions, and compoent-ids
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.e2e.ts
Labels: package: core

ci: with Lerna 7, lerna bootstrap, lerna add, and lerna link have been removed
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/release.yml
  package.json
Labels: none

chore: upgrade lerna to v7
  package.json
  yarn.lock
Labels: none

chore: remove mdx extension from '*.stories.' regex
  libs/core/.storybook/main.js
Labels: package: core

refactor(input): add utility functions to input and update docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/utils/utils.ts
Labels: package: core

refactor(switch): add aria function to switch
  libs/core/src/components/pds-switch/pds-switch.tsx
Labels: package: core

test(textarea): update spec ids and resolve broken test
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

test(input): add invalid test
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

refactor(form-elements): change inputId to componentId
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

refactor(form-elements): implement utility function to all form elements
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.stories.mdx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/utils.ts
Labels: package: core

test(checkbox): remove comments and update aria and ids in tests
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

test(switch): resolve broken test
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: package: core

test(input): change Error to Invalid
  libs/core/src/components/pds-input/stories/pds-input.docs.stories.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

docs(input): add component-id to examples
  libs/core/src/components/pds-input/stories/pds-input.docs.stories.mdx
Labels: package: core

refactor(form-elements): made componentId required
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: package: core

refactor(form): move test files location
  libs/core/src/utils/test/form.spec.ts
  libs/core/src/utils/test/overlay.spec.ts
Labels: package: core

refactor(form): move form utility location and update description
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/form.spec.ts
  libs/core/src/utils/form.ts
  libs/core/src/utils/utils.spec.ts
  libs/core/src/utils/utils.ts
Labels: package: core

fix(docs): update story file names
  libs/core/src/components/pds-chip/stories/pds-chip.docs.stories.mdx
  libs/core/src/stories/colors.docs.stories.mdx
  libs/core/src/stories/contributing.docs.stories.mdx
  libs/core/src/stories/principles.docs.stories.mdx
  libs/core/src/stories/support.docs.stories.mdx
  libs/core/src/stories/typography.docs.stories.mdx
  libs/core/src/stories/welcome.docs.stories.mdx
Labels: package: core

docs(radio): rephrase group explanation
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
Labels: package: core

feat(radio): initial generation + story files
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(radio): initial markup and story file creation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
Labels: package: core

test(radio): fix test due to markup changes
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

docs(radio): adjust prop descriptions
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

fix(radio): update prop values and add defaultValue
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

docs(radio): add group section to stories
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
Labels: package: core

feat(radio): add change event
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

refactor(radio): add aria helpers
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

test(radio): add additional tests
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
