Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

docs: add radio-group technical notes to radio docs
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
Labels: package: core

test: update radio tests for group integration
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

fix: update disabled state styling for radio labels, messages, and variants
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

chore: add radio-group to React proxies
  libs/react/src/components/proxies.ts
Labels: package: react

feat(radio-group): rename label prop to group-label
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/readme.md
  libs/core/src/components/pds-radio-group/stories/pds-radio-group.stories.js
  libs/core/src/components/pds-radio-group/test/pds-radio-group.e2e.ts
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

docs(radio): use correct groupLabel prop name in documentation
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
Labels: package: core

fix(radio): ensure helper messages display in radio groups
  libs/core/src/components/pds-radio-group/docs/pds-radio-group.mdx
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
Labels: package: core

fix(pds-radio-group): use correct selectors for scoped components in E2E tests
  libs/core/src/components/pds-radio-group/test/pds-radio-group.e2e.ts
Labels: package: core

fix(pds-radio): remove unsupported indeterminate property from stories
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
Labels: package: core

test(pds-radio-group): use jest.spyOn for event testing
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

feat(pds-radio-group): add deterministic ID generation and name prop validation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/readme.md
Labels: package: core

refactor(radio-group): use crypto.randomUUID for IDs and scope change listener to host
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
Labels: package: core

test(pds-radio-group): enhance event testing with improved assertions and cleanup
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

fix(pds-radio-group): add fallback for unique ID generation
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
Labels: package: core

fix(pds-radio-group): add aria-describedby attribute and helper methods for accessibility
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

fix(pds-radio-group): implement stable group ID generation
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
Labels: package: core

fix(pds-radio-group): remove name attribute from child radios when name prop is empty
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

style(pds-radio): add responsive full-width support for small screens
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

docs(storybook): add changelog page with auto-sync from root
  .gitignore
  libs/core/.storybook/main.js
  libs/core/src/stories/_helpers/ChangelogLoader.tsx
  libs/core/src/stories/_helpers/ChangelogRenderer.tsx
  libs/core/src/stories/_helpers/index.ts
  libs/core/src/stories/resources/changelogs.docs.mdx
  libs/core/src/stories/tsconfig.json
  libs/core/tsconfig.json
Labels: package: core

fix(storybook): create static dir before config validation
  libs/core/.storybook/main.js
Labels: package: core

fix(storybook): correct changelog path
  libs/core/.storybook/main.js
Labels: package: core

fix(storybook): add paths alias, AbortController, remove debug log
  libs/core/src/stories/_helpers/ChangelogLoader.tsx
  libs/core/src/stories/tsconfig.json
Labels: package: core

style(storybook): update link styles for better visibility in changelog
  libs/core/src/stories/_helpers/ChangelogRenderer.tsx
Labels: package: core

fix(storybook): use pine-core ESM bundle to fix HMR reload errors
  libs/core/.storybook/main.js
  libs/core/.storybook/preview.js
Labels: package: core

fix(storybook): use pine-core ESM bundle to fix HMR reload errors (#605)
  libs/core/.storybook/main.js
  libs/core/.storybook/preview.js
Labels: package: core

fix: update semantic tokens in SCSS files
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

fix: update table background color
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

fix: updates to semantic token values
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

fix: update to use storybook addon themes
  libs/core/.storybook/PineTheme.js
  libs/core/.storybook/preview-body.html
  libs/core/.storybook/preview-head.html
Labels: package: core

fix: update semantic tokens
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-modal/pds-modal-content/pds-modal-content.scss
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
Labels: package: core

feat: add storybook theme switcher support for light/dark modes
  libs/core/.storybook/main.js
  libs/core/.storybook/preview.js
  libs/core/package.json
Labels: package: core

fix: add light mode dark mode toggle
  libs/core/.storybook/main.js
  libs/core/.storybook/preview-head.html
  libs/core/.storybook/preview.js
  libs/core/package.json
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docCanvas/docCanvas.css
  package-lock.json
Labels: package: core, package: doc-componenets

feat: add pds-radio-group component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio-group/docs/pds-radio-group.mdx
  libs/core/src/components/pds-radio-group/pds-radio-group.scss
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/radio-group-interface.ts
  libs/core/src/components/pds-radio-group/readme.md
  libs/core/src/components/pds-radio-group/stories/pds-radio-group.stories.js
  libs/core/src/components/pds-radio-group/test/pds-radio-group.e2e.ts
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

fix: style invalid bordered radios in groups
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

fix: suppress pds-radio events when inside radio-group
  libs/core/src/components/pds-radio/pds-radio.tsx
Labels: package: core

test: update radio tests for group integration
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

docs: add radio-group technical notes to radio docs
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
Labels: package: core

fix: update disabled state styling for radio labels, messages, and variants
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

chore: add radio-group to React proxies
  libs/react/src/components/proxies.ts
Labels: package: react

fix(radio): ensure helper messages display in radio groups
  libs/core/src/components/pds-radio-group/docs/pds-radio-group.mdx
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
