Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

feat(radio-group): rename label prop to group-label
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/readme.md
  libs/core/src/components/pds-radio-group/stories/pds-radio-group.stories.js
  libs/core/src/components/pds-radio-group/test/pds-radio-group.e2e.ts
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

fix(pds-radio): remove unsupported indeterminate property from stories
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
Labels: package: core

docs(radio): use correct groupLabel prop name in documentation
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
Labels: package: core

fix(pds-radio-group): use correct selectors for scoped components in E2E tests
  libs/core/src/components/pds-radio-group/test/pds-radio-group.e2e.ts
Labels: package: core

feat(pds-radio-group): add deterministic ID generation and name prop validation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/readme.md
Labels: package: core

test(pds-radio-group): use jest.spyOn for event testing
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

test(pds-radio-group): enhance event testing with improved assertions and cleanup
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

refactor(radio-group): use crypto.randomUUID for IDs and scope change listener to host
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
Labels: package: core

fix(pds-radio-group): add fallback for unique ID generation
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
Labels: package: core

fix(pds-radio-group): implement stable group ID generation
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
Labels: package: core

fix(pds-radio-group): add aria-describedby attribute and helper methods for accessibility
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

style(pds-radio): add responsive full-width support for small screens
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

fix(pds-radio-group): remove name attribute from child radios when name prop is empty
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

chore: remove unnecessary comments
  libs/core/.storybook/PineTheme.js
Labels: package: core

fix(pds-radio-group): adjust component styles based on design feedback
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio-group/docs/pds-radio-group.mdx
  libs/core/src/components/pds-radio-group/pds-radio-group.scss
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/readme.md
  libs/core/src/components/pds-radio-group/stories/pds-radio-group.stories.js
Labels: package: core

docs(storybook): update changelog page with actual list from changelog.md (#604)
  .gitignore
  libs/core/.storybook/main.js
  libs/core/src/stories/_helpers/ChangelogLoader.tsx
  libs/core/src/stories/_helpers/ChangelogRenderer.tsx
  libs/core/src/stories/_helpers/index.ts
  libs/core/src/stories/resources/changelogs.docs.mdx
  libs/core/src/stories/tsconfig.json
  libs/core/tsconfig.json
Labels: package: core

fix: remove hardcoded colors and Add useEffect and dependency tracking
  libs/core/.storybook/preview-head.html
  libs/core/.storybook/preview.js
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docCanvas/docCanvas.css
  package-lock.json
Labels: package: core, package: doc-componenets

fix: update tokens to align with most recent
  libs/core/.storybook/preview-head.html
  libs/doc-components/src/components/docCanvas/docCanvas.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
Labels: package: core, package: doc-componenets

feat(pds-radio-group) add pds-radio-group to system (#601)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio-group/docs/pds-radio-group.mdx
  libs/core/src/components/pds-radio-group/pds-radio-group.scss
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/radio-group-interface.ts
  libs/core/src/components/pds-radio-group/readme.md
  libs/core/src/components/pds-radio-group/stories/pds-radio-group.stories.js
  libs/core/src/components/pds-radio-group/test/pds-radio-group.e2e.ts
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

fix: clean up primary vs brand tokens
  libs/core/.storybook/preview-head.html
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
Labels: package: core

fix: update kj styles to v1.0.1
  libs/core/.storybook/preview-head.html
  package-lock.json
Labels: package: core

fix: add borders and color cleanup
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
Labels: package: core

fix: update to latest tokens
  package-lock.json
Labels: none

fix: update semantic to core tokens and add borders
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

fix: update alert link color
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
Labels: package: core

fix: update dark mode error background color
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

fix: update color to white
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

Remove CodeQL workflow - migrating to Aikido for SAST scanning
  .github/workflows/codeql.yml
Labels: none

Remove dependency-review workflow - migrating to Aikido
  .github/workflows/dependency-review.yml
Labels: none

fix: update to kajabi-ui styles to 1.0.3-dev.0
  package-lock.json
  package.json
Labels: none

fix: update to ds tokens 1.0.3
  package-lock.json
  package.json
Labels: none

fix: update to kajabi-ui styles to 1.0.3 (#610)
  package-lock.json
  package.json
Labels: none

fix: update box spacing values
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style(pds-input): update dark theme selector
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style(docCanvas): refine dark theme selectors
  libs/doc-components/src/components/docCanvas/docCanvas.css
Labels: package: doc-componenets

style(docTokenTable): restore dark theme background color for table rows
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
Labels: package: doc-componenets

fix: update box spacing values (#611)
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style(pds-button): adjust tertiary hover styles
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

style: address transform minification warnings (#612)
  libs/core/src/components/pds-input/pds-input.scss
  libs/doc-components/src/components/docCanvas/docCanvas.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
Labels: package: core, package: doc-componenets

feat: add custom data generator for autocomplete in vscode-html-language-server
  .gitignore
  libs/core/scripts/vscode-custom-data-generator.ts
  libs/core/stencil.config.ts
Labels: package: core
