Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

fix(pds-box): ignore sync echo in semantic ARIA observer
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

chore: add DESIGN.md design-identity spec with generated token block and drift check
  .github/workflows/actions/test-lint/action.yml
  DESIGN.md
  lefthook.yml
  package.json
  scripts/generate-design-md.mjs
Labels: none

chore: pin @kajabi-ui/styles to ^1.4.0 in published packages
  libs/core/package.json
  libs/react/package.json
Labels: package: core, package: react

chore: pin @pine-ds/icons to ^10.0.0 in published packages
  libs/core/package.json
  libs/react/package.json
Labels: package: core, package: react

chore: constrain token file reads and guard deref against prototype keys
  scripts/generate-design-md.mjs
Labels: none

docs: add versioning and deprecation policy
  CONTRIBUTING.md
  VERSIONING.md
Labels: none

fix(pds-button): namespace internal color custom properties to prevent ancestor leakage
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix(pds-text): warn on invalid size prop values
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
Labels: package: core

refactor(pds-text): harden size validation and derive type from shared list
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/types.ts
Labels: package: core

fix: normalize font_size keys and CRLF-agnostic design.tokens check
  DESIGN.md
  scripts/generate-design-md.mjs
Labels: none

docs: add ADRs for React wrappers, slots-vs-props, distribution, and runtime deps
  docs/adr/0006-react-wrappers-via-output-target.md
  docs/adr/0007-slots-for-content-props-for-config.md
  docs/adr/0008-cdn-and-npm-distribution.md
  docs/adr/0009-vetted-runtime-dependencies.md
  docs/adr/README.md
Labels: none

chore: add DESIGN.md design-identity spec with generated token block and drift check (#768)
  .github/workflows/actions/test-lint/action.yml
  DESIGN.md
  lefthook.yml
  package.json
  scripts/generate-design-md.mjs
Labels: none

docs: add versioning and deprecation policy (#772)
  CONTRIBUTING.md
  VERSIONING.md
Labels: none

fix(pds-text): warn on invalid size prop values (#774)
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/types.ts
Labels: package: core

docs: add ADRs for React wrappers, slots-vs-props, distribution, and runtime deps (#775)
  docs/adr/0006-react-wrappers-via-output-target.md
  docs/adr/0007-slots-for-content-props-for-config.md
  docs/adr/0008-cdn-and-npm-distribution.md
  docs/adr/0009-vetted-runtime-dependencies.md
  docs/adr/README.md
Labels: none

chore: fix global CODEOWNERS pattern and route to current maintainers
  .github/CODEOWNERS
Labels: none

Add margin-block-end to pds-textarea label wrapper
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

style: remove positive letter spacing from Inter headings
  libs/core/src/global/styles/_letter-spacing.scss
  libs/core/src/global/styles/app.scss
Labels: package: core

docs(pds-text): clarify letter-spacing override comments
  libs/core/src/global/styles/_letter-spacing.scss
Labels: package: core

docs(mcp-patterns): update empty-state-pine to bordered icon square with stacked actions
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(mcp-patterns): shrink empty-state icon square to 48x48
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(mcp-patterns): use less-rounded corners on empty-state icon square
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(mcp-patterns): revert empty-state icon square to md corner radius
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(mcp-patterns): use neutral-gray fill and remove border on empty-state icon square
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(mcp-patterns): use darker background-inset fill on empty-state icon square
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(mcp-patterns): sync empty-state description with neutral-gray badge
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

fix(mcp-patterns): keep empty-state badge square with flex=none in tall panels
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

chore(release): release 3.27.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: route CODEOWNERS to @Kajabi/dss-devs team instead of individuals
  .github/CODEOWNERS
Labels: none

chore: fix global CODEOWNERS pattern and route to current maintainers (#776)
  .github/CODEOWNERS
Labels: none

docs(mcp-patterns): use secondary variant for empty-state Learn more button
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

feat(i18n): add PineI18n localization pass-through across pilot components
  libs/core/lint-rules/i18n-audit.cjs
  libs/core/lint-rules/no-hardcoded-a11y-string.cjs
  libs/core/lint-rules/no-hardcoded-a11y-string.test.cjs
  libs/core/lint-rules/no-hardcoded-ui-string-in-logic.cjs
  libs/core/lint-rules/no-hardcoded-ui-string-in-logic.test.cjs
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/readme.md
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
  libs/core/src/i18n/defaults.ts
  libs/core/src/i18n/index.ts
  libs/core/src/i18n/pine-i18n.ts
  libs/core/src/i18n/test/pine-i18n.spec.ts
Labels: package: core

refactor(i18n): switch to prop-based pass-through, drop the registry
  libs/core/lint-rules/no-hardcoded-a11y-string.cjs
  libs/core/lint-rules/no-hardcoded-a11y-string.test.cjs
  libs/core/lint-rules/no-hardcoded-ui-string-in-logic.cjs
  libs/core/lint-rules/no-hardcoded-ui-string-in-logic.test.cjs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/readme.md
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
  libs/core/src/i18n/defaults.ts
  libs/core/src/i18n/i18n-format.ts
  libs/core/src/i18n/index.ts
  libs/core/src/i18n/pine-i18n.ts
  libs/core/src/i18n/test/i18n-format.spec.ts
  libs/core/src/i18n/test/pine-i18n.spec.ts
Labels: package: core

feat(multiselect): full CLDR plural forms for selected-count label
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/core/src/i18n/i18n-format.ts
  libs/core/src/i18n/test/i18n-format.spec.ts
Labels: package: core

feat(pds-multiselect): localize remaining strings, add chip dismissLabel, sharpen audit rule
  libs/core/lint-rules/i18n-audit.cjs
  libs/core/lint-rules/no-hardcoded-a11y-string.cjs
  libs/core/lint-rules/no-hardcoded-a11y-string.test.cjs
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/core/src/i18n/i18n-format.ts
Labels: package: core

fix(i18n): skip empty-string plural forms so pluralize never returns blank
  libs/core/src/i18n/i18n-format.ts
  libs/core/src/i18n/test/i18n-format.spec.ts
Labels: package: core

feat(i18n): prop-based localization pass-through (pilot) (#786)
  libs/core/lint-rules/i18n-audit.cjs
  libs/core/lint-rules/no-hardcoded-a11y-string.cjs
  libs/core/lint-rules/no-hardcoded-a11y-string.test.cjs
  libs/core/lint-rules/no-hardcoded-ui-string-in-logic.cjs
  libs/core/lint-rules/no-hardcoded-ui-string-in-logic.test.cjs
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/readme.md
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
  libs/core/src/i18n/i18n-format.ts
  libs/core/src/i18n/index.ts
  libs/core/src/i18n/test/i18n-format.spec.ts
Labels: package: core

chore(release): release 3.28.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: revert dependabot manifest changes (lockfile-only update)
  libs/core/package.json
  libs/react/package.json
Labels: package: core, package: react

fix(mcp-patterns): use valid file icon in empty-state recipe
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
