Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

docs(pds-modal): fix heading parse, clarify Escape behavior, auto-remove demo overlay
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
Labels: package: core

feat(pds-modal): add disableTopLayer to opt out of the browser top layer (#802)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
Labels: package: core

chore(release): release 3.30.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style(form): move form control icons below the raised z-index step
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

test(form): assert form control icons stack below the raised z-index step
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
Labels: package: core

feat(pds-combobox): add clear method to reset the selected value
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
Labels: package: core

test(pds-combobox): cover clear method state and form value reset
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

docs(pds-combobox): document programmatic clear
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
Labels: package: core

test(pds-combobox): assert the input icon stacks below the open listbox
  libs/core/src/components/pds-combobox/test/pds-combobox.e2e.ts
Labels: package: core

test(pds-combobox): unset the spec-test env var when it was absent
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

style(form): move form control icons below the raised z-index step (#803)
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/test/pds-combobox.e2e.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
Labels: package: core

feat(pds-combobox): add clear method to reset the selected value (#804)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-tab): flatten a nested control left by a page-cache restore
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.e2e.ts
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
Labels: package: core

style(pds-tab): trim explanatory comments to one line
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.e2e.ts
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
Labels: package: core

test(pds-tab): verify cleanup survives repeated and same-instance reconnects
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.e2e.ts
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
Labels: package: core

fix(pds-tab): unwrap nested controls in place to avoid losing content
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
Labels: package: core

fix(pds-tab): flatten a nested control left by a page-cache restore (#805)
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.e2e.ts
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
Labels: package: core

chore(release): release 3.31.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-tab): extend the reconnect fix to other light-DOM components
  libs/core/src/components/pds-modal/pds-modal-footer/pds-modal-footer.tsx
  libs/core/src/components/pds-modal/pds-modal-footer/test/pds-modal-footer.spec.tsx
  libs/core/src/components/pds-modal/pds-modal-header/pds-modal-header.tsx
  libs/core/src/components/pds-modal/pds-modal-header/test/pds-modal-header.spec.tsx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/test/pds-tabpanel.spec.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  libs/core/src/utils/reconnected-content.ts
Labels: package: core

fix(pds-tab): fix the same page-cache reconnect bug in sibling light-DOM components
  libs/core/src/components/pds-modal/pds-modal-footer/pds-modal-footer.tsx
  libs/core/src/components/pds-modal/pds-modal-footer/test/pds-modal-footer.spec.tsx
  libs/core/src/components/pds-modal/pds-modal-header/pds-modal-header.tsx
  libs/core/src/components/pds-modal/pds-modal-header/test/pds-modal-header.spec.tsx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/test/pds-tabpanel.spec.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  libs/core/src/utils/reconnected-content.ts
Labels: package: core

fix(pds-tooltip): drain both wrappers recursively and gate cleanup to once per connect
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

fix(pds-radio): fix the same reconnect bug in radio, radio-group, sortable-item and modal-content
  libs/core/src/components/pds-modal/pds-modal-content/pds-modal-content.tsx
  libs/core/src/components/pds-modal/pds-modal-content/test/pds-modal-content.spec.tsx
  libs/core/src/components/pds-modal/pds-modal-footer/test/pds-modal-footer.spec.tsx
  libs/core/src/components/pds-modal/pds-modal-header/test/pds-modal-header.spec.tsx
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/test/pds-sortable.spec.tsx
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/test/pds-tabpanel.spec.tsx
  libs/core/src/utils/test/reconnect-safety.ts
Labels: package: core

test: add direct util coverage, pds-modal doubly-nested and pds-tooltip re-render guards
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  libs/core/src/utils/test/reconnected-content.spec.ts
Labels: package: core

fix(pds-modal): fix page-cache reconnect bug across modal, tabpanel, tooltip, radio and sortable (#806)
  libs/core/src/components/pds-modal/pds-modal-content/pds-modal-content.tsx
  libs/core/src/components/pds-modal/pds-modal-content/test/pds-modal-content.spec.tsx
  libs/core/src/components/pds-modal/pds-modal-footer/pds-modal-footer.tsx
  libs/core/src/components/pds-modal/pds-modal-footer/test/pds-modal-footer.spec.tsx
  libs/core/src/components/pds-modal/pds-modal-header/pds-modal-header.tsx
  libs/core/src/components/pds-modal/pds-modal-header/test/pds-modal-header.spec.tsx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/test/pds-sortable.spec.tsx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/test/pds-tabpanel.spec.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  libs/core/src/utils/reconnected-content.ts
  libs/core/src/utils/test/reconnect-safety.ts
  libs/core/src/utils/test/reconnected-content.spec.ts
Labels: package: core

chore(release): release 3.31.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

ci: publish to npm with trusted publishing (OIDC)
  .github/workflows/actions/setup-node-with-pinned-npm/action.yml
  .github/workflows/schedule-release.yml
  VERSIONING.md
Labels: none

fix(pds-chip): let label shrink below its content width when the host is constrained
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
Labels: package: core

docs(pds-chip): document the host/label contract for truncating a long label
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
Labels: package: core

feat(pds-chip): add maxWidth prop to auto-truncate the slotted label
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

style(pds-chip): trim unnecessary comments per review feedback
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
Labels: package: core

test(pds-chip): cover maxWidth on the default text variant
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
Labels: package: core

fix(pds-text): make truncate actually shrink the host, not just style its inner tag
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
Labels: package: core

feat(pds-app, pds-topbar): scaffold slot-driven shell primitives (proposal for DSS-237/238)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-app/docs/pds-app.mdx
  libs/core/src/components/pds-app/pds-app.scss
  libs/core/src/components/pds-app/pds-app.tsx
  libs/core/src/components/pds-app/readme.md
  libs/core/src/components/pds-app/stories/pds-app.stories.js
  libs/core/src/components/pds-app/test/pds-app.e2e.ts
  libs/core/src/components/pds-app/test/pds-app.spec.tsx
  libs/core/src/components/pds-container/readme.md
  libs/core/src/components/pds-topbar/docs/pds-topbar.mdx
  libs/core/src/components/pds-topbar/pds-topbar.scss
  libs/core/src/components/pds-topbar/pds-topbar.tsx
  libs/core/src/components/pds-topbar/readme.md
  libs/core/src/components/pds-topbar/stories/pds-topbar.stories.js
  libs/core/src/components/pds-topbar/test/pds-topbar.e2e.ts
  libs/core/src/components/pds-topbar/test/pds-topbar.spec.tsx
  libs/core/src/stories/resources/component-status.json
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

style(pds-text): trim truncate comment to one line
  libs/core/src/components/pds-text/pds-text.scss
Labels: package: core

fix(pds-text): make truncate actually shrink the host, not just style its inner tag (#809)
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
Labels: package: core

fix(pds-chip): gate maxWidth truncation and reveal the clipped label
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

fix(pds-chip): re-bind the truncation tooltip when the label remounts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
Labels: package: core

feat(pds-box): add per-side border props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
Labels: package: core

test(pds-box): add coverage for per-side border props
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

docs(pds-box): document per-side border props
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/stories/pds-box.stories.js
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
