Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

style(tokens): newly generated tokens from style dictionary
  libs/core/src/components/pds-avatar/pds-avatar.tokens.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products-dark.semantic.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products-light.semantic.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products.scss
  libs/core/src/global/styles/tokens/index.scss
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

style(token-studio): add line-spacing for headings and new dimension token for 2px
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style(token-studio): update tokens
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/brand/kajabi_products.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
Labels: package: core

style(token-studio): adds color.background.container.hover semantic token
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

style(token-studio): remove border-radius default and none
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style(checkbox): change or remove CSS Custom props to use semantic tokens (#289)
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
Labels: package: core

style(application): add a the brand semantic style sheet for testing
  libs/core/src/global/styles/tokens/index.scss
Labels: package: core

style(token-studio): add fallback for font-families Greet and Inter
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style: changes for brand semantic and modes
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/brand/kajabi_products.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
  libs/core/src/global/styles/tokens/components/avatar.json
  libs/core/src/global/styles/tokens/kajabi_products/light.json
Labels: package: core

style(tokens): cleanup semantic tokens and a few core tokens for dimensions
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
Labels: package: core

style: updates accordion with semantic tokens
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

chore: fixes linting issues
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

style(accordion): update accordion tokens (#292)
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

test: fixed onChange specs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

style(input): update input component to use new semantic tokens
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style(token-studio): update sentiment colors to *-100 colors
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style: updates component with semantic tokens
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

style: updates component with semantic tokens
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

test(pds-select): simplified tests
  libs/core/src/components/pds-select/test/__snapshots__/pds-select.spec.tsx.snap
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

style(loader): change css properties to use semantic tokens
  libs/core/src/components/pds-loader/pds-loader.scss
Labels: package: core

style(progress): change progress css custom props to become semantic tokens
  libs/core/src/components/pds-progress/pds-progress.scss
Labels: package: core

style(tooltip): updates component with semantic tokens
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

Removed unused variables
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

style(radio): change radio component to use new semantic tokens
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

style: updates component with semantic tokens (#297)
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

style: updates component with semantic tokens (#298)
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

style(input): update input component to use new semantic tokens (#299)
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style(loader): change css properties to use semantic tokens (#300)
  libs/core/src/components/pds-loader/pds-loader.scss
Labels: package: core

style(box): use semantic tokens in box stylesheet
  libs/core/src/components/pds-row/pds-row.scss
Labels: package: core

style(sortable): change tokens to use semantic tokens
  libs/core/src/components/pds-sortable/pds-sortable.scss
Labels: package: core

style(tabs): updates component with semantci tokens
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core

test(pds-select): fixed another test for the pds-selct component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

test(pds-select): fixed specs for 100 coverage ATM
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

style(progress): change progress css custom props to become semantic tokens (#301)
  libs/core/src/components/pds-progress/pds-progress.scss
Labels: package: core

style(tooltip): updates component with semantic tokens (#302)
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

style(radio): change radio component to use new semantic tokens (#303)
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

style: updates filter background token
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core

chore(hooks): replace git hooks husky tool with lefthook
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .scripts/prepare.js
  lefthook.yml
  package-lock.json
  package.json
Labels: none

style(switch): updates component with semantic tokens
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: package: core

style(tabs): updates component with semantic tokens (#306)
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core
