Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

docs(sage-icon): add documentation and examples for color attribute
  libs/core/src/components/sage-icon/stories/sage-icon.docs.stories.mdx
Labels: package: core

feat(sage-icon): add color prop to allow more customization
  libs/icons/src/components.d.ts
  libs/icons/src/components/sage-icon/readme.md
  libs/icons/src/components/sage-icon/sage-icon.scss
  libs/icons/src/components/sage-icon/sage-icon.tsx
  libs/icons/src/components/sage-icon/test/sage-icon.spec.ts
Labels: package: icons

fix(chip): copy and styling updates based on review
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
Labels: package: core

docs(chip): add @defaultValue based on review
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/sage-chip.tsx
Labels: package: core

feat(select): create select scaffold with initial props
  libs/core/src/components.d.ts
  libs/core/src/components/sage-select/readme.md
  libs/core/src/components/sage-select/sage-select.css
  libs/core/src/components/sage-select/sage-select.tsx
  libs/core/src/components/sage-select/stories/sage-select.docs.stories.mdx
  libs/core/src/components/sage-select/stories/sage-select.stories.js
  libs/core/src/components/sage-select/test/sage-select.e2e.ts
  libs/core/src/components/sage-select/test/sage-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(figma-export): update process to persist optimized versions of SVGs
  .gitignore
  libs/icons/figma-icon-config.json
  libs/icons/package.json
  libs/icons/scripts/collection-copy.ts
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
  libs/icons/scripts/helpers.ts
  libs/icons/scripts/optimizeSvg.ts
  yarn.lock
Labels: package: icons

refactor(figma-export): update process to add changelog links to default index.html file
  libs/icons/.gitignore
  libs/icons/changelogs/2023-05-23-changelog.html
  libs/icons/scripts/collection-copy.ts
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/optimizeSvg.ts
  libs/icons/src/index-template.html
  libs/icons/stencil.config.ts
Labels: package: icons

refactor(ci-build): don't run optimization of SVG files when running build
  libs/icons/package.json
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/helpers.ts
  libs/icons/scripts/optimize-svgs.ts
Labels: package: icons

refactor(figma-export): change FigmaIconConfig to say downloadPath vs outputPath
  libs/icons/figma-icon-config.json
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
Labels: package: icons

fix: changing back to Sage for the time being
  catalog-info.yaml
Labels: none

fix: updating to sage
  libs/core/catalog-info.yaml
  libs/icons/catalog-info.yaml
  libs/react/catalog-info.yaml
Labels: package: core, package: react, package: icons

fix: updating pine references
  libs/core/catalog-info.yaml
  libs/icons/catalog-info.yaml
  libs/react/catalog-info.yaml
Labels: package: core, package: react, package: icons

fix: adding new prefix to prevent conflicts with current sage
  libs/icons/catalog-info.yaml
  libs/react/catalog-info.yaml
Labels: package: react, package: icons

fix: tag updates
  catalog-info.yaml
  libs/core/catalog-info.yaml
  libs/icons/catalog-info.yaml
  libs/react/catalog-info.yaml
Labels: package: core, package: react, package: icons

docs(tokens): updates sage to green
  libs/core/tokens/tokens.json
Labels: package: core

chore: rename @sage org to @pine-ds
  .github/workflows/release-icons.yml
  .github/workflows/release.yml
  libs/core/.storybook/preview-head.html
  libs/core/package.json
  libs/core/src/global/sage-ui-global.ts
  libs/core/src/index.ts
  libs/core/src/interface.d.ts
  libs/core/stencil.config.ts
  libs/icons/package.json
  libs/icons/scripts/collection-copy.ts
  libs/icons/scripts/optimize-svgs.ts
  libs/react/package.json
  libs/react/src/components/proxies.ts
  nx.json
  tsconfig.json
Labels: package: core, package: react, package: icons

chore: move stylelint files to root to share between all library projects
  libs/.stylelintignore
  libs/.stylelintrc.json
  libs/core/.eslintignore
  libs/icons/.eslintignore
Labels: package: core, package: icons

chore(github-workflows): rename references from Sage to Pine
  .github/pull_request_template.md
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: none

chore: rename all things sage-icon to pds-icon
  libs/core/src/components/pds-icon/stories/pds-icon.docs.stories.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
  libs/core/src/interface.d.ts
  libs/icons/package.json
  libs/icons/readme.md
  libs/icons/scripts/cheatsheet-template.html
  libs/icons/scripts/collection-copy.ts
  libs/icons/scripts/helpers.ts
  libs/icons/scripts/optimize-svgs.ts
  libs/icons/scripts/readme.md
  libs/icons/src/components.d.ts
  libs/icons/src/components/pds-icon/pds-icon.scss
  libs/icons/src/components/pds-icon/pds-icon.tsx
  libs/icons/src/components/pds-icon/readme.md
  libs/icons/src/components/pds-icon/request.ts
  libs/icons/src/components/pds-icon/svg/.gitignore
  libs/icons/src/components/pds-icon/test/pds-icon.e2e.ts
  libs/icons/src/components/pds-icon/test/pds-icon.spec.ts
  libs/icons/src/components/pds-icon/utils.ts
  libs/icons/src/components/pds-icon/validate.ts
  libs/icons/src/components/sage-icon/test/sage-icon.e2e.ts
  libs/icons/src/index-template.html
  libs/icons/src/index.html
  libs/icons/src/index.ts
  libs/icons/stencil.config.ts
  libs/react/src/components/proxies.ts
Labels: package: core, package: react, package: icons

chore(core-storybook): update references from Sage to Pine
  libs/core/.storybook/PineTheme.js
  libs/core/.storybook/manager.js
  libs/core/src/stories/Contributing.stories.mdx
  libs/core/src/stories/Welcome.stories.mdx
Labels: package: core

feat: remove my-component from design system
  libs/core/src/components.d.ts
  libs/core/src/components/my-component/my-component.scss
  libs/core/src/components/my-component/my-component.tsx
  libs/core/src/components/my-component/readme.md
  libs/core/src/components/my-component/test/my-component.e2e.ts
  libs/core/src/components/my-component/test/my-component.spec.ts
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

refactor(card): update and convert properties to use tokens
  libs/core/src/components/sage-card/sage-card.scss
Labels: package: core

fix(card): correct token/variable naming typo
  libs/core/src/components/sage-card/sage-card.scss
Labels: package: core

refactor(card): style refactor
  libs/core/src/components/sage-card/sage-card.scss
Labels: package: core

docs(card): add prop descriptions
  libs/core/src/components.d.ts
  libs/core/src/components/sage-card/readme.md
  libs/core/src/components/sage-card/sage-card.tsx
  libs/core/src/components/sage-card/stories/sage-card.stories.js
Labels: package: core

docs(card): setup initial docs/stories
  libs/core/src/components/sage-card/stories/sage-card.docs.stories.mdx
  libs/core/src/components/sage-card/stories/sage-card.stories.js
Labels: package: core

test(card): add additional spec tests for coverage
  libs/core/src/components/sage-card/test/sage-card.spec.tsx
Labels: package: core

feat(card): add additional props to match updated design
  libs/core/src/components.d.ts
  libs/core/src/components/sage-card/readme.md
  libs/core/src/components/sage-card/sage-card.scss
  libs/core/src/components/sage-card/sage-card.tsx
  libs/core/src/components/sage-card/stories/sage-card.docs.stories.mdx
  libs/core/src/components/sage-card/stories/sage-card.stories.js
  libs/core/src/components/sage-card/test/sage-card.spec.tsx
Labels: package: core

docs(card): adds initial descriptions to Docs
  libs/core/src/components/sage-card/stories/sage-card.docs.stories.mdx
Labels: package: core

refactor(card): update radius to use token
  libs/core/src/components/sage-card/sage-card.scss
Labels: package: core

feat(card): initial generation and base styling
  libs/core/src/components.d.ts
  libs/core/src/components/sage-card/readme.md
  libs/core/src/components/sage-card/sage-card.scss
  libs/core/src/components/sage-card/sage-card.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

test(card): add initial spec and e2e test files
  libs/core/src/components/sage-card/test/sage-card.e2e.ts
  libs/core/src/components/sage-card/test/sage-card.spec.tsx
Labels: package: core

style(card): add white-space
  libs/core/src/components/sage-card/sage-card.tsx
Labels: package: core

docs(card): adjust base template and formatting
  libs/core/src/components/sage-card/stories/sage-card.docs.stories.mdx
  libs/core/src/components/sage-card/stories/sage-card.stories.js
Labels: package: core

refactor(card): move const inline
  libs/core/src/components/sage-card/sage-card.tsx
Labels: package: core

fix(card): remove shadow-none, since not needed
  libs/core/src/components.d.ts
  libs/core/src/components/sage-card/readme.md
  libs/core/src/components/sage-card/sage-card.scss
  libs/core/src/components/sage-card/sage-card.tsx
  libs/core/src/components/sage-card/test/sage-card.spec.tsx
Labels: package: core

test(card): adding some initial e2e test ¯\_(ツ)_/¯
  libs/core/src/components/sage-card/test/sage-card.e2e.ts
Labels: package: core

refactor(card): refactor bg-color to var and function
  libs/core/src/components.d.ts
  libs/core/src/components/sage-card/readme.md
  libs/core/src/components/sage-card/sage-card.scss
  libs/core/src/components/sage-card/sage-card.tsx
  libs/core/src/components/sage-card/stories/sage-card.docs.stories.mdx
  libs/core/src/components/sage-card/test/sage-card.spec.tsx
Labels: package: core

test(card): add initial spec test
  libs/core/src/components/sage-card/test/sage-card.spec.tsx
Labels: package: core

chore(button): rename sage-button to pds-button
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.docs.stories.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/sage-tabs/sage-tab/sage-tab.scss
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
