Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

chore: uncomments line to properly import global token partials
  libs/core/src/global/styles/app.scss
Labels: package: core

chore(pr-template): update PR template to include Design QA requirement
  .github/pull_request_template.md
Labels: none

chore(pr-template): fix awkward grammar and add context to checklist
  .github/pull_request_template.md
Labels: none

fix(figma-export): clean up test svg files from dist folder
  libs/icons/scripts/collection-copy.ts
Labels: package: icons

chore(collection-copy): fix misspelling
  libs/icons/scripts/collection-copy.ts
Labels: package: icons

ci(figma-export): add renamed files to the changelog html file
  libs/icons/scripts/figma_icons/changelog-template.html
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
Labels: package: icons

refactor(tokens): adds function to format shorthand of certain CSS props
  libs/core/scripts/build-tokens.ts
Labels: package: core

chore: formatting and sentence consistency
  libs/core/scripts/build-tokens.ts
Labels: package: core

chore: moves build function call back to end of file
  libs/core/scripts/build-tokens.ts
Labels: package: core

chore: runs build to update tokens
  libs/core/.stylelintignore
  libs/core/src/global/styles/tokens/_border.scss
  libs/core/src/global/styles/tokens/_box-shadow.scss
  libs/core/src/global/styles/tokens/_font-family.scss
Labels: package: core

test(checkbox): minor test adjustments - wip
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

test(checkbox): add spec tests for additional props
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

docs(checkbox): added additional resources section
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
Labels: package: core

docs(checkbox): add desc for checked example
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
Labels: package: core

fix(checkbox): prop and styling cleanup
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

docs(checkbox): correct duplicate id in docs
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
Labels: package: core

fix(checkbox): update error to invalid
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

test(checkbox): add tests for checkbox event
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

fix(checkbox): convert css values to variables
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

fix(checkbox): update event name and tests
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

test(checkbox): add default test files
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

refactor(checkbox): update id to match agreed upon naming
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.stories.js
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

feat(checkbox): initial component generation and markup
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

style(checkbox): file formatting based on review
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

fix(checkbox): prop and styling cleanup
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

fix(checkbox): update to use state class naming - hattip @goodwinchris
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

fix(checkbox): add error stories and styling
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.stories.js
Labels: package: core

fix(checkbox): prop adustments and docs
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.stories.js
Labels: package: core

test(checkbox): fix incorrect test description
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

test(checkbox): fix test after updating class names
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

refactor(checkbox): update classNames
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

docs(checkbox): copy adjustments based on review
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

test(checkbox): add e2e test
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
Labels: package: core

test(checkbox): refactor e2e test based on convos and review
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
Labels: package: core

fix(checkbox): added event
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

docs(checkbox): correct arg name
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.stories.js
Labels: package: core

fix(checkbox): adjust props based on warnings
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

feat(checkbox): add basic css styling
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

docs(checkbox): docs clean up based on review
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
Labels: package: core

docs(checkbox): add initial stories
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.stories.js
Labels: package: core

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
