Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

feat(pds-tabs): navigation mode — pds-tab as a link (href + Turbo) (#792)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/readme.md
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/readme.md
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-tabs/test/pds-tabs.spec.tsx
Labels: package: core

feat(pds-link): add active prop for nav-tab styling (#791)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core

chore(release): release 3.29.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

docs(skills): add pine-figma authoring skill (design-side companion to pine)
  skills/pine-figma/README.md
  skills/pine-figma/SKILL.md
  skills/pine-figma/reference/audit.md
  skills/pine-figma/reference/library.md
  skills/pine-figma/reference/primitives.md
Labels: none

ci: add Figma Code Connect publish/validate workflow
  .github/workflows/code-connect.yml
  libs/figma/CODE_CONNECT_COVERAGE.md
Labels: none

ci: fail Code Connect on unreadable mappings
  .github/workflows/code-connect.yml
Labels: none

ci: pin Code Connect CLI to 1.5.3 so exit-on-unreadable takes effect
  .github/workflows/code-connect.yml
Labels: none

feat(pds-avatar): expose an initials shadow part
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

docs(skills): add pine-visual-test-pr visual regression skill (#788)
  .claude/skills/pine-visual-test-pr/SKILL.md
Labels: none

docs(skills): add pine-figma authoring skill (design-side companion to pine) (#793)
  skills/pine-figma/README.md
  skills/pine-figma/SKILL.md
  skills/pine-figma/reference/audit.md
  skills/pine-figma/reference/library.md
  skills/pine-figma/reference/primitives.md
Labels: none

docs(skills): canonical 'pine' consumer agent skill (#789)
  libs/core/.storybook/main.js
  skills/pine/README.md
  skills/pine/SKILL.md
  skills/pine/reference/components.md
  skills/pine/reference/icons.md
  skills/pine/reference/tokens.md
  skills/pine/reference/validation.md
  skills/pine/reference/workflow.md
Labels: package: core

ci: automate Figma Code Connect publish + validate (#794)
  .github/workflows/code-connect.yml
  libs/figma/CODE_CONNECT_COVERAGE.md
Labels: none

test(pds-avatar): update initials snapshots for the new part
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

feat(pds-avatar): expose an initials shadow part (#795)
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

chore: revert dependabot manifest changes (lockfile-only update)
  libs/core/package.json
  libs/react/package.json
Labels: package: core, package: react

style(pds-multiselect): match error and helper message weight to sibling form fields
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
Labels: package: core

fix(pds-radio): show a not-allowed cursor on disabled card overlays
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

test(pds-radio): cover disabled cursor on bordered and image card overlays
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
Labels: package: core

fix(form): describe the error message when a field is invalid without a helper message
  libs/core/src/utils/form.ts
Labels: package: core

refactor(form-elements): pass helper and error messages to assignDescription separately
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

test(form-elements): cover aria-describedby association across form components
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/utils/test/form.spec.ts
Labels: package: core

style(pds-multiselect): match error and helper message weight to sibling form fields (#797)
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
Labels: package: core

fix(pds-radio): show a not-allowed cursor on disabled card overlays (#798)
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
Labels: package: core

fix(form): describe the error message when a field is invalid without a helper message (#799)
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/utils/form.ts
  libs/core/src/utils/test/form.spec.ts
Labels: package: core

fix(pds-select): announce the error message to assistive technology
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

test(pds-select): cover aria-describedby and aria-invalid associations
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

fix(pds-select): announce the error message to assistive technology (#800)
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

chore: re-sync generated types and readme with component source
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/readme.md
Labels: package: core

test(pds-combobox): cover validation messages and aria associations
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

feat(pds-combobox): add invalid, error-message and helper-message props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
Labels: package: core

style(pds-combobox): add helper, error and invalid field treatments
  libs/core/src/components/pds-combobox/pds-combobox.scss
Labels: package: core

docs(pds-combobox): add helper and error message stories
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
Labels: package: core

feat(pds-combobox): add invalid, error-message and helper-message props (#801)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

docs(pds-modal): document disableTopLayer with an overlay-above-modal example
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
Labels: package: core

feat(pds-modal): add disableTopLayer to opt out of the browser top layer
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
Labels: package: core

fix(pds-modal): release focus in non-top-layer mode and simplify the disableTopLayer doc
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
Labels: package: core

test(pds-modal): cover the disableTopLayer top-layer contract with e2e
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
Labels: package: core

docs(pds-modal): describe non-top-layer behavior accurately and make the demo overlay focusable
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
Labels: package: core

fix(pds-modal): leave Escape to overlays that own focus in non-top-layer mode
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
Labels: package: core

test(pds-modal): cover Escape ownership for non-top-layer overlays in e2e
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
