Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

chore: downgrade react to 17.0.2 until v18 has become more stable
  libs/core/package.json
  libs/react/package.json
  yarn.lock
Labels: package: core, package: react

chore: update nx to v15.7
  package.json
  yarn.lock
Labels: none

fix(workflow): build-icons workflow was passing arbitrary flag that should have been removed
  .github/workflows/actions/build-icons/action.yml
Labels: none

fix(button test coverage): test for clicking buttons within forms to trigger handleClick()
  libs/core/src/components/sage-button/test/sage-button.spec.tsx
Labels: package: core

fix(tests): rewrite new test description
  libs/core/src/components/sage-button/test/sage-button.spec.tsx
Labels: package: core

test(button): define expected element types
  libs/core/src/components/sage-button/test/sage-button.spec.tsx
Labels: package: core

refactor(sage-tabs): scope keyDown listen to host instead of window
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

fix(tabs): scope key input active tab changes to components which matching parentId's
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

chore(storybook): upgrade storybook to version 6.5.13
  libs/core/package.json
  yarn.lock
Labels: package: core

chore(storybook): add custom styles for list and back to top button
  libs/core/.storybook/preview-head.html
  libs/core/assets/styles/storybook.css
Labels: package: core

chore(storybook): added styles per design
  libs/core/assets/styles/storybook.css
Labels: package: core

chore(storybook): added table of contents container to preview
  libs/core/.storybook/preview.js
Labels: package: core

chore(storybook): add storybook-docs-toc addon and dependencies
  libs/core/.babelrc
  libs/core/package.json
  yarn.lock
Labels: package: core

test commit for bot
  libs/core/tokens/tokens.json
Labels: package: core

fix(tabs): peventDefault on keypress from within sage-tabs
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

Adds initial set of tokens to Sage
  libs/core/tokens/tokens.json
Labels: package: core

docs(welcome page): expand docs on welcome page
  libs/core/src/stories/Welcome.stories.mdx
Labels: package: core

docs(welcome page): modify name of contributing document
  libs/core/src/stories/Contributing.stories.mdx
  libs/core/src/stories/Welcome.stories.mdx
Labels: package: core

docs(welcome page): modify the text explaining the framework we are using
  libs/core/src/stories/Welcome.stories.mdx
Labels: package: core

bot commit
  libs/core/tokens/tokens.json
Labels: package: core

refactor(sage-tabs): scope keyDown listen to host instead of window
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

fix(tabs): peventDefault on keypress from within sage-tabs
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

docs: removes test tokens
  libs/core/tokens/tokens.json
Labels: package: core

fix(tabs): scope key input active tab changes to components which matching parentId's
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

Adds initial set of tokens to Sage
  libs/core/tokens/tokens.json
Labels: package: core

feat(tokens): adds initial Sage tokens to JSON file
  libs/core/src/global/styles/tokens/tokens.json
Labels: package: core

docs(welcome page): remove figma reference
  libs/core/src/stories/Welcome.stories.mdx
Labels: package: core

docs(tokens): corrects location for tokens JSON file
  libs/core/src/global/styles/tokens/tokens.json
  libs/core/tokens/tokens.json
Labels: package: core

docs(tokens): updates black and white tokens to shorthand
  libs/core/tokens/tokens.json
Labels: package: core

docs(tokens): updates white token to uppercase for consistency
  libs/core/tokens/tokens.json
Labels: package: core

docs(welcome page): update grammar for several paragraphs after review
  libs/core/src/stories/Welcome.stories.mdx
Labels: package: core

docs(tokens): adds spacing tokens
  libs/core/tokens/tokens.json
Labels: package: core

ci(nightly-build): initial commit for nightly build process of figma icon process
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/figma-icon-export/action.yml
  .github/workflows/nightly.yml
Labels: none

chore: add vscode and .env files to be ignored
  .gitignore
Labels: none

refactor(figma-export): fix casing for looking at HEAD file
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

docs(tokens): adds letter spacing, line height, and border radius tokens
  libs/core/tokens/tokens.json
Labels: package: core

docs(tokens): updates import statement for tokens JSON file
  libs/core/scripts/build-tokens.ts
  libs/core/src/global/styles/tokens/_border-radius.scss
  libs/core/src/global/styles/tokens/_border.scss
  libs/core/src/global/styles/tokens/_box-shadow.scss
  libs/core/src/global/styles/tokens/_color.scss
  libs/core/src/global/styles/tokens/_font-family.scss
  libs/core/src/global/styles/tokens/_font-size.scss
  libs/core/src/global/styles/tokens/_font-weight.scss
  libs/core/src/global/styles/tokens/_letter-spacing.scss
  libs/core/src/global/styles/tokens/_line-height.scss
  libs/core/src/global/styles/tokens/_spacing.scss
  libs/core/src/global/styles/tokens/index.scss
Labels: package: core

docs(tokens): updates tokens script to prefix design system name for custom properties
  libs/core/scripts/build-tokens.ts
  libs/core/tokens/tokens.json
  libs/icons/src/icon-data.json
Labels: package: core, package: icons

docs(tokens): adds letter spacing, line height, and border radius tokens
  libs/core/tokens/tokens.json
Labels: package: core

docs(tokens): updates tokens script to prefix design system name for custom properties
  libs/core/tokens/tokens.json
Labels: package: core

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
