Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

style: update vars to semantic
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core

fix: add pill variant (#368)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/readme.md
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
Labels: package: core

ci: refresh the package for missing dependencies
  package-lock.json
Labels: none

chore(release): release 2.16.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style(accordion): adjust summary colors
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

style: fixes font family tokens
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

style: fixes font family token quotes
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

style: fixes font family quotes
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

style: adds proper font styles to form elements
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tokens.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
  libs/core/src/global/styles/utils/label.scss
Labels: package: core

style(accordion): adjust summary colors (#374)
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

style: adds proper font styles to form elements (#375)
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tokens.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
  libs/core/src/global/styles/utils/label.scss
Labels: package: core

fix(switch): add margin inline start value
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: package: core

fix(switch): add margin inline start value (#376)
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: package: core

ci: refresh the package for missing dependencies
  package-lock.json
Labels: none

chore(release): release 2.16.2
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: update invalid state styles
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
Labels: package: core

style: adds background color to secondary and disclosure buttons
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix: add full width prop to button
  libs/core/src/components/pds-button/pds-button.tsx
Labels: package: core

style: add full width styles
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

docs: add full width documentation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

test: add test for full width
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

style(loader): adjust loader styling for svg color
  libs/core/src/components/pds-loader/pds-loader.scss
Labels: package: core

fix: add loading prop to button
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-copytext/readme.md
  libs/core/src/components/pds-loader/readme.md
Labels: package: core

style(button): adjust styling for loading state
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

docs(button): add loading prop
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

fix(button): remove part
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
Labels: package: core

fix(button): adjust hostAttrs for aria
  libs/core/src/components/pds-button/pds-button.tsx
Labels: package: core

fix(button): adjust for aria
  libs/core/src/components/pds-button/pds-button.tsx
Labels: package: core

fix(button): adjust for aria
  libs/core/src/components/pds-button/pds-button.tsx
Labels: package: core

test(button): update test for mark up and props
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

test(input): add class to spec
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

fix: update input invalid state styles (#377)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

chore(nx): update nx to latest version
  package-lock.json
  package.json
Labels: none

fix(button): correct loader icon size
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

ci(schedule-release): simplifies the workflow to pass the --preid
  .github/workflows/schedule-release.yml
Labels: none

style: adds background color to secondary and disclosure buttons (#379)
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix(button): remove full width class and fix styling
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

chore(nx): update nx to latest version (#381)
  .github/workflows/schedule-release.yml
  package-lock.json
  package.json
Labels: none

fix: removes unneeded label margin
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

fix: removes unneeded label margin (#383)
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
