Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

docs(pds-alert): wire hide-icon to all story templates and args
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
Labels: package: core

feat(pds-alert): add hide-icon prop to suppress leading icon (#729)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
  package-lock.json
Labels: package: core

chore(release): release 3.25.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore(ci): self-heal lockfile after release to break npm-ci drift cycle
  .github/workflows/schedule-release.yml
  lefthook.yml
  package.json
  scripts/verify-lockfile-sync.cjs
Labels: none

fix: sync package-lock.json after release
  package-lock.json
Labels: none

chore(ci): use chore prefix for self-heal commit to avoid release loop
  .github/workflows/schedule-release.yml
Labels: none

chore(ci): verify regenerated lockfile passes npm ci before push
  .github/workflows/schedule-release.yml
Labels: none

chore(ci): self-heal lockfile after release to break npm-ci drift cycle (#731)
  .github/workflows/schedule-release.yml
  lefthook.yml
  package-lock.json
  package.json
  scripts/verify-lockfile-sync.cjs
Labels: none

fix(pds-combobox): show full list on reopen until query changes
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-combobox): show full list on reopen until query changes (#730)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

chore(ci): pin npm to packageManager version across all jobs
  .github/workflows/actions/setup/action.yml
  .github/workflows/schedule-release.yml
  package.json
Labels: none

chore(ci): use setup-node-with-pinned-npm in all npm ci workflows
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-doc-components/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/setup-node-with-pinned-npm/action.yml
  .github/workflows/actions/setup/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/schedule-release.yml
Labels: none

chore(release): release 3.25.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: sync package-lock.json after release
  package-lock.json
Labels: none

chore(ci): pin npm version across all CI jobs and release env (#732)
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-doc-components/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/setup-node-with-pinned-npm/action.yml
  .github/workflows/actions/setup/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/schedule-release.yml
  package.json
Labels: none

feat(pds-combobox): portal dropdown to body for scrollable modals
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-combobox): scope option ids for body portal and ship portal CSS globally
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox-dropdown-panel.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/global/styles/app.scss
Labels: package: core

fix(pds-combobox): address portal review feedback
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-combobox): portal into dialog for top layer and priority z-index
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/global/styles/app.scss
Labels: package: core

fix(pds-combobox): defer body portal teardown until after close render
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-combobox): use compound selectors for layout/chip option rows
  libs/core/src/components/pds-combobox/pds-combobox-dropdown-panel.scss
Labels: package: core

fix(pds-combobox): find dialog portal root across shadow DOM and slots
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

style(pds-combobox): set fixed position on global portaled listbox
  libs/core/src/global/styles/app.scss
Labels: package: core

refactor(pds-combobox): simplify findNearestDialogForPortal per Bugbot
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

fix(pds-combobox): reset body portal on reopen to avoid duplicate listboxes
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

feat(pds-combobox): portal dropdown to body for scrollable modals (#741)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox-dropdown-panel.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/global/styles/app.scss
Labels: package: core

chore(release): release 3.26.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: sync package-lock.json after release
  package-lock.json
Labels: none

fix(pds-alert): center-align icon and content in small variant
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

style(pds-alert): remove small margin
  libs/core/src/components/pds-alert/pds-alert.scss
Labels: package: core

fix(pds-alert): center-align icon and content in small variant (#743)
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

chore(release): release 3.26.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: sync package-lock.json after release
  package-lock.json
Labels: none

fix(ci): migrate Slack notification step to slack-github-action v3 API
  .github/workflows/schedule-release.yml
  .github/workflows/slack_payloads/release-info.json
Labels: none

docs: add ADR log with 5 backfilled records
  CONTRIBUTING.md
  docs/adr/0000-template.md
  docs/adr/0001-externalized-token-package.md
  docs/adr/0002-stencil-and-nx-monorepo.md
  docs/adr/0003-pine-custom-lint-plugins.md
  docs/adr/0004-mcp-server-delivery.md
  docs/adr/0005-dark-mode-via-semantic-tokens.md
  docs/adr/README.md
Labels: none

docs(adr): align ADR-0002 and ADR-0003 with repo facts
  docs/adr/0002-stencil-and-nx-monorepo.md
  docs/adr/0003-pine-custom-lint-plugins.md
Labels: none

docs(adr): mark backfilled ADRs as retrospective, replace PR refs with SHAs
  docs/adr/0001-externalized-token-package.md
  docs/adr/0002-stencil-and-nx-monorepo.md
  docs/adr/0003-pine-custom-lint-plugins.md
  docs/adr/0004-mcp-server-delivery.md
  docs/adr/0005-dark-mode-via-semantic-tokens.md
Labels: none

docs(adr): mark index rows as retrospective and add note
  docs/adr/README.md
Labels: none

docs: add ADR log with 5 backfilled records (#733)
  CONTRIBUTING.md
  docs/adr/0000-template.md
  docs/adr/0001-externalized-token-package.md
  docs/adr/0002-stencil-and-nx-monorepo.md
  docs/adr/0003-pine-custom-lint-plugins.md
  docs/adr/0004-mcp-server-delivery.md
  docs/adr/0005-dark-mode-via-semantic-tokens.md
  docs/adr/README.md
Labels: none

chore(ci): add size-limit budgets for core CDN bundles
  .github/workflows/actions/size-check/action.yml
  .github/workflows/build.yml
  .size-limit.json
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
