Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

docs: document the automated public API check and record ADR-0010
  CONTRIBUTING.md
  VERSIONING.md
  docs/adr/0010-api-extractor-public-api-reports.md
  docs/adr/README.md
Labels: none

ci: detect breaking changes to component prop interfaces (#819)
  .github/workflows/actions/api-check/action.yml
  .github/workflows/build.yml
  .gitignore
  .prettierignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  VERSIONING.md
  docs/adr/0010-api-extractor-public-api-reports.md
  docs/adr/README.md
  libs/core/api-extractor.json
  libs/core/etc/core.api.md
  libs/core/package.json
  libs/core/scripts/prepare-api-types.mjs
  libs/core/src/index.ts
  libs/react/api-extractor.json
  libs/react/etc/react.api.md
  libs/react/package.json
  libs/react/src/components/PdsIcon.tsx
  libs/react/src/components/index.ts
  nx.json
  package-lock.json
  package.json
Labels: package: core, package: react

ci: add test-a11y job to the build workflow
  .github/workflows/actions/test-a11y/action.yml
  .github/workflows/build.yml
Labels: none

chore: gate accessibility in CI with axe over every Storybook story
  .prettierignore
  libs/core/.storybook/a11y-baseline.json
  libs/core/.storybook/a11y-hooks.js
  libs/core/.storybook/a11y-setup.js
  libs/core/.storybook/preview.js
  libs/core/.storybook/test-runner-jest.config.js
  libs/core/package.json
  libs/core/scripts/a11y.mjs
  package-lock.json
  package.json
Labels: package: core

docs: document the accessibility gate, its baseline, and ADR-0010
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/adr/0011-storybook-accessibility-gate.md
  docs/adr/README.md
  libs/core/src/stories/guides/accessibility.docs.mdx
Labels: package: core

fix: keep the Storybook accessibility panel usable alongside the gate
  docs/adr/0011-storybook-accessibility-gate.md
  libs/core/.storybook/a11y-hooks.js
  libs/core/.storybook/preview.js
  libs/core/src/stories/guides/accessibility.docs.mdx
Labels: package: core

fix: protect the a11y baseline from partial and failed gate runs
  libs/core/scripts/a11y.mjs
Labels: package: core

ci: pin test-a11y to node 22 instead of matrixing across NODE_VERSIONS
  .github/workflows/build.yml
Labels: none

docs: fix prettier formatting on rebase-merged CONTRIBUTING and ADR content
  CONTRIBUTING.md
  docs/adr/0011-storybook-accessibility-gate.md
  docs/adr/README.md
Labels: none

chore: gate accessibility in CI with axe over every Storybook story (#820)
  .github/workflows/actions/test-a11y/action.yml
  .github/workflows/build.yml
  .prettierignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/adr/0011-storybook-accessibility-gate.md
  docs/adr/README.md
  libs/core/.storybook/a11y-baseline.json
  libs/core/.storybook/a11y-hooks.js
  libs/core/.storybook/a11y-setup.js
  libs/core/.storybook/preview.js
  libs/core/.storybook/test-runner-jest.config.js
  libs/core/package.json
  libs/core/scripts/a11y.mjs
  libs/core/src/stories/guides/accessibility.docs.mdx
  package-lock.json
  package.json
Labels: package: core

ci: build Storybook once and share the artifact with Chromatic and the a11y gate
  .github/workflows/actions/build-storybook/action.yml
  .github/workflows/actions/chromatic/action.yml
  .github/workflows/actions/test-a11y/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
Labels: none

docs: note that Chromatic and the accessibility gate share one Storybook build
  docs/adr/0010-storybook-accessibility-gate.md
Labels: none

ci: pin the shared Storybook build to node 22 and fail the chromatic guard closed
  .github/workflows/actions/build-storybook/action.yml
  .github/workflows/actions/chromatic/action.yml
  .github/workflows/actions/test-a11y/action.yml
  .github/workflows/build.yml
Labels: none

fix: restore actions:read so nx-set-shas can query the last successful run
  .github/workflows/build.yml
  CONTRIBUTING.md
Labels: none

docs: merge duplicate ADR-0010 file the rebase resurrected into 0011
  docs/adr/0010-storybook-accessibility-gate.md
Labels: none

docs: record the a11y gate's node pin and its shared build with chromatic
  docs/adr/0010-storybook-accessibility-gate.md
Labels: none

docs: pull DSS-294's shared-build updates into ADR-0011
  docs/adr/0011-storybook-accessibility-gate.md
Labels: none

ci: build Storybook once and share it with Chromatic and the a11y gate (#822)
  .github/workflows/actions/build-storybook/action.yml
  .github/workflows/actions/chromatic/action.yml
  .github/workflows/actions/test-a11y/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  CONTRIBUTING.md
  docs/adr/0011-storybook-accessibility-gate.md
Labels: none

fix(createComponent): remove redundant double-registration guard
  libs/react/src/components/react-component-lib/createComponent.tsx
Labels: package: react

chore(react-output-target): drop patch-and-preserve machinery for the removed guard
  .github/workflows/actions/build-core/action.yml
  libs/core/scripts/react-output-target-with-patches.ts
  libs/core/stencil.config.ts
Labels: package: core

chore(react-component-lib): delete dead pre-0.5 vendor layout files
  libs/react/src/components/react-component-lib/attachProps.ts
  libs/react/src/components/react-component-lib/case.ts
  libs/react/src/components/react-component-lib/dev.ts
  libs/react/src/components/react-component-lib/index.tsx
Labels: package: react

docs(pine-visual-test-pr): drop stale guard-restoration guidance
  .claude/skills/pine-visual-test-pr/SKILL.md
Labels: none

fix(createComponent): remove redundant double-registration guard (#824)
  .claude/skills/pine-visual-test-pr/SKILL.md
  .github/workflows/actions/build-core/action.yml
  libs/core/scripts/react-output-target-with-patches.ts
  libs/core/stencil.config.ts
  libs/react/src/components/react-component-lib/attachProps.ts
  libs/react/src/components/react-component-lib/case.ts
  libs/react/src/components/react-component-lib/createComponent.tsx
  libs/react/src/components/react-component-lib/dev.ts
  libs/react/src/components/react-component-lib/index.tsx
Labels: package: core, package: react

fix(truncation-tooltip): opt out of tab-stop management inside an already-focusable control
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/test/pds-copytext.e2e.ts
  libs/core/src/utils/truncation-tooltip.ts
Labels: package: core

fix(pds-chip): give the truncated label a tab stop only while it is clipped
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/truncation-tooltip.ts
Labels: package: core

test(truncation-tooltip): cover manageTabIndex and keyboard focus through outer control
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-copytext/test/pds-copytext.e2e.ts
  libs/core/src/utils/test/truncation-tooltip.spec.ts
Labels: package: core

fix(pds-switch): route toggle transition through the motion token
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: package: core

fix(stylelint-plugin-pine-motion): trace transitions through a custom-property indirection
  libs/core/lint-plugins/stylelint-plugin-pine-motion.cjs
Labels: package: core

test(reduced-motion): verify transition-duration zeroes out under prefers-reduced-motion
  libs/core/src/components/pds-filters/pds-filter/test/pds-filter.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-switch/test/pds-switch.e2e.ts
  libs/core/src/utils/test/reduced-motion.ts
Labels: package: core

fix(stylelint-plugin-pine-motion): scope custom-property tracking and fix double-reference autofix
  libs/core/lint-plugins/stylelint-plugin-pine-motion.cjs
Labels: package: core

fix(pds-chip): give the truncated label a tab stop only while it is clipped (#816)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/test/pds-copytext.e2e.ts
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/test/truncation-tooltip.spec.ts
  libs/core/src/utils/truncation-tooltip.ts
Labels: package: core

docs(layout): keep the alignment examples sized at every width
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

docs(layout): size the guide's examples from a responsive breakpoint
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

fix(pds-table-cell): give the truncation e2e a width the table honours
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.e2e.ts
Labels: package: core

fix(lint): report laundered timing where the disable has to go
  libs/core/lint-plugins/stylelint-plugin-pine-motion.cjs
  libs/core/src/utils/test/reduced-motion.ts
Labels: package: core

fix(lint): stop the autofix from hiding the literals it left behind
  libs/core/lint-plugins/stylelint-plugin-pine-motion.cjs
Labels: package: core

fix(pds-table-cell): give the truncation e2e a width the table honours (#826)
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.e2e.ts
Labels: package: core

docs(layout): size the guide's examples from a responsive breakpoint (#817)
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

fix(pds-switch): route toggle transition through the motion token (#825)
  libs/core/lint-plugins/stylelint-plugin-pine-motion.cjs
  libs/core/src/components/pds-filters/pds-filter/test/pds-filter.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/test/pds-switch.e2e.ts
  libs/core/src/utils/test/reduced-motion.ts
Labels: package: core

fix(pds-modal): narrow the disableTopLayer Escape carve-out to actual stacked overlays
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
