Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

feat(pds-button): add download prop to support file downloads
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

docs(pds-link): fix sentence fragment in download prop JSDoc
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
Labels: package: core

fix(pds-combobox): add part=combobox to wrapper for external styling
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-combobox): add part=combobox to wrapper for external styling (#682)
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

style(pds-multiselect): align trigger height to 36px and font-weight to 500
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
Labels: package: core

style(pds-multiselect): update variable
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
Labels: package: core

style(pds-multiselect): align trigger height to 36px and font-weight … (#683)
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
Labels: package: core

feat: add download attribute support to link, button, & dropdown-menu-item (#681)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.spec.tsx
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core

feat(pds-chip): add size prop with sm, md, and lg options
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/utils/types.ts
Labels: package: core

style(pds-chip): add small size styles and rename large class to lg
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core

test(pds-chip): add size prop tests and backward compat for deprecated large prop
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

docs(pds-chip): replace large with size prop in stories and add argTypes controls
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

docs(pds-chip): replace large section with sizes in MDX documentation
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
Labels: package: core

fix(pds-chip): make explicit size prop authoritative over deprecated large prop
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
Labels: package: core

test(pds-chip): add test for explicit size="md" precedence over large prop
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

docs(pds-chip): rename Size story to Small and add Large story for full size coverage
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

fix(pds-button): add reflect to disabled prop and guard slotted disabled selector
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
Labels: package: core

feat(pds-chip): add size prop with sm, md, and lg options (#684)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/utils/types.ts
Labels: package: core

fix(pds-button): add reflect to disabled prop and guard slotted disabled selector (#685)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
Labels: package: core

chore(release): release 3.19.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-text): add span as tag option
  libs/core/src/components/pds-text/pds-text.tsx
Labels: package: core

chore(pds-text): add auto-gen files
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/readme.md
Labels: package: core

chore(pds-text): add add span tag
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
Labels: package: core

chore: sync package-lock.json with package.json
  package-lock.json
Labels: none

style(pds-text): fix formatting
  libs/core/src/components/pds-text/pds-text.tsx
Labels: package: core

chore(pds-text): add add span tag (#688)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  package-lock.json
Labels: package: core

chore(release): release {version}
  package-lock.json
Labels: none

feat(pds-modal): expose modal CSS part for custom sizing
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/readme.md
Labels: package: core

feat(pds-modal): expose modal CSS part for custom sizing (#691)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/readme.md
Labels: package: core

chore(release): release 3.20.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

feat(pds-accordion): emit pdsAccordionToggle event on open state change
  libs/core/src/components.d.ts
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/readme.md
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
Labels: package: core

fix(pds-accordion): emit pdsAccordionToggle on programmatic isOpen changes
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
Labels: package: core

chore: sync package-lock.json with package.json
  package-lock.json
Labels: none

chore: moved claude md location
  CLAUDE.md
Labels: none

feat(pds-accordion): emit pdsAccordionToggle event on open state change (#692)
  CLAUDE.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/readme.md
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  package-lock.json
Labels: package: core

chore(release): release 3.21.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-combobox): preselect matching option when async options load after value is set
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

chore: sync package lock file
  package-lock.json
Labels: none

fix(pds-combobox): use setSelectedOption helper for async preselection
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix(pds-combobox): preselect matching option when async options load … (#693)
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  package-lock.json
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
