Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

feat(pds-chip): add icon prop and add brand sentiment
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
Labels: package: core

style(pds-chip): refine styles for sentiment chips and enhance brand variant
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core

docs(pds-chip): enhance documentation for brand sentiment and icon prop
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

test(pds-chip): add unit tests for icon rendering variations
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

style(pds-chip): update padding values for chip components and refine brand sentiment documentation
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core

fix: update input select slot elements
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
Labels: package: core

feat(pds-chip): adds brand sentiment and icon prop (#467)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

fix: add code connect
  figma.config.json
  libs/core/src/components/pds-alert/pds-alert.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
  libs/core/src/components/pds-toast/pds-toast.figma.ts
  pine/scripts/batch-update-figma-mapping.js
  pine/scripts/fix-figma-files.js
  scripts/batch-update-figma-mapping.js
  scripts/figma-url-map.json
  scripts/fix-figma-files.js
  scripts/fix-url-format.js
  scripts/generate-figma-mapping.js
  scripts/remove-invalid-figma-files.js
  scripts/remove-placeholder-figma-files.js
  scripts/update-figma-urls.js
Labels: package: core

fix: add button chip and divider code connect files
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
  libs/core/src/components/pds-divider/pds-divider.figma.ts
Labels: package: core

fix: update button and chip
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
Labels: package: core

fix: update button and chip figma
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
Labels: package: core

style: resolve input styling next to affordance
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

test: add part to select tests
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

test: add updated label to input and select tests
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

fix: update figma mappings
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
  libs/core/src/components/pds-input/pds-input.figma.ts
  libs/core/src/components/pds-switch/pds-switch.figma.ts
  libs/core/src/components/pds-textarea/pds-textarea.figma.ts
Labels: package: core

fix: update figma mappings
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.figma.ts
  libs/core/src/components/pds-input/pds-input.figma.ts
  libs/core/src/components/pds-select/pds-select.figma.ts
  libs/core/src/components/pds-tabs/pds-tabs.figma.ts
Labels: package: core

style: update vars
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style: update vars
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

fix: update aria label
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

fix: update demos
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

fix(input): add prefix, suffix, prepend, and append (#428)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

docs: add hide label to select slotted elements
  libs/core/src/components/pds-input/docs/pds-input.mdx
Labels: package: core

docs: update hide label
  libs/core/src/components/pds-input/docs/pds-input.mdx
Labels: package: core

fix: add alert avatar link and modal figmas
  libs/core/src/components/pds-alert/pds-alert.figma.ts
  libs/core/src/components/pds-avatar/pds-avatar.figma.ts
  libs/core/src/components/pds-link/pds-link.figma.ts
  libs/core/src/components/pds-modal/pds-modal.figma.ts
Labels: package: core

fix: update inherited attributes
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/attributes.ts
Labels: package: core

fix: add missing native input attributes
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

fix: update props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

feat(pds-tooltip): implement pathname change detection for SPA navigation
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

fix(tooltip): revert change
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

fix: add input props (#472)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

feat(pds-tooltip): implement pathname change detection for SPA navigation (#473)
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

feat: add combobox
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.docs.mdx
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

fix: add trigger for button or input
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
Labels: package: core

fix: add button trigger variants and colors
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
Labels: package: core

fix: add floating ui
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

docs: add hide label to select slotted elements (#470)
  libs/core/src/components/pds-input/docs/pds-input.mdx
Labels: package: core

chore(release): release 3.3.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(combobox): added placement and width
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
Labels: package: core

fix(combobox): add tests
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
Labels: package: core

fix: add loader progress and radio
  libs/core/src/components/pds-loader/pds-loader.figma.ts
  libs/core/src/components/pds-progress/pds-progress.figma.ts
  libs/core/src/components/pds-radio/pds-radio.figma.ts
Labels: package: core
