Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

style: correct offset value
  libs/core/src/components/pds-text/pds-text.scss
Labels: package: core

style: adjust dotted styling
  libs/core/src/components/pds-text/pds-text.scss
Labels: package: core

feature: decoration prop for pds text (#362)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/stories/pds-text.stories.js
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
Labels: package: core

style: add pointer cursor
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

feat(pds-text): decoration prop for pds text (#362)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/stories/pds-text.stories.js
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
Labels: package: core

ci: change release notes for nx release
  nx.json
Labels: none

chore(release): release 2.14.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: move chip value to slot
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
Labels: package: core

chore(doc-components): update scripts to use npx for vite
  libs/doc-components/package.json
  nx.json
Labels: package: doc-componenets

ci: add github user back into the step vs calling action
  .github/workflows/schedule-release.yml
Labels: none

ci: add permissions for release step
  .github/workflows/schedule-release.yml
Labels: none

chore(release): release 2.14.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore(release): release 2.14.0
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core

fix: move chip value to slot
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
Labels: package: core

fix: update demos
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

test: update spec tests
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

style: fixes incorrect token for box padding-xs
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style: adjust color values for secondary and disclosure
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

style: correct disabled colors
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

style: fixes incorrect token for box padding-xs (#365)
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

style: adjust background color values for secondary and disclosure (#366)
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix: add pill variant
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/readme.md
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
Labels: package: core

chore: fixes success typo and adds select component token
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/components/select.json
Labels: package: core

chore: fixes components with outdated tokens
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

fix: visibility issue on ios safari back navigation
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

style: create new core tokenset
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/core/core_old.json
  libs/core/src/global/styles/tokens/semantic/semantic_old.json
Labels: package: core

style: adds half of semantic tokens
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/base/semantic_ash.json
Labels: package: core

style: change font-weight to use numerical values in core tokenset
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/semantic/semantic_old.json
Labels: package: core

style: adds the second half of the semantic tokens
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/base/semantic_ash.json
  libs/core/src/global/styles/tokens/core/core_old.json
  libs/core/src/global/styles/tokens/semantic/semantic_old.json
Labels: package: core

style: add kajabi products themes and mode (light and dark)
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/archive/core/core_old.json
  libs/core/src/global/styles/tokens/archive/semantic/semantic_old.json
  libs/core/src/global/styles/tokens/kajabi_products/light.json
Labels: package: core

style(transform): refactor transform scripts to be more modular
  libs/core/package.json
  libs/core/scripts/sd-file-generators.mjs
  libs/core/scripts/sd-filters.mjs
  libs/core/scripts/style-dictionary/filters/component.mjs
  libs/core/scripts/style-dictionary/filters/core.mjs
  libs/core/scripts/style-dictionary/filters/index.mjs
  libs/core/scripts/style-dictionary/filters/semantic.mjs
  libs/core/scripts/style-dictionary/generators/component.mjs
  libs/core/scripts/style-dictionary/generators/core.mjs
  libs/core/scripts/style-dictionary/generators/index.mjs
  libs/core/scripts/style-dictionary/generators/semantic.mjs
  libs/core/scripts/style-dictionary/transform.mjs
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

feat: add sd-transformations to generate tokens from token-studio
  libs/core/scripts/sd-file-generators.mjs
  libs/core/scripts/sd-filters.mjs
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/kajabi_products/kajabi_products-light.scss
Labels: package: core

style: remove old core and semantic tokens
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/archive/core/core_old.json
  libs/core/src/global/styles/tokens/archive/semantic/semantic_old.json
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/kajabi_products/kajabi_products-light.scss
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
Labels: package: core

style: update themes to include component/avatar
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/components/avatar.json
Labels: package: core

style: changes for brand semantic and modes
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/brand/kajabi_products.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
  libs/core/src/global/styles/tokens/components/avatar.json
  libs/core/src/global/styles/tokens/kajabi_products/light.json
Labels: package: core

style(tokens): working version of token studio to figma variables with token names in values
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/components/avatar.json
Labels: package: core

style(tokens): cleanup semantic tokens and a few core tokens for dimensions
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
Labels: package: core

style(tokens): add color.brand to kajabi semantic tokens
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products.json
  libs/core/src/global/styles/tokens/components/avatar.json
Labels: package: core

style(tokens): newly generated tokens from style dictionary
  libs/core/src/components/pds-avatar/pds-avatar.tokens.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products-dark.semantic.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products-light.semantic.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products.scss
  libs/core/src/global/styles/tokens/index.scss
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

style(tokens): restructure semantic brand token names and locations
  libs/core/scripts/style-dictionary/generators/semantic.mjs
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/dark.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/light.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core
