Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

refactor(pds-alert): rename close to dismiss for consistency
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

style(pds-alert): update CSS variable naming
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

fix(tooltip): add missing newlines in template strings and improve cleanup logic in tests
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

chore(package-lock): update package versions for kajabi-ui/styles
  package-lock.json
Labels: none

style(pds-alert): update alert component styles with new component tokens
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tokens.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
Labels: package: core

docs(pds-alert): update documentation and story descriptions for clarity
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
Labels: package: core

refactor(pds-alert): simplify rendering logic for content and actions
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
Labels: package: core

docs(pds-alert): expand guidelines in documentation
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
Labels: package: core

docs(pds-alert): enhance clarity in documentation
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
Labels: package: core

fix(tooltip): update positioning for bottom-end and top-end placements
  libs/core/src/utils/overlay.ts
  libs/core/src/utils/test/overlay.spec.ts
Labels: package: core

refactor(pds-tooltip): better positioning when contained in overflow elements (#451)
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  libs/core/src/utils/overlay.ts
  libs/core/src/utils/test/overlay.spec.ts
Labels: package: core

feat(pds-alert): new alert component (#452)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tokens.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/stories/pds-alert.docs.mdx
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/react/src/components/proxies.ts
  package-lock.json
Labels: package: core, package: react

feat(pds-popover): enhance positioning logic for popover placements
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

test(pds-popover): add additional placements for popover positioning
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

fix(pds-popover): adds missing -start and -end positioning (#454)
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

fix: add modal
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.docs.mdx
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

docs: add stories
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
Labels: package: core

fix: added backdrop click and keydown functions and size prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
Labels: package: core

style: add sizes
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
Labels: package: core

docs: adding examples to docs
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
Labels: package: core

docs: update examples and copy
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
Labels: package: core

chore: add floating-ui package to dependency
  libs/core/package.json
  package-lock.json
Labels: package: core

feat(pds-dropdown): implementation of the dropdown component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-dropdown/pds-dropdown-item/pds-dropdown-item.scss
  libs/core/src/components/pds-dropdown/pds-dropdown-item/pds-dropdown-item.tsx
  libs/core/src/components/pds-dropdown/pds-dropdown-item/readme.md
  libs/core/src/components/pds-dropdown/pds-dropdown.scss
  libs/core/src/components/pds-dropdown/pds-dropdown.tsx
  libs/core/src/components/pds-dropdown/readme.md
  libs/core/src/utils/interfaces.ts
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

test: add unit tests
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-modal/test/readme.md
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

docs(banner): adds stories to docs
  libs/core/src/components/pds-banner/docs/pds-banner.mdx
  libs/core/src/components/pds-banner/pds-banner.tsx
  libs/core/src/components/pds-banner/stories/pds-banner.docs.mdx
  libs/core/src/components/pds-banner/stories/pds-banner.stories.js
Labels: package: core

feat(banner): initial commit for Banner component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-banner/docs/pds-banner.mdx
  libs/core/src/components/pds-banner/pds-banner.scss
  libs/core/src/components/pds-banner/pds-banner.tsx
  libs/core/src/components/pds-banner/readme.md
  libs/core/src/components/pds-banner/stories/pds-banner.docs.mdx
  libs/core/src/components/pds-banner/test/pds-banner.e2e.ts
  libs/core/src/components/pds-banner/test/pds-banner.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(banner): adds button toggle feature
  libs/core/src/components.d.ts
  libs/core/src/components/pds-banner/docs/pds-banner.mdx
  libs/core/src/components/pds-banner/pds-banner.scss
  libs/core/src/components/pds-banner/pds-banner.tsx
  libs/core/src/components/pds-banner/readme.md
  libs/core/src/components/pds-banner/stories/pds-banner.stories.js
Labels: package: core

refactor: refactors toggle into dismiss and updates docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-banner/docs/pds-banner.mdx
  libs/core/src/components/pds-banner/pds-banner.scss
  libs/core/src/components/pds-banner/pds-banner.tsx
  libs/core/src/components/pds-banner/readme.md
  libs/core/src/components/pds-banner/stories/pds-banner.stories.js
Labels: package: core

test(banner): adds tests
  libs/core/src/components/pds-banner/test/pds-banner.e2e.ts
  libs/core/src/components/pds-banner/test/pds-banner.spec.tsx
Labels: package: core

docs(banner): fixes trigger button event for dismissable banner
  libs/core/src/components/pds-banner/docs/pds-banner.mdx
Labels: package: core

feat(banner): adds dismissable prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-banner/docs/pds-banner.mdx
  libs/core/src/components/pds-banner/pds-banner.scss
  libs/core/src/components/pds-banner/pds-banner.tsx
  libs/core/src/components/pds-banner/readme.md
  libs/core/src/components/pds-banner/stories/pds-banner.stories.js
Labels: package: core

chore: merge conflicts
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-text/readme.md
Labels: package: core

test: add e2e tests
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
Labels: package: core

feat(link): adds color prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core

style: update alignment
  libs/core/src/components/pds-modal/pds-modal.scss
Labels: package: core

fix: resolve focus trapping
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core

fix: remove close on escape prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
Labels: package: core

docs(pds-box): improve responsive size prop documentation [DSS-1405]
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
Labels: package: core

docs(pds-box): simplify sizeXs prop description [DSS-1405]
  libs/core/src/components/pds-box/pds-box.tsx
Labels: package: core

docs(pds-box): standardize all size prop descriptions with 'and up' phrasing [DSS-1405]
  libs/core/src/components/pds-box/pds-box.tsx
Labels: package: core
