Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

chore(table): update generated docs and types
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
Labels: package: core

test(table): fix failing tests after sort UX improvements
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

fix(form-elements): add element internals mock stencil unit test
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-multiselect/test/__snapshots__/pds-multiselect.spec.tsx.snap
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/stencil.config.ts
Labels: package: core

fix(table): add guard for tableRef in toggleSort method
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
Labels: package: core

fix(table): simplify guard condition for tableRef in toggleSort method
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
Labels: package: core

test(pds-multiselect): update test
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): add panel width and trigger width
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

style: update logical props
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
Labels: package: core

fix: updates per review
  libs/core/.lintstagedrc.json
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix: updates per coderabbit reviews
  libs/core/.eslintignore
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
Labels: package: core

docs: update component order
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

fix(pds-dropdown-menu): use fixed positioning to prevent clipping in overflow containers
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
Labels: package: core

docs(pds-table): add dropdown menu to responsive table story
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

fix(pds-table): improve sort indicator clarity (#640)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

fix(pds-dropdown-menu): prevent clipping in overflow containers (#643)
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

fix(pds-multiselect): docs and style update
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

chore(pds-box): replace deprecated Sass if() with @if directive
  libs/core/src/components/pds-box/pds-box.mixins.scss
Labels: package: core

chore(pds-box): replace deprecated Sass if() with @if directive (#644)
  libs/core/src/components/pds-box/pds-box.mixins.scss
Labels: package: core

fix: update prop name
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
Labels: package: core

fix: update docs and style fix
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

docs: update stories
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

style: update tokens
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
Labels: package: core

fix: revert eslintrc file
  libs/core/.eslintrc.json
Labels: package: core

fix: trailing commas
  libs/core/.eslintrc.json
Labels: package: core

feat(pds-multiselect): add pds-multiselect component (#638)
  libs/core/.eslintrc.json
  libs/core/.lintstagedrc.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-loader/readme.md
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/multiselect-interface.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/core/src/stories/guides/forms.docs.mdx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(release): release 3.14.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style(pds-chip): adjust padding values
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core

fix: prevent crashes when components are double-initialized via CDN and React
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-loader/pds-loader.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

chore(release): release 3.14.2-dev.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: prevent crashes when components are double-initialized via CDN and React (#647)
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-loader/pds-loader.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

chore(release): release 3.14.2
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style(pds-chip): adjust padding values (#645)
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core

fix(): add server side sorting
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core

feat: add external prop to dropdown menu
  libs/core/src/components.d.ts
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.spec.tsx
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
Labels: package: core

style(pds-table-cell): update vertical align styles
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
Labels: package: core

fix(pds-table-cell): add rel values
  libs/core/src/components/pds-link/pds-link.tsx
Labels: package: core

style(pds-table-cell): update vertical align styles (#650)
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
Labels: package: core

fix: remove example docs and update external vs target blank logic
  libs/core/src/components.d.ts
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
Labels: package: core

feat: add async to pds-combobox
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/combobox-interface.ts
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-loader/readme.md
Labels: package: core

feat: add create tag functionality to pds-multiselect
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/multiselect-interface.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core
