Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

docs(pds-property): enhance documentation with default icon behavior and usage guidelines
  libs/core/src/components/pds-property/docs/pds-property.mdx
  libs/core/src/components/pds-property/stories/pds-property.stories.js
Labels: package: core

test(pds-property): update end-to-end and unit tests to reflect changes
  libs/core/src/components/pds-property/test/pds-property.e2e.ts
  libs/core/src/components/pds-property/test/pds-property.spec.tsx
Labels: package: core

feat(pds-property): add property component to system (#479)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-property/docs/pds-property.mdx
  libs/core/src/components/pds-property/pds-property.scss
  libs/core/src/components/pds-property/pds-property.tsx
  libs/core/src/components/pds-property/readme.md
  libs/core/src/components/pds-property/stories/pds-property.docs.mdx
  libs/core/src/components/pds-property/stories/pds-property.stories.js
  libs/core/src/components/pds-property/test/pds-property.e2e.ts
  libs/core/src/components/pds-property/test/pds-property.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(pds-input): add action slot for additional content in label area
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

feat(pds-select): implement action slot for additional content in label area
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

feat(pds-textarea): add action slot for additional content in label area
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

docs(pds-textarea): remove action with link example
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
Labels: package: core

test(pds-input, pds-select, pds-textarea): add action slot e2e tests
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-textarea/test/pds-textarea.e2e.ts
Labels: package: core

test(pds-textarea): update action slot tests for rendering
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

docs(pds-input, pds-select, pds-textarea): remove and use correct attributes in examples
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
Labels: package: core

feat: action slot for pds-input, pds-select, & pds-textarea (#485)
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.e2e.ts
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

docs(pds-input): update story implementations to use args for dynamic properties
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

feat(combobox): add action handlers for pdsComboboxChange events
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
Labels: package: core

fix(combobox): add custom trigger and layout (#484)
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  package-lock.json
Labels: package: core

docs(pds-input): update story implementations to use args for dynamic properties (#487)
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

chore(release): release 3.4.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(form-elements): align height spacing and message color
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

fix: update to border width var
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

fix(input): add full width variant tests and docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

fix(pds-button): add white space nowrap to button text
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix(form-elements): align height spacing and message color (#488)
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

fix(pds-button): add white space nowrap to button text (#490)
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix(pds-input): add full width variant tests and docs (#489)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

fix: update button and chip
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
Labels: package: core

fix: update button and chip figma
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
Labels: package: core

fix: add code connect
  figma.config.json
  libs/core/src/components/pds-alert/pds-alert.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
  libs/core/src/components/pds-toast/pds-toast.figma.ts
  pine/scripts/batch-update-figma-mapping.js
  pine/scripts/fix-figma-files.js
  scripts/batch-update-figma-mapping.js
  scripts/figma-url-map.json
  scripts/fix-figma-files.js
  scripts/fix-url-format.js
  scripts/generate-figma-mapping.js
  scripts/remove-invalid-figma-files.js
  scripts/remove-placeholder-figma-files.js
  scripts/update-figma-urls.js
Labels: package: core

fix: add button chip and divider code connect files
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
  libs/core/src/components/pds-divider/pds-divider.figma.ts
Labels: package: core

fix: update figma mappings
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
  libs/core/src/components/pds-input/pds-input.figma.ts
  libs/core/src/components/pds-switch/pds-switch.figma.ts
  libs/core/src/components/pds-textarea/pds-textarea.figma.ts
Labels: package: core

fix: update figma mappings
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.figma.ts
  libs/core/src/components/pds-input/pds-input.figma.ts
  libs/core/src/components/pds-select/pds-select.figma.ts
  libs/core/src/components/pds-tabs/pds-tabs.figma.ts
Labels: package: core

fix: add alert avatar link and modal figmas
  libs/core/src/components/pds-alert/pds-alert.figma.ts
  libs/core/src/components/pds-avatar/pds-avatar.figma.ts
  libs/core/src/components/pds-link/pds-link.figma.ts
  libs/core/src/components/pds-modal/pds-modal.figma.ts
Labels: package: core

fix: add loader progress and radio
  libs/core/src/components/pds-loader/pds-loader.figma.ts
  libs/core/src/components/pds-progress/pds-progress.figma.ts
  libs/core/src/components/pds-radio/pds-radio.figma.ts
Labels: package: core

fix: exclude Figma TypeScript files from ESLint checks
  libs/core/.eslintignore
Labels: package: core

fix: add Figma TypeScript file to exclude list
  libs/core/tsconfig.json
Labels: package: core

fix: add tabs and toast
  libs/core/src/components/pds-tabs/pds-tabs.figma.ts
  libs/core/src/components/pds-toast/pds-toast.figma.ts
Labels: package: core

fix: add property figma mapping
  libs/core/src/components/pds-property/pds-property.figma.ts
Labels: package: core

chore(deps): update form-data to version 4.0.4 and add hasown dependency
  package-lock.json
Labels: none

chore(deps): update form-data to version 4.0.4 and add hasown dependency (#491)
  package-lock.json
Labels: none

fix: update tabs key value pair
  libs/core/src/components/pds-tabs/pds-tabs.figma.ts
Labels: package: core

feat: add Figma connections for pds-list and pds-page-heading components
  libs/core/src/components/pds-list/pds-list.figma.ts
  libs/core/src/components/pds-page-heading/pds-page-heading.figma.ts
Labels: package: core

chore(pds-box): update jsDocs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core
