Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

fix(release): add step to fetch latest tags in release workflow
  .github/workflows/schedule-release.yml
Labels: none

fix(release): update Slack notification workflow to use environment var (#593)
  .github/workflows/schedule-release.yml
Labels: none

docs: add form integration sections to form components
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
Labels: package: core

docs: add technical notes for accessibility features
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-loader/docs/pds-loader.mdx
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
Labels: package: core

docs: document programmatic APIs for filters and table
  libs/core/src/components/pds-filters/docs/pds-filters.mdx
  libs/core/src/components/pds-table/docs/pds-table.mdx
Labels: package: core

docs: add usage examples to components
  libs/core/src/components/pds-accordion/docs/pds-accordion.mdx
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
Labels: package: core

docs: enhance forms and events guides
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

docs: standardize section ordering across components
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/core/src/components/pds-image/docs/pds-image.mdx
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
  libs/core/src/components/pds-property/docs/pds-property.mdx
Labels: package: core

fix(pds-divider, pds-link, pds-progress): update code connect properties and examples
  libs/core/src/components/pds-divider/pds-divider.figma.ts
  libs/core/src/components/pds-link/pds-link.figma.ts
  libs/core/src/components/pds-progress/pds-progress.figma.ts
Labels: package: core

fix(pds-link): update fontSize property
  libs/core/src/components/pds-link/pds-link.figma.ts
Labels: package: core

fix(pds-link): add default href attribute to link component
  libs/core/src/components/pds-link/pds-link.figma.ts
Labels: package: core

fix(pds-divider, pds-link, pds-progress): update code connect properties and examples (#595)
  libs/core/src/components/pds-divider/pds-divider.figma.ts
  libs/core/src/components/pds-link/pds-link.figma.ts
  libs/core/src/components/pds-progress/pds-progress.figma.ts
Labels: package: core

docs: standardize docs sections and add form integration section to form components (#594)
  libs/core/src/components/pds-accordion/docs/pds-accordion.mdx
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-filters/docs/pds-filters.mdx
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/core/src/components/pds-image/docs/pds-image.mdx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-loader/docs/pds-loader.mdx
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
  libs/core/src/components/pds-property/docs/pds-property.mdx
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/forms.docs.mdx
Labels: package: core

fix(core): export component types for TypeScript resolution (#592)
  libs/core/package.json
  libs/core/src/index.ts
Labels: package: core

docs(pds-icon): add technical notes on icon usage differences between React and web components
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

docs(pds-icon): add technical notes on icon usage differences between React and web components (#596)
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

fix: update semantic tokens in SCSS files
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
Labels: package: core

fix: update table background color
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

fix(pds-table): update hover semantic token
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
Labels: package: core

chore(deps): upgrade storybook to v10
  libs/core/package.json
  package-lock.json
  package.json
Labels: package: core

chore: update node to 22.21.1
  .tool-versions
Labels: none

refactor(storybook): update config for v10
  libs/core/.storybook/PineTheme.js
  libs/core/.storybook/main.js
  libs/core/.storybook/manager.js
  libs/core/.storybook/preview.js
Labels: package: core

refactor(stories): remove deprecated withActions
  libs/core/src/components/pds-accordion/stories/pds-accordion.stories.js
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
  libs/core/src/components/pds-divider/stories/pds-divider.stories.js
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.stories.js
  libs/core/src/components/pds-filters/pds-filter/stories/pds-filter.stories.js
  libs/core/src/components/pds-filters/stories/pds-filters.stories.js
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-loader/stories/pds-loader.stories.js
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-progress/stories/pds-progress.stories.js
  libs/core/src/components/pds-property/stories/pds-property.stories.js
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-row/stories/pds-row.stories.js
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-sortable/pds-sortable-item/stories/pds-sortable-item.stories.js
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-table/pds-table-cell/stories/pds-table-cell.stories.js
  libs/core/src/components/pds-table/pds-table-head-cell/stories/pds-table-head-cell.stories.js
  libs/core/src/components/pds-table/pds-table-row/stories/pds-table-row.stories.js
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-tabs/pds-tab/stories/pds-tab.stories.js
  libs/core/src/components/pds-tabs/pds-tabpanel/stories/pds-tabpanel.stories.js
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-text/stories/pds-text.stories.js
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-toast/stories/pds-toast.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  libs/core/src/stories/_helpers/index.ts
Labels: package: core

fix(doc-components): fix React rendering in MDX
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
Labels: package: doc-componenets

chore: update stencil config and gitignore
  libs/core/.gitignore
  libs/core/stencil.config.ts
Labels: package: core

fix(storybook): include stories docs in glob pattern
  libs/core/.storybook/main.js
Labels: package: core

fix: resolve Storybook 10 migration issues
  libs/core/.storybook/main.js
  libs/core/.storybook/preview.js
  libs/core/package.json
  libs/core/src/components/pds-icon/stories/IconCopyComponent.jsx
  libs/core/src/stories/guides/assets.docs.mdx
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/forms.docs.mdx
  libs/core/src/stories/guides/layout.docs.mdx
  libs/core/src/stories/introduction/contributing.docs.mdx
  libs/core/src/stories/introduction/welcome.docs.mdx
  libs/core/src/stories/resources/changelogs.docs.mdx
  libs/core/src/stories/resources/icons-mgmt.docs.mdx
  libs/core/src/stories/resources/mcp.docs.mdx
  libs/core/src/stories/resources/support.docs.mdx
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/box-shadow.docs.mdx
  libs/core/src/stories/tokens/core/colors.docs.mdx
  libs/core/src/stories/tokens/core/spacing.docs.mdx
  libs/core/src/stories/tokens/core/typography.docs.mdx
  libs/core/src/stories/tokens/core/z-index.docs.mdx
  libs/core/src/stories/tokens/semantic/border.docs.mdx
  libs/core/src/stories/tokens/semantic/box-shadow.docs.mdx
  libs/core/src/stories/tokens/semantic/color.docs.mdx
  libs/core/src/stories/tokens/semantic/spacing.docs.mdx
  libs/core/src/stories/tokens/semantic/typography.docs.mdx
  libs/core/src/stories/tokens/semantic/z-index.docs.mdx
  libs/core/src/stories/tokens/tokens.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

fix: prevent test runs from breaking Storybook
  libs/core/.storybook/main.js
Labels: package: core

fix: remove unused eslint-disable directive in docCanvas
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
Labels: package: doc-componenets

feat: add custom decorator for web component CustomEvent actions
  libs/core/.storybook/preview.js
Labels: package: core

refactor: remove deprecated actions.handles from all story files
  libs/core/.storybook/preview.js
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-combobox/stories/pds-combobox.stories.js
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.stories.js
  libs/core/src/components/pds-filters/pds-filter/stories/pds-filter.stories.js
  libs/core/src/components/pds-filters/stories/pds-filters.stories.js
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-table/pds-table-row/stories/pds-table-row.stories.js
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-toast/stories/pds-toast.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: package: core

fix: update semantic and core tokens in SCSS files (#597)
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
Labels: package: core

fix(pds-alert): update padding of alert to 20px
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
Labels: package: core

test(pds-alert): remove unnecessary padding attribute
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

fix(storybook): update Vite watch config for HMR live reload
  libs/core/.storybook/main.js
Labels: package: core

fix(pds-alert): update padding of alert to 20px (#602)
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

fix(storybook): update Vite watch config for HMR live reload (#603)
  libs/core/.storybook/main.js
Labels: package: core

feat: add pds-radio-group component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio-group/docs/pds-radio-group.mdx
  libs/core/src/components/pds-radio-group/pds-radio-group.scss
  libs/core/src/components/pds-radio-group/pds-radio-group.tsx
  libs/core/src/components/pds-radio-group/radio-group-interface.ts
  libs/core/src/components/pds-radio-group/readme.md
  libs/core/src/components/pds-radio-group/stories/pds-radio-group.stories.js
  libs/core/src/components/pds-radio-group/test/pds-radio-group.e2e.ts
  libs/core/src/components/pds-radio-group/test/pds-radio-group.spec.tsx
Labels: package: core

fix: style invalid bordered radios in groups
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

fix: suppress pds-radio events when inside radio-group
  libs/core/src/components/pds-radio/pds-radio.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
