Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

feat(pds-dropdown-menu-item): add http-method, turbo-frame, turbo props and pdsBeforeSubmit event
  libs/core/src/components.d.ts
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-link/readme.md
  libs/react/src/components/react-component-lib/createComponent.tsx
Labels: package: core, package: react

test(pds-dropdown-menu-item): add tests for http-method props and pdsBeforeSubmit event
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.spec.tsx
Labels: package: core

docs(pds-dropdown-menu-item): add documentation for http-method and data attribute support
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/stories/pds-dropdown-menu-item.stories.js
  libs/react/src/components/react-component-lib/createComponent.tsx
Labels: package: core, package: react

feat(pds-dropdown-menu): allow raw anchor and button elements
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
Labels: package: core

style(pds-dropdown-menu): add base styles for raw slotted elements
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
Labels: package: core

test(pds-dropdown-menu): add tests for raw element support
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.spec.tsx
Labels: package: core

docs(pds-dropdown-menu): document raw element support and styling
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
Labels: package: core

fix(pds-dropdown-menu): ensure slotted element styles override app defaults
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
Labels: package: core

fix(pds-table): defer default sort to allow child components to initialize
  libs/core/src/components/pds-table/pds-table.tsx
Labels: package: core

test(pds-table): add flushAnimationFrame helper to improve test reliability
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

feat(pds-dropdown-menu): allow raw anchor and button elements (#661)
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

chore(release): release 3.16.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style(pds-dropdown-menu-item): add flex alignment and spacing
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
Labels: package: core

fix(pds-multiselect): resolve preselected fetch options
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix(pds-multiselect): resolve programmatic value change not fetching
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix(pds-multiselect): improve inflight value fetching
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix(pds-multiselect): resolve async with preselected values not showing selection count on initial render (#663)
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

style(pds-dropdown-menu-item): add flex alignment and spacing (#662)
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
Labels: package: core

fix(pds-dropdown-menu-item): update destructive color for pds link shadow
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
Labels: package: core

style(pds-input): custom search clear button icon and color
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

docs(pds-input): add search type story
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

chore(react): update generated createComponent output
  libs/react/src/components/react-component-lib/createComponent.tsx
Labels: package: react

style(pds-input): update search clear selector
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

fix(pds-dropdown-menu-item): update destructive color for pds link shadow (#664)
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
Labels: package: core

fix(pds-input): style native search clear button with custom icon (#665)
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/react/src/components/react-component-lib/createComponent.tsx
Labels: package: core, package: react

chore(release): release 3.16.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-dropdown-menu-item): add reflect prop
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
Labels: package: core

fix(pds-dropdown-menu-item): add reflect prop (#666)
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
Labels: package: core

chore(release): release 3.16.2
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: remove GetDX service integrations
  .github/workflows/getdx-service-identification.yml
  .github/workflows/schedule-release.yml
Labels: none

fix(form): guard exposeTypeProperty against duplicate calls
  libs/core/src/utils/form.ts
Labels: package: core

test(form): add exposeTypeProperty unit tests
  libs/core/src/utils/test/form.spec.ts
Labels: package: core

fix(pds-button): always render start/end slots for reliable content projection
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

fix(forms) redefine type property in forms (#667)
  libs/core/src/utils/form.ts
  libs/core/src/utils/test/form.spec.ts
Labels: package: core

style(pds-dropdown-menu): add important to slotted element base styles
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
Labels: package: core

fix(pds-button): always render start/end slots for reliable content projection (#668)
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

style(pds-dropdown-menu): add important to slotted element base styles (#669)
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
Labels: package: core

chore(release): release 3.16.3
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-multiselect): add hideSelectedItems prop to suppress selected items summary
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
Labels: package: core

fix(pds-multiselect): add tests, story, and docs for hideSelectedItems prop
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
