Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

chore(setup): add @storybook/addon-a11y to our storybook setup
  libs/core/.storybook/main.js
  libs/core/.storybook/manager.js
  libs/core/package.json
  yarn.lock
Labels: package: core

feat(sage-link): add size variant to component
  libs/core/src/components.d.ts
  libs/core/src/components/sage-link/readme.md
  libs/core/src/components/sage-link/sage-link.scss
  libs/core/src/components/sage-link/sage-link.spec.tsx
  libs/core/src/components/sage-link/sage-link.stories.tsx
  libs/core/src/components/sage-link/sage-link.tsx
Labels: package: core

refactor(sage-link): remove text property
  libs/core/src/components.d.ts
  libs/core/src/components/sage-link/readme.md
  libs/core/src/components/sage-link/sage-link.e2e.ts
  libs/core/src/components/sage-link/sage-link.spec.tsx
  libs/core/src/components/sage-link/sage-link.stories.tsx
  libs/core/src/components/sage-link/sage-link.tsx
Labels: package: core

feat(link): creates link component
  libs/core/src/components.d.ts
  libs/core/src/components/sage-link/readme.md
  libs/core/src/components/sage-link/sage-link.e2e.ts
  libs/core/src/components/sage-link/sage-link.scss
  libs/core/src/components/sage-link/sage-link.spec.tsx
  libs/core/src/components/sage-link/sage-link.stories.tsx
  libs/core/src/components/sage-link/sage-link.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

refactor(sage-link): remove name from slot and let it behave as default
  libs/core/src/components/sage-link/sage-link.spec.tsx
  libs/core/src/components/sage-link/sage-link.stories.tsx
  libs/core/src/components/sage-link/sage-link.tsx
Labels: package: core

test(sage-link): update spec to check for d attribute in path element
  libs/core/src/components/sage-link/sage-link.spec.tsx
Labels: package: core

feat(link): add external property
  libs/core/src/components.d.ts
  libs/core/src/components/sage-link/readme.md
  libs/core/src/components/sage-link/sage-link.scss
  libs/core/src/components/sage-link/sage-link.stories.tsx
  libs/core/src/components/sage-link/sage-link.tsx
Labels: package: core

test(link): add specs to cover the link component
  libs/core/src/components/sage-link/sage-link.spec.tsx
Labels: package: core

refactor(sage-link): move tests and stories to test folder
  libs/core/src/components/sage-link/stories/sage-link.stories.tsx
  libs/core/src/components/sage-link/test/sage-link.e2e.ts
  libs/core/src/components/sage-link/test/sage-link.spec.tsx
Labels: package: core

test(sage-link): refactor stories to use default args
  libs/core/src/components/sage-link/stories/sage-link.stories.tsx
Labels: package: core

test(sage-link): converted csf story to mdx
  libs/core/src/components/sage-link/stories/sage-link.stories.mdx
  libs/core/src/components/sage-link/stories/sage-link.stories.tsx
Labels: package: core

chore: fixes test with new css class
  libs/core/src/components/sage-link/test/sage-link.spec.tsx
Labels: package: core

style(link): adds appropriate class to link component and uses it for styling
  libs/core/src/components/sage-link/sage-link.scss
  libs/core/src/components/sage-link/sage-link.tsx
Labels: package: core

refactor(sage-link): update styles
  libs/core/src/components/sage-link/sage-link.scss
Labels: package: core

refactor(sage-link): rename property 'size' to 'fontSize'
  libs/core/src/components.d.ts
  libs/core/src/components/sage-link/readme.md
  libs/core/src/components/sage-link/sage-link.tsx
  libs/core/src/components/sage-link/stories/sage-link.stories.tsx
  libs/core/src/components/sage-link/test/sage-link.e2e.ts
  libs/core/src/components/sage-link/test/sage-link.spec.tsx
Labels: package: core

feat(sage-link): add variant for inline and plain
  libs/core/src/components.d.ts
  libs/core/src/components/sage-link/readme.md
  libs/core/src/components/sage-link/sage-link.scss
  libs/core/src/components/sage-link/sage-link.tsx
  libs/core/src/components/sage-link/test/sage-link.spec.tsx
Labels: package: core

fix(lint-staged): move the lint-stage file into libs/core
  libs/core/.lintstagedrc.json
Labels: package: core

feat(button): first pass on new button component
  libs/core/src/components.d.ts
  libs/core/src/components/my-component/stories/my-component.stories.mdx
  libs/core/src/components/sage-button/readme.md
  libs/core/src/components/sage-button/sage-button.scss
  libs/core/src/components/sage-button/sage-button.tsx
  libs/core/src/components/sage-button/stories/sage-button.stories.mdx
  libs/core/src/components/sage-button/test/sage-button.e2e.ts
  libs/core/src/components/sage-button/test/sage-button.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

fix(button): update broken test and remove reflect from props
  libs/core/src/components/sage-button/sage-button.tsx
  libs/core/src/components/sage-button/stories/sage-button.stories.mdx
  libs/core/src/components/sage-button/test/sage-button.spec.tsx
Labels: package: core

fix(button): add more tests
  libs/core/src/components/sage-button/sage-button.tsx
  libs/core/src/components/sage-button/test/sage-button.e2e.ts
  libs/core/src/components/sage-button/test/sage-button.spec.tsx
Labels: package: core

fix(button): update tests after review
  libs/core/src/components/sage-button/test/sage-button.e2e.ts
  libs/core/src/components/sage-button/test/sage-button.spec.tsx
Labels: package: core

docs(image): adds sizes and srcset example to docs
  libs/core/src/components/sage-image/sage-image.scss
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
Labels: package: core

feat(image): adds sizes prop
  libs/core/src/components.d.ts
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/sage-image.tsx
Labels: package: core

feat(image): adds height and width props
  libs/core/src/components.d.ts
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/sage-image.tsx
Labels: package: core

test(image): adds test for custom property
  libs/core/src/components/sage-image/test/sage-image.spec.tsx
Labels: package: core

feat(image): adds props for srcset and sizes
  libs/core/src/components.d.ts
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/sage-image.tsx
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
Labels: package: core

feat(image): adds css custom property for aspect ratio
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/sage-image.scss
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
Labels: package: core

feat(image): adds loading prop for image lazy loading
  libs/core/src/components.d.ts
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/sage-image.tsx
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
  libs/core/src/components/sage-image/test/sage-image.spec.tsx
Labels: package: core

feat(image): adds aspect ratio custom property
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
Labels: package: core

feat(image): adds initial commit with two starting props
  .eslintignore
  libs/core/src/components.d.ts
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/sage-image.scss
  libs/core/src/components/sage-image/sage-image.tsx
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
  libs/core/src/components/sage-image/test/sage-image.e2e.ts
  libs/core/src/components/sage-image/test/sage-image.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore: formatting
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/sage-image.tsx
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
Labels: package: core

test(image): adds unit tests
  libs/core/src/components/sage-image/test/sage-image.spec.tsx
Labels: package: core

docs(image): updates docs for loading prop
  libs/core/src/components.d.ts
  libs/core/src/components/sage-image/readme.md
  libs/core/src/components/sage-image/sage-image.tsx
Labels: package: core

chore: removes .eslintignore
  .eslintignore
Labels: none

docs(image): adds updated documentation for image best practices and usage
  libs/core/src/components/sage-image/stories/sage-image.stories.mdx
  libs/core/src/components/sage-link/readme.md
Labels: package: core

docs: add details to storybook
  libs/core/src/components.d.ts
  libs/core/src/components/sage-button/readme.md
  libs/core/src/components/sage-button/sage-button.tsx
  libs/core/src/components/sage-button/stories/sage-button.stories.mdx
Labels: package: core

docs: write more documentation around button component
  libs/core/src/components.d.ts
  libs/core/src/components/sage-button/readme.md
  libs/core/src/components/sage-button/sage-button.scss
  libs/core/src/components/sage-button/sage-button.tsx
  libs/core/src/components/sage-button/stories/sage-button.stories.mdx
Labels: package: core

chore(global css): build and implement global scss files and generated sage-core.css file
  libs/core/.storybook/preview-head.html
  libs/core/src/components/sage-button/sage-button.scss
  libs/core/src/global/styles/_fonts.scss
  libs/core/src/global/styles/_variables.scss
  libs/core/src/global/styles/app.scss
  libs/core/stencil.config.ts
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore: update @import to @use in fonts.scss
  libs/core/src/global/styles/app.scss
Labels: package: core

chore: cleanup fonts variable locations
  libs/core/src/global/styles/_fonts.scss
  libs/core/src/global/styles/_variables.scss
  libs/core/src/global/styles/app.scss
Labels: package: core
