Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

fix: add property figma mapping
  libs/core/src/components/pds-property/pds-property.figma.ts
Labels: package: core

fix: add Figma TypeScript file to exclude list
  libs/core/tsconfig.json
Labels: package: core

chore: remove unnecessary scripts
  pine/scripts/batch-update-figma-mapping.js
  pine/scripts/fix-figma-files.js
  scripts/batch-update-figma-mapping.js
  scripts/figma-url-map.json
  scripts/fix-figma-files.js
  scripts/fix-url-format.js
  scripts/generate-figma-mapping.js
  scripts/remove-invalid-figma-files.js
  scripts/remove-placeholder-figma-files.js
  scripts/update-figma-urls.js
Labels: none

feat: add code connect (#468)
  figma.config.json
  libs/core/.eslintignore
  libs/core/src/components/pds-alert/pds-alert.figma.ts
  libs/core/src/components/pds-avatar/pds-avatar.figma.ts
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.figma.ts
  libs/core/src/components/pds-chip/pds-chip.figma.ts
  libs/core/src/components/pds-divider/pds-divider.figma.ts
  libs/core/src/components/pds-input/pds-input.figma.ts
  libs/core/src/components/pds-link/pds-link.figma.ts
  libs/core/src/components/pds-list/pds-list.figma.ts
  libs/core/src/components/pds-loader/pds-loader.figma.ts
  libs/core/src/components/pds-modal/pds-modal.figma.ts
  libs/core/src/components/pds-page-heading/pds-page-heading.figma.ts
  libs/core/src/components/pds-progress/pds-progress.figma.ts
  libs/core/src/components/pds-property/pds-property.figma.ts
  libs/core/src/components/pds-radio/pds-radio.figma.ts
  libs/core/src/components/pds-select/pds-select.figma.ts
  libs/core/src/components/pds-switch/pds-switch.figma.ts
  libs/core/src/components/pds-tabs/pds-tabs.figma.ts
  libs/core/src/components/pds-textarea/pds-textarea.figma.ts
  libs/core/src/components/pds-toast/pds-toast.figma.ts
  libs/core/tsconfig.json
Labels: package: core

fix: add floating ui to toolitp
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

refactor: refactor tests to align with floating ui
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

fix: keep portal class in sync with resolved placement
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

fix: add wrap prop and tests
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

docs: remove outer border and cleanup
  libs/core/src/components/pds-box/docs/pds-box.mdx
Labels: package: core

fix: remove stray closing div
  libs/core/src/components/pds-box/docs/pds-box.mdx
Labels: package: core

fix(pds-button): add loader-svg part for color customization and update documentation
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

fix(pds-loader): expose loader-svg part for color customization and enhance tests
  libs/core/src/components/pds-loader/pds-loader.tsx
  libs/core/src/components/pds-loader/readme.md
  libs/core/src/components/pds-loader/test/pds-loader.e2e.ts
  libs/core/src/components/pds-loader/test/pds-loader.spec.tsx
Labels: package: core

fix(pds-button): correct style tag usage in documentation and update test for input value assignment
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
Labels: package: core

fix: converted wrap to boolean
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix: type updates per coderabbit
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

fix: resolve dupe ids, stencil cleanup bug, guard against undefined
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

refactor: update aria live and copy update
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

fix:() expose loader part to allow custom colors in loading button (#522)
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-loader/pds-loader.tsx
  libs/core/src/components/pds-loader/readme.md
  libs/core/src/components/pds-loader/test/pds-loader.e2e.ts
  libs/core/src/components/pds-loader/test/pds-loader.spec.tsx
Labels: package: core

fix: update library usage
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

fix(pds-tooltip): add floating UI for placement and smart positioning (#520)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

fix(pds-box): add wrap prop and tests (#521)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix(pds-table): refactor responsive scrolling for table
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/test/pds-table.e2e.ts
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

fix(pds-table): enhance responsive scrolling based on review
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
Labels: package: core

fix(pds-table-cell): correct HTML tag in truncate prop test case
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
Labels: package: core

fix(pds-table): improve scroll container setup with retry logic
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
Labels: package: core

test(pds-table): set opacity for scroll shadows in responsive table
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

fix(pds-table): refactor expanding width and scrolling for responsive table (#523)
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/test/pds-table.e2e.ts
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

chore(release): release 3.5.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-table): add fixed header and max height properties for improved scrolling experience
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
Labels: package: core

fix(pds-table): add shadow parts for improved styling
  libs/core/src/components/pds-table/pds-table-body/pds-table-body.tsx
  libs/core/src/components/pds-table/pds-table-body/readme.md
  libs/core/src/components/pds-table/pds-table-body/test/pds-table-body.spec.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

fix(pds-table): add shadow parts for improved styling (#525)
  libs/core/src/components/pds-table/pds-table-body/pds-table-body.tsx
  libs/core/src/components/pds-table/pds-table-body/readme.md
  libs/core/src/components/pds-table/pds-table-body/test/pds-table-body.spec.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

chore(release): release 3.5.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-row): add inline and block colgap variant
  libs/core/src/components.d.ts
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-row/pds-row.tsx
  libs/core/src/components/pds-row/readme.md
  libs/core/src/components/pds-row/test/pds-row.spec.tsx
Labels: package: core

fix(pds-box): resolve size wrapping when sizes are greater than 12
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

fix: update docs typo and flex basis specificity
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

pds-row: resolve size bug and add directional col gap props (#526)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-row/pds-row.tsx
  libs/core/src/components/pds-row/readme.md
  libs/core/src/components/pds-row/test/pds-row.spec.tsx
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

fix(pds-box): add responsive justify content properties tests and docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix(pds-box): add responsive align items properties tests and docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix(pds-box): fix min height
  libs/core/src/components/pds-box/docs/pds-box.mdx
Labels: package: core

fix(pds-box): add responsive align self properties tests and docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
