Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

chore(textarea): added autogenerated readme
  libs/core/src/components/sage-input/readme.md
Labels: package: core

docs(textarea): updated onChange added interfaces event and demo ids
  libs/core/src/components.d.ts
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
  libs/core/src/components/sage-textarea/textarea-interface.ts
Labels: package: core

refactor(textarea): remove unused call
  libs/core/src/components/sage-textarea/sage-textarea.tsx
Labels: package: core

docs(textarea): updated to story name refs and copy
  libs/core/src/components/sage-input/stories/sage-input.docs.stories.mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
Labels: package: core

style(textarea): update to local var
  libs/core/src/components/sage-textarea/sage-textarea.scss
Labels: package: core

refactor(textarea): refactor classname func
  libs/core/src/components/sage-textarea/sage-textarea.tsx
Labels: package: core

style(textarea): remove empty lines
  libs/core/src/components/sage-textarea/sage-textarea.tsx
Labels: package: core

feat(chip): adds dropdown variant + styling
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
Labels: package: core

feat(chip): initial generation and base color styles
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
  libs/core/src/components/sage-chip/test/sage-chip.e2e.ts
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

test(chip): fix initial tests
  libs/core/src/components/sage-chip/test/sage-chip.e2e.ts
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
Labels: package: core

feat(chip): adds status dot and styling
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
Labels: package: core

fix(chip): update color naming, hover styles and fix test
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
Labels: package: core

fix(chip): convert dropdown to button and correct styling
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
Labels: package: core

refactor(chip): convert status to dot and correct styles
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
Labels: package: core

feat: adding catalog-info documents for Radiator integration
  catalog-info.yaml
  libs/core/catalog-info.yaml
  libs/icons/catalog-info.yaml
  libs/react/catalog-info.yaml
Labels: package: core, package: react, package: icons

fix(chip): add large prop, refactor class names and styling
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
Labels: package: core

fix(chip): add close event and prop descriptions
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.tsx
Labels: package: core

test(chip): add additional spec tests
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
Labels: package: core

docs(chip): update prop descriptions
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.tsx
Labels: package: core

test(chip): add initial e2e and update markup in spec test
  libs/core/src/components/sage-chip/test/sage-chip.e2e.ts
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
Labels: package: core

fix(chip): converts color terms to sentiment
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
Labels: package: core

fix(chip): converts color terms to sentiment
  libs/core/src/components/sage-chip/sage-chip.scss
Labels: package: core

docs(chip): added additional documentation descriptions
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
Labels: package: core

refactor(chip): move code to function and minor file cleanup
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
Labels: package: core

style(chip): hello linter my old friend
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
Labels: package: core

test(textarea): updates to textarea tests
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
  libs/core/src/utils/utils.ts
Labels: package: core

test(textarea): add isRequired to input and tests
  libs/core/src/components/sage-input/sage-input.tsx
  libs/core/src/components/sage-input/test/sage-input.spec.tsx
Labels: package: core

fix(chip): a11y adjustments on icon and button
  libs/core/src/components/sage-chip/sage-chip.tsx
Labels: package: core

test(chip): fix test after a11y adjustments
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
Labels: package: core

test(input): add type email test
  libs/core/src/components/sage-input/test/sage-input.spec.tsx
Labels: package: core

fix(chip): update css prop to use variable
  libs/core/src/components/sage-chip/sage-chip.scss
Labels: package: core

refactor(figma-export): update process to add changelog links to default index.html file
  libs/icons/.gitignore
  libs/icons/changelogs/2023-05-23-changelog.html
  libs/icons/scripts/collection-copy.ts
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/optimizeSvg.ts
  libs/icons/src/index-template.html
  libs/icons/stencil.config.ts
Labels: package: icons

feat(figma-export): update process to persist optimized versions of SVGs
  .gitignore
  libs/icons/figma-icon-config.json
  libs/icons/package.json
  libs/icons/scripts/collection-copy.ts
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
  libs/icons/scripts/helpers.ts
  libs/icons/scripts/optimizeSvg.ts
  yarn.lock
Labels: package: icons

test(textarea): updating events and test after global utility
  libs/core/src/components.d.ts
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
  libs/core/src/components/sage-textarea/textarea-interface.ts
Labels: package: core

refactor(figma-export): change FigmaIconConfig to say downloadPath vs outputPath
  libs/icons/figma-icon-config.json
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
Labels: package: icons

refactor(ci-build): don't run optimization of SVG files when running build
  libs/icons/package.json
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/helpers.ts
  libs/icons/scripts/optimize-svgs.ts
Labels: package: icons

chore: move sage-icon stories to stories folder
  libs/core/.eslintignore
  libs/core/src/components/sage-icon/stories/sage-icon.docs.stories.mdx
  libs/core/src/components/sage-icon/stories/sage-icon.stories.js
Labels: package: core

chore: move .stylelintrc to root folder to be shared across projects
  .stylelintrc.json
Labels: none

test(textarea): pushing work after pairing with julian
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
  libs/core/src/utils/utils.ts
Labels: package: core

test: add new command to watch for both spec and e2e test changes
  libs/icons/package.json
Labels: package: icons

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
