Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*

docs(sortable): update handle only copy
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
Labels: package: core

fix(sortable): adjust layout
  libs/core/src/components/pds-sortable-item/pds-sortable-item.scss
Labels: package: core

test(sortable): remove sortable item e2e
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.e2e.ts
Labels: package: core

docs(sortable): update handleType copy
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
Labels: package: core

docs(sortable): remove event console logs
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
Labels: package: core

refactor(sortable): renames action sortable item actions prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable-item/readme.md
  libs/core/src/components/pds-sortable-item/stories/pds-sortable-item.stories.js
  libs/core/src/components/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
Labels: package: core

docs(): update id description text
  libs/core/src/components.d.ts
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/readme.md
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-sortable/readme.md
Labels: package: core

docs(sortable): display events in actions panel
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
Labels: package: core

refactor(sortable): update sortable to use element decorator
  libs/core/src/components/pds-sortable/pds-sortable.tsx
Labels: package: core

refactor(sortable): updated folder structure
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/readme.md
  libs/core/src/components/pds-sortable/pds-sortable-item/stories/pds-sortable-item.stories.js
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.e2e.ts
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
Labels: package: core

test(pds-popover): begin spec test
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

test(pds-popover): add units tests
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

test(list-options): add specs
  libs/core/src/components/pds-list-options/pds-list-option/pds-list-option.tsx
  libs/core/src/components/pds-list-options/pds-list-option/test/pds-list-option.spec.tsx
  libs/core/src/components/pds-list-options/test/pds-list-options.spec.tsx
Labels: package: core

[DSS-440]: feat(pds-sortable) - implementation of both pds-sortable and pds-sortable-item
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/readme.md
  libs/core/src/components/pds-sortable/pds-sortable-item/stories/pds-sortable-item.stories.js
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/pds-sortable.scss
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-sortable/readme.md
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-sortable/test/pds-sortable.spec.tsx
  libs/react/src/components/proxies.ts
  yarn.lock
Labels: package: core, package: react

chore(list-options): add keyboard support
  libs/core/src/components.d.ts
  libs/core/src/components/pds-list-options/pds-list-option/pds-list-option.tsx
  libs/core/src/components/pds-list-options/pds-list-option/readme.md
  libs/core/src/components/pds-list-options/pds-list-options.scss
  libs/core/src/components/pds-list-options/pds-list-options.tsx
  libs/core/src/components/pds-list-options/readme.md
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core

docs(list-options): update stories
  libs/core/src/components/pds-list-options/stories/pds-list-options.stories.js
  libs/core/src/components/pds-list-options/test/pds-list-options.spec.tsx
Labels: package: core

test(list-options): add keyboard tests
  libs/core/src/components/pds-popover/stories/pds-popover.docs.mdx
Labels: package: core

chore: convert commands in package and lerna json files to npm
  lerna.json
  libs/core/package.json
  package-lock.json
  package.json
  yarn.lock
Labels: package: core

chore: update github actions and documentation to reflect npm changes
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/release.yml
  libs/icons/scripts/readme.md
Labels: package: icons

ci: make changes for npm cache in workflows
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/release.yml
Labels: none

chore: replace jest-dom with @testing-library/jest-dom
  libs/react/package.json
  package-lock.json
Labels: package: react

chore: add @typescript-eslint/eslint-plugin to devDependencies to resolve dep conflict
  libs/core/package.json
  libs/icons/package.json
  package-lock.json
Labels: package: core, package: icons

chore: update nx package dependency to latest version 16.8.1
  libs/core/package.json
  libs/icons/package.json
  package-lock.json
  package.json
Labels: package: core, package: icons

ci: add step to verify npm cache
  .github/workflows/actions/build-icons/action.yml
Labels: none

chore: change from yarn to npm (#102)
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/release.yml
  lerna.json
  libs/core/package.json
  libs/icons/package.json
  libs/icons/scripts/readme.md
  libs/react/package.json
  package-lock.json
  package.json
  yarn.lock
Labels: package: core, package: react, package: icons

refactor(tabs): update to use tokens
  libs/core/src/components/pds-tabs/pds-tabs.scss
Labels: package: core

refactor(button): update to use variables and primary class name
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

refactor(tab): update to use tokens
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core

refactor(link): update to use tokens
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

fix(divider): fix typo in offset values
  libs/core/src/components/pds-divider/pds-divider.scss
Labels: package: core

refactor(tooltip): update css to use token
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

refactor(tooltip): update to use tokens
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

chore(copytext): remove comments
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

ci: update publish workflow to use node version 20
  .github/workflows/actions/publish-npm/action.yml
Labels: none

ci: update caching for build workflows
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/publish-npm/action.yml
Labels: none

ci: implemenation to update icon library versioning
  .github/workflows/icon-export.yml
  .scripts/determine-bump-type.js
  .scripts/update-icon-version.js
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

ci: update nightly to run at 11am UTC Monday through Friday
  .github/workflows/nightly.yml
Labels: none

docs(input): update documentation
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

fix(input): convert to vars and remove prop comments
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

fix(input): correct variable name and value
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core
