Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

chore(release): release 3.21.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-input): use ResizeObserver for prefix/suffix width instead of recalculating on every update
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

chore: sync package-lock.json with package.json
  package-lock.json
Labels: none

fix(pds-input): re-establish ResizeObserver on DOM reconnection
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

fix(pds-input): re-establish ResizeObserver after DOM reconnection
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

test(pds-input): mock ResizeObserver in spec tests so assertions execute
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

feat(pds-multiselect): add pills variant
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-input): prevent prefix padding shift on focus (#694)
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  package-lock.json
Labels: package: core

feat(pds-multiselect): expose trigger button as CSS shadow part
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

feat(css-parts): expose inner button elements as CSS shadow parts
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-toast/pds-toast.tsx
Labels: package: core

fix(css-parts): revert pds-tab part (shadow: false) and update snapshots
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
Labels: package: core

docs(storybook): add accessibility, patterns, getting started, and migration guide docs
  libs/core/.storybook/preview.js
  libs/core/src/stories/guides/accessibility.docs.mdx
  libs/core/src/stories/guides/patterns.docs.mdx
  libs/core/src/stories/introduction/getting-started.docs.mdx
  libs/core/src/stories/resources/migration.docs.mdx
Labels: package: core

docs(storybook): replace markdown tables with pds-table components
  libs/core/src/stories/guides/accessibility.docs.mdx
  libs/core/src/stories/guides/patterns.docs.mdx
Labels: package: core

docs(storybook): fix broken color linting links
  libs/core/src/stories/guides/accessibility.docs.mdx
  libs/core/src/stories/resources/migration.docs.mdx
Labels: package: core

docs(storybook): add web component and react snippets to code demos via DocCanvas
  libs/core/src/stories/guides/accessibility.docs.mdx
  libs/core/src/stories/guides/patterns.docs.mdx
  libs/core/src/stories/introduction/getting-started.docs.mdx
Labels: package: core

docs(storybook): fix icon name in aria-label button example
  libs/core/src/stories/guides/accessibility.docs.mdx
Labels: package: core

docs(storybook): add slot to pds-icon in button example
  libs/core/src/stories/guides/accessibility.docs.mdx
Labels: package: core

docs(storybook): use icon-only prop on button example
  libs/core/src/stories/guides/accessibility.docs.mdx
Labels: package: core

feat(css-parts): expose inner button elements as CSS shadow parts (#695)
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
Labels: package: core

chore(release): release 3.22.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-input): add text-overflow ellipsis to input field
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

fix: update @swc/core to resolve peer dependency conflict
  package-lock.json
  package.json
Labels: none

fix: align @swc/helpers version range with peer dependency requirement
  package-lock.json
  package.json
Labels: none

fix: restore dev flag for react in package-lock.json
  package-lock.json
Labels: none

fix: update @swc/core to resolve peer dependency conflict (#700)
  package-lock.json
  package.json
Labels: none

fix(pds-input): add text-overflow ellipsis to input field
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style(pds-input): add text-overflow ellipsis to pds-input placeholder text
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style(pds-input): add text-overflow ellipsis to pds-input placeholder text (#699)
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

chore(release): release 3.22.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

ci: add lockfile-only versioning strategy to dependabot
  .github/dependabot.yml
Labels: none

chore: regenerate package-lock.json without --legacy-peer-deps
  package-lock.json
Labels: none

ci: remove --legacy-peer-deps from all CI workflows
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-doc-components/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/schedule-release.yml
Labels: none

chore: add project .npmrc to enforce consistent peer dep resolution
  .npmrc
Labels: none

ci: add lockfile-only versioning strategy to dependabot (#702)
  .github/dependabot.yml
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-doc-components/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/schedule-release.yml
  .npmrc
  package-lock.json
Labels: none

fix(pds-input): suppress mock ElementInternals console errors in spec tests
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

refactor: add isSpecTest utility to form utils
  libs/core/src/utils/form.ts
Labels: package: core

refactor(pds-checkbox): use shared isSpecTest utility
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
Labels: package: core

refactor(pds-combobox): extract updateFormValue and use shared isSpecTest utility
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

fix(pds-textarea): add isSpecTest guard to maxLengthChanged setValidity call
  libs/core/src/components/pds-textarea/pds-textarea.tsx
Labels: package: core

fix: use __STENCIL_SPEC_TESTS__ env var and add setFormValue existence check
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/utils/form.ts
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
