Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

fix(pds-multiselect): wire hideSelectedItems binding to all story render templates
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

feat(pds-multiselect): add hideSelectedItems prop (#671)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

chore(release): release 3.17.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

feat(truncation): add automatic tooltip on truncated text
  libs/core/src/components.d.ts
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/readme.md
  libs/core/src/components/pds-copytext/test/pds-copytext.spec.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/stories/pds-text.stories.js
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/test/truncation-tooltip.spec.ts
  libs/core/src/utils/truncation-tooltip.ts
Labels: package: core

feat(truncation): update spacing
  libs/core/src/utils/test/truncation-tooltip.spec.ts
  libs/core/src/utils/truncation-tooltip.ts
Labels: package: core

feat(truncation): enhance tooltip accessibility, performance, and reliability
  libs/core/src/components.d.ts
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/test/pds-copytext.spec.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/truncation-tooltip.ts
Labels: package: core

feat(pds-table): add disableSelectAll prop to hide header checkbox
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
Labels: package: core

test(pds-table): add tests for disableSelectAll prop
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

docs(pds-table): add disableSelectAll documentation example
  libs/core/src/components/pds-table/docs/pds-table.mdx
Labels: package: core

docs(pds-table): add DisableSelectAll storybook story
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

feat(pds-multiselect): add searchPlaceholder, closePanelOnSelect, dismiss event, and clear method
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

test(pds-multiselect): improve dismiss event test coverage and documentation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

test(truncation): resolve linter
  libs/core/src/utils/test/truncation-tooltip.spec.ts
Labels: package: core

feat(pds-table): add disableSelectAll prop to hide header checkbox (#673)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

fix(pds-table): remove unused pdsTableSelect event declaration
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
Labels: package: core

chore: add AI agent project instructions
  .claude/CLAUDE.md
  .cursor/rules/pine-components.mdc
  .cursor/rules/pine-project.mdc
  AGENTS.md
Labels: none

style(pds-button): replace :has() selector with --empty modifier class
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix(pds-button): use slotchange events to detect empty icon slots
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

fix(pds-button): use assignedElements for element-only slot detection
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

fix(pds-table-row): use pdsCheckboxChange event instead of onClick to prevent double-fire
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
Labels: package: core

test(pds-table-row): update tests for pdsCheckboxChange event handler
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.e2e.ts
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
Labels: package: core

style(pds-table): add isolation isolate to scope internal z-indices
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

fix(pds-table): remove unused pdsTableSelect event declaration (#675)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
Labels: package: core

chore: add AI agent project instructions (#676)
  .claude/CLAUDE.md
  .cursor/rules/pine-components.mdc
  .cursor/rules/pine-project.mdc
  AGENTS.md
Labels: none

fix(pds-button): fix empty icon slot wrapper spacing (#678)
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

fix(pds-table-row): fix checkbox double-fire and z-index bleed-through (#679)
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.e2e.ts
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

fix(pds-multiselect): potential race condition with closePanelOnSelect
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix(pds-multiselect): updates per review
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

feat(pds-multiselect): add searchPlaceholder, closePanelOnSelect, dis… (#674)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

feat(truncation): add automatic tooltip on truncated text (#672)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/readme.md
  libs/core/src/components/pds-copytext/test/pds-copytext.spec.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/stories/pds-text.stories.js
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/test/truncation-tooltip.spec.ts
  libs/core/src/utils/truncation-tooltip.ts
Labels: package: core

chore(release): release 3.18.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore(figma): move code connect files to libs/figma
  figma.config.json
  libs/core/tsconfig.json
  libs/figma/components/pds-alert.figma.ts
  libs/figma/components/pds-avatar.figma.ts
  libs/figma/components/pds-button.figma.ts
  libs/figma/components/pds-checkbox.figma.ts
  libs/figma/components/pds-chip.figma.ts
  libs/figma/components/pds-divider.figma.ts
  libs/figma/components/pds-filter.figma.ts
  libs/figma/components/pds-filters.figma.ts
  libs/figma/components/pds-input.figma.ts
  libs/figma/components/pds-link.figma.ts
  libs/figma/components/pds-loader.figma.ts
  libs/figma/components/pds-modal.figma.ts
  libs/figma/components/pds-progress.figma.ts
  libs/figma/components/pds-property.figma.ts
  libs/figma/components/pds-radio.figma.ts
  libs/figma/components/pds-select.figma.ts
  libs/figma/components/pds-switch.figma.ts
  libs/figma/components/pds-tabs.figma.ts
  libs/figma/components/pds-textarea.figma.ts
  libs/figma/components/pds-toast.figma.ts
  libs/figma/patterns/pds-list.figma.ts
  libs/figma/patterns/pds-page-heading.figma.ts
Labels: package: core

chore(figma): fix stale property refs and normalize URLs
  figma.config.json
  libs/figma/components/pds-checkbox.figma.ts
  libs/figma/components/pds-chip.figma.ts
  libs/figma/components/pds-loader.figma.ts
  libs/figma/components/pds-radio.figma.ts
  libs/figma/components/pds-select.figma.ts
  libs/figma/components/pds-switch.figma.ts
  libs/figma/patterns/pds-list.figma.ts
Labels: none

chore(figma): add pds-radio-group code connect
  figma.config.json
  libs/figma/components/pds-radio-group.figma.ts
Labels: none

chore(deps): sync package-lock.json
  package-lock.json
Labels: none

chore(figma): address PR feedback on code connect props
  libs/figma/components/pds-radio-group.figma.ts
  libs/figma/components/pds-select.figma.ts
  libs/figma/components/pds-switch.figma.ts
Labels: none

chore(figma): restore direction prop mapping in radio-group
  libs/figma/components/pds-radio-group.figma.ts
Labels: none

chore(figma): move code connect files to libs/figma (#680)
  figma.config.json
  libs/core/src/components/pds-chip/pds-chip.figma.ts
  libs/core/src/components/pds-switch/pds-switch.figma.ts
  libs/core/tsconfig.json
  libs/figma/components/pds-alert.figma.ts
  libs/figma/components/pds-avatar.figma.ts
  libs/figma/components/pds-button.figma.ts
  libs/figma/components/pds-checkbox.figma.ts
  libs/figma/components/pds-chip.figma.ts
  libs/figma/components/pds-divider.figma.ts
  libs/figma/components/pds-filter.figma.ts
  libs/figma/components/pds-filters.figma.ts
  libs/figma/components/pds-input.figma.ts
  libs/figma/components/pds-link.figma.ts
  libs/figma/components/pds-loader.figma.ts
  libs/figma/components/pds-modal.figma.ts
  libs/figma/components/pds-progress.figma.ts
  libs/figma/components/pds-property.figma.ts
  libs/figma/components/pds-radio-group.figma.ts
  libs/figma/components/pds-radio.figma.ts
  libs/figma/components/pds-select.figma.ts
  libs/figma/components/pds-switch.figma.ts
  libs/figma/components/pds-tabs.figma.ts
  libs/figma/components/pds-textarea.figma.ts
  libs/figma/components/pds-toast.figma.ts
  libs/figma/patterns/pds-list.figma.ts
  libs/figma/patterns/pds-page-heading.figma.ts
  package-lock.json
Labels: package: core

feat(pds-link): add download prop to support file downloads
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core

feat(pds-dropdown-menu-item): add download prop to support file downloads
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
