Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

fix(pds-table): use matched cell text for consistent column lookup
  libs/core/src/components/pds-table/pds-table.tsx
Labels: package: core

style(pds-dropdown-menu-item): adjust link styles for improved clickable area (#630)
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
Labels: package: core

fix: update release-info.json to remove template typo for version (#631)
  .github/workflows/slack_payloads/release-info.json
Labels: none

fix(table): respect preventDefault on pdsTableSort to enable server-side sorting
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

fix(pds-table): add default sorting props (#633)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: package: core

ci: add explicit permissions to release workflow
  .github/workflows/schedule-release.yml
Labels: none

fix(pds-avatar): add initials props
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

fix(pds-avatar): add initials props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/readme.md
Labels: package: core

ci: add explicit permissions to release workflow (#634)
  .github/workflows/schedule-release.yml
Labels: none

fix(pds-input): add pdskeydown event
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

fix(pds-textarea): add pdskeydown event
  libs/core/src/components.d.ts
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

feat(pds-select): add events
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

feat(pds-avatar): add initials props (#635)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

feat(core): Add keyboard and focus events to form components (#636)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

fix: upgrade typescript-eslint to v8 and stencil eslint plugin to v0.10
  libs/core/package.json
  package-lock.json
Labels: package: core

fix: regenerate package-lock.json with --legacy-peer-deps to match CI
  package-lock.json
Labels: none

fix: update package-lock.json preserving v3.13.0 resolutions
  package-lock.json
Labels: none

fix: add --legacy-peer-deps to release job for consistency with build jobs
  .github/workflows/schedule-release.yml
Labels: none

chore(release): release 3.14.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore(core): resolve eslint errors after v8 update
  libs/core/.eslintignore
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-filters/pds-filter/pds-filter.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/utils/form.ts
Labels: package: core

fix: rollback typescript-eslint to v6 with proper version compatibility
  libs/core/package.json
  package-lock.json
Labels: package: core

fix: rollback typescript-eslint to v6 with proper version compatibility (#641)
  libs/core/package.json
  package-lock.json
Labels: package: core

feat(pds-multiselect): add pdsmultiselect
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-loader/readme.md
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/multiselect-interface.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

fix: update panel positioning
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix: update selected options
  libs/core/.eslintignore
  libs/core/.eslintrc.json
  libs/core/.lintstagedrc.json
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

fix: added escape close functionality
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix: made checkbox visual for click consistency
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix: add required and handle preselected timing issue
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

test(pds-multiselect): add remaining tests
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): add clear all functionality
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): updated aria and docs
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

docs: added missing docs
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
Labels: package: core

chore: resolve strict linter rules
  libs/core/.eslintrc.json
Labels: package: core

fix(pds-multiselect): update styling and add autoupdate
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

test: resolve test error
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix: update the selected to behave like the contact filter
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

Revert "test: resolve test error"
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(table): show sort icon only on active column
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
Labels: package: core

test(table): update tests for active sort indicator
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

docs(table): add default sort to sortable story
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core
