Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*

test: write some spec tests for base functionality within tabs, tab, and tabpanel
  libs/core/package.json
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

fix(tabs): update tabs listen decorator to remove passive option
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

fix(tabs, tab, tabpanel): update logic to allow use of state as per stencil docs
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

fix(tests): remove commented out test from tabpanel
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
Labels: package: core

fix(docs): update storybook URL capitalization and reorder tab content to fix rendering bug
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tab/stories/sage-tab.docs.stories.mdx
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.docs.stories.mdx
  libs/core/src/components/sage-tabs/stories/sage-tabs.docs.stories.mdx
Labels: package: core

fix(tab test): update test to match new order of tab content and edges for availability variant
  libs/core/src/components/sage-tab/test/sage-tab.spec.tsx
Labels: package: core

fix(tabs, tab, tabpanel): move tab matching to Tabs component, update tests, cleanup/unify syntax
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tab/stories/sage-tab.docs.stories.mdx
  libs/core/src/components/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.docs.stories.mdx
  libs/core/src/utils/utils.ts
Labels: package: core

fix: update tests, clean up docs, add spacing custom props, remove make methods public for testing
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabpanel/sage-tabpanel.scss
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.scss
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

chore(documentation): updated component page titles for consistancy
  libs/core/src/components/sage-button/stories/sage-button.docs.stories.mdx
  libs/core/src/components/sage-icon/sage-icon.docs.stories.mdx
  libs/core/src/components/sage-link/stories/sage-link.docs.stories.mdx
Labels: package: core

fix(tabpanel): add tabindex to active tabpanel in alignment with W3C guidance
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
Labels: package: core

fix(tests): update tests to include key inputs to test listners
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

fix(tests): add tabpanels to tests to cover pushing information to them
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

fix(tabpanel): set tabindex to 0 in alignment with W3C guidance for auto activation tabs
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
Labels: package: core

fix(docs): add space between prop declaration and custom prop in scss to show in args table
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.scss
Labels: package: core

refactor: wip
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.js
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

fix(test): update tests to match expected behaviors with new activeTabIndex, required variant, etc
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

fix: update prop names for clarity, fix tests, reword some documentation, general cleanup
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.js
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

chore: merge fixes, story prop fixes, and docs tweaks
  libs/core/src/components.d.ts
  libs/core/src/components/sage-button/stories/sage-button.docs.stories.mdx
  libs/core/src/components/sage-icon/sage-icon.docs.stories.mdx
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.js
Labels: package: core

fix(tabs/tab/tabpanel): update propGeneration method to have default index
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

fix(stories/docs): add documentation for activeTabIndex and fix story props
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.js
Labels: package: core

docs: update stories to show renamed prop instead of prop
  libs/core/src/components/sage-tab/stories/sage-tab.docs.stories.mdx
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.docs.stories.mdx
  libs/core/src/components/sage-tabs/stories/sage-tabs.docs.stories.mdx
Labels: package: core

chore: force regeneration of CSS Custom Props table into readme
  libs/core/src/components/sage-tabs/readme.md
Labels: package: core

fix(sage-tabs): logic to navigate via keyboard was broken due to activeTabIndex being undefined
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

refactor(sage-tabs): clean up whitespace
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

docs: update stories to non-numaric names and fix props
  libs/core/src/components/sage-tab/stories/sage-tab.stories.js
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.stories.js
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.js
Labels: package: core

chore: clean up jsdoc comments
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabs/sage-tabs.scss
  libs/core/src/components/sage-tabs/sage-tabs.tsx
Labels: package: core

refactor(tabs): updates file structure and subcomponents for nesting in storybook
  libs/core/src/components/sage-tab/stories/sage-tab.docs.stories.mdx
  libs/core/src/components/sage-tab/stories/sage-tab.stories.js
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.docs.stories.mdx
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.stories.js
  libs/core/src/components/sage-tabs/sage-tab/readme.md
  libs/core/src/components/sage-tabs/sage-tab/sage-tab.scss
  libs/core/src/components/sage-tabs/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabs/sage-tab/test/sage-tab.e2e.ts
  libs/core/src/components/sage-tabs/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabs/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabs/sage-tabpanel/sage-tabpanel.scss
  libs/core/src/components/sage-tabs/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabs/sage-tabpanel/test/sage-tabpanel.e2e.ts
  libs/core/src/components/sage-tabs/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.docs.stories.mdx
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

docs(tabs): remove un-needed folders from old structure, remove links, and update wording
  libs/core/src/components/sage-tabs/stories/sage-tabs.docs.stories.mdx
Labels: package: core

test commit
  libs/core/tokens/tokens.json
Labels: package: core

chore(lint): fix linting errors for let statements
  libs/icons/scripts/figma-icon-export.ts
Labels: package: icons

refactor(figma-export): refactored to be more synchronous in nature
  libs/icons/package.json
  libs/icons/scripts/figma-icon-export.ts
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
  libs/icons/src/icon-data.json
  yarn.lock
Labels: package: icons

refactor(figma-export): once process is complete we now create a nightly branch
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

refactor(figma-export): figma-icon-export to build a changelog html file
  libs/icons/figma-icon-config.json
  libs/icons/scripts/figma_icons/changelog-template.html
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
Labels: package: icons

refactor(figma-export): update logic to ingore any frame that starts with an underscore '_'
  libs/icons/figma-icon-config.json
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/readme.md
Labels: package: icons

refactor(figma-export): cleanup tsdoc comments
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

feat(figma-export): add and commit the icon related files using SimpleGit
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

refactor(figma-export): create and update location of changelog html files
  libs/icons/changelogs/.gitkeep
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

refactor(figma-export): remove code that commits the files
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons

refactor(figma-export): add some new types and jsdoc comments
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
Labels: package: icons

chore: update lerna to v6.5
  package.json
  yarn.lock
Labels: none
