Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

chore: upgrade @stencil/core from 4.28.2 to 4.38.3 (#577)
  libs/core/package.json
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-modal/pds-modal-content/pds-modal-content.tsx
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/utils/attributes.ts
  libs/core/src/utils/form.ts
  libs/core/src/utils/utils.ts
  libs/core/tsconfig.json
  package-lock.json
Labels: package: core

chore(release): release 3.10.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(deps): update @pine-ds/icons to 9.12.0 with Stencil 4.38.3
  package-lock.json
Labels: none

fix(deps): update @pine-ds/icons to 9.12.0 with Stencil 4.38.3 (#580)
  package-lock.json
Labels: none

chore(release): release 3.11.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-avatar, pds-button, pds-checkbox): update code connect to match latest components
  libs/core/src/components/pds-avatar/pds-avatar.figma.ts
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.figma.ts
Labels: package: core

fix(pds-button): add support for icon-only
  libs/core/src/components/pds-button/pds-button.figma.ts
Labels: package: core

fix: update code connect mappings to match latest component updates (#581)
  libs/core/src/components/pds-avatar/pds-avatar.figma.ts
  libs/core/src/components/pds-button/pds-button.figma.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.figma.ts
Labels: package: core

fix(): refactor Slack notification workflow for releases
  .github/workflows/notify-release.yml
  .github/workflows/schedule-release.yml
Labels: none

fix: maintain dropdown position on window resize
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/readme.md
Labels: package: core

docs: add menu-panel CSS part example
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
Labels: package: core

fix(): refactor Slack notification workflow for releases (#582)
  .github/workflows/notify-release.yml
  .github/workflows/schedule-release.yml
Labels: none

chore: remove obsolete Slack notification workflow for releases
  .github/workflows/notify-release.yml
Labels: none

chore: remove obsolete Slack notification workflow for releases (#584)
  .github/workflows/notify-release.yml
Labels: none

docs: add get support page to introduction
  libs/core/src/stories/resources/support.docs.mdx
Labels: package: core

docs: reorganize contributing page with task-based flow
  libs/core/src/stories/introduction/contributing.docs.mdx
Labels: package: core

docs: standardize links using pds-link component
  libs/core/src/stories/guides/assets.docs.mdx
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/layout.docs.mdx
  libs/core/src/stories/introduction/welcome.docs.mdx
  libs/core/src/stories/resources/icons-mgmt.docs.mdx
  libs/core/src/stories/tokens/tokens.docs.mdx
Labels: package: core

docs: remove blank design principles page
  libs/core/src/stories/foundations/principles.docs.mdx
Labels: package: core

fix(pds-dropdown-menu) add css part for sizing menu panel and adjusts positioning (#583)
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/readme.md
Labels: package: core

docs: Improve docs navigation & support resources (#585)
  libs/core/src/stories/foundations/principles.docs.mdx
  libs/core/src/stories/guides/assets.docs.mdx
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/layout.docs.mdx
  libs/core/src/stories/introduction/contributing.docs.mdx
  libs/core/src/stories/introduction/welcome.docs.mdx
  libs/core/src/stories/resources/icons-mgmt.docs.mdx
  libs/core/src/stories/resources/support.docs.mdx
  libs/core/src/stories/tokens/tokens.docs.mdx
Labels: package: core

docs: add intro image to welcome page
  libs/core/src/stories/assets/pine-intro-img.jpg
  libs/core/src/stories/introduction/welcome.docs.mdx
Labels: package: core

docs: adjust image sizing
  libs/core/src/stories/assets/pine-intro-img.jpg
  libs/core/src/stories/introduction/welcome.docs.mdx
Labels: package: core

docs: add intro image to welcome page (#586)
  libs/core/src/stories/assets/pine-intro-img.jpg
  libs/core/src/stories/introduction/welcome.docs.mdx
Labels: package: core

fix(input-interface): correct typo in event detail property name
  libs/core/src/components/pds-input/input-interface.ts
Labels: package: core

fix(pds-button): type pdsClick event as Event
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
Labels: package: core

fix(pds-chip): type pdsTagCloseClick event as void
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
Labels: package: core

fix(pds-copytext): type pdsCopyTextClick event as string
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/readme.md
Labels: package: core

fix(pds-sortable): type pdsSortableItemMoved event as SortableEvent
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-sortable/readme.md
  libs/core/src/components/pds-sortable/sortable-interface.ts
Labels: package: core

fix(mock-pds-modal): type modal events as void
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/readme.md
Labels: package: core

chore: update generated type definitions
  libs/core/src/components.d.ts
Labels: package: core

fix(deps): update glob from 10.3.10 to 11.1.0 to resolve security vulnerability
  libs/doc-components/package.json
  package-lock.json
Labels: package: doc-componenets

docs(pds-alert): update documentation examples for better readability
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
Labels: package: core

docs(pds-toast): enhance documentation examples for improved readability
  libs/core/src/components/pds-toast/docs/pds-toast.mdx
Labels: package: core

fix(deps): update glob from 10.3.10 to 11.1.0 to resolve security vulnerability (#590)
  libs/doc-components/package.json
  package-lock.json
Labels: package: doc-componenets

fix(input-interface): correct typo in event detail property name (#587)
  libs/core/src/components/pds-input/input-interface.ts
Labels: package: core

fix(): replace any types with proper types in component events (#588)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/readme.md
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/readme.md
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-sortable/readme.md
  libs/core/src/components/pds-sortable/sortable-interface.ts
Labels: package: core

docs(pds-alert, pds-toast): improve DocCanvas formatting for readability (#591)
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-toast/docs/pds-toast.mdx
Labels: package: core

chore(release): release 3.11.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(core): export component types for TypeScript resolution
  libs/core/package.json
  libs/core/src/index.ts
Labels: package: core

fix(release): update Slack notification workflow to use environment variables
  .github/workflows/schedule-release.yml
Labels: none

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
