Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

style(button): add styles for icon-only variant
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

docs(button): update documentation with new icon-only and CTA
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

test(button): add tests for icon-only and href rendering
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

docs(button): update cta examples in docs
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: package: core

style(button): use CSS variable for button dimensions
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix(button): add aria-hidden attribute to icons for improved accessibility
  libs/core/src/components/pds-button/pds-button.tsx
Labels: package: core

test(button): add aria-hidden in tests
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

fix: add padding block and inline properties
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
Labels: package: core

test: add padding block and inline specs
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix: finalize alignself
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

docs: add padding priority documentation
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/readme.md
Labels: package: core

style: updates Table styling to match Figma design
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

fix: add variable
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

docs(button): rename CTA button to Link button and update related stories
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

docs(button): update documentation to rename Link Button
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

fix: add padding-block padding-inline properties and align-self(#399)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

feature(button): adds cta and icon-only variations (#408)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

fix(pds-copytext): correct full-width and truncated styles, update docs
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

fix(pds-copytext): correct full-width and truncated styles, update docs (#410)
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

fix(button): add disabled styles to host
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix: add gap row gap column and margin props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
Labels: package: core

test: add gap and margin tests
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

style: updates and/or fixes focus rings to use outline instead of box shadow
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

style: adds semantic token for focus outlines
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

style: adds focus outline token
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

docs: updates semantic tokens table with new tokens
  libs/core/src/stories/tokens/semantic/border.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

fix(radio): add label hidden
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

fix(button): add disabled styles to host (#411)
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

fix(box): update padding and margin values
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

chore: update stencil dependencies
  libs/core/package.json
  package-lock.json
Labels: package: core

chore(stencil): update stencilJS to v4.28.2
  libs/core/package.json
  package-lock.json
Labels: package: core

chore(puppeteer): update dependency to handle high vulnerability
  libs/core/package.json
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
  package-lock.json
Labels: package: core

chore(release): release 2.17.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

test: fix flaky specs
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
Labels: package: core

chore: update puppeteer to address dependabot concern (#415)
  libs/core/package.json
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
  package-lock.json
Labels: package: core

fix(radio): change label hidden to hide label
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

fix(radio): add label hidden
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

fix(radio): update story
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
Labels: package: core

fix(radio): add hide label prop (#414)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

fix: add switch label hidden prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/readme.md
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
