Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

test(pds-textarea): remove spec test for ElementInternals that requires e2e
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

fix: suppress mock ElementInternals console errors in spec tests (#704)
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/utils/form.ts
Labels: package: core

feat(pds-multiselect): add grouped options support
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/multiselect-interface.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): use role=group for accessible option groups and add @part trigger JSDoc
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): use position index for group vdom keys to prevent duplicates
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

chore: add lockfile sync verification script
  package.json
  scripts/verify-lockfile-sync.cjs
Labels: none

ci: add verify-lockfile pre-push hook
  lefthook.yml
Labels: none

fix: correct false negative guard to require workspace packages beyond root
  scripts/verify-lockfile-sync.cjs
Labels: none

chore: document single-level glob limitation in lockfile sync script
  scripts/verify-lockfile-sync.cjs
Labels: none

fix(pds-multiselect): address grouped options review feedback
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/multiselect-interface.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/core/src/components/pds-toast/readme.md
  libs/react/src/components/react-component-lib/createComponent.tsx
Labels: package: core, package: react

fix(pds-multiselect): restore double-registration guard and fix group-list ARIA role
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/react/src/components/react-component-lib/createComponent.tsx
Labels: package: core, package: react

docs(pds-multiselect): fix grouped options example to use options prop in live preview
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
Labels: package: core

fix(pds-multiselect): move role=group to ul so options are directly owned
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): restore APG group ARIA pattern and skip unlabeled optgroups
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

chore: add pre-push lockfile sync validation (#706)
  lefthook.yml
  package.json
  scripts/verify-lockfile-sync.cjs
Labels: none

feat(pds-sortable): add disabled prop to prevent sorting
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-sortable/sortable-interface.ts
Labels: package: core

docs(pds-sortable): add disabled story and control to storybook
  libs/core/src/components.d.ts
  libs/core/src/components/pds-sortable/readme.md
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
Labels: package: core

test(pds-sortable): add tests for disabled prop
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-sortable/test/pds-sortable.spec.tsx
Labels: package: core

docs(pds-sortable): add disabled example to MDX documentation
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
Labels: package: core

style(pds-sortable): use not-allowed cursor for disabled state
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
Labels: package: core

style(pds-sortable): suppress hover styles when disabled
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
Labels: package: core

test(pds-sortable): fix disabled e2e test timeout from drag simulation
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
Labels: package: core

docs(pds-sortable): align disabled prop JSDoc with codebase convention
  libs/core/src/components/pds-sortable/pds-sortable.tsx
Labels: package: core

fix(pds-sortable): correct typo in dividers prop JSDoc
  libs/core/src/components/pds-sortable/pds-sortable.tsx
Labels: package: core

feat(pds-sortable): add disabled prop to prevent sorting (#703)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-sortable/readme.md
  libs/core/src/components/pds-sortable/sortable-interface.ts
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-sortable/test/pds-sortable.spec.tsx
Labels: package: core

docs(pds-multiselect): add @part JSDoc to alert, avatar, chip, dropdown-menu-item, toast
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-toast/pds-toast.tsx
Labels: package: core

feat(pds-multiselect): add grouped options support (#705)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/multiselect-interface.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/readme.md
Labels: package: core

feat(pds-multiselect): support disabled individual options
  libs/core/src/components/pds-multiselect/multiselect-interface.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

docs(pds-multiselect): add disabled options examples
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

test(pds-multiselect): add tests for disabled individual options
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): skip disabled options on mouse hover
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): restore ArrowUp clamping from initial highlighted state
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): clarify ArrowUp clamp comment for disabled first option
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

feat(pds-multiselect): support disabled individual options (#708)
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/multiselect-interface.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

feat(pds-multiselect): add pills variant
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

docs(pds-multiselect): add pills examples to docs page
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
Labels: package: core

fix(pds-multiselect): address pill variant click-propagation and focus-guard bugs
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix(pds-multiselect): fix pill trigger role, focusout scope, and closing guard
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): stop pill click bubble and fix label activation in inline pill mode
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix(pds-multiselect): add aria-labelledby to inline pill trigger div
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
