Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*

docs(input): update documentation and examples
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
Labels: package: core

docs(input): undo copy changes to prop desc
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
Labels: package: core

docs(input): update boolean descriptions
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
Labels: package: core

docs: update readme
  README.md
Labels: none

ci: add deploy script that can be used for deployment builds
  libs/core/package.json
  libs/icons/package.json
  package.json
Labels: package: core, package: icons

ci: add prepare script to ignore husky prepare in CI environment
  .scripts/prepare.js
  libs/icons/package.json
  package.json
Labels: package: icons

ci: add build.icons to core scripts to assist with deploy task
  libs/core/package.json
Labels: package: core

refactor(link): update external icon to pds-icon
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
Labels: package: core

fix(link): add conditions to classes
  libs/core/src/components/pds-link/pds-link.tsx
Labels: package: core

refactor(link): move classes to function
  libs/core/src/components/pds-link/pds-link.tsx
Labels: package: core

refactor(link): update focus styling to not clash with browser default
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

test(link): update test after icon update
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core

docs(link): reword custom text desc
  libs/core/src/components/pds-link/stories/pds-link.docs.mdx
Labels: package: core

docs(link): adjust stories for clarity
  libs/core/src/components/pds-link/stories/pds-link.stories.js
Labels: package: core

docs(link): add description copy to stories
  libs/core/src/components/pds-link/stories/pds-link.docs.mdx
Labels: package: core

ci: remove cache check for nightly build process
  .github/workflows/icon-export.yml
Labels: none

ci: add build to update script
  libs/icons/package.json
Labels: package: icons

ci: remove workspace from dependency install for publishing action
  .github/workflows/actions/publish-npm/action.yml
Labels: none

feat: wip
  libs/icons/src/index.html
  libs/icons/stencil.config.ts
  libs/icons/www_helper/scripts/index.mjs
  libs/icons/www_helper/styles/styles.css
Labels: package: icons

ci: change scope for local testing
  .github/workflows/icon-export.yml
  .github/workflows/release-icons.yml
  .github/workflows/release.yml
  libs/core/package.json
  libs/core/src/global/pine-ui-global.ts
  libs/core/src/index.ts
  libs/core/src/interface.d.ts
  libs/core/stencil.config.ts
  libs/icons/package.json
  libs/icons/scripts/collection-copy.ts
  libs/icons/scripts/optimize-svgs.ts
  libs/react/package.json
  libs/react/src/components/proxies.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: package: core, package: react, package: icons

chore: make sure svgs are avaiable in the dist folder
  libs/icons/scripts/collection-copy.ts
Labels: package: icons

ci: set default bump type to none to make if check manageable
  .github/workflows/icon-export.yml
  .scripts/update-icon-version.js
Labels: none

ci: add tag as an input to icon-export
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/nightly.yml
Labels: none

ci: update process to commit and push within the workflow
  .github/workflows/release-icons.yml
  .scripts/update-icon-version.js
Labels: none

ci: update icon package file due to conflict in NPM
  libs/icons/package.json
  package-lock.json
Labels: package: icons

ci: refactor update-icon-version script to allow nextVersionType and preId params
  .scripts/update-icon-version.js
Labels: none

refactor: parameter name from bumpType to nextVersionType
  .scripts/update-icon-version.js
Labels: none

ci(icons): v1.0.1-beta.0, created: 0, modified: 0, renamed: 1, deleted: 0
  libs/icons/changelogs/2023-09-28-changelog.html
  libs/icons/src/icon-data.json
  libs/icons/src/index.html
  libs/icons/src/svg/align-center.svg
Labels: package: icons

docs(radio): revert id update
  libs/core/src/components/pds-radio/stories/pds-radio.docs.mdx
Labels: package: core

docs(radio): make id required
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.docs.mdx
Labels: package: core

refactor: parameter name from bumpType to nextVersionType
  .scripts/update-icon-version.js
Labels: none

fixup! ci: add tag as an input to icon-export
  .github/workflows/icon-export.yml
Labels: none

ci(icons): v1.0.1-alpha.0, created: 0, modified: 0, renamed: 1, deleted: 0
  libs/icons/changelogs/2023-09-28-changelog.html
  libs/icons/src/icon-data.json
  libs/icons/src/index.html
  libs/icons/src/svg/align-center.svg
Labels: package: icons

refactor: parameter name from bumpType to nextVersionType
  .scripts/update-icon-version.js
Labels: none

ci: add tag as an input to icon-export
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/nightly.yml
Labels: none

ci: update icon package file due to conflict in NPM
  libs/icons/package.json
  package-lock.json
Labels: package: icons

ci: refactor update-icon-version script to allow nextVersionType and preId params
  .scripts/update-icon-version.js
Labels: none

ci: update process to commit and push within the workflow
  .github/workflows/release-icons.yml
  .scripts/update-icon-version.js
Labels: none

ci: update workflows to allow version and preid set via inputs
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/nightly.yml
  .github/workflows/release-icons.yml
  .scripts/update-icon-version.js
Labels: none

ci: update icon package file due to conflict in NPM
  libs/icons/package.json
  package-lock.json
Labels: package: icons
