Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/doc-components/CHANGELOG.md
  libs/doc-components/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style: updates some accordion styles with semantic tokens
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

style: updates label and checkbox styles
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/global/styles/base.scss
Labels: package: core

style: updates Button colors and border radius
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

style: removes redundant image styles and fixes example images
  libs/core/src/components/pds-image/docs/pds-image.mdx
  libs/core/src/components/pds-image/pds-image.scss
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-image/test/pds-image.e2e.ts
Labels: package: core

style: updates color and type styles for Link
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

style: updates copy text styles and some semantic tokens
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

style: updates Chip colors and type styles
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/global/styles/base.scss
Labels: package: core

style: updates Divider color styles
  libs/core/src/components/pds-divider/pds-divider.scss
Labels: package: core

style: updates Input color and type styles
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style: updates Loader color styles
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-loader/pds-loader.tsx
Labels: package: core

style: updates Tooltip colors and type styles
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

style: updates Switch color and type styles
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: package: core

style: updates Radio color and type styles
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

chore: fixes style linting issues
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: package: core

style: updates Tabs color and type styles
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core

chore: adds new line to label scss file
  libs/core/src/components/_internal/pds-label/pds-label.scss
Labels: package: core

style: updates Textarea color and type styles
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/base.scss
Labels: package: core

style: updates Progress color styles
  libs/core/src/components/pds-progress/pds-progress.scss
Labels: package: core

style: updates Table color and type styles
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/global/styles/base.scss
Labels: package: core

style: fixes minor styling bugs in accordion and chip
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core

style(pds-link): update focus-visible and hover states based on figma design
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

docs: update storybook side navigation
  libs/core/.storybook/preview.js
  libs/core/src/stories/layout.docs.mdx
Labels: package: core

style(tokens): adds fallbacks for font stack
  libs/core/src/global/styles/tokens/core/core.json
Labels: package: core

style: adding built token css
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
Labels: package: core

style: reverts loader svg colors back to currentColor
  libs/core/src/components/pds-loader/pds-loader.tsx
Labels: package: core

style: updates Pine component colors and type styles (#271)
  libs/core/.storybook/preview.js
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/components/pds-image/docs/pds-image.mdx
  libs/core/src/components/pds-image/pds-image.scss
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-image/test/pds-image.e2e.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/global/styles/base.scss
  libs/core/src/stories/layout.docs.mdx
Labels: package: core

style: testing themes
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/theme/dark.json
  libs/core/src/global/styles/tokens/theme/light.json
Labels: package: core

style: testing
  libs/core/src/global/styles/tokens/$themes.json
Labels: package: core

style: kp theme
  libs/core/src/global/styles/tokens/$themes.json
Labels: package: core

style: style dictionary transforms theming
  libs/core/scripts/sd-file-generators.mjs
  libs/core/scripts/sd-filters.mjs
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/community.json
  libs/core/src/global/styles/tokens/brand/community_dark.scss
  libs/core/src/global/styles/tokens/brand/community_light.scss
  libs/core/src/global/styles/tokens/brand/kp.json
  libs/core/src/global/styles/tokens/brand/kp_dark.scss
  libs/core/src/global/styles/tokens/brand/kp_light.scss
  libs/core/src/global/styles/tokens/index.scss
  libs/core/src/global/styles/tokens/mode/dark.json
  libs/core/src/global/styles/tokens/mode/light.json
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

style: add component button
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/community.json
  libs/core/src/global/styles/tokens/component/button.json
  libs/core/src/global/styles/tokens/mode/dark.json
  libs/core/src/global/styles/tokens/mode/light.json
Labels: package: core

style: custom component tokens
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/component/button.json
  libs/core/src/global/styles/tokens/component/button.json
  libs/core/src/global/styles/tokens/mode/light.json
Labels: package: core

style: remove component button token
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/component/button.json
Labels: package: core

style: add component button style
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/component/button.json
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

style: change theming to be at brand. e.g kp/light and kp/dark
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/component/button.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/component/button.json
  libs/core/src/global/styles/tokens/component/chip.json
  libs/core/src/global/styles/tokens/kp/dark.json
  libs/core/src/global/styles/tokens/kp/light.json
  libs/core/src/global/styles/tokens/mode/dark.json
  libs/core/src/global/styles/tokens/mode/light.json
Labels: package: core

style: add "THEME" kp
  libs/core/src/global/styles/tokens/$themes.json
Labels: package: core

style: final cut
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/components/button.json
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/kajabi_products/light.json
Labels: package: core

style: final cut 2
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/kajabi_products/dark.json
Labels: package: core

style: final cut 3
  libs/core/scripts/sd-file-generators.mjs
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/brand/community_dark.scss
  libs/core/src/global/styles/tokens/brand/kp_dark.scss
  libs/core/src/global/styles/tokens/kajabi_products/kajabi_products-dark.scss
  libs/core/src/global/styles/tokens/kajabi_products/kajabi_products-light.scss
Labels: package: core
