Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

refactor(pds-dropdown): adjustments to navigation and focus styles
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.stories.js
Labels: package: core

refactor(pds-dropdown): focus the child element of pds-dropdown-menu-item
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
Labels: package: core

feat(pds-dropdown-menu-item): add destructive prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
Labels: package: core

refactor(pds-dropdown-menu): rename component from pds-dropdown to pds-dropdown-menu
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/readme.md
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.docs.mdx
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.stories.js
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.e2e.ts
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.spec.tsx
  libs/core/src/components/pds-dropdown/docs/pds-dropdown.mdx
  libs/core/src/components/pds-dropdown/pds-dropdown-item/pds-dropdown-item.scss
  libs/core/src/components/pds-dropdown/pds-dropdown.tsx
  libs/core/src/components/pds-dropdown/stories/pds-dropdown.stories.js
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

test(pds-dropdown): adds additional test to increase coverage
  libs/core/src/components/pds-dropdown/test/pds-dropdown.e2e.ts
  libs/core/src/components/pds-dropdown/test/pds-dropdown.spec.tsx
Labels: package: core

docs(pds-dropdown): documentation of the component
  libs/core/src/components/pds-dropdown/docs/pds-dropdown.mdx
  libs/core/src/components/pds-dropdown/stories/pds-dropdown.docs.mdx
  libs/core/src/components/pds-dropdown/stories/pds-dropdown.stories.js
Labels: package: core

refactor(pds-image): remove redundant alt attribute
  libs/core/src/components/pds-image/pds-image.tsx
Labels: package: core

fix(pds-image): ensure alt attribute has default empty string value
  libs/core/src/components/pds-image/pds-image.tsx
Labels: package: core

fix: update refs to backdrop dismiss
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-modal/test/readme.md
Labels: package: core

fix(pds-modal): update closeonbackdropclick prop and auto generated file (#461)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-modal/test/readme.md
Labels: package: core

feat(pds-toast): initial commit
  libs/core/src/components.d.ts
  libs/core/src/components/pds-toast/docs/pds-toast.mdx
  libs/core/src/components/pds-toast/pds-toast.scss
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/readme.md
  libs/core/src/components/pds-toast/stories/pds-toast.docs.mdx
  libs/core/src/components/pds-toast/stories/pds-toast.stories.js
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

test(pds-toast): add additional unit tests
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
Labels: package: core

test(pds-toast): enhance end-to-end tests for toast component functionality
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
Labels: package: core

fix(pds-toast): clarify icon prop description
  libs/core/src/components/pds-toast/pds-toast.tsx
Labels: package: core

fix(pds-alert): remove description prop and use slot
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

fix: animate out the toast
  libs/core/src/components/pds-toast/pds-toast.scss
  libs/core/src/components/pds-toast/pds-toast.tsx
Labels: package: core

style(pds-toast): update padding variable from large to medium
  libs/core/src/components/pds-toast/pds-toast.scss
Labels: package: core

feat(link): adds color prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core

refactor(link): refactors color prop to accept more values
  libs/core/src/components.d.ts
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/utils/utils.ts
Labels: package: core

test: updates color spec test
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core

test(pds-toast): update end-to-end tests to improve animation wait time and visibility checks
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
Labels: package: core

fix(pds-toast): update icon prop description for clarity and adjust animation names
  libs/core/src/components.d.ts
  libs/core/src/components/pds-toast/pds-toast.scss
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/readme.md
Labels: package: core

docs(pds-text): fix invalid color token in example [DSS-1461]
  libs/core/src/components/pds-text/docs/pds-text.mdx
Labels: package: core

docs(pds-dropdown): expand on the examples and th do's and don't
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.stories.js
  libs/core/src/components/pds-link/readme.md
Labels: package: core

fix(pds-alert): remove description prop and use slot (#463)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

test(pds-dropdown): update test to improve coverage
  libs/core/src/components.d.ts
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.e2e.ts
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/test/pds-dropdown-menu-separator.e2e.ts
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/test/pds-dropdown-menu-separator.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.e2e.ts
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.spec.tsx
Labels: package: core

refactor(pds-dropdown): code-review feedback
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
Labels: package: core

feat(pds-dropdown): implementation (#455)
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.e2e.ts
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/test/pds-dropdown-menu-separator.e2e.ts
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/test/pds-dropdown-menu-separator.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/readme.md
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.docs.mdx
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.stories.js
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.e2e.ts
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.spec.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/utils/interfaces.ts
  libs/react/src/components/proxies.ts
  package-lock.json
Labels: package: core, package: react

feat(pds-toast): add pds-toast component (#462)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-toast/docs/pds-toast.mdx
  libs/core/src/components/pds-toast/pds-toast.scss
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/readme.md
  libs/core/src/components/pds-toast/stories/pds-toast.docs.mdx
  libs/core/src/components/pds-toast/stories/pds-toast.stories.js
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

docs(link): removes color argtype from story
  libs/core/src/components/pds-link/stories/pds-link.stories.js
Labels: package: core

feat(link): adds color prop (#458)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
  libs/core/src/utils/utils.ts
Labels: package: core

fix(chip): adds missing click event for dropdown variant and updates a11y docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

fix(pds-chip): correct React syntax in documentation examples
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
Labels: package: core

fix(pds-chip): use correct React component syntax with lowercase p
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
Labels: package: core

chore: remove unneeded click event from dropdown variant
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

fix(pds-chip): correct React syntax to use PascalCase
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
Labels: package: core

fix(pds-chip): use consistent PascalCase for all React examples
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
Labels: package: core

fix: correct CSS variable naming in pds-box minWidth property
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core

fix(chip): updates a11y docs (#449)
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

chore(release): release 3.2.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
