Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

feat: clean up code
  libs/core/scripts/vscode-custom-data-generator.ts
Labels: package: core

feat: added vscode settings patcher as an install script
  libs/core/package.json
  libs/core/scripts/vscode-settings-patcher.cjs
  libs/core/stencil.config.ts
  package-lock.json
  package.json
Labels: package: core

style(pds-button): adjust tertiary hover styles (#613)
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

chore(release): release 3.12.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

feat: add custom elements manifest generator
  libs/core/package.json
  libs/core/scripts/custom-elements-manifest-generator.ts
  libs/core/scripts/vscode-custom-data-generator.ts
  libs/core/scripts/vscode-settings-patcher.cjs
  libs/core/stencil.config.ts
  package.json
  wc.config.js
Labels: package: core

fix(pds-modal): make border prop mutable and remove debug logging
  libs/core/src/components/pds-modal/pds-modal-content/pds-modal-content.tsx
Labels: package: core

style(pds-input): update error and helper message font weight
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

style(pds-checkbox): update error message gap size
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
Labels: package: core

style(pds-input, pds-checkbox): standardize helper and error message typography (#617)
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

fix(pds-modal): make border prop mutable and remove debug logging (#616)
  libs/core/src/components/pds-modal/pds-modal-content/pds-modal-content.tsx
Labels: package: core

fix: update semantic token values in table
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: doc-componenets

fix: resolve nested token values
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: doc-componenets

fix: resolve Box-shadow property destructuring may produce "undefined" in output
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: doc-componenets

chore: update Storybook dependencies to version 10.1.10
  libs/core/package.json
  package-lock.json
  package.json
Labels: package: core

style(pds-copytext): move background color to span element
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

chore: update Storybook dependencies to version 10.1.10 (#621)
  libs/core/package.json
  package-lock.json
  package.json
Labels: package: core

style(pds-copytext): move background color change to correct variant
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

style(pds-copytext): move background color to span element (#623)
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: package: core

chore(deps): update @kajabi-ui/styles to version 1.0.4
  package-lock.json
  package.json
Labels: none

style(pds-avatar): update icon color to brand color in avatar component and tests
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

style(pds-avatar): change background container color from mercury to grey
  libs/core/src/components/pds-avatar/pds-avatar.scss
Labels: package: core

test(pds-avatar): change icon color from mercury to brand color in tests
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

fix: bump token version and component adjustment to align with brand updates (#622)
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  package-lock.json
  package.json
Labels: package: core

chore(release): release 3.12.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: add ds token mapping
  libs/.stylelintrc.json
  libs/core/.eslintrc.json
  libs/core/lint-plugins/eslint-plugin-pine-colors.cjs
  libs/core/lint-plugins/pine-color-utils.cjs
  libs/core/lint-plugins/stylelint-plugin-pine-colors.cjs
  libs/core/lint-plugins/stylelint-plugin-pine-semantic-tokens.cjs
Labels: package: core

docs: add pine design system color linting rules to readme
  libs/core/lint-plugins/README.md
Labels: package: core

fix: fix hex alpha support & batch lint auto-fixes
  libs/core/lint-plugins/pine-color-utils.cjs
  libs/core/lint-plugins/stylelint-plugin-pine-colors.cjs
  libs/core/lint-plugins/stylelint-plugin-pine-semantic-tokens.cjs
Labels: package: core

fix(pds-modal): enhance backdropDismiss functionality to include Escape key handling
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-modal/test/readme.md
Labels: package: core

test(pds-modal): add tests to ensure Escape key prevents default behavior
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
Labels: package: core

docs(pds-modal): update modal documentation to clarify backdropDismiss behavior
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
Labels: package: core

style: update alert dark mode link hover style
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-toast/pds-toast.scss
Labels: package: core

fix(pds-modal) Escape key dismisses modal even when backdropDismiss is false (#625)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/test/mock-pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/components/pds-modal/test/readme.md
Labels: package: core

fix(pds-tab): add disabled prop
  .tool-versions
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/readme.md
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
Labels: package: core

fix: refactor classname
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
Labels: package: core

fix: remove unnecessary tokens
  libs/core/src/components/pds-toast/pds-toast.scss
Labels: package: core

docs: update disabled example
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
Labels: package: core

chore: revert tool versions update
  .tool-versions
Labels: none

style: update alert dark mode link hover style (#620)
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

fix(pds-tab): add add disabled prop (#626)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/readme.md
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
Labels: package: core

feat(pds-table): add border, background, and rowDividers props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table.tsx
Labels: package: core
