Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

feat(pds-modal): add disableInitialFocus to opt out of moving focus on open
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
Labels: package: core

fix(pds-modal): counteract the native dialog focus-move when disableInitialFocus is set
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
Labels: package: core

feat(pds-drawer): add drawer, header, content and footer components
  libs/core/src/components/pds-drawer/pds-drawer-content/pds-drawer-content.scss
  libs/core/src/components/pds-drawer/pds-drawer-content/pds-drawer-content.tsx
  libs/core/src/components/pds-drawer/pds-drawer-content/readme.md
  libs/core/src/components/pds-drawer/pds-drawer-footer/pds-drawer-footer.scss
  libs/core/src/components/pds-drawer/pds-drawer-footer/pds-drawer-footer.tsx
  libs/core/src/components/pds-drawer/pds-drawer-footer/readme.md
  libs/core/src/components/pds-drawer/pds-drawer-header/pds-drawer-header.scss
  libs/core/src/components/pds-drawer/pds-drawer-header/pds-drawer-header.tsx
  libs/core/src/components/pds-drawer/pds-drawer-header/readme.md
  libs/core/src/components/pds-drawer/pds-drawer.scss
  libs/core/src/components/pds-drawer/pds-drawer.tsx
  libs/core/src/components/pds-drawer/readme.md
Labels: package: core

test(pds-drawer): add spec and e2e coverage
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
  libs/core/src/components/pds-drawer/test/pds-drawer.spec.tsx
Labels: package: core

docs(pds-drawer): add Storybook story and MDX documentation
  libs/core/src/components/pds-drawer/docs/pds-drawer.mdx
  libs/core/src/components/pds-drawer/stories/pds-drawer.stories.js
Labels: package: core

chore: regenerate component declarations and API reports for pds-drawer
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/react/etc/react.api.md
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

fix(pds-modal): recognize top-layer overlays regardless of z-index, snapshot focus for Escape
  libs/core/src/components/pds-modal/pds-modal.tsx
Labels: package: core

test(pds-modal): cover the sibling top-layer modal and initial-open regressions
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
Labels: package: core

fix(pds-drawer): scope modal events and exempt portaled overlays from light dismiss
  libs/core/src/components/pds-drawer/pds-drawer-content/pds-drawer-content.scss
  libs/core/src/components/pds-drawer/pds-drawer.tsx
Labels: package: core

test(pds-drawer): cover nested-modal, portaled-popover and initial-open regressions
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
Labels: package: core

chore: revert dependabot manifest changes (lockfile-only update)
  libs/core/package.json
  libs/react/package.json
Labels: package: core, package: react

fix(pds-modal): snapshot top-layer state for Escape, skip focus restore after it moved
  libs/core/src/components/pds-modal/pds-modal.tsx
Labels: package: core

test(pds-modal): cover both sibling-modal mount orders for the Escape fix
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
Labels: package: core

fix(pds-drawer): add reconnect guard, fix premature resizable mentions, document toggle caveat
  libs/core/src/components.d.ts
  libs/core/src/components/pds-drawer/pds-drawer.tsx
  libs/core/src/components/pds-drawer/readme.md
Labels: package: core

test(pds-drawer): add subcomponent reconnect specs, drawer reconnect spec, focus-steal e2e
  libs/core/src/components/pds-drawer/pds-drawer-content/test/pds-drawer-content.spec.tsx
  libs/core/src/components/pds-drawer/pds-drawer-footer/test/pds-drawer-footer.spec.tsx
  libs/core/src/components/pds-drawer/pds-drawer-header/test/pds-drawer-header.spec.tsx
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
  libs/core/src/components/pds-drawer/test/pds-drawer.spec.tsx
Labels: package: core

chore(ci): bump pds-modal size budget to 7 KB for the new focus/Escape fixes
  .size-limit.json
Labels: none

chore(ci): fix stale any-typed drawer entries in react.api.md
  libs/react/etc/react.api.md
Labels: package: react

style(pds-drawer): add box-sizing border-box to header/content/footer to fix padding overflow
  libs/core/src/components/pds-drawer/pds-drawer-content/pds-drawer-content.scss
  libs/core/src/components/pds-drawer/pds-drawer-footer/pds-drawer-footer.scss
  libs/core/src/components/pds-drawer/pds-drawer-header/pds-drawer-header.scss
Labels: package: core

test(pds-drawer): cover header/content/footer padding overflow regression
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
Labels: package: core

feat(pds-drawer): add resizable prop with pointer and keyboard (Window Splitter) support
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-drawer/pds-drawer.scss
  libs/core/src/components/pds-drawer/pds-drawer.tsx
Labels: package: core

test(pds-drawer): cover resizable dragging, keyboard splitter and reconnect-id safety
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
  libs/core/src/components/pds-drawer/test/pds-drawer.spec.tsx
Labels: package: core

test(pds-drawer): cover width-bound reclamping, RTL drag direction, and aria-describedby
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
  libs/core/src/components/pds-drawer/test/pds-drawer.spec.tsx
Labels: package: core

fix(pds-drawer): wire minWidth/maxWidth into CSS and clamp width consistently
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-drawer/pds-drawer.scss
  libs/core/src/components/pds-drawer/pds-drawer.tsx
  libs/core/src/components/pds-drawer/readme.md
Labels: package: core

docs(pds-drawer): document resizable and add a Resizable story
  libs/core/src/components/pds-drawer/docs/pds-drawer.mdx
  libs/core/src/components/pds-drawer/readme.md
  libs/core/src/components/pds-drawer/stories/pds-drawer.stories.js
Labels: package: core

fix(pds-drawer): go fully reactive during resize, add Escape-to-cancel, widen the handle hit area
  libs/core/src/components.d.ts
  libs/core/src/components/pds-drawer/pds-drawer.scss
  libs/core/src/components/pds-drawer/pds-drawer.tsx
  libs/core/src/components/pds-drawer/readme.md
Labels: package: core

test(pds-drawer): cover Escape-cancel, pointercancel-revert and the NaN bounds fallback
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
  libs/core/src/components/pds-drawer/test/pds-drawer.spec.tsx
Labels: package: core

fix(pds-drawer): scope the reconnect guard and inner styles to the drawer's own pds-modal
  libs/core/src/components.d.ts
  libs/core/src/components/pds-drawer/docs/pds-drawer.mdx
  libs/core/src/components/pds-drawer/pds-drawer.scss
  libs/core/src/components/pds-drawer/pds-drawer.tsx
  libs/core/src/components/pds-drawer/readme.md
Labels: package: core

fix(pds-modal): restore or clear focus correctly when disableInitialFocus is set
  libs/core/src/components/pds-modal/pds-modal.tsx
Labels: package: core

test(pds-drawer): cover the marker-scoped reconnect guard against a nested confirm modal
  libs/core/src/components/pds-drawer/test/pds-drawer.spec.tsx
Labels: package: core

test(pds-modal): cover disableInitialFocus focus restore and the nothing-focused case
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
Labels: package: core

fix(pds-modal): don't let the deferred focus correction steal user-moved focus
  libs/core/src/components/pds-modal/pds-modal.tsx
Labels: package: core

test(pds-modal): cover the deferred focus correction against a user-claimed focus target
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
Labels: package: core

fix(pds-drawer): don't light-dismiss on a pointerdown inside a sibling pds-modal
  libs/core/src/components/pds-drawer/pds-drawer.tsx
Labels: package: core

test(pds-drawer): cover light dismiss against a sibling pds-modal and its backdrop
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
Labels: package: core

feat(pds-drawer): resizable, non-modal side panel composed from pds-modal (Slice 1) (#827)
  .size-limit.json
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-drawer/docs/pds-drawer.mdx
  libs/core/src/components/pds-drawer/pds-drawer-content/pds-drawer-content.scss
  libs/core/src/components/pds-drawer/pds-drawer-content/pds-drawer-content.tsx
  libs/core/src/components/pds-drawer/pds-drawer-content/readme.md
  libs/core/src/components/pds-drawer/pds-drawer-content/test/pds-drawer-content.spec.tsx
  libs/core/src/components/pds-drawer/pds-drawer-footer/pds-drawer-footer.scss
  libs/core/src/components/pds-drawer/pds-drawer-footer/pds-drawer-footer.tsx
  libs/core/src/components/pds-drawer/pds-drawer-footer/readme.md
  libs/core/src/components/pds-drawer/pds-drawer-footer/test/pds-drawer-footer.spec.tsx
  libs/core/src/components/pds-drawer/pds-drawer-header/pds-drawer-header.scss
  libs/core/src/components/pds-drawer/pds-drawer-header/pds-drawer-header.tsx
  libs/core/src/components/pds-drawer/pds-drawer-header/readme.md
  libs/core/src/components/pds-drawer/pds-drawer-header/test/pds-drawer-header.spec.tsx
  libs/core/src/components/pds-drawer/pds-drawer.scss
  libs/core/src/components/pds-drawer/pds-drawer.tsx
  libs/core/src/components/pds-drawer/readme.md
  libs/core/src/components/pds-drawer/stories/pds-drawer.stories.js
  libs/core/src/components/pds-drawer/test/pds-drawer.e2e.ts
  libs/core/src/components/pds-drawer/test/pds-drawer.spec.tsx
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/react/etc/react.api.md
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(release): release 4.2.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-progress): normalize fillColor through normalizeColorValue
  libs/core/src/components/pds-progress/pds-progress.tsx
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
Labels: package: core

docs(utils): clarify normalizeColorValue vs setColor relationship
  libs/core/src/utils/utils.ts
Labels: package: core

fix(pds-progress): normalize fillColor through normalizeColorValue (#831)
  libs/core/src/components/pds-progress/pds-progress.tsx
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
Labels: package: core

docs(utils): clarify normalizeColorValue vs setColor relationship (#832)
  libs/core/src/utils/utils.ts
Labels: package: core
