Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

docs: create initial readme file
  README.md
Labels: none

fix(codeowners): update codeowners group
  .github/CODEOWNERS
Labels: none

chore: update icons from latest version of Figma file
  libs/icons/changelogs/2023-08-22-changelog.html
  libs/icons/src/icon-data.json
  libs/icons/src/index.html
  libs/icons/src/svg/ai-sparkle.svg
  libs/icons/src/svg/app-store.svg
  libs/icons/src/svg/contact.svg
  libs/icons/src/svg/ios-battery.svg
  libs/icons/src/svg/ios-data.svg
  libs/icons/src/svg/ios-wifi.svg
  libs/icons/src/svg/play-store.svg
  libs/icons/src/svg/present.svg
  libs/icons/src/svg/series.svg
  libs/icons/src/svg/theme-store.svg
Labels: package: icons

fix(lint): address errors that were identified via lint.all
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.tsx
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/icons/src/components/pds-icon/pds-icon.tsx
Labels: package: core, package: icons

chore: updates to stencil files
  libs/core/src/components.d.ts
  libs/react/src/components/react-component-lib/createComponent.tsx
  libs/react/src/components/react-component-lib/createOverlayComponent.tsx
  libs/react/src/components/react-component-lib/utils/attachProps.ts
  libs/react/src/components/react-component-lib/utils/case.ts
  libs/react/src/components/react-component-lib/utils/index.tsx
Labels: package: core, package: react

chore: change .nvmrc to use Node v20
  .nvmrc
Labels: none

chore(nx): update nx to latest version
  libs/core/package.json
  libs/icons/package.json
  nx.json
  package.json
  yarn.lock
Labels: package: core, package: icons

chore: upgrade stencil to v4.0.2 and it's dependencies to their respective latest versions
  libs/core/.eslintrc.json
  libs/core/package.json
  libs/icons/.eslintrc.json
  libs/icons/package.json
  yarn.lock
Labels: package: core, package: icons

chore: update stories to adhere to the new storybook standard
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-button/stories/pds-button.docs.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.docs.mdx
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-chip/stories/pds-chip.docs.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-copytext/stories/pds-copytext.docs.mdx
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
  libs/core/src/components/pds-divider/stories/pds-divider.docs.mdx
  libs/core/src/components/pds-divider/stories/pds-divider.stories.js
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
  libs/core/src/components/pds-image/stories/pds-image.docs.mdx
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-link/stories/pds-link.docs.mdx
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-progress/stories/pds-progress.docs.mdx
  libs/core/src/components/pds-progress/stories/pds-progress.stories.js
  libs/core/src/components/pds-radio/stories/pds-radio.docs.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-switch/stories/pds-switch.docs.mdx
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-tabs/stories/pds-tabs.docs.mdx
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-textarea/stories/pds-textarea.docs.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.docs.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  libs/core/src/stories/colors.docs.mdx
  libs/core/src/stories/colors.docs.stories.mdx
  libs/core/src/stories/contributing.docs.mdx
  libs/core/src/stories/principles.docs.mdx
  libs/core/src/stories/support.docs.mdx
  libs/core/src/stories/typography.docs.mdx
  libs/core/src/stories/welcome.docs.mdx
Labels: package: core

chore: upgrade storybook to v7.3.2
  libs/core/.babelrc.json
  libs/core/.storybook/main.js
  libs/core/.storybook/preview.js
  libs/core/package.json
  yarn.lock
Labels: package: core

docs(react-test-app): create a sample react app to demonstrate @sage/react
  apps/react-test-app/.gitignore
  apps/react-test-app/index.html
  apps/react-test-app/package.json
  apps/react-test-app/public/vite.svg
  apps/react-test-app/src/App.css
  apps/react-test-app/src/App.tsx
  apps/react-test-app/src/assets/react.svg
  apps/react-test-app/src/index.css
  apps/react-test-app/src/main.tsx
  apps/react-test-app/src/vite-env.d.ts
  apps/react-test-app/tsconfig.json
  apps/react-test-app/tsconfig.node.json
  apps/react-test-app/vite.config.ts
  libs/react/src/components/index.ts
  libs/react/src/index.ts
  yarn.lock
Labels: package: react

refactor(icons): change package name to pineicons
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/release-icons.yml
  apps/react-test-app/package.json
  apps/react-test-app/src/App.tsx
  libs/core/package.json
  libs/core/src/global/pine-ui-global.ts
  libs/core/src/index.ts
  libs/core/src/interface.d.ts
  libs/icons/package.json
  libs/icons/scripts/optimize-svgs.ts
  libs/icons/scripts/readme.md
  libs/react/package.json
  libs/react/src/components/inner-proxies.ts
  tsconfig.json
Labels: package: core, package: react, package: icons

chore: misc
  libs/icons/scripts/helpers.ts
  libs/icons/scripts/optimize-svgs.ts
Labels: package: icons

refactor(pds-icon): add icon property
  libs/icons/src/components.d.ts
  libs/icons/src/components/pds-icon/pds-icon.tsx
  libs/icons/src/components/pds-icon/readme.md
  libs/icons/src/components/pds-icon/utils.ts
  libs/icons/stencil.config.ts
  libs/react/src/components/PdsIcon.tsx
Labels: package: react, package: icons

refactor(sample-app): rename sample app to pds-sample-app
  apps/pds-sample-app/.gitignore
  apps/pds-sample-app/index.html
  apps/pds-sample-app/package.json
  apps/pds-sample-app/public/vite.svg
  apps/pds-sample-app/src/App.css
  apps/pds-sample-app/src/App.tsx
  apps/pds-sample-app/src/assets/react.svg
  apps/pds-sample-app/src/index.css
  apps/pds-sample-app/src/main.tsx
  apps/pds-sample-app/src/vite-env.d.ts
  apps/pds-sample-app/tsconfig.json
  apps/pds-sample-app/tsconfig.node.json
  apps/pds-sample-app/vite.config.ts
  apps/react-test-app/src/index.css
Labels: none

refactor(sample-app): wire up checkbox to onPdsCheckboxChange
  apps/pds-sample-app/src/App.tsx
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
Labels: package: core

chore(deps): dependency updates
  apps/pds-sample-app/package.json
  libs/core/package.json
  libs/core/stencil.config.ts
  yarn.lock
Labels: package: core

feat(pds-sample-app): wip WIP
  apps/pds-sample-app/package.json
  apps/pds-sample-app/src/App.css
  apps/pds-sample-app/src/App.tsx
  apps/pds-sample-app/src/components/Dashboard/Dashboard.tsx
  apps/pds-sample-app/src/components/Login/Login.css
  apps/pds-sample-app/src/components/Login/Login.tsx
  yarn.lock
Labels: none

feat(): add actions addon
  libs/core/.storybook/main.js
Labels: package: core

docs(): update stories with action params and decorators
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
Labels: package: core

docs(pds-tabs): update story to use withActions
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
Labels: package: core

refactor(tabs): update event name include pds prefix
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-tabs/test/pds-tabs.spec.tsx
Labels: package: core

docs(chip): update stories with action params and decorators
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

docs(tooltip): update stories with action params and decorators
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: package: core

fix: add start script to pine-ds/react
  libs/react/package.json
Labels: package: react

docs(tooltip): update to correct component for argTypes
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: package: core

fix(button): update hard coded icon to use pds-icon
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
Labels: package: core

docs(button): update docs to reflect icon updates
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.docs.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-copytext/readme.md
Labels: package: core

test(button): adjust test after icon update
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

style(button): source formatting
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
Labels: package: core

docs(button): update slot text for clarity
  libs/core/src/components/pds-button/stories/pds-button.docs.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

Create scanning
  .github/workflows/codeql.yml
Labels: none

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: none

docs(button): disable icon control when viewing Disclosure story
  libs/core/src/components/pds-button/stories/pds-button.docs.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

docs: extract custom args for Icon enabled components
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
  libs/core/src/stories/_helpers/index.ts
Labels: package: core

refactor(textarea): rename hint prop to helper message
  libs/core/src/components.d.ts
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.docs.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

refactor(input): rename hint prop to helper message
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

refactor(input): rename error text prop to error message
  libs/core/src/components.d.ts
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core

feat(popover): copy over tooltip as starting poing and rename pds-tooltip to pds-popover
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/stories/pds-popover.docs.mdx
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

refactor(popover): change trigger action from mouse based to click based
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
Labels: package: core

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
