Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

fix: update to use shadow
  libs/core/src/components/pds-row/pds-row.scss
  libs/core/src/components/pds-row/pds-row.tsx
Labels: package: core

fix: update border-radius and shadow
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

fix: update border-radius and shadow (#282)
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

feat(ben): this is a test branch to get up to speed with Pine/Stencil
  libs/core/src/components.d.ts
  libs/core/src/components/pds-ben/docs/pds-ben.mdx
  libs/core/src/components/pds-ben/pds-ben.scss
  libs/core/src/components/pds-ben/pds-ben.tsx
  libs/core/src/components/pds-ben/readme.md
  libs/core/src/components/pds-ben/stories/pds-ben.docs.mdx
  libs/core/src/components/pds-ben/stories/pds-ben.stories.js
  libs/core/src/components/pds-ben/test/pds-ben.e2e.ts
  libs/core/src/components/pds-ben/test/pds-ben.spec.tsx
  libs/core/src/components/pds-link/pds-link.tsx
  libs/react/src/components/proxies.ts
  libs/react/src/components/react-component-lib/attachProps.ts
  libs/react/src/components/react-component-lib/case.ts
  libs/react/src/components/react-component-lib/dev.ts
  libs/react/src/components/react-component-lib/index.tsx
Labels: package: core, package: react

Initial commit
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

Revert "Initial commit"
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/doc-components/CHANGELOG.md
  libs/doc-components/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

feat(pds-select): getting feet wet with pds-select component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

Working on the select component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

Added disabled and required to select
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

Added hasError and helperMessage properties to the pds-select component.
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

chore: add new react-component-lib files
  libs/react/src/components/react-component-lib/attachProps.ts
  libs/react/src/components/react-component-lib/case.ts
  libs/react/src/components/react-component-lib/dev.ts
  libs/react/src/components/react-component-lib/index.tsx
Labels: package: react

Convert to W3C DTCG format, read more at https://docs.tokens.studio/convert-to-dtcg-format
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
  libs/core/src/global/styles/tokens/components/avatar.json
Labels: package: core

feat: add sd-transformations to generate tokens from token-studio
  libs/core/scripts/sd-file-generators.mjs
  libs/core/scripts/sd-filters.mjs
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/kajabi_products/kajabi_products-light.scss
Labels: package: core

style: adds half of semantic tokens
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/base/semantic_ash.json
Labels: package: core

style: change font-weight to use numerical values in core tokenset
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/semantic/semantic_old.json
Labels: package: core

style: adds the second half of the semantic tokens
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/base/semantic_ash.json
  libs/core/src/global/styles/tokens/core/core_old.json
  libs/core/src/global/styles/tokens/semantic/semantic_old.json
Labels: package: core

style: add kajabi products themes and mode (light and dark)
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/archive/core/core_old.json
  libs/core/src/global/styles/tokens/archive/semantic/semantic_old.json
  libs/core/src/global/styles/tokens/kajabi_products/light.json
Labels: package: core

style: create new core tokenset
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/core/core_old.json
  libs/core/src/global/styles/tokens/semantic/semantic_old.json
Labels: package: core

style(transform): refactor transform scripts to be more modular
  libs/core/package.json
  libs/core/scripts/sd-file-generators.mjs
  libs/core/scripts/sd-filters.mjs
  libs/core/scripts/style-dictionary/filters/component.mjs
  libs/core/scripts/style-dictionary/filters/core.mjs
  libs/core/scripts/style-dictionary/filters/index.mjs
  libs/core/scripts/style-dictionary/filters/semantic.mjs
  libs/core/scripts/style-dictionary/generators/component.mjs
  libs/core/scripts/style-dictionary/generators/core.mjs
  libs/core/scripts/style-dictionary/generators/index.mjs
  libs/core/scripts/style-dictionary/generators/semantic.mjs
  libs/core/scripts/style-dictionary/transform.mjs
  libs/core/src/global/styles/tokens/base/semantic.json
Labels: package: core

style(tokens): add color.brand to kajabi semantic tokens
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products.json
  libs/core/src/global/styles/tokens/components/avatar.json
Labels: package: core

style: remove old core and semantic tokens
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/archive/core/core_old.json
  libs/core/src/global/styles/tokens/archive/semantic/semantic_old.json
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/kajabi_products/kajabi_products-light.scss
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
Labels: package: core

style: changes for brand semantic and modes
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/brand/kajabi_products.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
  libs/core/src/global/styles/tokens/components/avatar.json
  libs/core/src/global/styles/tokens/kajabi_products/light.json
Labels: package: core

style(tokens): working version of token studio to figma variables with token names in values
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/components/avatar.json
Labels: package: core

style: update themes to include component/avatar
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/components/avatar.json
Labels: package: core

style(tokens): cleanup semantic tokens and a few core tokens for dimensions
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
Labels: package: core

style(tokens): newly generated tokens from style dictionary
  libs/core/src/components/pds-avatar/pds-avatar.tokens.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products-dark.semantic.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products-light.semantic.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/output/kajabi_products.scss
  libs/core/src/global/styles/tokens/index.scss
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

fix: add max-width and remove events
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/readme.md
Labels: package: core

style: adjust styling to accomodate max-width
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

docs: add max-width documentation and example
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: package: core

test: add test for maxWidth
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

fix: correct imports
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

style: correct odering
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

style(tokens): restructure semantic brand token names and locations
  libs/core/scripts/style-dictionary/generators/semantic.mjs
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/dark.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/light.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

style(button): update styles to use semantic tokens
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/global/styles/tokens/index.scss
Labels: package: core

chore(storybook): updates necessary components and files for storybook v8.4
  libs/core/.storybook/main.js
  libs/core/.storybook/manager.js
  libs/core/.storybook/preview.js
  libs/core/package.json
  package-lock.json
Labels: package: core

chore(stencil): update stencilJs to v4.22
  libs/core/package.json
  package-lock.json
Labels: package: core

fix: adds tooltip max width prop and removes events (#285)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/readme.md
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

style(token-studio): update tokens
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/brand/kajabi_products.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
Labels: package: core

style(tokens): generate new style sheets from sd-transforms
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/dark.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/light.scss
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
