Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

test(select): add coverage for updateSelectOption
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

feat: adds prop for display on doc canvas component
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/doc-components/src/components/docCanvas/docCanvas.css
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
Labels: package: core, package: doc-componenets

chore: updates display type in docCanvas component
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
Labels: package: doc-componenets

test(select): add additional test coverage after refactor
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

feat(text): adds new component (#294)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/stories/pds-text.docs.mdx
  libs/core/src/components/pds-text/stories/pds-text.stories.js
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/doc-components/src/components/docCanvas/docCanvas.css
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react, package: doc-componenets

docs: remove useless content
  libs/core/src/components/pds-select/docs/pds-select.mdx
Labels: package: core

fix: add defaults and comment removal
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
Labels: package: core

fix: correct if condition
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

fix(select): add helper and error message rendering methods
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

docs: correct warnings around selected
  libs/core/src/components/pds-select/docs/pds-select.mdx
Labels: package: core

fix: refactoring popover
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

fix(select): handle undefined autocomplete value
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

fix(select): add invalid prop and styling for error state
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

tests: update spec and e2e tests
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

tests: update spec tests and docs
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

docs: remove broken onclick
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
Labels: package: core

fix: add repositioning on scroll
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

fix: remove console log
  libs/core/src/components/pds-button/pds-button.tsx
Labels: package: core

docs: update popover docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
Labels: package: core

docs: update copy
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
Labels: package: core

fix: update maxwidth type to number and append type
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
Labels: package: core

refactor: rename tooltip placement type to placement type
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/utils/types.ts
Labels: package: core

style: add eol
  libs/core/src/components/pds-popover/pds-popover.scss
Labels: package: core

docs: add eol
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
Labels: package: core

fix: add return to closesttarget keydown
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

fix: add toggle popover target action and docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
Labels: package: core

fix: remove comment
  libs/core/src/components/pds-select/pds-select.tsx
Labels: package: core

style: updated font variables
  libs/core/src/components/pds-popover/pds-popover.scss
Labels: package: core

docs: updated demo code
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
Labels: package: core

chore: resolve linting errors
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

fix: remove blank line
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

fix: update to allow hide function to work externally
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

docs: elaborate the manual section for needed function
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
Labels: package: core

tests: add spec for left placement
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

docs: update demo code
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
Labels: package: core

docs(progress): update documentation
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
Labels: package: core

style: updates some components with semantic tokens (#325)
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-image/pds-image.scss
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tokens.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/components/input.json
Labels: package: core

docs(loader): update documentation
  libs/core/src/components/pds-loader/docs/pds-loader.mdx
Labels: package: core

style(tokens-studio): update background container disabled token
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

fix: removed affordance of the ability to close the popover from within the overlay
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
