Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

feat(pds-chip): add dot-color and icon-color props with dot and icon parts
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
Labels: package: core

test(pds-chip): cover dot-color, icon-color, and part overrides
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

docs(pds-chip): document dot and icon color options
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

docs(pds-chip): use default args instead of ifDefined in stories
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

docs(pds-chip): note that dot-color and icon-color don't accept brand
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
Labels: package: core

test(pds-chip): clarify iconColor sentiment-mapping test name
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

feat(pds-chip): add dot-color and icon-color props with dot and icon parts (#830)
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

chore: bump @pine-ds/icons to 10.6.0 and @kajabi-ui/styles to 2.0.0
  package-lock.json
  package.json
Labels: none

feat(pds-modal): accept a custom CSS length as size
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/react/etc/react.api.md
Labels: package: core, package: react

test(pds-modal): cover custom size lengths and the fallback to md
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
Labels: package: core

docs(pds-modal): document custom sizes and add a CustomSize story
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
Labels: package: core

chore: restore the react api report from main
  libs/react/etc/react.api.md
Labels: package: react

fix(pds-modal): accept only length-like custom sizes and keep the presets in the size type
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/utils/types.ts
Labels: package: core

style(pds-modal): fall back to the md width when a custom size is unset
  libs/core/src/components/pds-modal/pds-modal.scss
Labels: package: core

test(pds-modal): cover declaration injection, keywords and padded presets
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
Labels: package: core

docs(pds-modal): move custom width below the size demo and add a live example
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
Labels: package: core

chore: bump @pine-ds/icons to 10.6.0 and @kajabi-ui/styles to 2.0.0 (#833)
  package-lock.json
  package.json
Labels: none

style(pds-button): use text-primary on the accent fill
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

style(pds-checkbox): use text-primary for the mark on the accent fill
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
Labels: package: core

style(pds-radio): use text-primary for the checked dot on the accent fill
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

style(pds-combobox): use text-primary on the accent trigger fill
  libs/core/src/components/pds-combobox/pds-combobox.scss
Labels: package: core

refactor(pds-modal): trim the custom size resolution
  libs/core/src/components/pds-modal/pds-modal.tsx
Labels: package: core

chore: raise the pds-modal entry size limit to 7.5 KB for custom sizes
  .size-limit.json
Labels: none

style(pds-checkbox): keep the mark white on the invalid fill
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
Labels: package: core

test(pds-checkbox): cover checkmark color on accent and invalid fills
  libs/core/src/components/pds-checkbox/test/pds-checkbox.e2e.ts
Labels: package: core

fix: keep accent fills readable in dark mode (#835)
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/test/pds-checkbox.e2e.ts
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

style(pds-combobox): load chip tokens for the fallback chip trigger
  libs/core/src/components/pds-combobox/pds-combobox.scss
Labels: package: core

test(pds-combobox): match fallback chip trigger colors to pds-chip
  libs/core/src/components/pds-combobox/test/pds-combobox.e2e.ts
Labels: package: core

feat(pds-modal): accept a custom CSS length as size (#834)
  .size-limit.json
  libs/core/etc/core.api.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/readme.md
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
  libs/core/src/components/pds-modal/test/pds-modal.spec.tsx
  libs/core/src/utils/types.ts
Labels: package: core

feat(pds-chip): add subtle and solid sentiments
  libs/core/etc/core.api.md
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/utils/types.ts
Labels: package: core

test(pds-chip): cover subtle and solid sentiments
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

docs(pds-chip): document subtle and solid sentiments
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

feat(pds-chip): add subtle and solid sentiments (#836)
  libs/core/etc/core.api.md
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/utils/types.ts
Labels: package: core

chore(release): release 4.3.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(pds-modal): trap focus against visible elements, re-read on each Tab
  libs/core/src/components/pds-modal/pds-modal.tsx
Labels: package: core

test(pds-modal): cover hidden-ancestor and late-added elements in the focus trap
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
Labels: package: core

fix(pds-modal): trap focus against visible elements, re-read on each Tab (#837)
  libs/core/src/components/pds-modal/pds-modal.tsx
  libs/core/src/components/pds-modal/test/pds-modal.e2e.ts
Labels: package: core

fix(pds-multiselect): use fixed positioning so scroll containers do not clip the panel
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

revert(pds-multiselect): remove scroll container story
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
Labels: package: core

test(pds-multiselect): assert panel uses the fixed positioning strategy
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
