Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

fix(checkbox): fixes component not using error message for aria-describedby attribute
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

style: adjust styles to use tokens
  libs/core/src/components/pds-icon/stories/IconCopyComponent.jsx
Labels: package: core

style(pds-link): add hover style to remove text decoration
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

style(pds-link): remove unused link styles
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

fix(switch): fixes component not using error message for aria-describedby attribute
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: package: core

chore: adds inheritedattribute helper util function
  libs/core/src/components/pds-switch/pds-switch.tsx
Labels: package: core

test: fixes failed test for invalid error message
  libs/core/src/components/pds-switch/test/pds-switch.e2e.ts
Labels: package: core

test: fixes incorrect test case value
  libs/core/src/components/pds-switch/test/pds-switch.e2e.ts
Labels: package: core

fix(checkbox): fixes checkbox not using error message for aria-describedby attribute (#439)
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

fix(switch): fixes component not using error message for aria-describedby attribute (#441)
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/test/pds-switch.e2e.ts
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: package: core

style(pds-link): add hover style to remove text decoration (#444)
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

docs(accordion): adds description for accessibility
  libs/core/src/components/pds-accordion/docs/pds-accordion.mdx
Labels: package: core

feat(pds-icon): add additional props for react pds icon (#443)
  libs/core/src/components/pds-icon/stories/IconCopyComponent.jsx
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
  libs/react/src/components/PdsIcon.tsx
Labels: package: core, package: react

docs(button): rewrites some accessibility info
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: package: core

style: update text alignment from 'left' to 'start'
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
Labels: package: core, package: doc-componenets

style: update text alignment styles to logical (#448)
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
Labels: package: core, package: doc-componenets

docs(button): rewrites some accessibility info (#447)
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: package: core

docs(accordion): adds description for accessibility (#446)
  libs/core/src/components/pds-accordion/docs/pds-accordion.mdx
Labels: package: core

fix(chip): adds missing click event for dropdown variant and updates a11y docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: package: core

docs(tooltip): update examples to include htmlContent property and opened attribute
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: package: core

refactor(tooltip): enhance tooltip behavior and positioning logic
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/utils/overlay.ts
Labels: package: core

style(tooltip): simplify tooltip styles and update class selectors
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

refactor(tooltip): streamline ID assignment and ARIA attributes for improved accessibility
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

refactor(tooltip): improve null checks and conditional logic for better stability
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

test(tooltip): enhance end-to-end and unit tests for tooltip functionality and stability
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  libs/core/src/utils/overlay.ts
  libs/core/src/utils/test/overlay.spec.ts
Labels: package: core

test: add additional test coverage
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: package: core

chore(release): release 3.1.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style: add consistent newlines
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: package: core

feat(pds-alert): add new alert component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-text/readme.md
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

style(pds-alert): add styles for alert component
  libs/core/src/components/pds-alert/pds-alert.scss
Labels: package: core

docs(pds-alert): add documentation and stories for alert component
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/stories/pds-alert.docs.mdx
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
Labels: package: core

test(pds-alert): add initial tests for alert component
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

fix(pds-text): reflect truncate property in PdsText component
  libs/core/src/components/pds-text/pds-text.tsx
Labels: package: core

refactor(pds-alert): simplify class name handling
  libs/core/src/components/pds-alert/pds-alert.tsx
Labels: package: core

test(pds-alert): add additional spec tests
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

fix(pds-alert): remove unnecessary conditional class for heading
  libs/core/src/components/pds-alert/pds-alert.tsx
Labels: package: core

test(pds-alert): add additional spec and e2e tests
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

style(pds-alert): enhance styles and class structure for alert component
  libs/core/src/components/pds-alert/pds-alert.scss
Labels: package: core

test(pds-alert): update container class structure and improve tests
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

style(pds-alert): simplified CSS variable naming
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
