Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

fix(pds-multiselect): block keyboard chip removal and fix aria-live re-announcement
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): fix ARIA violation, label focus, terminology, and maxInlinePills
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

docs(pds-multiselect): regenerate readme and components.d.ts with dismissible fix
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/readme.md
Labels: package: core

fix(pds-multiselect): scope isPillCloseClick flag to inline pill mode only
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix(pds-multiselect): use full-width wrapper as Floating UI reference in inline pill mode
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

fix(pds-multiselect): address pill variant review feedback
  libs/core/src/components.d.ts
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
Labels: package: core

fix(pds-multiselect): use composedPath check instead of stopPropagation to guard chip clicks
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

fix(pds-multiselect): set isClosingViaSelection in handlePillRemove to prevent spurious dismiss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

feat(pds-combobox): add triggerShape prop for input-style button trigger
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

fix(pds-combobox): skip label render when hideLabel is true to remove margin spacing
  libs/core/src/components/pds-combobox/pds-combobox.tsx
Labels: package: core

fix(pds-combobox): hide-label tests, label markup, Stencil docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/components/pds-sortable/readme.md
Labels: package: core

feat(pds-combobox): input trigger shape and hide-label spacing (#710)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-combobox/pds-combobox.tsx
  libs/core/src/components/pds-combobox/readme.md
  libs/core/src/components/pds-combobox/test/pds-combobox.spec.tsx
  libs/core/src/components/pds-sortable/readme.md
Labels: package: core

chore: add dependabot manifest cleaner workflow
  .github/workflows/dependabot-manifest-cleaner.yml
Labels: none

chore: add workflow_dispatch support with pr_number input
  .github/workflows/dependabot-manifest-cleaner.yml
Labels: none

chore: add dependabot manifest cleaner workflow (#711)
  .github/workflows/dependabot-manifest-cleaner.yml
Labels: none

chore: revert dependabot manifest changes (lockfile-only update)
  libs/core/package.json
  libs/react/package.json
Labels: package: core, package: react

fix(pds-multiselect): resolve isClosingViaSelection issue
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
Labels: package: core

feat(pds-multiselect): add pills variant (#707)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.tsx
  libs/core/src/components/pds-multiselect/readme.md
  libs/core/src/components/pds-multiselect/stories/pds-multiselect.stories.js
  libs/core/src/components/pds-multiselect/test/pds-multiselect.spec.tsx
Labels: package: core

chore(release): release 3.23.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

docs(pds-alert): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
Labels: package: core

docs(pds-avatar): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
Labels: package: core

docs(pds-copytext): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
Labels: package: core

docs(pds-dropdown-menu): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
Labels: package: core

docs(pds-filters): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-filters/docs/pds-filters.mdx
Labels: package: core

docs(pds-icon): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

docs(pds-input): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-input/docs/pds-input.mdx
Labels: package: core

docs(pds-loader): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-loader/docs/pds-loader.mdx
Labels: package: core

docs(pds-modal): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
Labels: package: core

docs(pds-multiselect): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
Labels: package: core

docs(pds-progress): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
Labels: package: core

docs(pds-property): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-property/docs/pds-property.mdx
Labels: package: core

docs(pds-radio-group): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-radio-group/docs/pds-radio-group.mdx
Labels: package: core

docs(pds-row): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-row/docs/pds-row.mdx
Labels: package: core

docs(pds-select): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-select/docs/pds-select.mdx
Labels: package: core

docs(pds-switch): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
Labels: package: core

docs(pds-table): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-table/docs/pds-table.mdx
Labels: package: core

docs(pds-tabs): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
Labels: package: core

docs(pds-text): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-text/docs/pds-text.mdx
Labels: package: core

docs(pds-textarea): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
Labels: package: core

docs(pds-toast): tighten description first paragraph for mcp extraction
  libs/core/src/components/pds-toast/docs/pds-toast.mdx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
