Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

chore(tokens): update tokens and styles to prefix name with Pine
  libs/core/scripts/build-tokens.ts
  libs/core/src/global/pine-ui-global.ts
  libs/core/src/global/styles/tokens/_border-radius.scss
  libs/core/src/global/styles/tokens/_border.scss
  libs/core/src/global/styles/tokens/_box-shadow.scss
  libs/core/src/global/styles/tokens/_color.scss
  libs/core/src/global/styles/tokens/_font-family.scss
  libs/core/src/global/styles/tokens/_font-size.scss
  libs/core/src/global/styles/tokens/_font-weight.scss
  libs/core/src/global/styles/tokens/_letter-spacing.scss
  libs/core/src/global/styles/tokens/_line-height.scss
  libs/core/src/global/styles/tokens/_spacing.scss
Labels: package: core

chore(checkbox): rename sage-checkbox to pds-checkbox
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.docs.stories.mdx
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-checkbox/test/pds-checkbox.e2e.ts
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

refactor(checkbox): clean up custom prop naming
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

refactor(checkbox): update function to fix jsx lint warning
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
Labels: package: core

test(checkbox): fix incorrect id naming in e2e test
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
Labels: package: core

refactor(checkbox): adjust prop name
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
Labels: package: core

chore(select): add events to files and demo
  libs/core/src/components.d.ts
  libs/core/src/components/sage-select/readme.md
  libs/core/src/components/sage-select/sage-select.tsx
  libs/core/src/components/sage-select/stories/sage-select.stories.js
Labels: package: core

chore(chip): rename from sage-chip to pds-chip
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip-docs.stories.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/test/sage-chip.e2e.ts
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(image): rename sage-image to pds-image
  libs/core/src/components.d.ts
  libs/core/src/components/pds-image/pds-image.scss
  libs/core/src/components/pds-image/pds-image.tsx
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-image/stories/pds-image.docs.stories.mdx
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-image/test/pds-image.e2e.ts
  libs/core/src/components/pds-image/test/pds-image.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(divider): rename sage-divider to pds-divider
  libs/core/src/components.d.ts
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/components/pds-divider/pds-divider.tsx
  libs/core/src/components/pds-divider/readme.md
  libs/core/src/components/pds-divider/stories/pds-divider.docs.stories.mdx
  libs/core/src/components/pds-divider/stories/pds-divider.stories.js
  libs/core/src/components/pds-divider/test/pds-divider.e2e.ts
  libs/core/src/components/pds-divider/test/pds-divider.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(input): rename sage-input to pds-input
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.stories.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/sage-input/test/sage-input.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(link): rename sage-link to pds-link
  libs/core/src/components.d.ts
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/stories/pds-link.docs.stories.mdx
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-link/test/pds-link.e2e.ts
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
  libs/core/src/components/sage-link/stories/sage-link.stories.mdx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(switch): rename sage-switch to pds-switch
  libs/core/src/components.d.ts
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/readme.md
  libs/core/src/components/pds-switch/stories/pds-switch.docs.stories.mdx
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-switch/test/pds-switch.e2e.ts
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/sage-switch/test/sage-switch.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(tab): rename all sage-tab related things to pds-tab
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/readme.md
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.e2e.ts
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.scss
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/readme.md
  libs/core/src/components/pds-tabs/pds-tabpanel/test/pds-tabpanel.e2e.ts
  libs/core/src/components/pds-tabs/pds-tabpanel/test/pds-tabpanel.spec.tsx
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/readme.md
  libs/core/src/components/pds-tabs/stories/pds-tabs.docs.stories.mdx
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-tabs/test/pds-tabs.spec.tsx
  libs/core/src/components/sage-tabs/sage-tab/readme.md
  libs/core/src/components/sage-tabs/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabs/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabs/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.js
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(textarea): rename sage-textarea to pds-textarea
  libs/core/src/components.d.ts
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.docs.stories.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.e2e.ts
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/components/pds-textarea/textarea-interface.ts
  libs/core/src/components/sage-textarea/sage-textarea.scss
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(tooltip): rename sage-tooltip to pds-tooltip
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/readme.md
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.docs.stories.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore: rename repo configuration from sage to pine
  catalog-info.yaml
  libs/core/catalog-info.yaml
  libs/core/package.json
  libs/icons/catalog-info.yaml
  libs/icons/package.json
  libs/react/catalog-info.yaml
  libs/react/package.json
Labels: package: core, package: react, package: icons

fixup! chore(core-storybook): update references from Sage to Pine
  libs/core/src/stories/Support.stories.mdx
Labels: package: core

refactor(input): add utility functions to input and update docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/utils/utils.ts
Labels: package: core

refactor(switch): add aria function to switch
  libs/core/src/components/pds-switch/pds-switch.tsx
Labels: package: core

refactor(form-elements): implement utility function to all form elements
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.stories.mdx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/utils.ts
Labels: package: core

test(checkbox): remove comments and update aria and ids in tests
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: package: core

test(textarea): update spec ids and resolve broken test
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

test(switch): resolve broken test
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: package: core

test(input): add invalid test
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

refactor(form-elements): change inputId to componentId
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: package: core

refactor(form-elements): made componentId required
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: package: core

refactor(form): move form utility location and update description
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/form.spec.ts
  libs/core/src/utils/form.ts
  libs/core/src/utils/utils.spec.ts
  libs/core/src/utils/utils.ts
Labels: package: core

docs(input): add component-id to examples
  libs/core/src/components/pds-input/stories/pds-input.docs.stories.mdx
Labels: package: core

refactor(input): add utility functions to input and update docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/utils/utils.ts
Labels: package: core

refactor(switch): add aria function to switch
  libs/core/src/components/pds-switch/pds-switch.tsx
Labels: package: core

refactor(form-elements): implement utility function to all form elements
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/utils.ts
Labels: package: core

test(checkbox): remove comments and update aria and ids in tests
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
Labels: package: core

refactor(form-elements): change inputId to componentId
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

refactor(form-elements): made componentId required
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-input/readme.md
Labels: package: core

refactor(form): move form utility location and update description
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/utils/utils.ts
Labels: package: core

feat(radio): initial generation + story files
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(radio): initial markup and story file creation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
Labels: package: core

fix(radio): add initial css styles
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

test(radio): fix test due to markup changes
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
