Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*

fix(radio): add initial css styles
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

test(radio): add spec tests excluding events
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

test(radio): update tests after changing to scoped
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: package: core

fix(checkbox): css var improperly named
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
Labels: package: core

docs(radio): fix typo
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
Labels: package: core

feat(pds-radio) - Radio Component (#71)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.docs.stories.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(avatar): adds all available props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
Labels: package: core

feat(avatar): initial commit
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

style(avatar): adds initial avatar size and icon scaling
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
Labels: package: core

refactor(avatar): refactors implementation of size prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
Labels: package: core

style(avatar): adds proper border radius to admin avatar variant
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Labels: package: core

feat(avatar): adds badge prop
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
Labels: package: core

feat(avatar): adds image alt prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

style(avatar): updates focus box shadow to 4px spread
  libs/core/src/components/pds-avatar/pds-avatar.scss
Labels: package: core

style(avatar): updates local variables and refactors styling based on feedback
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/assets/demi_wilkinson.jpg
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
Labels: package: core

style(avatar): updates button radius to use custom prop
  libs/core/src/components/pds-avatar/pds-avatar.scss
Labels: package: core

refactor(avatar): fixes issue with size custom prop being overridden by default size prop
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
Labels: package: core

feat(avatar): adds prop dow dropdown and associated styles and tests
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
Labels: package: core

chore: updates badge border to use custom prop
  libs/core/src/components/pds-avatar/pds-avatar.scss
Labels: package: core

test(avatar): adds unit and e2e tests
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

docs(avatar): adds relevant documentation to storybook
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
Labels: package: core

fix(avatar): fixes storybook story rendering issues
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

refactor(avatar): refactors conditional markup into functions per feedback
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
Labels: package: core

refactor(avatar): refactors size prop and associated styles and tests
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core

feat(avatar): adds image prop and refactors styling
  libs/core/src/components/pds-avatar/assets/demi_wilkinson.png
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-image/stories/pds-image.docs.stories.mdx
Labels: package: core

fix(avatar): updates sage class name to pine
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Labels: package: core

fix(avatar): fixes canvas dropdown story and e2e white space
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/assets/demi_wilkinson.png
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
Labels: package: core

refactor(avatar): refactors classnames and markup functions based on feedback
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
Labels: package: core

fix(avatar): fixes logical issue with has image class rendering when it shouldn't
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
Labels: package: core

fix(avatar): adds fallback support for has selector in FF
  libs/core/src/components/pds-avatar/pds-avatar.scss
Labels: package: core

fix(avatar): adds boolean value to args in Meta tag
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
Labels: package: core

[DSS-384] Avatar - Adds component (#53)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/assets/demi_wilkinson.jpg
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-image/stories/pds-image.docs.stories.mdx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(progress): initial generation and test files
  libs/core/src/components.d.ts
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-progress/pds-progress.tsx
  libs/core/src/components/pds-progress/readme.md
  libs/core/src/components/pds-progress/test/pds-progress.e2e.ts
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

docs(progress): create story files
  libs/core/src/components/pds-progress/stories/pds-progress.docs.stories.mdx
  libs/core/src/components/pds-progress/stories/pds-progress.stories.js
Labels: package: core

chore: update development server configuration
  libs/core/stencil.config.ts
  libs/icons/stencil.config.ts
Labels: package: core, package: icons

style(progress): format css file
  libs/core/src/components/pds-progress/pds-progress.scss
Labels: package: core

docs(progress): create story files
  libs/core/src/components/pds-progress/stories/pds-progress.docs.stories.mdx
  libs/core/src/components/pds-progress/stories/pds-progress.stories.js
Labels: package: core

style(progress): doc formatting
  libs/core/src/components/pds-progress/test/pds-progress.e2e.ts
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
Labels: package: core

test(progress): update test case based on review
  libs/core/src/components/pds-progress/test/pds-progress.e2e.ts
Labels: package: core

refactor(progress): style updates based on review
  libs/core/src/components/pds-progress/pds-progress.scss
Labels: package: core
