Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

test: add axe accessibility coverage to display components
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
  libs/core/src/components/pds-copytext/test/pds-copytext.e2e.ts
  libs/core/src/components/pds-divider/test/pds-divider.e2e.ts
  libs/core/src/components/pds-image/test/pds-image.e2e.ts
  libs/core/src/components/pds-loader/test/pds-loader.e2e.ts
  libs/core/src/components/pds-progress/test/pds-progress.e2e.ts
  libs/core/src/components/pds-property/test/pds-property.e2e.ts
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
Labels: package: core

fix(pds-copytext): mark decorative copy icon aria-hidden and enforce role-img-alt
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/test/pds-copytext.e2e.ts
  libs/core/src/components/pds-copytext/test/pds-copytext.spec.tsx
Labels: package: core

docs(storybook): add accessibility, getting started, and migration guide docs (#696)
  libs/core/.storybook/preview.js
  libs/core/src/stories/guides/accessibility.docs.mdx
  libs/core/src/stories/introduction/getting-started.docs.mdx
  libs/core/src/stories/resources/migration.docs.mdx
Labels: package: core

fix: harden component-status check (discover _internal subcomponents, reject array manifest)
  libs/core/scripts/check-component-status.mjs
Labels: package: core

fix: harden figma-coverage waiver and shared component-dir helper
  libs/core/scripts/check-figma-coverage.mjs
  libs/core/scripts/lib/components.mjs
Labels: package: core

fix: address RTL review feedback for form controls and tooltip
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.tsx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

chore: bump @kajabi-ui/styles to 1.3.0
  package-lock.json
  package.json
Labels: none

fix: resolve select radius and filter RTL direction bot feedback
  libs/core/src/components/pds-filters/pds-filter/pds-filter.tsx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/utils/scroll.ts
Labels: package: core

chore: restore registry semver for @kajabi-ui/styles 1.3.0
  package.json
Labels: none

chore: bump @kajabi-ui/styles to 1.3.0 (#758)
  package-lock.json
  package.json
Labels: none

chore(release): release 3.26.2
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: sync package-lock.json after release
  package-lock.json
Labels: none

fix(pds-filter): use trigger right edge for RTL overflow check
  libs/core/src/components/pds-filters/pds-filter/pds-filter.tsx
Labels: package: core

chore(release): release {version}
  package-lock.json
Labels: none

chore: sync package-lock.json after release
  package-lock.json
Labels: none

docs(foundations): add motion, RTL, status, and Code Connect coverage docs (#736)
  libs/core/.storybook/preview.js
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.tsx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/global/styles/_motion.scss
  libs/core/src/global/styles/app.scss
  libs/core/src/stories/guides/motion.docs.mdx
  libs/core/src/stories/guides/rtl-and-localization.docs.mdx
  libs/core/src/stories/resources/support.docs.mdx
  libs/core/src/utils/scroll.ts
  libs/core/src/utils/test/scroll.spec.ts
  libs/figma/CODE_CONNECT_COVERAGE.md
Labels: package: core

chore(release): finalize lockfile and commit message before push
  .github/workflows/schedule-release.yml
  nx.json
Labels: none

chore(release): finalize lockfile and commit message before push (#759)
  .github/workflows/schedule-release.yml
  nx.json
Labels: none

chore(release): release 3.26.3
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style: adopt pine motion duration tokens for component transitions
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-toast/pds-toast.scss
Labels: package: core

fix(pds-toast): align dismiss timer with reduced-motion CSS duration
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
Labels: package: core

style: adopt background-overlay token for overlay panel surfaces
  libs/core/src/components/pds-combobox/pds-combobox-dropdown-panel.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  package-lock.json
  package.json
Labels: package: core

style: adopt pine motion duration tokens for component transitions (#755)
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-toast/pds-toast.scss
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
Labels: package: core

docs(resources): add MCP patterns and Sage-to-Pine guide for pine-mcp
  libs/core/src/stories/_helpers/PatternCatalog.tsx
  libs/core/src/stories/_helpers/PatternPreview.tsx
  libs/core/src/stories/_helpers/index.ts
  libs/core/src/stories/guides/sage-to-pine.docs.mdx
  libs/core/src/stories/resources/mcp-patterns.docs.mdx
  libs/core/src/stories/resources/mcp-patterns.json
  libs/core/src/stories/resources/mcp.docs.mdx
Labels: package: core

fix(resources): mount pattern previews without innerHTML
  libs/core/src/stories/_helpers/PatternPreview.tsx
Labels: package: core

fix(resources): keep confirmation modal closed in Patterns preview
  libs/core/src/stories/_helpers/PatternPreview.tsx
Labels: package: core

docs(guides): render Sage-to-Pine mappings as pds-table
  libs/core/src/stories/guides/sage-to-pine.docs.mdx
Labels: package: core

docs(guides): keep Sage-to-Pine table code on one line
  libs/core/.storybook/preview-body.html
  libs/core/src/stories/guides/sage-to-pine.docs.mdx
Labels: package: core

docs(resources): align MCP patterns with kajabi-products admin UI
  libs/core/src/stories/resources/mcp-patterns.docs.mdx
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(resources): drop modal patterns and fix edit form layout
  libs/core/src/stories/_helpers/PatternPreview.tsx
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(resources): add gap between edit form main and sidebar columns
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

style: adopt background-overlay token for overlay panel surfaces (#760)
  libs/core/src/components/pds-combobox/pds-combobox-dropdown-panel.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-filters/pds-filter/pds-filter.scss
  libs/core/src/components/pds-modal/pds-modal.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  package-lock.json
  package.json
Labels: package: core

chore(release): release 3.26.4
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

docs(resources): push page actions aside with margin-inline-end auto
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

docs(resources): align heading actions with justify-content end
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

test: disable color-contrast in default runAxe rules for bare E2E harness
  libs/core/src/utils/test/axe.ts
Labels: package: core

test: add axe accessibility coverage to form and interactive components (#752)
  libs/core/src/components/pds-checkbox/test/pds-checkbox.e2e.ts
  libs/core/src/components/pds-chip/test/pds-chip.e2e.ts
  libs/core/src/components/pds-link/test/pds-link.e2e.ts
  libs/core/src/components/pds-radio-group/test/pds-radio-group.e2e.ts
  libs/core/src/components/pds-radio/test/pds-radio.e2e.ts
  libs/core/src/components/pds-switch/test/pds-switch.e2e.ts
  libs/core/src/components/pds-textarea/test/pds-textarea.e2e.ts
Labels: package: core

test: add axe accessibility coverage to display components (#753)
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/test/pds-copytext.e2e.ts
  libs/core/src/components/pds-copytext/test/pds-copytext.spec.tsx
  libs/core/src/components/pds-divider/test/pds-divider.e2e.ts
  libs/core/src/components/pds-image/test/pds-image.e2e.ts
  libs/core/src/components/pds-loader/test/pds-loader.e2e.ts
  libs/core/src/components/pds-progress/test/pds-progress.e2e.ts
  libs/core/src/components/pds-property/test/pds-property.e2e.ts
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
  libs/core/src/utils/test/axe.ts
Labels: package: core

docs(resources): split loading patterns into separate recipes
  libs/core/src/stories/resources/mcp-patterns.json
Labels: package: core

chore(lint): add pine-motion stylelint rule banning hardcoded transition timing
  libs/.stylelintrc.json
  libs/core/lint-plugins/stylelint-plugin-pine-motion.cjs
  libs/core/src/components/pds-combobox/pds-combobox-dropdown-panel.scss
  libs/core/src/components/pds-combobox/pds-combobox.scss
  libs/core/src/components/pds-multiselect/pds-multiselect.scss
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core
