Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

docs(tooltip): copy adjustments
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
Labels: package: core

docs(checkbox): copy adjustments
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
Labels: package: core

docs: update sidebar link text
  libs/core/src/stories/contributing.docs.mdx
Labels: package: core

docs(icon): add sizing copy
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

docs(icon): add more color examples
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: package: core

docs(radio): documentation updates (#334)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: package: core

docs(select): documentation updates (#336)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
Labels: package: core

docs(sortable): documentation updates (#337)
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
Labels: package: core

docs(textarea): updates component documentation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: package: core

docs(checkbox): documentation updates (#345)
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
Labels: package: core

docs(switch): documentation updates (#339)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/readme.md
Labels: package: core

docs(avatar): documentation updates (#340)
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
Labels: package: core

docs(tooltip): documentation updates (#342)
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
Labels: package: core

docs(icon): documentation updates (#341)
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
Labels: package: core

docs(forms): add select to form documentation (#344)
  libs/core/src/stories/contributing.docs.mdx
  libs/core/src/stories/forms.docs.mdx
Labels: package: core

docs: update heading copy
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
Labels: package: core

docs(accordion): updates accordion component docs (#329)
  libs/core/src/components/pds-accordion/docs/pds-accordion.mdx
Labels: package: core

docs(copytext): updates Copy Text docs (#335)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/readme.md
Labels: package: core

docs(image): updates component docs (#338)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-image/docs/pds-image.mdx
  libs/core/src/components/pds-image/pds-image.tsx
  libs/core/src/components/pds-image/readme.md
Labels: package: core

docs(link): updates component documentation (#343)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-link/docs/pds-link.mdx
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
Labels: package: core

docs: update heading copy (#348)
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
Labels: package: core

docs: update layout copy
  libs/core/src/stories/layout.docs.mdx
Labels: package: core

style: add layout layer
  libs/core/src/components/pds-row/pds-row.scss
Labels: package: core

Publish
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/doc-components/CHANGELOG.md
  libs/doc-components/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

docs(table): updates component documentation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

chore: update nx packages
  .gitignore
  .prettierignore
  .prettierrc
  lerna.json
  libs/core/package.json
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Labels: package: core

ci: new workflow for continuous deployment using nx release
  .github/workflows/actions/build-doc-components/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/setup/action.yml
  .github/workflows/schedule-release.yml
Labels: none

ci: remove workflows that are no longer necessary
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/manual-release.yml
  .github/workflows/release-packages.yml
Labels: none

chore: updates description for component parts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
Labels: package: core

chore: updates boolean prop descriptions
  libs/core/src/components/pds-input/pds-input.tsx
Labels: package: core

chore: updates boolean prop descriptions
  libs/core/src/components.d.ts
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: package: core

chore: removes the variant title from the docs
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: package: core

docs(input): updates component documentation (#346)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
Labels: package: core

chore: updates error message description
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: package: core

docs(events): fix the method name to match the example
  libs/core/src/stories/events.docs.mdx
Labels: package: core

docs(textarea): updates component documentation (#347)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: package: core

docs(table): updates component documentation (#349)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: package: core

docs(events): fix the method name to match the example (#351)
  libs/core/src/stories/events.docs.mdx
Labels: package: core

docs(button): updates Button docs to match other components (#331)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
Labels: package: core

docs: adds how to use section
  libs/core/src/stories/welcome.docs.mdx
Labels: package: core
