Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']

chore(deps): regenerate package-lock.json to fix npm ci mismatch
  package-lock.json
Labels: none

docs(pds-table): include pds-table-head-cell in subcomponent list
  libs/core/src/components/pds-table/docs/pds-table.mdx
Labels: package: core

docs: tighten component description first paragraphs (#712)
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-filters/docs/pds-filters.mdx
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-loader/docs/pds-loader.mdx
  libs/core/src/components/pds-modal/docs/pds-modal.mdx
  libs/core/src/components/pds-multiselect/docs/pds-multiselect.mdx
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
  libs/core/src/components/pds-property/docs/pds-property.mdx
  libs/core/src/components/pds-radio-group/docs/pds-radio-group.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-toast/docs/pds-toast.mdx
  package-lock.json
Labels: package: core

feat(pds-layout): add layout component with named and arbitrary max-width sizes
  libs/core/src/components/pds-layout/pds-layout.scss
  libs/core/src/components/pds-layout/pds-layout.tsx
Labels: package: core

test(pds-layout): add spec for size, tag, and centered props
  libs/core/src/components/pds-layout/test/pds-layout.spec.tsx
Labels: package: core

docs(pds-layout): add Storybook stories and MDX documentation
  libs/core/src/components/pds-layout/docs/pds-layout.mdx
  libs/core/src/components/pds-layout/stories/pds-layout.stories.js
Labels: package: core

feat(pds-container): rename pds-layout to pds-container
  libs/core/src/components/pds-container/docs/pds-container.mdx
  libs/core/src/components/pds-container/pds-container.scss
  libs/core/src/components/pds-container/pds-container.tsx
  libs/core/src/components/pds-container/readme.md
  libs/core/src/components/pds-container/stories/pds-container.stories.js
  libs/core/src/components/pds-container/test/pds-container.spec.tsx
  libs/core/src/components/pds-layout/docs/pds-layout.mdx
  libs/core/src/components/pds-layout/pds-layout.scss
Labels: package: core

style(pds-container): update styles
  libs/core/src/components.d.ts
  libs/core/src/components/pds-container/docs/pds-container.mdx
  libs/core/src/components/pds-container/stories/pds-container.stories.js
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

docs(pds-container): add pds-container section and link to layout guide
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

docs(pds-container): move story to components/Layout/Container
  libs/core/src/components/pds-container/stories/pds-container.stories.js
Labels: package: core

docs(pds-container): update container docs
  libs/core/src/stories/guides/layout.docs.mdx
Labels: package: core

docs(pds-container): fix story boolean binding, size attribute, and docs table
  libs/core/src/components/pds-container/docs/pds-container.mdx
  libs/core/src/components/pds-container/stories/pds-container.stories.js
Labels: package: core

feat(pds-container): add container component (#713)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-container/docs/pds-container.mdx
  libs/core/src/components/pds-container/pds-container.scss
  libs/core/src/components/pds-container/pds-container.tsx
  libs/core/src/components/pds-container/readme.md
  libs/core/src/components/pds-container/stories/pds-container.stories.js
  libs/core/src/components/pds-container/test/pds-container.spec.tsx
  libs/core/src/stories/guides/layout.docs.mdx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

chore(release): release 3.24.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

style(fonts): remove Greet @font-face declarations
  libs/core/src/global/styles/_fonts.scss
Labels: package: core

chore: regenerate package-lock.json
  package-lock.json
Labels: none

chore(deps): bump @kajabi-ui/styles to 1.1.0
  package-lock.json
  package.json
Labels: none

fix(pds-button): honor event.defaultPrevented in implicit-submit listener
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

update package-lock
  package-lock.json
Labels: none

refactor(fonts): rename $sage-* font path variables to $pine-*
  libs/core/src/global/styles/_fonts.scss
Labels: package: core

fix(fonts): add $sage-* compat aliases, fix Inter local() hints
  libs/core/src/global/styles/_fonts.scss
Labels: package: core

refactor(fonts): rename $sage-* font path variables to $pine-* (#718)
  libs/core/src/global/styles/_fonts.scss
Labels: package: core

style(fonts): remove Greet @font-face declarations (#715)
  libs/core/src/global/styles/_fonts.scss
  package-lock.json
  package.json
Labels: package: core

chore(release): release 3.24.1
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: sync package-lock.json with package.json
  package-lock.json
Labels: none

fix: sync package-lock.json with package.json (#719)
  package-lock.json
Labels: none

chore(release): release 3.24.2
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: sync package-lock.json with package.json (#720)
  package-lock.json
Labels: none

chore(release): release 3.24.3
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

chore: configure Dependabot for GitHub Actions
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: none

chore: configure Dependabot for GitHub Actions (#722)
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: none

style(pds-chip): adopt chip-namespaced dark-mode-aware text tokens
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core

chore: bump @kajabi-ui/styles to 1.2.0
  package-lock.json
  package.json
Labels: none

chore: bump @kajabi-ui/styles to 1.2.0
  package-lock.json
  package.json
Labels: none

style(pds-chip): adopt chip-namespaced dark-mode-aware text tokens (#725)
  libs/core/src/components/pds-chip/pds-chip.scss
  package-lock.json
  package.json
Labels: package: core

fix(release): pin origin remote to PAT to bypass branch protection
  .github/workflows/schedule-release.yml
Labels: none

fix(release): pin origin remote to PAT to bypass branch protection (#727)
  .github/workflows/schedule-release.yml
Labels: none

chore(release): release 3.24.4
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix: regenerate lockfile to resolve peer dep sync after styles bump
  package-lock.json
Labels: none

feat(pds-alert): add hide-icon prop to suppress leading icon
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
Labels: package: core
