Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: icons

test(tooltip): adding unit and e2e tests
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
Labels: package: core

chore(tooltip): add props and start tests
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

chore(tooltip): add aria, refs, html element refs, arrow, and update primary function
  libs/core/package.json
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  yarn.lock
Labels: package: core

chore(tooltip): updated demo and add props
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

refactor(tooltip): push post rebase
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/react/src/components/proxies.ts
  yarn.lock
Labels: package: core, package: react

test(overlay): updates tests in catch every change
  libs/core/src/utils/overlay.spec.ts
Labels: package: core

test(overlay): added overlay positioning tests
  libs/core/src/utils/overlay.spec.ts
  libs/core/src/utils/overlay.ts
Labels: package: core

refactor(tooltip): update css variables and add js positions
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

chore(packages): add script for coverage map web page
  package.json
Labels: none

refactor(tooltip): add arrow vars and refactor css
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
Labels: package: core

chore(tooltip): add props to tooltip
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

test(tooltip): adding spec test for tooltip and begin overlay tests
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/test/__snapshots__/sage-tooltip.spec.tsx.snap
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/core/src/utils/overlay.spec.ts
  libs/core/src/utils/overlay.ts
Labels: package: core

chore(tooltip): updated disabled prop and updated template bind
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

docs(tooltip): add tooltip docs
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
Labels: package: core

docs(tooltip): update to placement demo indentation
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

refactor(tooltip): remove disabled instances
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
Labels: package: core

docs(tooltip): copy update and demo name change
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

test(tooltip): add placement test and update typo causing last failure
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
Labels: package: core

docs(tooltip): renaming props
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
Labels: package: core

build(tooltip): removed dep
  libs/core/package.json
Labels: package: core

refactor(tooltip): removed old code and comments and code demo cleanup
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/core/src/components/sage-tooltip/test/sage-tooltip.ts
Labels: package: core

refactor(tooltip): update to use logical properties
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
Labels: package: core

docs(tooltip): update copy and props per review; removed comments
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/utils/overlay.ts
  yarn.lock
Labels: package: core

style(tooltip): change arrow to be psuedo element
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
Labels: package: core

docs(tooltip): update has-arrow text
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
Labels: package: core

refactor(tooltip): update width positioning to resolve clickable area being too large
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
Labels: package: core

style(tooltip): removed props since that are not able to be changed by the user
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
Labels: package: core

test(tooltip): adding additional test and clean up comments)
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/core/src/utils/overlay.spec.ts
  libs/core/src/utils/overlay.ts
Labels: package: core

test(tooltip): update hasArrow test and class placement
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
Labels: package: core

docs(tooltip): updated story indentation
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
Labels: package: core

test(tooltip): update e2e test
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
Labels: package: core

docs(tooltip): remove white space and fix typos
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
Labels: package: core

docs(tooltip): update typos, added space for linters and updated demo to match design
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/core/src/utils/overlay.spec.ts
Labels: package: core

docs(tooltip): fix typo and update css rule for no arrow
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
Labels: package: core

refactor(tooltip): add string type instead of empty string for props
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
Labels: package: core

test(tooltip): update tests for 100% coverage post named parameters
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/core/src/utils/overlay.spec.ts
Labels: package: core

docs(tooltip): fix typos
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
Labels: package: core

revert(tooltip): rever to original yarn lock
  yarn.lock
Labels: none

test(tooltip): update test expectation and update if to switch
  libs/core/src/utils/overlay.spec.ts
  libs/core/src/utils/overlay.ts
Labels: package: core

style(tooltip): move styles show/hide styles to css
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
Labels: package: core

.github/labeler.yml:

"package: core":
  - libs/core/**/*

"package: react":
  - libs/react/**/*

"package: icons":
  - libs/icons/**/*
