Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

feat(pds-select): add highlight prop and styling (#568)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

docs: add changelogs to documentation
  README.md
  libs/core/src/stories/resources/changelogs.docs.mdx
Labels: package: core

fix(pds-accordion): add accordion-icon part for styling
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/readme.md
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
Labels: package: core

docs: add changelogs to storybook documentation (#571)
  README.md
  libs/core/src/stories/resources/changelogs.docs.mdx
Labels: package: core

docs: add highlight prop to figma code connect files
  libs/core/src/components/pds-input/pds-input.figma.ts
  libs/core/src/components/pds-select/pds-select.figma.ts
  libs/core/src/components/pds-textarea/pds-textarea.figma.ts
Labels: package: core

fix(pds-alert): correct spelling of dismissable to dismissible in Figma code
  libs/core/src/components/pds-alert/pds-alert.figma.ts
Labels: package: core

fix(pds-accordion): add accordion-icon part for styling (#572)
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/readme.md
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
Labels: package: core

docs: add highlight prop to figma code connect files (#573)
  libs/core/src/components/pds-alert/pds-alert.figma.ts
  libs/core/src/components/pds-input/pds-input.figma.ts
  libs/core/src/components/pds-select/pds-select.figma.ts
  libs/core/src/components/pds-textarea/pds-textarea.figma.ts
Labels: package: core

chore(release): release 3.9.0
  CHANGELOG.md
  libs/core/package.json
  libs/doc-components/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

fix(popover): implement portal-based rendering for correct positioning
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/popover-interface.ts
Labels: package: core

test(popover): update tests for portal implementation
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

docs(popover): add rich content story with Pine components
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
Labels: package: core

chore(core): update auto-generated type definitions
  libs/core/src/components.d.ts
Labels: package: core

test(popover): fix test issues and remove problematic timer tests
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

test(popover): fix fallback trigger initialization test
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

fix(popover): sync portal content on slot changes while active
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

fix(popover): make story controls work for Toggle and WithContent
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
Labels: package: core

fix(popover): add missing semicolon for consistency
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

test(popover): add afterEach cleanup to prevent portal pollution
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

feat(pds-button): add tertiary variant and size prop
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
Labels: package: core

docs(pds-button): add tertiary variant and sizes docs
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: package: core

docs(pds-button): add stories for tertiary and sizes
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

test(pds-button): add tests for tertiary and sizes
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

chore(pds-button): update generated types and readme
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/readme.md
Labels: package: core

fix(pds-popover): convert to slot for trigger and portal rendering (#574)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/popover-interface.ts
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

docs(pds-button): consolidate size stories into a single Sizes
  libs/core/src/components/pds-button/stories/pds-button.stories.js
Labels: package: core

chore: update Storybook and related dependencies to version 8.6.14
  libs/core/package.json
  package-lock.json
Labels: package: core

chore: update Storybook and related dependencies to version 8.6.14 (#576)
  libs/core/package.json
  package-lock.json
Labels: package: core

chore: upgrade @stencil/core to 4.38.3
  libs/core/package.json
  package-lock.json
Labels: package: core

fix: use Element type for better type safety in utils
  libs/core/src/utils/attributes.ts
  libs/core/src/utils/form.ts
  libs/core/src/utils/utils.ts
Labels: package: core

fix: remove conflicting interface in pds-modal-content
  libs/core/src/components/pds-modal/pds-modal-content/pds-modal-content.tsx
Labels: package: core

fix: add type casts for external library compatibility
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-sortable/pds-sortable.tsx
Labels: package: core

chore: enable skipLibCheck in tsconfig
  libs/core/tsconfig.json
Labels: package: core

test: remove part attributes from pds-icon test expectations
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

refactor: simplify type casts to HTMLElement
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-sortable/pds-sortable.tsx
Labels: package: core

feat(pds-button): add tertiary variant and sizing prop (#575)
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: package: core

ci: add slack notification for releases
  .github/workflows/notify-release.yml
  .github/workflows/slack_payloads/release-info.json
Labels: none

ci: remove unnecessary git pull step from release notification workflow
  .github/workflows/notify-release.yml
Labels: none

fix: update release notification format to include clickable release URL
  .github/workflows/slack_payloads/release-info.json
Labels: none

ci: add Slack notification for releases (#578)
  .github/workflows/notify-release.yml
  .github/workflows/slack_payloads/release-info.json
Labels: none

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
