Repository Kajabi/pine, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: react, package: doc-componenets

style(switch): updates component with semantic tokens (#308)
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: package: core

feat(pds-select): added withMessage, Invalid, Disabled templates to stories
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

fix: update innerHTML to value
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

style(box): use semantic tokens in box stylesheet (#304)
  libs/core/src/components/pds-row/pds-row.scss
Labels: package: core

style(sortable): change tokens to use semantic tokens (#305)
  libs/core/src/components/pds-sortable/pds-sortable.scss
Labels: package: core

chore(hooks): replace git hooks husky tool with lefthook (#307)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .scripts/prepare.js
  lefthook.yml
  package-lock.json
  package.json
Labels: none

style(table): change css custom props to use semantic tokens
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
Labels: package: core

fix(docArgsTable): displays a red asterisk when a prop is required
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
Labels: package: doc-componenets

Initial commit
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

feat(pds-select): getting feet wet with pds-select component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

Revert "Initial commit"
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

Added disabled and required to select
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

Added hasError and helperMessage properties to the pds-select component.
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

Working on the select component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

Added options and errorMessage props to PdsSelect component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

Updated some tests for pds-select component
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

Getting to 100% for spec coverage
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

Working on spacing, tests
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

Removed unused variables
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

test: fixed onChange specs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

test(pds-select): simplified tests
  libs/core/src/components/pds-select/test/__snapshots__/pds-select.spec.tsx.snap
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

test(pds-select): fixed another test for the pds-selct component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

test(pds-select): fixed specs for 100 coverage ATM
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

feat(select): added some more styling, removed required story
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

feat(pds-select): added withMessage, Invalid, Disabled templates to stories
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: package: core

feat(pds-select): added Required story, removed redundant ?s from attributes
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
Labels: package: core

fix(textarea): update innerHTML to value (#296)
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

style(select): updated color values to match those of pds-input
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

style(chip): change css props to use semantic tokens
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core

chore: removes base css file from components
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-divider/pds-divider.tsx
  libs/core/src/components/pds-image/pds-image.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-loader/pds-loader.tsx
  libs/core/src/components/pds-progress/pds-progress.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-table/pds-table-body/pds-table-body.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/global/styles/app.scss
  libs/core/src/global/styles/base.scss
Labels: package: core

fix(docArgsTable): displays a red asterisk when a prop is required (#311)
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
Labels: package: doc-componenets

fix: updates checked property on switch update
  libs/core/src/components/pds-switch/pds-switch.tsx
Labels: package: core

test: add additional test for coverage
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: package: core

docs(icons): swap Storybook Canvas component to DocCanvas
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
Labels: package: core

chore: update nx to latest version
  package-lock.json
  package.json
Labels: none

chore: remove function that is not longer needed
  libs/core/.storybook/main.js
Labels: package: core

docs(icons): change the icons in order to reduce any confusion
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
Labels: package: core

docs(icons): icons doc page fix (#316)
  libs/core/.storybook/main.js
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
Labels: package: core

chore: remove commented code
  libs/core/src/components/pds-popover/pds-popover.tsx
Labels: package: core

fix: resolve double click issue with component and component trigger
  libs/core/src/components.d.ts
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: package: core

.github/labeler.yml:

"package: core":
- changed-files:
  - any-glob-to-any-file: 'libs/core/**/*'

"package: react":
- changed-files:
  - any-glob-to-any-file: 'libs/react/**/*'

"package: doc-componenets":
- changed-files:
  - any-glob-to-any-file: 'libs/doc-components/**/*'

documentation:
- head-branch: ['docs']
- changed-files:
  - any-glob-to-any-file: '**/*.[md|mdx]'

enhancement:
- head-branch: ['feature']

bug:
- head-branch: ['fix']
