Repository Kajabi/pine, pull requests merged in 2023-03, with the labels that each got.

#24 [DSS-331] Separate stories from mdx files
  libs/core/src/components/sage-button/stories/sage-button.docs.stories.mdx
  libs/core/src/components/sage-button/stories/sage-button.stories.js
  libs/core/src/components/sage-icon/sage-icon.docs.stories.mdx
  libs/core/src/components/sage-icon/sage-icon.stories.js
  libs/core/src/components/sage-image/stories/sage-image.docs.stories.mdx
  libs/core/src/components/sage-image/stories/sage-image.stories.js
  libs/core/src/components/sage-input/stories/sage-input.docs.stories.mdx
  libs/core/src/components/sage-input/stories/sage-input.stories.js
  libs/core/src/components/sage-link/stories/sage-link.docs.stories.mdx
  libs/core/src/components/sage-link/stories/sage-link.stories.js
  libs/core/src/components/sage-link/stories/sage-link.stories.mdx
Labels: package: core

#15 [DSS-43]: Tabs Component(s)
  libs/core/.eslintrc.json
  libs/core/.stylelintrc.json
  libs/core/example.png
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/sage-button/stories/sage-button.docs.stories.mdx
  libs/core/src/components/sage-link/stories/sage-link.stories.mdx
  libs/core/src/components/sage-tab/readme.md
  libs/core/src/components/sage-tab/sage-tab.scss
  libs/core/src/components/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tab/stories/sage-tab.docs.stories.mdx
  libs/core/src/components/sage-tab/stories/sage-tab.stories.js
  libs/core/src/components/sage-tab/test/sage-tab.e2e.ts
  libs/core/src/components/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabpanel/sage-tabpanel.scss
  libs/core/src/components/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.docs.stories.mdx
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.stories.js
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.e2e.ts
  libs/core/src/components/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/readme.md
  libs/core/src/components/sage-tabs/sage-tabs.scss
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.docs.stories.mdx
  libs/core/src/components/sage-tabs/stories/sage-tabs.stories.js
  libs/core/src/components/sage-tabs/test/sage-tabs.e2e.ts
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
  libs/core/src/utils/utils.ts
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

#30 Tabs - File Structure Update + Storybook
  libs/core/src/components/sage-tab/stories/sage-tab.docs.stories.mdx
  libs/core/src/components/sage-tab/stories/sage-tab.stories.js
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.docs.stories.mdx
  libs/core/src/components/sage-tabpanel/stories/sage-tabpanel.stories.js
  libs/core/src/components/sage-tabs/sage-tab/readme.md
  libs/core/src/components/sage-tabs/sage-tab/sage-tab.scss
  libs/core/src/components/sage-tabs/sage-tab/sage-tab.tsx
  libs/core/src/components/sage-tabs/sage-tab/test/sage-tab.e2e.ts
  libs/core/src/components/sage-tabs/sage-tab/test/sage-tab.spec.tsx
  libs/core/src/components/sage-tabs/sage-tabpanel/readme.md
  libs/core/src/components/sage-tabs/sage-tabpanel/sage-tabpanel.scss
  libs/core/src/components/sage-tabs/sage-tabpanel/sage-tabpanel.tsx
  libs/core/src/components/sage-tabs/sage-tabpanel/test/sage-tabpanel.e2e.ts
  libs/core/src/components/sage-tabs/sage-tabpanel/test/sage-tabpanel.spec.tsx
  libs/core/src/components/sage-tabs/stories/sage-tabs.docs.stories.mdx
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

#23 [FEATURE] - Update the Figma Icon export process
  libs/icons/changelogs/.gitkeep
  libs/icons/figma-icon-config.json
  libs/icons/package.json
  libs/icons/scripts/figma-icon-export.ts
  libs/icons/scripts/figma_icons/changelog-template.html
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
  libs/icons/scripts/readme.md
  libs/icons/src/icon-data.json
  yarn.lock
Labels: package: icons

#27 [CHORE] - Dependency Updates
  .github/workflows/actions/build-icons/action.yml
  libs/core/package.json
  libs/react/package.json
  package.json
  yarn.lock
Labels: package: core, package: react

#29 [DSS-361]: Add test for Button to get to 100% coverage
  libs/core/src/components/sage-button/test/sage-button.spec.tsx
Labels: package: core

#31 [DSS-43]: Hotfix - Scope key input active tab changes to components which matching parentId's
  libs/core/src/components/sage-tabs/sage-tabs.tsx
  libs/core/src/components/sage-tabs/test/sage-tabs.spec.tsx
Labels: package: core

#37 docs(welcome page): expand docs on welcome page
  libs/core/src/stories/Contributing.stories.mdx
  libs/core/src/stories/Welcome.stories.mdx
Labels: documentation, package: core

#40 Tokens - Adds spacing tokens
  libs/core/tokens/tokens.json
Labels: package: core

#41 [CI] - Nightly Build process
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/figma-icon-export/action.yml
  .github/workflows/nightly.yml
  .gitignore
  libs/icons/scripts/figma_icons/figma-icon-export.ts
Labels: package: icons
