Repository Kajabi/pine, pull requests merged in 2023-09, with the labels that each got.

#97 DSS-461: fix(button) - Replace hard coded icon + styling
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.docs.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-copytext/readme.md
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
  libs/core/src/stories/_helpers/index.ts
Labels: package: core

#96 docs(tooltip): Update argTypes in story to display correct props
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: package: core

#99 [DSS-390]: refactor() - Unify helperMessage and related prop naming
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.docs.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

#101 [DSS-434]: feat() - Add `component-id` to components
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/readme.md
  libs/core/src/components/pds-divider/pds-divider.tsx
  libs/core/src/components/pds-divider/readme.md
  libs/core/src/components/pds-divider/stories/pds-divider.stories.js
  libs/core/src/components/pds-divider/test/pds-divider.spec.tsx
  libs/core/src/components/pds-image/pds-image.tsx
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-image/test/pds-image.spec.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
  libs/core/src/components/pds-progress/pds-progress.tsx
  libs/core/src/components/pds-progress/readme.md
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/readme.md
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/readme.md
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/readme.md
Labels: package: core

#92 [DSS-440]: feat(sortable) - Sortable Component
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/readme.md
  libs/core/src/components/pds-sortable/pds-sortable-item/stories/pds-sortable-item.stories.js
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/pds-sortable.scss
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-sortable/readme.md
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
  libs/core/src/components/pds-sortable/test/pds-sortable.spec.tsx
  libs/react/src/components/proxies.ts
  yarn.lock
Labels: package: core, package: react

#102 chore: change from yarn to npm
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/actions/test-lint/action.yml
  .github/workflows/actions/test-spec/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/release.yml
  lerna.json
  libs/core/package.json
  libs/icons/package.json
  libs/icons/scripts/readme.md
  libs/react/package.json
  package-lock.json
  package.json
  yarn.lock
Labels: package: core, package: react, package: icons

#104 [DSS-465]: chore() - housekeeping: update components to use tokens
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

#105 ci: nightly build improvements
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-icons/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/nightly.yml
  .scripts/determine-bump-type.js
  .scripts/prepare.js
  .scripts/update-icon-version.js
  libs/core/package.json
  libs/icons/package.json
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  package.json
Labels: package: core, package: icons

#103 DSS-467: chore:(input) - Housekeeping
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: package: core

#108 ci: add build.icons to core scripts to assist with deploy task
  libs/core/package.json
Labels: package: core

#107 DSS-470: chore:(link) - Housekeeping
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/stories/pds-link.docs.mdx
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: package: core
