Repository Kajabi/pine, pull requests merged in 2023-08, with the labels that each got.

#90 docs: create initial readme file
  README.md
Labels: documentation

#93 chore: update icons from latest version of Figma file
  libs/icons/changelogs/2023-08-22-changelog.html
  libs/icons/src/icon-data.json
  libs/icons/src/index.html
  libs/icons/src/svg/ai-sparkle.svg
  libs/icons/src/svg/app-store.svg
  libs/icons/src/svg/contact.svg
  libs/icons/src/svg/ios-battery.svg
  libs/icons/src/svg/ios-data.svg
  libs/icons/src/svg/ios-wifi.svg
  libs/icons/src/svg/play-store.svg
  libs/icons/src/svg/present.svg
  libs/icons/src/svg/series.svg
  libs/icons/src/svg/theme-store.svg
Labels: package: icons

#89 chore: upgrade stencil and node
  .nvmrc
  libs/core/.eslintrc.json
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.tsx
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/icons/.eslintrc.json
  libs/icons/package.json
  libs/icons/src/components/pds-icon/pds-icon.tsx
  libs/react/src/components/react-component-lib/createComponent.tsx
  libs/react/src/components/react-component-lib/createOverlayComponent.tsx
  libs/react/src/components/react-component-lib/utils/attachProps.ts
  libs/react/src/components/react-component-lib/utils/case.ts
  libs/react/src/components/react-component-lib/utils/index.tsx
  nx.json
  package.json
  yarn.lock
Labels: package: core, package: react, package: icons

#94 chore: upgrade storybook to v7.3
  libs/core/.babelrc.json
  libs/core/.storybook/main.js
  libs/core/.storybook/preview.js
  libs/core/package.json
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-button/stories/pds-button.docs.mdx
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.docs.mdx
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-chip/stories/pds-chip.docs.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-copytext/stories/pds-copytext.docs.mdx
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
  libs/core/src/components/pds-divider/stories/pds-divider.docs.mdx
  libs/core/src/components/pds-divider/stories/pds-divider.stories.js
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
  libs/core/src/components/pds-image/stories/pds-image.docs.mdx
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-link/stories/pds-link.docs.mdx
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-progress/stories/pds-progress.docs.mdx
  libs/core/src/components/pds-progress/stories/pds-progress.stories.js
  libs/core/src/components/pds-radio/stories/pds-radio.docs.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-switch/stories/pds-switch.docs.mdx
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-tabs/stories/pds-tabs.docs.mdx
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-textarea/stories/pds-textarea.docs.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.docs.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  libs/core/src/stories/colors.docs.mdx
  libs/core/src/stories/colors.docs.stories.mdx
  libs/core/src/stories/contributing.docs.mdx
  libs/core/src/stories/principles.docs.mdx
  libs/core/src/stories/support.docs.mdx
  libs/core/src/stories/typography.docs.mdx
  libs/core/src/stories/welcome.docs.mdx
  yarn.lock
Labels: package: core

#95 DSS-458: Docs - Display Custom Events in Actions Tab
  libs/core/.storybook/main.js
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.tsx
  libs/core/src/components/pds-tabs/pds-tab/test/pds-tab.spec.tsx
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
  libs/core/src/components/pds-tabs/test/pds-tabs.e2e.ts
  libs/core/src/components/pds-tabs/test/pds-tabs.spec.tsx
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: documentation, package: core
