Repository Kajabi/pine, pull requests merged in 2023-05, with the labels that each got.

#44 ci(nightly-build): improve the nightly build process
  .github/workflows/actions/figma-icon-export/action.yml
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/icon-export.yml
  .github/workflows/nightly.yml
  .github/workflows/release-icons.yml
  .scripts/determine-bump-type.js
  libs/icons/package.json
  libs/icons/readme.md
Labels: package: icons

#28 [DSS-348] add Tooltip web component
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.scss
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.docs.stories.mdx
  libs/core/src/components/sage-tooltip/stories/sage-tooltip.stories.js
  libs/core/src/components/sage-tooltip/test/sage-tooltip.e2e.ts
  libs/core/src/components/sage-tooltip/test/sage-tooltip.spec.tsx
  libs/core/src/utils/overlay.spec.ts
  libs/core/src/utils/overlay.ts
  libs/core/src/utils/types.ts
  libs/react/src/components/proxies.ts
  package.json
  yarn.lock
Labels: package: core, package: react, package: icons

#57 DSS-404: Adds units to box-shadow tokens
  libs/core/tokens/tokens.json
Labels: bug, package: core

#55 [DSS-399] Switch component
  libs/core/src/components.d.ts
  libs/core/src/components/sage-switch/readme.md
  libs/core/src/components/sage-switch/sage-switch.scss
  libs/core/src/components/sage-switch/sage-switch.tsx
  libs/core/src/components/sage-switch/stories/sage-switch.docs.stories.mdx
  libs/core/src/components/sage-switch/stories/sage-switch.stories.js
  libs/core/src/components/sage-switch/test/sage-switch.e2e.ts
  libs/core/src/components/sage-switch/test/sage-switch.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

#58 Tokens - Fixes Build Issue
  libs/core/scripts/build-tokens.ts
  libs/core/src/global/styles/tokens/_box-shadow.scss
  libs/core/tokens/tokens.json
Labels: package: core

#59 fix(sage-tooltip): missing changes from compilation of core icon build
  libs/core/src/components.d.ts
  libs/core/src/components/sage-tooltip/readme.md
  libs/core/src/components/sage-tooltip/sage-tooltip.tsx
Labels: package: core

#48 [DSS-372]: Textarea Component
  libs/core/src/components.d.ts
  libs/core/src/components/sage-input/readme.md
  libs/core/src/components/sage-input/sage-input.tsx
  libs/core/src/components/sage-input/stories/sage-input.docs.stories.mdx
  libs/core/src/components/sage-textarea/readme.md
  libs/core/src/components/sage-textarea/sage-textarea.scss
  libs/core/src/components/sage-textarea/sage-textarea.tsx
  libs/core/src/components/sage-textarea/stories/sage-textarea.docs.stories.mdx
  libs/core/src/components/sage-textarea/stories/sage-textarea.stories.js
  libs/core/src/components/sage-textarea/test/sage-textarea.e2e.ts
  libs/core/src/components/sage-textarea/test/sage-textarea.spec.tsx
  libs/core/src/components/sage-textarea/textarea-interface.ts
  libs/core/src/utils/utils.spec.ts
  libs/core/src/utils/utils.ts
  libs/react/src/components/proxies.ts
Labels: package: core, package: react
