Repository Kajabi/pine, pull requests merged in 2023-06, with the labels that each got.

#60 [DSS-406]: Chip
  libs/core/src/components.d.ts
  libs/core/src/components/sage-chip/readme.md
  libs/core/src/components/sage-chip/sage-chip.scss
  libs/core/src/components/sage-chip/sage-chip.tsx
  libs/core/src/components/sage-chip/stories/sage-chip-docs.stories.mdx
  libs/core/src/components/sage-chip/stories/sage-chip.stories.js
  libs/core/src/components/sage-chip/test/sage-chip.e2e.ts
  libs/core/src/components/sage-chip/test/sage-chip.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

#64 feature(sage-icon) - add color prop to sage icon
  .stylelintrc.json
  libs/core/.eslintignore
  libs/core/src/components/sage-icon/stories/sage-icon.docs.stories.mdx
  libs/core/src/components/sage-icon/stories/sage-icon.stories.js
  libs/icons/package.json
  libs/icons/src/components.d.ts
  libs/icons/src/components/sage-icon/readme.md
  libs/icons/src/components/sage-icon/sage-icon.scss
  libs/icons/src/components/sage-icon/sage-icon.tsx
  libs/icons/src/components/sage-icon/test/sage-icon.spec.ts
Labels: package: core, package: icons

#61 Adding catalog-info documents for Radiator integration
  catalog-info.yaml
  libs/core/catalog-info.yaml
  libs/icons/catalog-info.yaml
  libs/react/catalog-info.yaml
Labels: package: core, package: react, package: icons

#69 Tokens - Updates Sage color to Green
  libs/core/tokens/tokens.json
Labels: package: core

#72 refactor(checkbox): change prop naming, functions, and compoent-ids
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.e2e.ts
Labels: package: core

#65 [DSS-412] aria-describedby message form utility
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.docs.stories.mdx
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/utils/form.ts
  libs/core/src/utils/test/form.spec.ts
  libs/core/src/utils/test/overlay.spec.ts
  libs/core/src/utils/utils.spec.ts
  libs/core/src/utils/utils.ts
Labels: package: core

#77 fix(docs): Update story file names
  libs/core/src/components/pds-chip/stories/pds-chip.docs.stories.mdx
  libs/core/src/stories/colors.docs.stories.mdx
  libs/core/src/stories/contributing.docs.stories.mdx
  libs/core/src/stories/principles.docs.stories.mdx
  libs/core/src/stories/support.docs.stories.mdx
  libs/core/src/stories/typography.docs.stories.mdx
  libs/core/src/stories/welcome.docs.stories.mdx
Labels: package: core

#53 [DSS-384] Avatar - Adds component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-avatar/assets/demi_wilkinson.jpg
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.stories.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.stories.js
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-image/stories/pds-image.docs.stories.mdx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

#80 [DSS-416]: feat(progress) - Progress
  libs/core/src/components.d.ts
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-progress/pds-progress.tsx
  libs/core/src/components/pds-progress/readme.md
  libs/core/src/components/pds-progress/stories/pds-progress.docs.stories.mdx
  libs/core/src/components/pds-progress/stories/pds-progress.stories.js
  libs/core/src/components/pds-progress/test/pds-progress.e2e.ts
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react
