Repository Kajabi/pine, pull requests merged in 2023-04, with the labels that each got.

#42 Tokens - Adds Line Height, Letter Spacing, and Border Radius
  libs/core/scripts/build-tokens.ts
  libs/core/src/global/styles/tokens/_border-radius.scss
  libs/core/src/global/styles/tokens/_border.scss
  libs/core/src/global/styles/tokens/_box-shadow.scss
  libs/core/src/global/styles/tokens/_color.scss
  libs/core/src/global/styles/tokens/_font-family.scss
  libs/core/src/global/styles/tokens/_font-size.scss
  libs/core/src/global/styles/tokens/_font-weight.scss
  libs/core/src/global/styles/tokens/_letter-spacing.scss
  libs/core/src/global/styles/tokens/_line-height.scss
  libs/core/src/global/styles/tokens/_spacing.scss
  libs/core/src/global/styles/tokens/index.scss
  libs/core/tokens/tokens.json
  libs/icons/src/icon-data.json
Labels: package: core

#46 [DSS-350] Tokens - Uncomments line to add token partials to build
  libs/core/src/global/styles/app.scss
Labels: package: core

#43 [CI] - figma icon updates
  libs/icons/scripts/collection-copy.ts
  libs/icons/scripts/figma_icons/changelog-template.html
  libs/icons/scripts/figma_icons/figma-icon-export.ts
  libs/icons/scripts/figma_icons/types.ts
Labels: package: icons

#51 [DSS-386] Tokens - Adds function to format shorthand tokens
  libs/core/scripts/build-tokens.ts
Labels: package: core

#52 Tokens - Updates Tokens
  libs/core/.stylelintignore
  libs/core/src/global/styles/tokens/_border.scss
  libs/core/src/global/styles/tokens/_box-shadow.scss
  libs/core/src/global/styles/tokens/_font-family.scss
Labels: package: core

#47 [DSS-382] Checkbox
  libs/core/src/components.d.ts
  libs/core/src/components/sage-checkbox/readme.md
  libs/core/src/components/sage-checkbox/sage-checkbox.scss
  libs/core/src/components/sage-checkbox/sage-checkbox.tsx
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.docs.stories.mdx
  libs/core/src/components/sage-checkbox/stories/sage-checkbox.stories.js
  libs/core/src/components/sage-checkbox/test/sage-checkbox.e2e.ts
  libs/core/src/components/sage-checkbox/test/sage-checkbox.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react
