Repository Kajabi/pine, pull requests merged in 2024-01, with the labels that each got.

#112 DSS-408: feat(table): Table Component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-table/pds-table-body/pds-table-body.scss
  libs/core/src/components/pds-table/pds-table-body/pds-table-body.tsx
  libs/core/src/components/pds-table/pds-table-body/readme.md
  libs/core/src/components/pds-table/pds-table-body/test/pds-table-body.e2e.ts
  libs/core/src/components/pds-table/pds-table-body/test/pds-table-body.spec.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-cell/readme.md
  libs/core/src/components/pds-table/pds-table-cell/stories/pds-table-cell.stories.js
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-cell/test/pds-table-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/readme.md
  libs/core/src/components/pds-table/pds-table-head-cell/stories/pds-table-head-cell.stories.js
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.e2e.ts
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.e2e.ts
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table-row/stories/pds-table-row.stories.js
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.e2e.ts
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-table/test/pds-table.e2e.ts
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
  libs/core/tsconfig.json
  libs/react/src/components/proxies.ts
Labels: enhancement, package: core, package: react

#135 docs(pds-table): update documentation to new mdx format
  README.md
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
Labels: package: core

#136 docs: multiple fixes
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
  libs/doc-components/src/components/docCanvas/docCanvas.css
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
Labels: package: core

#132 Discovery: Style Dictionary and Tiered Tokens
  libs/core/.stylelintignore
  libs/core/config.json
  libs/core/package.json
  libs/core/scripts/build-tokens.ts
  libs/core/src/global/styles/app.scss
  libs/core/src/global/styles/tokens/core/border-radius.json
  libs/core/src/global/styles/tokens/core/border-width.json
  libs/core/src/global/styles/tokens/core/box-shadow.json
  libs/core/src/global/styles/tokens/core/color.json
  libs/core/src/global/styles/tokens/core/font-family.json
  libs/core/src/global/styles/tokens/core/font-size.json
  libs/core/src/global/styles/tokens/core/font-weight.json
  libs/core/src/global/styles/tokens/core/letter-spacing.json
  libs/core/src/global/styles/tokens/core/line-height.json
  libs/core/src/global/styles/tokens/core/spacing.json
  libs/core/src/global/styles/tokens/semantic/_tokens.scss
  libs/core/src/global/styles/tokens/semantic/semantic.json
  libs/core/tokens/tokens.json
  package-lock.json
Labels: enhancement, package: core
