Repository Kajabi/pine, pull requests merged in 2024-10, with the labels that each got.

#274 style: updates Avatar color styles
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: package: core, mercury-rising

#271 style: updates Pine component colors and type styles
  libs/core/.storybook/preview.js
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/components/pds-image/docs/pds-image.mdx
  libs/core/src/components/pds-image/pds-image.scss
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-image/test/pds-image.e2e.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/global/styles/base.scss
  libs/core/src/stories/layout.docs.mdx
Labels: package: core, package: react, package: doc-componenets, mercury-rising

#282 fix: update border-radius and shadow
  libs/core/src/components/pds-box/pds-box.scss
Labels: bug, package: core
