Repository Kajabi/pine, pull requests merged in 2024-09, with the labels that each got.

#248 style(tabs): change active tab underline color
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core, package: react, package: doc-componenets

#249 style: focus state updates
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core, mercury-rising

#259 style: link and accordion focus
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core, mercury-rising

#260 chore: fixes issue with sd-transforms caused by version update
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/global/styles/tokens/core/_core.scss
Labels: bug, package: core, mercury-rising

#258 style: updates button font family and font weight
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core, mercury-rising

#262 style: add typography semantic tokens
  libs/core/package.json
  libs/core/src/global/styles/tokens/core/core.json
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
  libs/core/src/global/styles/tokens/semantic/semantic.json
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
  package-lock.json
Labels: package: core, package: doc-componenets, mercury-rising

#263 style: add sprig font face
  libs/core/src/global/styles/_fonts.scss
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/core/core.json
Labels: package: core, package: react, package: doc-componenets, mercury-rising

#256 style: adds base/reset CSS file
  libs/core/.stylelintignore
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/stories/pds-accordion.stories.js
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-divider/pds-divider.tsx
  libs/core/src/components/pds-image/pds-image.tsx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-loader/pds-loader.tsx
  libs/core/src/components/pds-progress/pds-progress.tsx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-table/pds-table-body/pds-table-body.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/global/styles/app.scss
  libs/core/src/global/styles/base.scss
  libs/core/src/global/styles/tokens/index.scss
Labels: package: core, package: react, package: doc-componenets, mercury-rising

#264 chore: adds part to accordion component
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/readme.md
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
Labels: package: core, mercury-rising

#267 style(button): change font weight to med 500
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core, mercury-rising

#268 style(table): updates table font size to 14px
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
Labels: package: core, mercury-rising
