Repository Kajabi/pine, pull requests merged in 2024-11, with the labels that each got.

#285 fix: adds tooltip max width prop and removes events
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/readme.md
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: bug, package: core

#278 style(tokens): adds fallbacks for font stacks
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/core/core.json
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
Labels: package: core

#286 chore(storybook): updates necessary components and files for storybook v8.4
  libs/core/.storybook/main.js
  libs/core/.storybook/manager.js
  libs/core/.storybook/preview.js
  libs/core/package.json
  package-lock.json
Labels: package: core

#287 chore(stencil): update stencilJs to v4.22
  libs/core/package.json
  package-lock.json
Labels: package: core

#292 style(accordion): update accordion tokens
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

#297 style(link): updates component with semantic tokens
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

#298 style(textarea): updates component with semantic tokens
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

#299 style(input): update input to use semantic tokens
  libs/core/src/components/pds-input/pds-input.scss
Labels: package: core

#300 style(loader): update loader to new semantic tokens
  libs/core/src/components/pds-loader/pds-loader.scss
Labels: package: core

#301 style(progress): change progress to use semantic tokens
  libs/core/src/components/pds-progress/pds-progress.scss
Labels: package: core

#302 style(tooltip): updates component with semantic tokens
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core

#303 style(radio): modify radio to use new semantic tokens
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

#306 style(tabs): updates component with semantic tokens
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/readme.md
Labels: package: core

#304 style(box): modify box css props to use semantic tokens
  libs/core/src/components/pds-row/pds-row.scss
Labels: package: core

#305 style(sortable): sortable change to semantic tokens
  libs/core/src/components/pds-sortable/pds-sortable.scss
Labels: package: core

#296 fix(textarea): update innerHTML to value
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: bug, package: core

#311 fix(docArgsTable): displays a red asterisk when a prop is required
  libs/doc-components/src/components/docArgsTable/docArgsTable.tsx
Labels: bug, documentation, package: doc-componenets

#316 docs(icons): icons doc page fix
  libs/core/.storybook/main.js
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
Labels: bug, documentation, package: core

#315 fix: updates checked property on switch update
  libs/core/src/components.d.ts
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/readme.md
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: bug, package: core

#319 style(box): semantic token updates
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core, package: doc-componenets

#321 fix: add autocomplete attribute to input and textarea
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: bug, package: core

#323 fix: missing error icons and input styling adjustments
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/readme.md
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: bug, package: core
