Repository Kajabi/pine, pull requests merged in 2024-08, with the labels that each got.

#230 styles: updates font weight, letter spacing, and font size
  .gitignore
  libs/core/package.json
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
  libs/core/src/global/styles/tokens/semantic/semantic.json
  package-lock.json
Labels: package: core

#234 style(link): correct token naming for icon spacing
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

#233 Typography: add new fonts
  libs/core/.stylelintignore
  libs/core/src/global/styles/_fonts.scss
Labels: package: core, mercury-rising

#238 Accordion: Minor Styling Updates
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core, mercury-rising

#236 style: update various color tokens
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/core/core.json
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
Labels: package: core, mercury-rising

#239 style: various token changes
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/core/core.json
  libs/core/src/global/styles/tokens/semantic/semantic.json
Labels: bug, package: core, mercury-rising

#241 fix: update box shadow tokens
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/core/core.json
  libs/core/src/utils/types.ts
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: bug, package: core, package: doc-componenets, mercury-rising

#245 style: updates accordion styling to better match Figma specs
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/readme.md
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
Labels: package: core, mercury-rising

#242 fix(docTokenTable): the algorithm to sort the components was incorrect
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: bug, package: doc-componenets
