Repository Kajabi/pine, pull requests merged in 2024-04, with the labels that each got.

#165 test(avatar): fix failing specs due to avatar icon change
  libs/core/src/components/pds-avatar/test/pds-avatar.e2e.ts
Labels: bug, package: core

#164 chore: update @pine-ds/icons to use latest version
  libs/core/package.json
  libs/core/src/stories/icons-mgmt.docs.mdx
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react

#166 chore: cleanup icon usage for test
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/test/pds-button.e2e.ts
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/test/pds-copytext.spec.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/test/pds-table-head-cell.spec.tsx
Labels: package: core

#167 fix(checkbox): the property checkbox should be mutable
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
Labels: bug, package: core

#163 Tokens: Tokens Build Script
  libs/core/.gitignore
  libs/core/config.json
  libs/core/package.json
  libs/core/scripts/sd-transforms.mts
  libs/core/scripts/tsconfig.json
  libs/core/src/global/styles/app.scss
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/index.scss
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
  libs/core/src/global/styles/tokens/semantic/_tokens.scss
  libs/core/src/global/styles/tokens/semantic/semantic.json
  libs/core/src/global/styles/tokens/tokens.json
  package-lock.json
Labels: enhancement, package: core

#168 Tokens: fixes build error
  libs/.stylelintrc.json
  libs/core/.gitignore
  libs/core/package.json
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/_color.scss
Labels: bug, package: core

#169 chore(tokens): adjusts scale and values for border radius and spacing
  libs/core/src/global/styles/tokens/tokens.json
Labels: package: core, tokens

#170 chore(tokens): updates font related tokens and adds typography semantic tokens
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
  libs/core/src/global/styles/tokens/tokens.json
Labels: package: core, tokens

#173 chore: updates the Storybook `brandUrl` to use the location the site is running
  libs/core/.storybook/PineTheme.js
Labels: package: core

#172 fix(accordion): animation for safari
  libs/core/.gitignore
  libs/core/package.json
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/stencil.config.ts
  libs/core/stencil.local.config.ts
Labels: bug, package: core

#176 style: update variables to style dictionary
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-progress/pds-progress.scss
  libs/core/src/components/pds-progress/pds-progress.tsx
  libs/core/src/components/pds-progress/test/pds-progress.spec.tsx
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: package: core

#178 style(radio): missed a change from semantic to core fix
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: bug, package: core
