Repository Kajabi/pine, pull requests merged in 2024-06, with the labels that each got.

#203 Tokens - Removes Semantic Tokens in Use
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-row/pds-row.scss
  libs/core/src/components/pds-row/pds-row.tsx
  libs/core/src/components/pds-row/test/pds-row.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: bug, package: core

#204 chore: update pine-ds/icons to latest version
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  package-lock.json
Labels: package: core

#199 docs(accordion): Update icon name in story
  libs/core/src/components/pds-accordion/stories/pds-accordion.stories.js
Labels: bug, documentation, package: core

#210 fix: update old token values in components
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: bug, package: core

#208 Tooltip - resolve trigger alignment when present in a group
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.docs.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: bug, package: core

#215 Accordion: Removes Animation
  libs/core/CHANGELOG.md
  libs/core/package.json
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/doc-components/CHANGELOG.md
  libs/doc-components/package.json
  libs/react/CHANGELOG.md
  libs/react/package.json
  package-lock.json
Labels: bug, package: core, package: react, package: doc-componenets
