Repository Kajabi/pine, pull requests merged in 2024-05, with the labels that each got.

#179 style(sortable): update styles to core token values
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/pds-sortable.scss
Labels: package: core

#182 style(switch): update styles to core token values
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: package: core

#181 style(box): update token variables
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core, tokens

#180 style(tooltip): update token variables
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
Labels: package: core, tokens

#174 Tokens: update component tokens
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-image/pds-image.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/readme.md
Labels: bug, package: core

#184 style(textarea): update styles to core token values
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: package: core

#177 style(chip): update token variables
  libs/core/src/components/pds-chip/pds-chip.scss
Labels: package: core, tokens

#183 style(table-*): update styles to core token values
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-table/pds-table.scss
Labels: package: core

#171 chore(checkbox): update token variables
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
Labels: package: core, tokens

#185 fix(progress): progress bar not showing in storybook
  libs/core/src/components.d.ts
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
  libs/core/src/components/pds-progress/pds-progress.scss
Labels: bug, package: core

#186 Sortable - Sets `handle` prop based on parent type
  libs/core/src/components.d.ts
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.tsx
  libs/core/src/components/pds-sortable/pds-sortable-item/readme.md
  libs/core/src/components/pds-sortable/pds-sortable-item/stories/pds-sortable-item.stories.js
  libs/core/src/components/pds-sortable/pds-sortable-item/test/pds-sortable-item.spec.tsx
  libs/core/src/components/pds-sortable/pds-sortable.tsx
  libs/core/src/components/pds-sortable/sortable-interface.ts
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
  libs/core/src/components/pds-sortable/test/pds-sortable.e2e.ts
Labels: bug, documentation, package: core

#187 fix(accordion): adjust animation for open accordion refresh
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: bug, package: core

#200 Remove accordion open animation
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core
