Repository Kajabi/pine, pull requests merged in 2024-02, with the labels that each got.

#138 fix(avatar): style issues for admin variant
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Labels: bug, package: core

#142 feat(button): add css shadow parts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: enhancement, package: core

#119 feat(box): add box and row component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.mixins.scss
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.docs.mdx
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-row/pds-row.scss
  libs/core/src/components/pds-row/pds-row.tsx
  libs/core/src/components/pds-row/readme.md
  libs/core/src/components/pds-row/stories/pds-row.docs.mdx
  libs/core/src/components/pds-row/stories/pds-row.stories.js
  libs/core/src/components/pds-row/test/pds-row.spec.tsx
  libs/core/src/stories/assets/offers.png
  libs/core/src/stories/layout.docs.mdx
  libs/core/src/utils/types.ts
  libs/react/src/components/proxies.ts
Labels: enhancement, package: core, package: react

#145 fix(): update package json with type
  libs/react/package.json
Labels: bug, package: react

#143 style(pds-box): remove global style from box
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

#146 chore: add tslib to package
  libs/core/package.json
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react
