Repository Kajabi/pine, pull requests merged in 2024-12, with the labels that each got.

#322 fix: update incorrect core color token values
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: bug, package: core

#325 style: updates some components with semantic tokens
  libs/core/src/components/_internal/pds-label/pds-label.scss
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-image/pds-image.scss
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tokens.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/components/input.json
Labels: package: core

#294 feat(text): adds new component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/stories/pds-text.docs.mdx
  libs/core/src/components/pds-text/stories/pds-text.stories.js
  libs/core/src/components/pds-text/test/pds-text.e2e.ts
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/doc-components/src/components/docCanvas/docCanvas.css
  libs/doc-components/src/components/docCanvas/docCanvas.tsx
  libs/react/src/components/proxies.ts
Labels: enhancement, work in progress (WIP), package: core, package: react, package: doc-componenets

#310 feat(select): adds new component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/react/src/components/proxies.ts
Labels: enhancement, package: core, package: react

#327 docs(progress): update documentation
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
Labels: documentation, package: core

#326 feat(popover): add popover component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/readme.md
  libs/core/src/components/pds-popover/stories/pds-popover.docs.mdx
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
  libs/core/src/components/pds-popover/test/pds-popover.e2e.ts
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
  libs/core/src/utils/types.ts
  libs/react/src/components/proxies.ts
Labels: bug, package: core, package: react

#332 docs(chip): documentation updates
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
Labels: documentation, package: core

#333 docs(divider): documentation updates
  libs/core/src/components.d.ts
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-divider/pds-divider.tsx
  libs/core/src/components/pds-divider/readme.md
Labels: documentation, package: core

#330 docs(tabs): updates Tabs component docs to match other components
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-tabs/pds-tab/stories/pds-tab.stories.js
  libs/core/src/components/pds-tabs/pds-tabpanel/stories/pds-tabpanel.stories.js
  libs/core/src/components/pds-tabs/stories/pds-tabs.docs.mdx
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
Labels: documentation, package: core

#334 docs(radio): documentation updates
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
Labels: documentation, package: core

#336 docs(select): documentation updates
  libs/core/src/components.d.ts
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
Labels: documentation, package: core

#337 docs(sortable): documentation updates
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
Labels: documentation, package: core

#345 docs(checkbox): documentation updates
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
Labels: documentation, package: core

#340 docs(avatar): documentation updates
  libs/core/src/components/pds-avatar/docs/pds-avatar.mdx
Labels: documentation, package: core

#342 docs(tooltip): documentation updates
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
Labels: documentation, package: core

#341 docs(icon): documentation updates
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
Labels: documentation, package: core

#344 docs(forms): add select to form documentation
  libs/core/src/stories/contributing.docs.mdx
  libs/core/src/stories/forms.docs.mdx
Labels: documentation, package: core

#335 docs(copytext): updates Copy Text docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
  libs/core/src/components/pds-copytext/pds-copytext.tsx
  libs/core/src/components/pds-copytext/readme.md
Labels: documentation, package: core

#338 docs(image): updates component docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-image/docs/pds-image.mdx
  libs/core/src/components/pds-image/pds-image.tsx
  libs/core/src/components/pds-image/readme.md
Labels: documentation, package: core

#348 docs: update guidelines heading copy
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-progress/docs/pds-progress.mdx
  libs/core/src/components/pds-sortable/docs/pds-sortable.mdx
Labels: documentation, package: core

#346 docs(input): updates component documentation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
Labels: documentation, package: core

#347 docs(textarea): updates component documentation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
Labels: documentation, package: core

#349 docs(table): updates component documentation
  libs/core/src/components.d.ts
  libs/core/src/components/pds-table/docs/pds-table.mdx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.stories.js
Labels: documentation, package: core

#351 docs(events): fix the method name to match the example
  libs/core/src/stories/events.docs.mdx
Labels: documentation, package: core

#331 docs(button): updates Button docs to match other components
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
Labels: documentation, package: core

#352 docs: adds how to use section to welcome
  libs/core/.storybook/preview.js
  libs/core/src/stories/welcome.docs.mdx
Labels: documentation, package: core

#353 docs: add getting started dev documention
  libs/core/src/stories/getting-started.docs.mdx
Labels: documentation, package: core

#350 docs: update layout documentation
  libs/core/src/components/pds-row/pds-row.scss
  libs/core/src/stories/layout.docs.mdx
Labels: documentation, package: core

#354 docs: updates Storybook font styles to match Pine
  libs/core/.storybook/PineTheme.js
  libs/core/.storybook/manager-head.html
  libs/core/.storybook/preview-body.html
  libs/core/src/components.d.ts
  libs/core/src/components/pds-accordion/stories/pds-accordion.docs.mdx
  libs/core/src/components/pds-avatar/stories/pds-avatar.docs.mdx
  libs/core/src/components/pds-box/stories/pds-box.docs.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.docs.mdx
  libs/core/src/components/pds-divider/stories/pds-divider.docs.mdx
  libs/core/src/components/pds-image/stories/pds-image.docs.mdx
  libs/core/src/components/pds-input/stories/pds-input.docs.mdx
  libs/core/src/components/pds-link/stories/pds-link.docs.mdx
  libs/core/src/components/pds-loader/stories/pds-loader.docs.mdx
  libs/core/src/components/pds-popover/stories/pds-popover.docs.mdx
  libs/core/src/components/pds-progress/stories/pds-progress.docs.mdx
  libs/core/src/components/pds-radio/stories/pds-radio.docs.mdx
  libs/core/src/components/pds-row/stories/pds-row.docs.mdx
  libs/core/src/components/pds-select/stories/pds-select.docs.mdx
  libs/core/src/components/pds-sortable/stories/pds-sortable.docs.mdx
  libs/core/src/components/pds-switch/stories/pds-switch.docs.mdx
  libs/core/src/components/pds-table/stories/pds-table.docs.mdx
  libs/core/src/components/pds-tabs/stories/pds-tabs.docs.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/stories/pds-text.docs.mdx
  libs/core/src/components/pds-textarea/stories/pds-textarea.docs.mdx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.docs.mdx
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docCanvas/docCanvas.css
Labels: bug, documentation, package: core, package: doc-componenets

#357 chore: adds changed readme files
  libs/core/src/components/pds-image/readme.md
  libs/core/src/components/pds-input/readme.md
Labels: package: core

#356 docs(tokens): adds page for design tokens
  libs/core/assets/images/tokens/token-example1.png
  libs/core/assets/images/tokens/token-example2.png
  libs/core/assets/images/tokens/token-example3.png
  libs/core/src/stories/tokens.docs.mdx
Labels: documentation, package: core
