Repository Kajabi/pine, pull requests merged in 2024-03, with the labels that each got.

#147 Accordion - New Component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-accordion/docs/pds-accordion.mdx
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/readme.md
  libs/core/src/components/pds-accordion/stories/pds-accordion.docs.mdx
  libs/core/src/components/pds-accordion/stories/pds-accordion.stories.js
  libs/core/src/components/pds-accordion/test/pds-accordion.e2e.ts
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/react/src/components/proxies.ts
Labels: enhancement, package: core, package: react

#149 Link - Adds Shadow Part
  libs/core/src/components/pds-link/pds-link.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/components/pds-link/test/pds-link.spec.tsx
Labels: enhancement, package: core

#150 Accordion - Updates Summary Font Style
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: bug, package: core

#148 Avatar - add image part
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/readme.md
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: bug, package: core

#152 fix(avatar): update icon import and correct color
  libs/core/src/components/pds-avatar/pds-avatar.tsx
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
Labels: bug, package: core

#151 Accordion - Icon Update
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
Labels: bug, package: core

#153 docs: add documentation regarding assets for icons
  libs/core/src/stories/assets.docs.mdx
Labels: package: core

#156 [DSS-542] Accordion, Link: update focus ring
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-link/pds-link.scss
Labels: bug

#154 feat(accordion): add animation to accordion
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-accordion/pds-accordion.tsx
  libs/core/src/components/pds-accordion/test/pds-accordion.spec.tsx
Labels: enhancement, package: core

#159 Readme and Spacing variable fix
  README.md
  docs/assets/pine-logo-dark.png
  docs/assets/pine-logo.png
  libs/core/src/components/pds-box/pds-box.mixins.scss
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-divider/pds-divider.scss
  libs/core/src/global/styles/tokens/_line-height.scss
  libs/core/src/global/styles/tokens/_spacing.scss
Labels: bug, documentation, enhancement, package: core
