Repository Kajabi/pine, pull requests merged in 2024-07, with the labels that each got.

#219 Table - Fixes a11y Issue
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
Labels: bug, package: core

#218 fix: add aria label to avatar
  libs/core/src/components/pds-avatar/pds-avatar.tsx
Labels: bug, package: core

#214 Fix: no self-closing web components
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-divider/docs/pds-divider.mdx
  libs/core/src/components/pds-radio/docs/pds-radio.mdx
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
Labels: package: core

#220 Tokens: Updates Config File
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/components/pds-avatar/test/pds-avatar.spec.tsx
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/core/core.json
  libs/core/src/global/styles/tokens/semantic/semantic.json
  libs/core/src/global/styles/tokens/tokens.json
Labels: package: core

#221 fix: update pine-ds/icons & corrects tokens path
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
  package-lock.json
Labels: package: doc-componenets

#202 Loader - New Component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-loader/docs/pds-loader.mdx
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-loader/pds-loader.tsx
  libs/core/src/components/pds-loader/readme.md
  libs/core/src/components/pds-loader/stories/pds-loader.docs.mdx
  libs/core/src/components/pds-loader/stories/pds-loader.stories.js
  libs/core/src/components/pds-loader/test/pds-loader.e2e.ts
  libs/core/src/components/pds-loader/test/pds-loader.spec.tsx
  libs/react/src/components/proxies.ts
Labels: enhancement, package: core, package: react

#216 feature(table): adds select-all checkbox to the table header
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.tsx
  libs/core/src/components/pds-table/pds-table-head-cell/pds-table-head-cell.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-head/readme.md
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.e2e.ts
  libs/core/src/components/pds-table/pds-table-head/test/pds-table-head.spec.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
  libs/core/src/components/pds-table/pds-table-row/readme.md
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.e2e.ts
  libs/core/src/components/pds-table/pds-table-row/test/pds-table-row.spec.tsx
  libs/core/src/components/pds-table/pds-table.tsx
  libs/core/src/components/pds-table/readme.md
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-table/test/pds-table.spec.tsx
  libs/core/src/utils/closest.ts
Labels: enhancement, package: core

#222 Tokens - Adds New Rebrand Colors and Font
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/core/core.json
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
  libs/core/src/global/styles/tokens/semantic/semantic.json
Labels: package: core

#225 Tokens: Update Typography Tokens
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/core/core.json
Labels: package: core

#226 Tokens: Adds Initial Semantic Tokens
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
  libs/core/src/global/styles/tokens/semantic/semantic.json
Labels: package: core

#227 Tokens: Creates Semantic Type Tokens
  libs/core/scripts/sd-transforms.mjs
  libs/core/src/global/styles/tokens/core/_core.scss
  libs/core/src/global/styles/tokens/core/core.json
  libs/core/src/global/styles/tokens/semantic/_semantic.scss
  libs/core/src/global/styles/tokens/semantic/semantic.json
Labels: package: core
