Repository Kajabi/pine, pull requests merged in 2025-08, with the labels that each got.

#499 docs(): enhance docs across multiple components for better clarity
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
Labels: documentation, package: core

#502 style(pds-box): update md border radius to correct token
  libs/core/src/components/pds-box/pds-box.scss
Labels: package: core

#503 fix(pds-modal): adjust max height ot remove double scrollbars
  libs/core/src/components/pds-modal/pds-modal.scss
Labels: bug, package: core

#504 docs: remove camel case from documentation
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-combobox/docs/pds-combobox.mdx
  libs/core/src/components/pds-popover/docs/pds-popover.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
Labels: documentation, package: core

#508 fix: add form association and element internals to checkbox and switch
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/stories/guides/forms.docs.mdx
Labels: bug, package: core

#514 docs: update boolean attribute handling across components
  libs/core/src/components/pds-accordion/stories/pds-accordion.stories.js
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-copytext/stories/pds-copytext.stories.js
  libs/core/src/components/pds-image/stories/pds-image.stories.js
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-link/stories/pds-link.stories.js
  libs/core/src/components/pds-loader/stories/pds-loader.stories.js
  libs/core/src/components/pds-modal/stories/pds-modal.stories.js
  libs/core/src/components/pds-progress/stories/pds-progress.stories.js
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-row/stories/pds-row.stories.js
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-sortable/stories/pds-sortable.stories.js
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-table/stories/pds-table.stories.js
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-toast/stories/pds-toast.stories.js
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
Labels: documentation, package: core

#513 fix(pds-button): add button link to full width rule
  libs/core/src/components/pds-button/pds-button.scss
Labels: bug, package: core

#518 style(pds-tab): update background and hover color tokens
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: package: core
