Repository Kajabi/pine, pull requests merged in 2025-07, with the labels that each got.

#481 feat(pds-text): add CSS part support to component
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
Labels: package: core

#485 feat: action slot for pds-input, pds-select, & pds-textarea
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/docs/pds-select.mdx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/readme.md
  libs/core/src/components/pds-select/stories/pds-select.stories.js
  libs/core/src/components/pds-select/test/pds-select.e2e.ts
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
  libs/core/src/components/pds-textarea/docs/pds-textarea.mdx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.e2e.ts
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
Labels: package: core

#487 docs(pds-input): fix story implementations errors
  libs/core/src/components/pds-input/stories/pds-input.stories.js
Labels: documentation, package: core

#488 fix(form-elements): align height spacing and message color
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
Labels: bug, package: core

#489 fix(input): add full width variant tests and docs
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: bug, package: core

#495 docs(icon): Update for more detailed usage and troubleshooting guidelines
  libs/core/src/components/pds-icon/docs/pds-icon.mdx
Labels: bug, documentation, package: core
