Repository Kajabi/pine, pull requests merged in 2025-06, with the labels that each got.

#455 feat(pds-dropdown): implementation
  libs/core/package.json
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-dropdown-menu/docs/pds-dropdown-menu.mdx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/pds-dropdown-menu-item.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.e2e.ts
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-item/test/pds-dropdown-menu-item.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/pds-dropdown-menu-separator.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/readme.md
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/test/pds-dropdown-menu-separator.e2e.ts
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu-separator/test/pds-dropdown-menu-separator.spec.tsx
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.scss
  libs/core/src/components/pds-dropdown-menu/pds-dropdown-menu.tsx
  libs/core/src/components/pds-dropdown-menu/readme.md
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.docs.mdx
  libs/core/src/components/pds-dropdown-menu/stories/pds-dropdown-menu.stories.js
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.e2e.ts
  libs/core/src/components/pds-dropdown-menu/test/pds-dropdown-menu.spec.tsx
  libs/core/src/components/pds-link/readme.md
  libs/core/src/utils/interfaces.ts
  libs/react/src/components/proxies.ts
  package-lock.json
Labels: package: core, package: react

#462 feat(pds-toast): add pds-toast component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-toast/docs/pds-toast.mdx
  libs/core/src/components/pds-toast/pds-toast.scss
  libs/core/src/components/pds-toast/pds-toast.tsx
  libs/core/src/components/pds-toast/readme.md
  libs/core/src/components/pds-toast/stories/pds-toast.docs.mdx
  libs/core/src/components/pds-toast/stories/pds-toast.stories.js
  libs/core/src/components/pds-toast/test/pds-toast.e2e.ts
  libs/core/src/components/pds-toast/test/pds-toast.spec.tsx
  libs/react/src/components/proxies.ts
Labels: package: core, package: react

#449 fix(chip): updates a11y docs
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
Labels: bug, documentation, package: core

#467 feat(pds-chip): adds brand sentiment and icon prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-chip/docs/pds-chip.mdx
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tsx
  libs/core/src/components/pds-chip/readme.md
  libs/core/src/components/pds-chip/stories/pds-chip.stories.js
  libs/core/src/components/pds-chip/test/pds-chip.spec.tsx
Labels: package: core

#473 feat(pds-tooltip): implement pathname change detection for SPA navigation
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
Labels: bug, package: core

#470 docs: add hide label to select slotted elements
  libs/core/src/components/pds-input/docs/pds-input.mdx
Labels: package: core
