Repository Kajabi/pine, pull requests merged in 2025-03, with the labels that each got.

#390 style: update pill tabs styles
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
Labels: bug, package: core

#384 style(checkbox): resolve wrapping issue
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: bug, package: core

#385 fix(radio): add inner shadow wrapper
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: bug, package: core

#389 style: update box min height and border radius
  libs/core/src/components/pds-box/pds-box.scss
Labels: bug, package: core

#387 style: add 125 token
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-row/pds-row.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
Labels: package: core

#395 style(tokens): add new styles for heading caption and body monospace
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: package: core

#396 style(button): adjust button text to flex for layout fix
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

#391 style: add conditional label for input and select
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-select/test/pds-select.spec.tsx
Labels: bug, package: core

#397 style(button): update primary disabled color to be grey-150
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
Labels: bug, package: core

#401 style: add background color to form inputs
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
Labels: package: core

#405 fix: fixes copytext icon alignment
  libs/core/src/components/pds-button/pds-button.scss
Labels: bug, package: core

#404 style: readds responsive image styling
  libs/core/src/components/pds-image/pds-image.scss
Labels: package: core

#403 feat: adds more font size values and adds italics and truncate to doc…
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
Labels: enhancement, package: core

#406 fix: copy text hover and truncate adjustments
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: bug, package: core

#399 fix: add padding-block and padding-inline properties
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: bug, package: core

#408 feature(button): adds cta and icon-only variations
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: enhancement, package: core

#410 fix(copytext): correct full-width styling and update docs
  libs/core/src/components/pds-copytext/docs/pds-copytext.mdx
  libs/core/src/components/pds-copytext/pds-copytext.scss
Labels: bug, package: core

#411 fix(button): add disabled styles to host
  libs/core/src/components/pds-button/pds-button.scss
Labels: bug, package: core
