Repository Kajabi/pine, pull requests merged in 2025-01, with the labels that each got.

#355 docs: updates README and adds CONTRIBUTING file
  CONTRIBUTING.md
  README.md
Labels: documentation

#358 style: adjusts minor styling for docs
  libs/core/.storybook/preview-body.html
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/stories/layout.docs.mdx
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docCanvas/docCanvas.css
Labels: bug, package: core, package: doc-componenets

#359 chore: updates folder structure of docs and fixes links to match
  libs/core/.storybook/preview.js
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-row/docs/pds-row.mdx
  libs/core/src/stories/foundations/principles.docs.mdx
  libs/core/src/stories/getting-started.docs.mdx
  libs/core/src/stories/guides/assets.docs.mdx
  libs/core/src/stories/guides/events.docs.mdx
  libs/core/src/stories/guides/forms.docs.mdx
  libs/core/src/stories/guides/layout.docs.mdx
  libs/core/src/stories/introduction/contributing.docs.mdx
  libs/core/src/stories/introduction/welcome.docs.mdx
  libs/core/src/stories/resources/icons-mgmt.docs.mdx
  libs/core/src/stories/resources/support.docs.mdx
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/box-shadow.docs.mdx
  libs/core/src/stories/tokens/core/colors.docs.mdx
  libs/core/src/stories/tokens/core/spacing.docs.mdx
  libs/core/src/stories/tokens/core/typography.docs.mdx
  libs/core/src/stories/tokens/tokens.docs.mdx
Labels: documentation, package: core

#362 feature: decoration prop for pds text
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/stories/pds-text.stories.js
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
Labels: enhancement, package: core
