Repository Kajabi/pine, pull requests merged in 2025-04, with the labels that each got.

#414 fix(radio): add hide label prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-radio/readme.md
  libs/core/src/components/pds-radio/stories/pds-radio.stories.js
  libs/core/src/components/pds-radio/test/pds-radio.spec.tsx
Labels: bug, package: core

#417 fix(switch): add hide label prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/readme.md
  libs/core/src/components/pds-switch/stories/pds-switch.stories.js
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: bug, package: core

#418 fix(checkbox): update prop name from label hidden to hide label
  libs/core/src/components.d.ts
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/readme.md
  libs/core/src/components/pds-checkbox/stories/pds-checkbox.stories.js
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.tsx
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.tsx
Labels: bug, package: core

#413 style: updates component focus rings
  libs/core/src/components/pds-accordion/pds-accordion.scss
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-chip/pds-chip.scss
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/core/src/components/pds-input/docs/pds-input.mdx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-link/pds-link.scss
  libs/core/src/components/pds-popover/pds-popover.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-sortable/pds-sortable-item/pds-sortable-item.scss
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-table/pds-table.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabpanel/pds-tabpanel.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
  libs/core/src/stories/tokens/semantic/border.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: package: core, package: doc-componenets

#412 fix(box): directional margin and direction padding props
  libs/core/src/components.d.ts
  libs/core/src/components/pds-box/docs/pds-box.mdx
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/pds-box.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-box/stories/pds-box.stories.js
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: bug, package: core

#423 style(radio): resolve error message icon alignment
  libs/core/src/components/pds-radio/pds-radio.scss
Labels: bug, package: core

#422 style(checkbox): resolve error message icon alignment and shrink
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
Labels: bug, package: core

#426 feat(text): expands text color prop
  libs/core/src/components.d.ts
  libs/core/src/components/pds-text/docs/pds-text.mdx
  libs/core/src/components/pds-text/pds-text.scss
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/core/src/components/pds-text/test/pds-text.spec.tsx
  libs/core/src/utils/utils.ts
Labels: enhancement, package: core

#427 fix: add logical properties
  libs/core/src/components/pds-avatar/pds-avatar.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-table/pds-table-cell/pds-table-cell.scss
  libs/core/src/components/pds-table/pds-table-head/pds-table-head.scss
  libs/core/src/components/pds-table/pds-table-row/pds-table-row.scss
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
Labels: bug, package: core

#425 style(tokens): bma extended colors
  libs/core/scripts/style-dictionary/filters/core.mjs
  libs/core/scripts/style-dictionary/filters/index.mjs
  libs/core/scripts/style-dictionary/filters/semantic.mjs
  libs/core/scripts/style-dictionary/generators/component.mjs
  libs/core/scripts/style-dictionary/generators/core.mjs
  libs/core/scripts/style-dictionary/generators/semantic.mjs
  libs/core/scripts/style-dictionary/transform.mjs
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/_output/base/_core.scss
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/dark.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/light.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
  libs/core/src/global/styles/tokens/index.scss
  libs/core/src/global/styles/tokens/kajabi_products.json
Labels: package: core

#432 style: update Divider styles
  libs/core/src/components/pds-divider/pds-divider.scss
Labels: package: core

#433 style(typography): adds Noto font family for language support
  libs/core/src/global/styles/_fonts.scss
  libs/core/src/global/styles/tokens/_output/base/_core.scss
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/index.scss
Labels: package: core

#434 style: remove token studio
  .github/dependabot.yml
  LICENSE
  libs/core/catalog-info.yaml
  libs/core/package.json
  libs/core/src/components/pds-chip/pds-chip.tokens.scss
  libs/core/src/components/pds-input/pds-input.tokens.scss
  libs/core/src/components/pds-select/pds-select.tokens.scss
  libs/core/src/global/styles/app.scss
  libs/core/src/global/styles/tokens/$metadata.json
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/.gitkeep
  libs/core/src/global/styles/tokens/_output/base/_core.scss
  libs/core/src/global/styles/tokens/_output/base/_semantic.scss
  libs/core/src/global/styles/tokens/_output/default/styles/default.scss
  libs/core/src/global/styles/tokens/_output/kajabi_products/styles/kajabi_products.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/base/semantic.json
  libs/core/src/global/styles/tokens/components/chip.json
  libs/core/src/global/styles/tokens/components/input.json
  libs/core/src/global/styles/tokens/components/select.json
  libs/core/src/global/styles/tokens/index.scss
  libs/core/src/global/styles/tokens/kajabi_products.json
  libs/doc-components/package.json
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
  libs/react/catalog-info.yaml
  libs/react/package.json
  package-lock.json
Labels: package: core, package: react, package: doc-componenets

#430 feature: adds flexible button slots
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
Labels: enhancement, package: core
