Repository Kajabi/pine, pull requests merged in 2025-05, with the labels that each got.

#438 docs(popover): using template literals needed to include unsafeHTML from lit
  libs/core/src/components/pds-popover/stories/pds-popover.stories.js
Labels: documentation, package: core

#439 fix(checkbox): fixes checkbox not using error message for aria-describedby attribute
  libs/core/src/components/pds-checkbox/docs/pds-checkbox.mdx
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-checkbox/test/pds-checkbox.spec.tsx
Labels: bug, package: core

#441 fix(switch): fixes component not using error message for aria-describedby attribute
  libs/core/src/components/pds-switch/docs/pds-switch.mdx
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-switch/test/pds-switch.e2e.ts
  libs/core/src/components/pds-switch/test/pds-switch.spec.tsx
Labels: bug, package: core

#444 style(pds-link): add hover style to remove text decoration
  libs/core/src/components/pds-link/pds-link.scss
Labels: package: core

#443 feat(pds-icon): add additional props for react pds icon
  libs/core/src/components/pds-icon/stories/IconCopyComponent.jsx
  libs/core/src/components/pds-icon/stories/pds-icon.docs.mdx
  libs/core/src/components/pds-icon/stories/pds-icon.stories.js
  libs/react/src/components/PdsIcon.tsx
Labels: package: core, package: react

#448 style: update text alignment from 'left' to 'start'
  libs/core/src/components/pds-copytext/pds-copytext.scss
  libs/doc-components/src/components/docArgsTable/docArgsTable.css
  libs/doc-components/src/components/docTokenTable/docTokenTable.css
Labels: package: core, package: doc-componenets

#447 docs(button): rewrites some accessibility info
  libs/core/src/components/pds-button/docs/pds-button.mdx
Labels: documentation, package: core

#446 docs(accordion): adds description for accessibility
  libs/core/src/components/pds-accordion/docs/pds-accordion.mdx
Labels: documentation, package: core

#451 refactor(pds-tooltip): better positioning when contained in overflow elements
  libs/core/src/components/pds-tooltip/docs/pds-tooltip.mdx
  libs/core/src/components/pds-tooltip/pds-tooltip.scss
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
  libs/core/src/components/pds-tooltip/stories/pds-tooltip.stories.js
  libs/core/src/components/pds-tooltip/test/pds-tooltip.e2e.ts
  libs/core/src/components/pds-tooltip/test/pds-tooltip.spec.tsx
  libs/core/src/utils/overlay.ts
  libs/core/src/utils/test/overlay.spec.ts
Labels: package: core

#452 feat(pds-alert): new alert component
  libs/core/src/components.d.ts
  libs/core/src/components/pds-alert/docs/pds-alert.mdx
  libs/core/src/components/pds-alert/pds-alert.scss
  libs/core/src/components/pds-alert/pds-alert.tokens.scss
  libs/core/src/components/pds-alert/pds-alert.tsx
  libs/core/src/components/pds-alert/readme.md
  libs/core/src/components/pds-alert/stories/pds-alert.docs.mdx
  libs/core/src/components/pds-alert/stories/pds-alert.stories.js
  libs/core/src/components/pds-alert/test/pds-alert.e2e.ts
  libs/core/src/components/pds-alert/test/pds-alert.spec.tsx
  libs/core/src/components/pds-box/readme.md
  libs/core/src/components/pds-text/pds-text.tsx
  libs/core/src/components/pds-text/readme.md
  libs/react/src/components/proxies.ts
  package-lock.json
Labels: package: core, package: react

#454 fix(pds-popover): adds missing -start and -end positioning
  libs/core/src/components/pds-popover/pds-popover.tsx
  libs/core/src/components/pds-popover/test/pds-popover.spec.tsx
Labels: bug, package: core
