Repository Kajabi/pine, pull requests merged in 2025-02, with the labels that each got.

#365 style: fixes incorrect token for box padding-xs
  libs/core/src/components/pds-box/pds-box.scss
Labels: bug, package: core

#366 style: adjust background color values for secondary and disclosure
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

#369 fix: tooltip visibility issue on ios safari back navigation
  libs/core/src/components/pds-tooltip/pds-tooltip.tsx
Labels: bug, package: core

#370 feat: add additional events, pdsBlur, pdsInput, pdsChange to input and textarea
  libs/core/readme.md
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/input-interface.ts
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/stories/pds-input.stories.js
  libs/core/src/components/pds-input/test/pds-input.e2e.ts
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
  libs/core/src/components/pds-textarea/pds-textarea.tsx
  libs/core/src/components/pds-textarea/readme.md
  libs/core/src/components/pds-textarea/stories/pds-textarea.stories.js
  libs/core/src/components/pds-textarea/test/pds-textarea.spec.tsx
  libs/core/src/components/pds-textarea/textarea-interface.ts
  libs/core/src/utils/attributes.ts
  libs/core/src/utils/test/attributes.spec.ts
  libs/core/src/utils/utils.spec.ts
  libs/core/src/utils/utils.ts
Labels: enhancement, package: core

#371 feat(docTokenTable): update to handle dimension tokens
  libs/core/src/stories/tokens/core/border.docs.mdx
  libs/core/src/stories/tokens/core/spacing.docs.mdx
  libs/doc-components/src/components/docTokenTable/docTokenTable.tsx
Labels: enhancement, package: core, package: doc-componenets

#372 style(accordion): fix misspelling for summary padding
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: bug, package: core

#363 style: add pointer cursor
  libs/core/src/components/pds-button/pds-button.scss
Labels: bug, package: core

#373 fix: remove box min-height
  libs/core/src/components/pds-box/pds-box.scss
Labels: bug, package: core

#368 fix: add pill variant
  libs/core/src/components.d.ts
  libs/core/src/components/pds-tabs/docs/pds-tabs.mdx
  libs/core/src/components/pds-tabs/pds-tab/pds-tab.scss
  libs/core/src/components/pds-tabs/pds-tabs.scss
  libs/core/src/components/pds-tabs/pds-tabs.tsx
  libs/core/src/components/pds-tabs/readme.md
  libs/core/src/components/pds-tabs/stories/pds-tabs.stories.js
Labels: bug, package: core

#374 style(accordion): adjust summary colors
  libs/core/src/components/pds-accordion/pds-accordion.scss
Labels: package: core

#375 style: adds proper font styles to form elements
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.scss
  libs/core/src/components/pds-checkbox/pds-checkbox.tsx
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-radio/pds-radio.scss
  libs/core/src/components/pds-radio/pds-radio.tsx
  libs/core/src/components/pds-select/pds-select.scss
  libs/core/src/components/pds-select/pds-select.tokens.scss
  libs/core/src/components/pds-select/pds-select.tsx
  libs/core/src/components/pds-switch/pds-switch.scss
  libs/core/src/components/pds-switch/pds-switch.tsx
  libs/core/src/components/pds-textarea/pds-textarea.scss
  libs/core/src/global/styles/tokens/$themes.json
  libs/core/src/global/styles/tokens/base/_core.scss
  libs/core/src/global/styles/tokens/base/core.json
  libs/core/src/global/styles/tokens/brand/kajabi_products/styles/semantic.scss
  libs/core/src/global/styles/utils/label.scss
Labels: package: core

#376 fix(switch): add margin inline start value
  libs/core/src/components/pds-switch/pds-switch.scss
Labels: bug, package: core

#377 fix: update input invalid state styles
  libs/core/src/components.d.ts
  libs/core/src/components/pds-input/pds-input.scss
  libs/core/src/components/pds-input/pds-input.tsx
  libs/core/src/components/pds-input/readme.md
  libs/core/src/components/pds-input/test/pds-input.spec.tsx
Labels: bug, package: core

#379 style: adds background color to secondary and disclosure buttons
  libs/core/src/components/pds-button/pds-button.scss
Labels: package: core

#380 fix(button): full width and loading state
  libs/core/src/components.d.ts
  libs/core/src/components/pds-button/docs/pds-button.mdx
  libs/core/src/components/pds-button/pds-button.scss
  libs/core/src/components/pds-button/pds-button.tsx
  libs/core/src/components/pds-button/readme.md
  libs/core/src/components/pds-button/stories/pds-button.stories.js
  libs/core/src/components/pds-button/test/pds-button.spec.tsx
  libs/core/src/components/pds-copytext/readme.md
  libs/core/src/components/pds-loader/pds-loader.scss
  libs/core/src/components/pds-loader/readme.md
Labels: bug, package: core

#386 ci: getDX Deployments and Service identification
  .github/workflows/getdx-service-identification.yml
  .github/workflows/schedule-release.yml
  libs/doc-components/catalog-info.yaml
Labels: package: doc-componenets

#388 style(box): update classes to use correct dimension tokens
  libs/core/src/components/pds-box/pds-box.scss
  libs/core/src/components/pds-box/test/pds-box.spec.tsx
Labels: package: core
